<template>
  <div class="waypoint-form">
    <!-- <b-modal :active.sync="show3DEditor" :width="940" scroll="keep" class="3d-editor-modal">
    <div class="card add-3d-modal">
    <div class="card-content">
    <div class="content">
    <editor-3D></editor-3D>
  </div>

</div>
</div>
    </b-modal>-->
    <HeaderUser></HeaderUser>

    <div class="columns is-centered">
      <div class="column is-8-widescreen">
        <div class="waypoint-line-menu text-center">
          <ul>
            <li
              v-on:click="setActive('config')"
              :class="{ 'active' : isActive('config') }"
            >Configuration</li>
            <li
              v-on:click="setActive('addAr')"
              :class="{ 'active' : isActive('addAr') }"
            >Ajout de la réalité augmentée</li>
            <li
              v-on:click="setActive('addContent')"
              :class="{ 'active' : isActive('addContent') }"
            >Ajout de votre contenu</li>
          </ul>
        </div>

        <div class="waypoint-form-card-block">
          <div class="columns is-centered">
            <div
              class="column is-11 waypoint-form-card first active"
              v-on:click="setActive('config')"
            >
              <div class="columns">
                <div class="column is-7">
                  <div class="columns is-centered">
                    <div class="column is-10 waypoint-form-inputs-block">
                      <p class="cartel">Informations</p>

                      <div class="columns no-margin">
                        <div class="column is-10">
                          <b-field label="Nom de la balise">
                            <b-input
                              placeholder="Donjon mystérieux"
                              rounded
                              maxlength="20"
                              v-model="waypointTitle"
                            ></b-input>
                          </b-field>
                        </div>
                        <div class="column is-2">
                          <b-field label="Ordre">
                            <b-select placeholder="1" rounded v-model="waypointOrder">
                              <option value="1">1</option>
                              <option value="2">2</option>
                            </b-select>
                          </b-field>
                        </div>
                      </div>
                      <div class="columns is-multiline no-margin">
                        <div class="column is-12 no-padding-top">
                          <b-field label="Indice sur son emplacement (optionnel)">
                            <b-input
                              maxlength="200"
                              type="textarea"
                              placeholder="Ce puit regorgerait sûrement des mystères qui n'attendent que d'être percés à jour par une personne dôtée d'un courage exceptionnel."
                              rounded
                            ></b-input>
                          </b-field>
                        </div>
                        <div class="column is-12 no-padding-top">
                          <b-field label="Prise de photos">
                            <b-select placeholder="Activée" rounded>
                              <option value="flint">Activée</option>
                              <option value="silver">Désactivée</option>
                            </b-select>
                          </b-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="column is-11 waypoint-form-card second" v-on:click="setActive('addAr')">
              <div class="columns">
                <div class="column is-12 relative">
                  <div class="aug-choice-header">
                    <div
                      class="aug-choice-btn float-choice-btn"
                      v-on:click="setActiveAr('float')"
                      :class="{ 'active' : isActiveAr('float') }"
                    >
                      <button id="float-choice-btn" type="button" name="button" class="active">
                        <span>Modèle Flottant</span>
                      </button>
                    </div>

                    <div
                      class="aug-choice-btn box-choice-btn"
                      v-on:click="setActiveAr('box')"
                      :class="{ 'active' : isActiveAr('box') }"
                    >
                      <button id="box-choice-btn" type="button" name="button" class>
                        <span>Modèle Box</span>
                      </button>
                    </div>
                  </div>

                  <div
                    class="aug-choice aug-choice-float text-center"
                    :class="{ 'active' : isActiveAr('float') }"
                  >
                    <a @click.prevent="openEditor()" class="buttonAr btn-aug-float">
                      <span class="icon icon-RA"></span>
                      <span class="text">Choisir ou importer un élément</span>
                    </a>
                  </div>

                  <div class="aug-choice aug-choice-box" :class="{ 'active' : isActiveAr('box') }">
                    <div class="columns">
                      <div class="column is-5 is-offset-1-fullhd">
                        <div class="anim-open-block">
                          <p class="cartel">Animation d’ouverture</p>

                          <div class="columns animation-choice">
                            <div class="column is-6">
                              <div class="animation-box" animation="NONE">
                                <div class="animation-box-overlay">
                                  <h3>SANS</h3>
                                </div>
                              </div>
                              <div class="animation-box" animation="PORTAL">
                                <div class="animation-box-overlay">
                                  <h3>PORTAIL</h3>
                                </div>
                              </div>
                              <div class="animation-box" animation="DOOR">
                                <div class="animation-box-overlay">
                                  <h3>PORTE</h3>
                                </div>
                              </div>
                            </div>
                            <div class="column is-6">
                              <div class="animation-box" animation="WINDOW">
                                <div class="animation-box-overlay">
                                  <h3>FENÊTRE</h3>
                                </div>
                              </div>
                              <div class="animation-box" animation="TRAP">
                                <div class="animation-box-overlay">
                                  <h3>TRAPPE</h3>
                                </div>
                              </div>
                              <div class="animation-box" animation="EXPLOSION">
                                <div class="animation-box-overlay">
                                  <h3>EXPLOSION</h3>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="column is-7-widescreen is-5-fullhd color-box-block text-center">
                        <div class="color-open-box">
                          <p class="cartel">Couleur du fond</p>

                          <div class="columns">
                            <div class="column is-8">
                              <div class="color-range">
                                <div class="color-icon blue-dark">
                                  <i class="fas fa-check"></i>
                                </div>
                                <div class="color-icon blue-light">
                                  <i class="fas fa-check"></i>
                                </div>
                                <div class="color-icon blue-lighty">
                                  <i class="fas fa-check"></i>
                                </div>
                                <div class="color-icon blue-black">
                                  <i class="fas fa-check"></i>
                                </div>
                                <div class="color-icon orange-dark">
                                  <i class="fas fa-check"></i>
                                </div>
                                <div class="color-icon orange-light">
                                  <i class="fas fa-check"></i>
                                </div>
                                <div class="color-icon orange-lighter">
                                  <i class="fas fa-check"></i>
                                </div>
                                <div class="color-icon green-dark">
                                  <i class="fas fa-check"></i>
                                </div>
                                <div class="color-icon green-darker">
                                  <i class="fas fa-check"></i>
                                </div>
                              </div>
                              <div class="color-range">
                                <div class="color-icon green-lighter">
                                  <i class="fas fa-check"></i>
                                </div>
                                <div class="color-icon green-yellow">
                                  <i class="fas fa-check"></i>
                                </div>
                                <div class="color-icon pink-normal">
                                  <i class="fas fa-check"></i>
                                </div>
                                <div class="color-icon violet-normal">
                                  <i class="fas fa-check"></i>
                                </div>
                                <div class="color-icon fushia-normal">
                                  <i class="fas fa-check"></i>
                                </div>
                                <div class="color-icon red-dark">
                                  <i class="fas fa-check"></i>
                                </div>
                                <div class="color-icon red-light">
                                  <i class="fas fa-check"></i>
                                </div>
                                <div class="color-icon red-normal">
                                  <i class="fas fa-check"></i>
                                </div>
                                <div class="color-icon beige-normal">
                                  <i class="fas fa-check"></i>
                                </div>
                              </div>
                              <div class="color-range">
                                <div class="color-icon beige-dark">
                                  <i class="fas fa-check"></i>
                                </div>
                                <div class="color-icon brown-normal">
                                  <i class="fas fa-check"></i>
                                </div>
                                <div class="color-icon black-true">
                                  <i class="fas fa-check"></i>
                                </div>
                                <div class="color-icon black-ligther">
                                  <i class="fas fa-check"></i>
                                </div>
                                <div class="color-icon grey-dark">
                                  <i class="fas fa-check"></i>
                                </div>
                                <div class="color-icon grey-light">
                                  <i class="fas fa-check"></i>
                                </div>
                                <div class="color-icon grey-lighter">
                                  <i class="fas fa-check"></i>
                                </div>
                                <div class="color-icon white-dark">
                                  <i class="fas fa-check"></i>
                                </div>
                                <div class="color-icon white-normal">
                                  <i class="fas fa-check"></i>
                                </div>
                              </div>
                            </div>
                            <div class="column is-4 color-preview-block">
                              <div class="color-preview"></div>
                              <input
                                type="text"
                                pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$"
                                value="#8a8a8a"
                                class="hexcolor"
                              >
                            </div>
                          </div>
                        </div>

                        <a @click.prevent="openEditor()" class="buttonAr btn-aug-box">
                          <span class="icon icon-RA"></span>
                          <span class="text">Choisir ou importer un élément</span>
                          <span class="btn-aug-box-indic">
                            Veuillez au préalable sélectionner une
                            <b>animation d'ouverture</b> ainsi qu'une
                            <b>couleur</b> pour la boîte.
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="column is-11 waypoint-form-card third" v-on:click="setActive('addContent')">
              <div class="columns">
                <div class="column is-4 relative">
                  <div class="contenu-choices-box">
                    <p class="cartel">Type de contenu</p>

                    <div class="columns choices-btns">
                      <div class="column is-6">
                        <div
                          class="choice-btn"
                          v-on:click="setActiveContent('quizz')"
                          :class="{'active' : isActiveContent('quizz')}"
                        >
                          <span class="icon icon-quizz"></span>
                        </div>
                        <div
                          class="choice-btn"
                          v-on:click="setActiveContent('video')"
                          :class="{'active' : isActiveContent('video')}"
                        >
                          <span class="icon icon-movie"></span>
                        </div>
                        <div
                          class="choice-btn"
                          v-on:click="setActiveContent('link')"
                          :class="{'active' : isActiveContent('link')}"
                        >
                          <span class="icon icon-link"></span>
                        </div>
                        <div
                          class="choice-btn"
                          v-on:click="setActiveContent('digicode')"
                          :class="{'active' : isActiveContent('digicode')}"
                        >
                          <span class="icon icon-digicode"></span>
                        </div>
                        <div
                          class="choice-btn"
                          v-on:click="setActiveContent('gif')"
                          :class="{'active' : isActiveContent('gif')}"
                        >
                          <img src="@/assets/img/waypoint-form/picto_gif.svg" alt class="icon-gif">
                        </div>
                      </div>

                      <div class="column is-6">
                        <div
                          class="choice-btn"
                          v-on:click="setActiveContent('image')"
                          :class="{'active' : isActiveContent('image')}"
                        >
                          <span class="icon icon-image"></span>
                        </div>
                        <div
                          class="choice-btn"
                          v-on:click="setActiveContent('sound')"
                          :class="{'active' : isActiveContent('sound')}"
                        >
                          <span class="icon icon-music"></span>
                        </div>
                        <div
                          class="choice-btn"
                          v-on:click="setActiveContent('text')"
                          :class="{'active' : isActiveContent('text')}"
                        >
                          <span class="icon icon-text"></span>
                        </div>
                        <div
                          class="choice-btn"
                          v-on:click="setActiveContent('video360')"
                          :class="{'active' : isActiveContent('video360')}"
                        >
                          <img
                            src="@/assets/img/waypoint-form/picto_360.svg"
                            alt
                            class="icon-video360"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="column"
                  :class="{'quizz-content is-4' : isActiveContent('quizz'), 'digicode-content is-4' : isActiveContent('digicode')}"
                >
                  <div class="preview-content">
                    <!-- Screen quizz -->
                    <div class="quizz-content" v-if="this.contentActive === 'quizz'">
                      <h1>
                        {{ waypointTitle }}
                        <span>{{ waypointOrder }}</span>
                      </h1>

                      <h1 class="quizz-question">
                        <b-field>
                          <b-input
                            type="textarea"
                            minlength="10"
                            maxlength="160"
                            placeholder="La question du quizz apparait ici, et comporte au maximum un total de 160 caractères. Prêt à challenger vos participants ? Alors c’est parti !"
                            rounded
                          ></b-input>
                        </b-field>
                      </h1>

                      <div class="quizz-question-block">
                        <div
                          class="quizz-question question-input"
                          @click="showComment(quizzBaseQuestion[0].id)"
                        >
                          <div class="round"></div>
                          <b-field>
                            <b-input
                              placeholder="Une bonne réponse ici"
                              rounded
                              maxlength="75"
                              v-model="quizzBaseQuestion[0].element"
                              :id="quizzBaseQuestion[0].id"
                            ></b-input>
                          </b-field>
                        </div>
                        <div
                          class="quizz-question question-input"
                          @click="showComment(quizzBaseQuestion[1].id)"
                        >
                          <div class="round"></div>
                          <b-field>
                            <b-input
                              placeholder="Une mauvaise réponse ici"
                              rounded
                              maxlength="75"
                              v-model="quizzBaseQuestion[1].element"
                              :id="quizzBaseQuestion[1].id"
                            ></b-input>
                          </b-field>
                        </div>
                        <div
                          class="quizz-question question-input"
                          v-for="(question, index) in quizzQuestion"
                          :key="index"
                        >
                          <span class="icon icon-delete" v-on:click="deleteQuizzQuestion(index)">
                            <span class="path1"></span>
                            <span class="path2"></span>
                          </span>

                          <div @click="showComment(index)">
                            <b-field>
                              <b-input
                                placeholder="Une réponse additionnelle ici"
                                rounded
                                v-model="question.element"
                                v-bind:id="index"
                                maxlength="75"
                              >{{question.input}}</b-input>
                            </b-field>
                          </div>
                        </div>
                        <div class="quizz-question" v-if="this.addQuestion === true">
                          <span v-on:click="addQuizzQuestion()">
                            <i class="fas fa-plus"></i>
                          </span>
                        </div>

                        <div
                          class="quizz-commentaire"
                          v-for="(question, index) in quizzQuestion"
                          :key="index"
                        >
                          <h3>
                            <b-field class="no-margin">
                              <b-input
                                type="textarea"
                                class="comment-input"
                                placeholder="Commentaire laissé suite à cette réponse. Les fourmis ont une organisation très particulière et une hiérarchie bien établie."
                                rounded
                                maxlength="170"
                                v-model="question.comment"
                                v-if="selectedAnswerId === index"
                              ></b-input>
                            </b-field>
                          </h3>
                        </div>

                        <div
                          class="quizz-commentaire"
                          v-for="questionBase in quizzBaseQuestion"
                          :key="questionBase.id"
                        >
                          <h3>
                            <b-field class="no-margin">
                              <b-input
                                type="textarea"
                                class="comment-input"
                                placeholder="Commentaire laissé suite à cette réponse. Les fourmis ont une organisation très particulière et une hiérarchie bien établie."
                                rounded
                                maxlength="170"
                                v-model="questionBase.comment"
                                v-if="selectedAnswerId === questionBase.id"
                              ></b-input>
                            </b-field>
                          </h3>
                        </div>
                      </div>
                    </div>

                    <!-- Screen digicode -->
                    <div class="digicode-content" v-if="this.contentActive === 'digicode'">
                      <h1>
                        {{ waypointTitle }}
                        <span>{{ waypointOrder }}</span>
                      </h1>

                      <h1 class="quizz-question">
                        <b-field>
                          <b-input
                            type="textarea"
                            minlength="10"
                            maxlength="130"
                            placeholder="La question du quizz apparait ici, et comporte au maximum un total de 130 caractères. Prêt à challenger vos participants ? Alors c’est parti !"
                            rounded
                          ></b-input>
                        </b-field>
                      </h1>

                      <div class="codes">
                        <div class="columns">
                          <div class="column is-10">
                            <div class="code-input columns is-multiline">
                              <div class="column is-one-fifth">
                                <input
                                  type="text"
                                  name
                                  value
                                  placeholder="3"
                                  maxlength="1"
                                  v-on:change="testCodeReg(digicodeFirstCode.value, digicodeFirstCode)"
                                  v-model="digicodeFirstCode.value"
                                  v-bind:class="{'isError' : this.digicodeFirstCode.inputError}"
                                >
                              </div>
                              <div class="column is-one-fifth">
                                <input
                                  type="text"
                                  name
                                  value
                                  placeholder="3"
                                  maxlength="1"
                                  v-on:change="testCodeReg(digicodeSecondCode.value, digicodeSecondCode)"
                                  v-model="digicodeSecondCode.value"
                                  v-bind:class="{'isError' : this.digicodeSecondCode.inputError}"
                                >
                              </div>
                              <div class="column is-one-fifth">
                                <input
                                  type="text"
                                  name
                                  value
                                  placeholder="3"
                                  maxlength="1"
                                  v-on:change="testCodeReg(digicodeThirdCode.value, digicodeThirdCode)"
                                  v-model="digicodeThirdCode.value"
                                  v-bind:class="{'isError' : this.digicodeThirdCode.inputError}"
                                >
                              </div>
                              <div
                                class="column is-one-fifth"
                                v-for="(digicode, index) in digicodeValues"
                                :key="index"
                              >
                                <div class="input-code-block">
                                  <input
                                    type="text"
                                    name
                                    value
                                    placeholder="3"
                                    maxlength="1"
                                    v-model="digicode.element"
                                    v-on:change="testCodeReg(digicode.element, digicode)"
                                    v-bind:class="{'isError' : digicode.inputError}"
                                  >
                                  <span
                                    class="icon icon-delete"
                                    :id="index"
                                    v-on:click="deleteCode(index)"
                                  >
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                  </span>
                                </div>
                              </div>
                              <div class="column is-one-fifth">
                                <div
                                  id="code-add"
                                  class="code-add"
                                  v-on:click="codeAdd()"
                                  v-if="this.addDigicode === true"
                                >
                                  <i class="fas fa-plus"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="columns is-centered is-multiline">
                        <!-- <div class="column is-10">
                    <b-field class="no-margin">
                    <b-input class="digicode-comment" type="textarea" placeholder="Niveau de texte normal de rédaction, pour une lecture fluide et confortable. Zone pouvant être large, pour commenter." rounded v-model='this.comment' v-bind:value="this.comment"></b-input>
                  </b-field>
                        </div>-->
                        <div class="column is-10">
                          <div class="quizz-commentaire">
                            <h3>
                              <b-field class="no-margin">
                                <b-input
                                  type="textarea"
                                  class="good-comment-input"
                                  placeholder="Commentaire laissé suite à une bonne réponse. Les fourmis ont une organisation très particulière et une hiérarchie bien établie."
                                  rounded
                                  v-model="this.goodComment"
                                  v-bind:value="this.goodComment"
                                  :class="{'active' : this.commentChoice === 'good'}"
                                  maxlength="170"
                                ></b-input>
                              </b-field>

                              <b-field class="no-margin">
                                <b-input
                                  type="textarea"
                                  class="bad-comment-input"
                                  placeholder="Commentaire laissé suite à une mauvaise réponse. Les fourmis ont une organisation très particulière et une hiérarchie bien établie."
                                  rounded
                                  v-model="this.badComment"
                                  v-bind:value="this.badComment"
                                  :class="{'active' : this.commentChoice === 'bad'}"
                                  maxlength="170"
                                ></b-input>
                              </b-field>
                            </h3>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Screen image -->
                    <div class="image-content" v-if="this.contentActive === 'image'">
                      <h1>
                        {{ waypointTitle }}
                        <span>{{ waypointOrder }}</span>
                      </h1>

                      <div class="columns is-centered">
                        <!-- <div class="column is-8">
                  <picture-input
                  ref="pictureInput"
                  width="600"
                  height="600"
                  margin="16"
                  accept="image/jpeg,image/png"
                  size="10"
                  :customStrings="{
                    upload: '<h1>Bummer!</h1>',
                    drag: ''
                    }">
                    @change="onChange">
                  </picture-input>
                        </div>-->
                        <div class="column is-8 file-upload-wrap">
                          <label
                            for="file-upload"
                            class="custom-file-up"
                            v-bind:style="{ backgroundImage: `url(${image})` }"
                          >
                            <img src="@/assets/img/upload-placeholder.png" alt v-if="!image">
                          </label>
                          <input
                            type="file"
                            @change="onFileChange"
                            class="input-image"
                            accept="image/png, image/jpeg"
                          >
                          <div v-if="image" class="remove-image">
                            <a
                              href="#"
                              class="btn-form-secondary delete-link"
                              @click="removeImage"
                            >Supprimer l'image</a>
                          </div>
                        </div>
                      </div>

                      <div class="columns is-centered">
                        <div class="column is-10">
                          <b-field class="no-margin">
                            <b-input
                              type="textarea"
                              maxlength="240"
                              placeholder="Commentaire laissé à la suite du media. Cet espace peut contenir jusque 240 caractères au total. Les espaces comptent comme des caractères. L’occasion de décrire votre média ou d’ajouter plus d’informations en dessous de celui."
                              rounded
                              v-model="this.comment"
                              v-bind:value="this.comment"
                            ></b-input>
                          </b-field>
                        </div>
                      </div>
                    </div>

                    <!-- Screen gif -->
                    <div class="image-content" v-if="this.contentActive === 'gif'">
                      <h1>
                        {{ waypointTitle }}
                        <span>{{ waypointOrder }}</span>
                      </h1>

                      <div class="columns is-centered">
                        <div class="column is-8 file-upload-wrap">
                          <label
                            for="file-upload"
                            class="custom-file-up"
                            v-bind:style="{ backgroundImage: `url(${image})` }"
                          >
                            <img src="@/assets/img/upload-placeholder.png" alt v-if="!image">
                          </label>
                          <input
                            type="file"
                            @change="onFileChange"
                            class="input-image"
                            accept="image/gif"
                          >
                          <div v-if="image" class="remove-image">
                            <a
                              href="#"
                              class="btn-form-secondary delete-link"
                              @click="removeImage"
                            >Supprimer l'image</a>
                          </div>
                        </div>
                      </div>

                      <div class="columns is-centered">
                        <div class="column is-10">
                          <b-field class="no-margin">
                            <b-input
                              type="textarea"
                              maxlength="240"
                              placeholder="Commentaire laissé à la suite du media. Cet espace peut contenir jusque 240 caractères au total. Les espaces comptent comme des caractères. L’occasion de décrire votre média ou d’ajouter plus d’informations en dessous de celui."
                              rounded
                              v-model="this.comment"
                              v-bind:value="this.comment"
                            ></b-input>
                          </b-field>
                        </div>
                      </div>
                    </div>

                    <!-- Screen video -->
                    <div class="video-content" v-if="this.contentActive === 'video'">
                      <h1>
                        {{ waypointTitle }}
                        <span>{{ waypointOrder }}</span>
                      </h1>

                      <div class="columns is-centered is-multiline">
                        <div class="column is-10">
                          <div
                            class="video-zone relative"
                            v-bind:style="{'background-image': 'url(https://img.youtube.com/vi/' + urlVideo.substring(32) + '/0.jpg)'}"
                          >
                            <b-field class="input-video">
                              <b-input
                                placeholder="http://url-youtube.com"
                                rounded
                                v-model="urlVideo"
                              ></b-input>
                            </b-field>
                          </div>
                        </div>
                        <div class="column is-10 video-comment-block">
                          <b-field class="no-margin">
                            <b-input
                              type="textarea"
                              maxlength="300"
                              placeholder="Niveau de texte normal de rédaction, pour une lecture fluide et confortable. Zone pouvant être large, c’est d’ailleurs recommandé pour commenter la vidéo si le participant n’a pas la possibilité d’activer le son lors de l’animation. Cet espace textuel est limité à un nombre de caractères qui est de 300 au grand maximum. "
                              rounded
                              v-model="this.comment"
                              v-bind:value="this.comment"
                            ></b-input>
                          </b-field>
                        </div>
                      </div>
                    </div>

                    <!-- Screen video360 -->
                    <div class="video-content" v-if="this.contentActive === 'video360'">
                      <h1>
                        {{ waypointTitle }}
                        <span>{{ waypointOrder }}</span>
                      </h1>

                      <div class="columns is-centered is-multiline">
                        <div class="column is-10">
                          <div
                            class="video-zone relative"
                            v-bind:style="{'background-image': 'url(https://img.youtube.com/vi/' + urlVideo.substring(32) + '/0.jpg)'}"
                          >
                            <b-field class="input-video">
                              <b-input
                                placeholder="http://url-youtube.com"
                                rounded
                                v-model="urlVideo"
                              ></b-input>
                            </b-field>
                          </div>
                        </div>
                        <div class="column is-10 video-comment-block">
                          <b-field class="no-margin">
                            <b-input
                              type="textarea"
                              maxlength="300"
                              placeholder="Niveau de texte normal de rédaction, pour une lecture fluide et confortable. Zone pouvant être large, c’est d’ailleurs recommandé pour commenter la vidéo si le participant n’a pas la possibilité d’activer le son lors de l’animation. Cet espace textuel est limité à un nombre de caractères qui est de 300 au grand maximum. "
                              rounded
                              v-model="this.comment"
                              v-bind:value="this.comment"
                            ></b-input>
                          </b-field>
                        </div>
                      </div>
                    </div>

                    <!-- Screen Audio -->
                    <div class="audio-content" v-if="this.contentActive === 'sound'">
                      <h1>
                        {{ waypointTitle }}
                        <span>{{ waypointOrder }}</span>
                      </h1>

                      <div class="audio-btn-wrapper">
                        <button
                          type="button"
                          name="button"
                          @click="playAudio"
                          v-bind:class="{ active: isPlayAudio }"
                          class="play-audio"
                        >
                          <i class="fas fa-play"></i>
                        </button>

                        <button
                          type="button"
                          name="button"
                          @click="pauseAudio"
                          v-bind:class="{ active: isPauseAudio }"
                          class="pause-audio"
                        >
                          <i class="fas fa-pause"></i>
                        </button>

                        <button
                          type="button"
                          name="button"
                          v-bind:class="{ active: importAudio }"
                          class="upload-audio"
                        >
                          <i class="fas fa-upload"></i>
                        </button>

                        <input type="file" @change="loadAudio" id="input-audio">
                      </div>

                      <span class="audio-span">
                        Durée
                        <span id="audio-duration"></span>
                      </span>

                      <div class="columns is-centered is-multiline">
                        <div class="column is-10">
                          <b-field class="no-margin">
                            <b-input
                              class="audio-comment"
                              type="textarea"
                              maxlength="320"
                              placeholder="Niveau de texte normal de rédaction, pour une lecture fluide et confortable. Zone pouvant être large, pour commenter la vidéo si le participant n’a pas la possibilité d’activer le son lors de l’animation. Cet espace textuel est limité à un nombre de caractères qui est de 320 au grand maximum."
                              rounded
                              v-model="this.comment"
                              v-bind:value="this.comment"
                            ></b-input>
                          </b-field>
                        </div>
                      </div>
                    </div>

                    <!-- Screen Link -->
                    <div class="link-content" v-if="this.contentActive === 'link'">
                      <h1>
                        {{ waypointTitle }}
                        <span>{{ waypointOrder }}</span>
                      </h1>

                      <div class="svg-link text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 89.87 21">
                          <title>web</title>
                          <g id="Calque_2" data-name="Calque 2">
                            <g id="Capa_1" data-name="Capa 1">
                              <path d="M17.48,10.78h-2V12.1h1.8A7.93,7.93,0,0,0,17.48,10.78Z"></path>
                              <path d="M18.79,8.14A4.28,4.28,0,0,0,17,6.58a5.3,5.3,0,0,1,.78,1.56Z"></path>
                              <path d="M15.51,12.75v1.94a2.77,2.77,0,0,0,1.61-1.94Z"></path>
                              <path d="M15.51,6.2V8.14h1.61A2.77,2.77,0,0,0,15.51,6.2Z"></path>
                              <path d="M17.31,8.8h-1.8v1.32h2A7.67,7.67,0,0,0,17.31,8.8Z"></path>
                              <path
                                d="M17,14.31a4.21,4.21,0,0,0,1.76-1.56h-1A5.3,5.3,0,0,1,17,14.31Z"
                              ></path>
                              <path
                                d="M72.85,6.58a4.24,4.24,0,0,0-1.77,1.56h1A5.06,5.06,0,0,1,72.85,6.58Z"
                              ></path>
                              <path
                                d="M18,12.1h1.16a4.24,4.24,0,0,0,.31-1.32H18.14A7.94,7.94,0,0,1,18,12.1Z"
                              ></path>
                              <path
                                d="M18,8.8a7.81,7.81,0,0,1,.16,1.32h1.31a4.11,4.11,0,0,0-.31-1.32Z"
                              ></path>
                              <path
                                d="M12.22,10.78H10.91a4.24,4.24,0,0,0,.31,1.32h1.16A7.94,7.94,0,0,1,12.22,10.78Z"
                              ></path>
                              <path
                                d="M12.38,8.8H11.22a4.11,4.11,0,0,0-.31,1.32h1.31A7.81,7.81,0,0,1,12.38,8.8Z"
                              ></path>
                              <path
                                d="M11.57,12.75a4.21,4.21,0,0,0,1.76,1.56,5.3,5.3,0,0,1-.78-1.56Z"
                              ></path>
                              <path
                                d="M13.33,6.58a4.28,4.28,0,0,0-1.76,1.56h1A5.3,5.3,0,0,1,13.33,6.58Z"
                              ></path>
                              <path d="M14.85,14.69V12.75H13.23A2.8,2.8,0,0,0,14.85,14.69Z"></path>
                              <path d="M12.88,10.12h2V8.8h-1.8A7.67,7.67,0,0,0,12.88,10.12Z"></path>
                              <path d="M13.05,12.1h1.8V10.78h-2A7.93,7.93,0,0,0,13.05,12.1Z"></path>
                              <path d="M13.23,8.14h1.62V6.2A2.8,2.8,0,0,0,13.23,8.14Z"></path>
                              <path
                                d="M71.08,12.75a4.18,4.18,0,0,0,1.77,1.56,5.06,5.06,0,0,1-.78-1.56Z"
                              ></path>
                              <path d="M75,12.75v1.94a2.79,2.79,0,0,0,1.61-1.94Z"></path>
                              <path d="M76.83,8.8H75v1.32h2A7.67,7.67,0,0,0,76.83,8.8Z"></path>
                              <path d="M77,10.78H75V12.1h1.8A7.93,7.93,0,0,0,77,10.78Z"></path>
                              <path
                                d="M78.31,8.14a4.28,4.28,0,0,0-1.76-1.56,5.05,5.05,0,0,1,.77,1.56Z"
                              ></path>
                              <path d="M75,6.2V8.14h1.61A2.79,2.79,0,0,0,75,6.2Z"></path>
                              <path
                                d="M76.55,14.31a4.21,4.21,0,0,0,1.76-1.56h-1A5.29,5.29,0,0,1,76.55,14.31Z"
                              ></path>
                              <path
                                d="M77.49,8.8a7.8,7.8,0,0,1,.17,1.32H79a4.12,4.12,0,0,0-.32-1.32Z"
                              ></path>
                              <path
                                d="M79.38,0H10.5a10.5,10.5,0,0,0,0,21H79.38a10.5,10.5,0,0,0,0-21ZM20.13,10.45v.33h0a4.93,4.93,0,0,1-4.6,4.6h-.66a5,5,0,0,1-4.61-4.6h0v-.66h0a5,5,0,0,1,4.61-4.61h.66a4.94,4.94,0,0,1,4.6,4.61h0ZM38.92,8.37l-1.76,4.81a.87.87,0,0,1-.83.58.89.89,0,0,1-.85-.63L34.86,11l-.63,2.15a.87.87,0,0,1-.85.63.86.86,0,0,1-.82-.57L30.79,8.35A.94.94,0,0,1,30.72,8a.88.88,0,0,1,.89-.88.86.86,0,0,1,.82.57l.88,2.5L34,7.74a.86.86,0,0,1,.84-.61.87.87,0,0,1,.84.61l.7,2.46.88-2.49A.88.88,0,0,1,39,8,.92.92,0,0,1,38.92,8.37ZM49,8.37l-1.76,4.81a.87.87,0,0,1-.83.58.89.89,0,0,1-.85-.63L44.94,11l-.63,2.15a.87.87,0,0,1-.85.63.86.86,0,0,1-.82-.57L40.87,8.35A.94.94,0,0,1,40.8,8a.88.88,0,0,1,.89-.88.86.86,0,0,1,.82.57l.88,2.5.71-2.46a.86.86,0,0,1,.84-.61.87.87,0,0,1,.84.61l.7,2.46.88-2.49a.88.88,0,0,1,1.71.3A.92.92,0,0,1,49,8.37Zm10.08,0-1.76,4.81a.87.87,0,0,1-.83.58.89.89,0,0,1-.85-.63L55,11l-.63,2.15a.87.87,0,0,1-.85.63.86.86,0,0,1-.82-.57L51,8.35A.94.94,0,0,1,50.88,8a.88.88,0,0,1,.89-.88.86.86,0,0,1,.82.57l.88,2.5.71-2.46A.86.86,0,0,1,55,7.13a.87.87,0,0,1,.84.61l.7,2.46.88-2.49a.88.88,0,0,1,1.71.3A.92.92,0,0,1,59.08,8.37Zm20.56,2.08v.33h0a4.94,4.94,0,0,1-4.6,4.6h-.66a4.94,4.94,0,0,1-4.61-4.6h0v-.66h0a5,5,0,0,1,4.61-4.61H75a5,5,0,0,1,4.6,4.61h0Z"
                              ></path>
                              <path
                                d="M77.49,12.1h1.16A4.25,4.25,0,0,0,79,10.78H77.66A7.93,7.93,0,0,1,77.49,12.1Z"
                              ></path>
                              <path d="M74.37,14.69V12.75H72.75A2.78,2.78,0,0,0,74.37,14.69Z"></path>
                              <path
                                d="M71.73,10.78H70.42a4.55,4.55,0,0,0,.32,1.32H71.9A7.93,7.93,0,0,1,71.73,10.78Z"
                              ></path>
                              <path
                                d="M71.9,8.8H70.74a4.4,4.4,0,0,0-.32,1.32h1.31A7.8,7.8,0,0,1,71.9,8.8Z"
                              ></path>
                              <path d="M72.39,10.12h2V8.8H72.56A7.67,7.67,0,0,0,72.39,10.12Z"></path>
                              <path d="M72.75,8.14h1.62V6.2A2.78,2.78,0,0,0,72.75,8.14Z"></path>
                              <path d="M72.56,12.1h1.81V10.78h-2A7.93,7.93,0,0,0,72.56,12.1Z"></path>
                            </g>
                          </g>
                        </svg>

                        <b-field>
                          <b-input placeholder="http://www.google.com" rounded></b-input>
                        </b-field>
                      </div>

                      <div class="columns is-centered">
                        <div class="column is-10">
                          <b-field class="no-margin">
                            <b-input
                              type="textarea"
                              maxlength="320"
                              placeholder="Niveau de texte normal de rédaction, pour une lecture fluide et confortable. Zone pouvant être large, pour commenter le lien web si le participant n’a pas la possibilité d’avoir accès à internet à ce moment lors de l’animation. Cet espace textuel est limité à un nombre de caractères qui est de 320 au grand maximum."
                              rounded
                              v-model="this.comment"
                              v-bind:value="this.comment"
                            ></b-input>
                          </b-field>
                        </div>
                      </div>
                    </div>

                    <!-- Screen Texte -->
                    <div class="text-content" v-if="this.contentActive === 'text'">
                      <h1>
                        {{ waypointTitle }}
                        <span>{{ waypointOrder }}</span>
                      </h1>

                      <div class="columns is-centered">
                        <div class="column is-10">
                          <b-field class="no-margin">
                            <b-input
                              type="textarea"
                              maxlength="700"
                              placeholder="Niveau de texte normal de rédaction, pour une lecture fluide et confortable. Cet espace textuel est limité à un nombre de caractères qui est de 700 au grand maximum. "
                              rounded
                              v-model="this.textContent"
                              v-bind:value="this.textContent"
                            ></b-input>
                          </b-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="column is-4 relative" v-if="this.contentActive === 'quizz'">
                  <div class="points-choices">
                    <div class="columns is-multiline">
                      <div class="column is-2 good-answer-header">
                        <p class="cartel icon">
                          <i class="fas fa-check"></i>
                        </p>
                      </div>
                      <div class="column is-9">
                        <p class="cartel points">Points</p>
                      </div>

                      <div class="columns is-multiline question-choices-block">
                        <div class="column is-10 is-offset-1 question-choices-line">
                          <b-checkbox v-model="quizzBaseQuestion[0].isGood">
                            <b-field>
                              <b-input
                                placeholder="100"
                                rounded
                                type="number"
                                min="100"
                                v-on:change="pointsManager()"
                                v-model.number="quizz"
                              ></b-input>
                            </b-field>
                          </b-checkbox>
                        </div>
                        <div
                          class="column is-10 is-offset-1 question-choices-line"
                          v-on:click="ifChecked($event)"
                        >
                          <b-checkbox v-model="quizzBaseQuestion[1].isGood">
                            <b-field>
                              <b-input rounded type="number" v-model.number="quizzBad" min="-100"></b-input>
                            </b-field>
                          </b-checkbox>
                        </div>

                        <div
                          class="column is-10 is-offset-1 question-choices-line"
                          v-for="(points, index) in quizzQuestion"
                          v-on:click="ifCheckedAdd($event)"
                          :key="index"
                        >
                          <b-checkbox v-model="points.isGood">
                            <b-field>
                              <b-input
                                v-bind:id="index"
                                placeholder="-500"
                                rounded
                                type="number"
                                v-bind:value="quizzBad"
                                v-model="points.points"
                              ></b-input>
                            </b-field>
                          </b-checkbox>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="comment-choices">
          <div class="columns is-multiline">
          <p class="cartel">Commentaires</p>

          <div class="comment-btn text-center" v-on:click="setActiveComment('good')" :class="{'active' : isActiveComment('good')}">
          <i class="fas fa-pencil-alt"></i>
          <span>Après une bonne réponse</span>
        </div>

        <div class="comment-btn text-center" v-on:click="setActiveComment('bad')" :class="{'active' : isActiveComment('bad')}">
        <i class="fas fa-pencil-alt"></i>
        <span>Après une mauvaise réponse</span>
      </div>

    </div>
                  </div>-->
                </div>

                <div class="column is-4 relative" v-if="this.contentActive === 'digicode'">
                  <div class="essais-points-choice">
                    <div class="columns is-multiline">
                      <div class="column is-5">
                        <p class="cartel">Essais</p>
                        <b-field>
                          <b-select placeholder="5" rounded v-model="essais">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </b-select>
                        </b-field>
                      </div>
                      <div class="column is-7">
                        <p class="cartel">Points</p>
                        <b-field>
                          <b-input placeholder="1800" rounded></b-input>
                        </b-field>
                      </div>
                    </div>
                  </div>

                  <div class="comment-choices digicode">
                    <div class="columns is-multiline">
                      <p class="cartel">Commentaires</p>
                      <div
                        class="comment-btn text-center"
                        v-on:click="setActiveComment('good')"
                        :class="{'active' : isActiveComment('good')}"
                      >
                        <i class="fas fa-pencil-alt"></i>
                        <span>Après une bonne réponse</span>
                      </div>
                      <div
                        class="comment-btn text-center"
                        v-on:click="setActiveComment('bad')"
                        :class="{'active' : isActiveComment('bad')}"
                      >
                        <i class="fas fa-pencil-alt"></i>
                        <span>Après une mauvaise réponse</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="columns is-centered">
            <div class="column is-12 text-center">
              <a href="#" class="btn-form-primary" v-on:click="slidePreviousCard()">Retour</a>
              <a href="#" class="btn-form-secondary" v-on:click="slideCard()">
                <span v-if="this.activeItem != 'addContent'">Aller à la prochaine étape</span>
                <span
                  v-if="this.activeItem === 'addContent'"
                >Enregistrer votre nouveau point de passage</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <b-notification
      type="is-danger"
      class="id-no-valid"
      :active.sync="errorAudio"
    >Le format du fichier n'est pas valide.</b-notification>

    <Editor3D v-if="isEditorOpened"></Editor3D>
  </div>
</template>

<script lang="ts">
import PictureInput from "vue-picture-input";
import HeaderUser from "@/components/HeaderUser.vue";
import { Component, Vue, Watch } from "vue-property-decorator";
import Editor3D from "@/components/Editor3D.vue";
@Component({
  components: {
    HeaderUser,
    "picture-input": PictureInput,
    Editor3D
  }
})
export default class WaypointForm extends Vue {

  // boolean used to open the 3D legacy editor
  public isEditorOpened: boolean = false;

  private static questionId: number = 0;
  private static digicodeId: number = 4;

  public activeItem: string = "config";
  public arActiveItem: string = "float";
  public contentActive: string = "quizz";
  public goodAnswer: boolean = false;
  public goodAnswerAdd: boolean = false;
  public quizzQuestion: Array<any> = [];
  public quizzBaseQuestion: Array<any> = [
    {
      isGood: true,
      id: "answer1",
      element: "",
      comment: "",
      points: 100
    },
    {
      isGood: false,
      id: "answer2",
      element: "",
      comment: "",
      points: -100
    }
  ];

  public questionPoints: Array<any> = [];
  public quizzGood: number = 100;
  public quizzBad: number = -100;
  public badAnswersNb: number = 1;
  public newPoints: number = 0;
  public addQuestion: boolean = true;
  public ref: number = 0;
  public newQuestion: string = "";
  public newComment: string = "";
  public isGood: boolean = false;
  public commentChoice: string = "good";
  public selectedAnswerId: string = "";
  public goodComment: string = "";
  public badComment: string = "";
  public waypointTitle: string = "Titre balise";
  public waypointOrder: number = 1;
  public image: string = "";
  public dropFiles: Array<any> = [];
  public comment: string = "";
  public urlVideo: string = "";
  public urlFinalVideo: string = "";
  public textContent: string = "";
  public audioFile: string = "";
  public audioResult: string = "";
  public errorAudio: boolean = false;
  public importAudio: boolean = true;
  public isPlayAudio: boolean = false;
  public isPauseAudio: boolean = false;
  public audio: any = "";
  public digicodeValues: Array<any> = [];
  public newDigicode: string = "";
  public addDigicode: boolean = true;
  public digicodeFirstCode: any = {
    value: "",
    inputError: false
  };

  public digicodeSecondCode: any = {
    value: "",
    inputError: false
  };
  public digicodeThirdCode: any = {
    value: "",
    inputError: false
  };

  public essais: number = 0;
  public ifChecked(event: any): void {
    if (event.path[1].children[0].checked) {
      this.goodAnswer = !this.goodAnswer;
    }

    if (this.goodAnswer) {
      this.quizzBad = this.quizzGood;
    } else {
      this.pointsManager();
    }
  }

  public ifCheckedAdd(event: any): void {
    const targetId =
      event.path[1].children[2].children[0].children[0].children[0].id;

    if (event.path[1].children[0].checked) {
      this.goodAnswerAdd = !this.goodAnswerAdd;
    }

    if (this.goodAnswerAdd) {
      this.questionPoints[targetId].element = this.quizzGood;
    } else {
      this.questionPoints[targetId].element = Math.round(
        -(this.quizzGood / this.badAnswersNb)
      );
    }
  }

  public pauseAudio(): void {
    this.audio.pause();

    this.isPlayAudio = true;
    this.isPauseAudio = false;
  }

  public playAudio(): void {
    if (!this.errorAudio) {
      this.isPlayAudio = false;
      this.isPauseAudio = true;

      this.audio = new Audio(this.audioResult);
      this.audio.play();
    }
  }

  public loadAudio(event: any): void {
    const input = event.target;
    const reader = new FileReader();
    let fileName = input.files[0].name;
    const duration = input.files[0].name;
    fileName = fileName.toUpperCase();

    const self = this;
    const sp: HTMLElement | any = document.getElementById("audio-duration");

    if (
      !fileName.includes(".MP3") &&
      !fileName.includes(".OGG") &&
      !fileName.includes(".WAV") &&
      !fileName.includes(".MPEG")
    ) {
      this.errorAudio = true;
    } else {
      reader.onload = e => {
        const resultFile: any = reader.result;
        this.audioResult = resultFile;

        const aud = new Audio(resultFile);
        aud.onloadedmetadata = function() {
          const minutes = Math.round(aud.duration / 60);
          const seconds = Math.round(aud.duration % 60);

          sp.innerHTML = minutes + ":" + seconds;
          console.log("start audio");
          console.log(aud.currentTime);
        };

        // aud.onended = function() {
        //   aud.currentTime = 0;
        //   self.isPlayAudio = true;
        //   self.isPauseAudio = false;
        //   console.log("THIS IS THE END");
        // };

        self.isPlayAudio = true;
      };
    }

    reader.readAsDataURL(input.files[0]);
  }

  public onChange(image: any) {
    if (image) {
      this.image = image;
    } else {
      console.log("FileReader API not supported: use the <form>, Luke!");
    }
  }

  public deleteDropFile(index: number): void {
    this.dropFiles.splice(index, 1);
  }

  public setActiveComment(value: string) {
    this.commentChoice = value;
  }

  public isActiveComment(value: string): boolean {
    return this.commentChoice === value;
  }

  public codeAdd(): void {
    const value = this.newDigicode;

    this.digicodeValues.push({
      element: value,
      id: WaypointForm.digicodeId++,
      inputError: false
    });
    this.newDigicode = "";

    if (this.digicodeValues.length === 7) {
      this.addDigicode = false;
    }
  }

  public deleteCode(index: number): void {
    this.addDigicode = true;
    this.digicodeValues.splice(index, 1);
  }

  public testCodeReg(value: string, id: any) {
    const charReg = /^\s*[a-zA-Z0-9,\s]+\s*$/;

    if (!charReg.test(value)) {
      id.inputError = true;
    } else {
      id.inputError = false;
    }
  }

  public addQuizzQuestion() {
    const value = this.newQuestion;
    const comment = this.newComment;

    this.badAnswersNb++;

    this.newPoints = -(Math.round(this.quizzGood) / this.badAnswersNb);

    const pointsValue = Math.round(this.newPoints);
    const goodOrNot = this.isGood;

    this.quizzQuestion.push({
      id: WaypointForm.questionId++,
      element: value,
      comment: comment,
      points: this.newPoints,
      isGood: false
    });
    this.newQuestion = "";
    this.newComment = "";

    this.questionPoints.push({
      id: WaypointForm.questionId++,
      element: this.newPoints
    });

    this.pointsManager();

    if (this.quizzQuestion.length === 2) {
      this.addQuestion = false;
    }

    for (let i = 0; i < this.questionPoints.length; i++) {
      this.questionPoints[i].element = pointsValue;
    }
  }

  public deleteQuizzQuestion(index: number): void {
    this.addQuestion = true;
    this.quizzQuestion.splice(index, 1);
    this.questionPoints.splice(index, 1);

    this.badAnswersNb--;
    if (!this.goodAnswer) {
      this.pointsManager();

      for (let i = 0; i < this.questionPoints.length; i++) {
        this.questionPoints[i].element = Math.round(
          -(Math.round(this.quizzGood) / this.badAnswersNb)
        );
      }
    }
  }

  public setActiveContent(itemContent: string) {
    this.contentActive = itemContent;
    this.removeImage();
    this.removeVideo();
  }

  public isActiveContent(itemContent: string): boolean {
    return this.contentActive === itemContent;
  }

  public setActiveAr(itemAr: string): void {
    this.arActiveItem = itemAr;
  }

  public isActiveAr(itemAr: string): boolean {
    return this.arActiveItem === itemAr;
  }

  public setActive(item: string) {
    this.activeItem = item;

    const slideActive: HTMLElement | any = document.querySelector(
      ".waypoint-form-card.active"
    );
    const slideFirst: HTMLElement | any = document.querySelector(
      ".waypoint-form-card.first"
    );
    const slideSecond: HTMLElement | any = document.querySelector(
      ".waypoint-form-card.second"
    );
    const slideThird: HTMLElement | any = document.querySelector(
      ".waypoint-form-card.third"
    );

    if (item === "addAr" && slideFirst.classList.contains("active")) {
      this.slideTo("addAr");
    } else if (
      (item === "addContent" && slideFirst.classList.contains("previous")) ||
      (item === "addContent" && slideFirst.classList.contains("active"))
    ) {
      this.slideTo("addContent");
    } else if (item === "addAr" && slideThird.classList.contains("active")) {
      this.slideTo("addAr");
    } else if (
      (item === "config" && slideFirst.classList.contains("previous")) ||
      (item === "config" && slideFirst.classList.contains("hide"))
    ) {
      this.slideTo("config");
    }
  }

  public isActive(item: string): boolean {
    return this.activeItem === item;
  }

  public slideTo(item: string): void {
    const slideActive: HTMLElement | any = document.querySelector(
      ".waypoint-form-card.active"
    );
    const slideFirst: HTMLElement | any = document.querySelector(
      ".waypoint-form-card.first"
    );
    const slideSecond: HTMLElement | any = document.querySelector(
      ".waypoint-form-card.second"
    );
    const slideThird: HTMLElement | any = document.querySelector(
      ".waypoint-form-card.third"
    );

    if (item === "addAr") {
      slideThird.classList.remove("active");
      slideThird.classList.add("view");

      slideSecond.classList.add("active");
      slideSecond.classList.remove("previous");

      slideFirst.classList.add("previous");
      slideFirst.classList.remove("hide");
      slideFirst.classList.remove("active");

      document
        .querySelector(".waypoint-line-menu li.active")!
        .classList.remove("active");
      document
        .querySelector(".waypoint-line-menu li:nth-child(2)")!
        .classList.add("active");
    } else if (item === "addContent") {
      slideThird.classList.remove("view");
      slideThird.classList.add("active");

      slideSecond.classList.remove("active");
      slideSecond.classList.add("previous");

      slideFirst.classList.remove("previous");
      slideFirst.classList.remove("active");
      slideFirst.classList.add("hide");

      document
        .querySelector(".waypoint-line-menu li.active")!
        .classList.remove("active");
      document
        .querySelector(".waypoint-line-menu li:nth-child(3)")!
        .classList.add("active");
    } else if (item === "config") {
      slideThird.classList.remove("view");
      slideThird.classList.remove("active");

      slideSecond.classList.remove("active");
      slideSecond.classList.remove("previous");

      slideFirst.classList.add("active");
      slideFirst.classList.remove("previous");
      slideFirst.classList.remove("hide");

      document
        .querySelector(".waypoint-line-menu li.active")!
        .classList.remove("active");
      document
        .querySelector(".waypoint-line-menu li:first-child")!
        .classList.add("active");
    }
  }

  public slideCard(): void {
    const slideFirst: HTMLElement | any = document.querySelector(
      ".waypoint-form-card.first"
    );

    if (slideFirst.classList.contains("active")) {
      this.slideTo("addAr");
      this.activeItem = "addAr";
    } else if (slideFirst.classList.contains("previous")) {
      this.slideTo("addContent");
      this.activeItem = "addContent";
    }
  }

  public slidePreviousCard(): void {
    const slideFirst: HTMLElement | any = document.querySelector(
      ".waypoint-form-card.first"
    );
    const slideThird: HTMLElement | any = document.querySelector(
      ".waypoint-form-card.third"
    );

    if (slideThird.classList.contains("active")) {
      this.slideTo("addAr");
      this.activeItem = "addAr";
    } else if (slideFirst.classList.contains("previous")) {
      this.slideTo("config");
      this.activeItem = "config";
    }
  }

  public pointsManager(): void {
    if (!this.goodAnswer) {
      this.quizzBad = -(Math.round(this.quizzGood) / this.badAnswersNb);
      this.quizzBad = Math.round(this.quizzBad);

      for (let i = 0; i < this.questionPoints.length; i++) {
        this.questionPoints[i].element = Math.round(
          -(Math.round(this.quizzGood) / this.badAnswersNb)
        );
      }
    } else {
      this.quizzBad = this.quizzGood;
    }
  }

  public openEditor(): void {
    (document.querySelector(
      ".editor-3d-content"
    )! as HTMLElement).style.display = "block";
    (document.querySelector(
      ".btn-header-editor"
    )! as HTMLElement).style.display = "block";
    // this.isEditorOpened = true;
  }

  public showComment(answerId: string) {
    this.selectedAnswerId = answerId;
  }

  public onFileChange(e: any) {
    const files = e.target.files || e.dataTransfer.files;
    if (!files.length) return;
    this.createImage(files[0]);
  }

  public createImage(file: Blob): void {
    const image = new Image();
    const reader = new FileReader();
    const vm = this;

    reader.onload = (e: any) => {
      vm.image = e.target.result;
    };
    reader.readAsDataURL(file);
  }

  public removeImage(): void {
    this.image = "";
  }

  public removeVideo(): void {
    this.urlVideo = "";
  }
  @Watch("quizz")
  public quizzWatcher(oldQuizz: any, newQuizz: any): void {
    this.pointsManager();
  }
}
</script>
