.account-page {
  margin-top: 110px;

  .account-content-wrap {
    .big-title {
      margin-bottom: 0;
    }

    label {
      color: $pinkish-grey !important;
      margin-bottom: 0px;
    }

    input {
      font-weight: 600;
      border: none;
      padding: 0;
    }

    .text-Style-3 {
      margin-top: -8px;
    }
  }

  .account-abo-wrap {
    text-align: center;
    margin-top: 131px;

    img {
      width: 131px;
      margin: auto;
      display: block;
      margin-bottom: 20px;
    }

    .btn-form-primary {
      span {
        text-transform: capitalize;
      }
    }

    p {
      font-weight: 700;
      margin-top: 13px;
    }
  }

  .account-content-perso {
    margin-top: 76px;
  }

  .account-paraph {
    margin-bottom: 20px;
  }

  .btn-modifs-info {
    margin-top: 52px;
    width: 260px;

    button.btn-form-secondary{
      white-space: nowrap;
      width: auto;
    }
  }

  .account-content-entreprise {
    .back {
      margin-top: 23px;
    }
  }

}
