.slide-up-enter-active, .slide-up-leave-active {
  transition: all .5s;
}
.slide-up-enter, .slide-up-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(50px);
}

.slide-up-long-enter-active, .slide-long-up-leave-active {
  transition: all .7s;
}
.slide-up-long-enter, .slide-long-up-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(50px);
}

.up-left-enter-active, .up-left-leave-active {
  transition: all ease-in .6s;
}
.up-left-enter, .up-left-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(-160px) translateX(-160px);
}

.up-right-enter-active, .up-right-leave-active {
  transition: all ease-in .6s;
}
.up-right-enter, .up-right-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(-160px) translateX(160px);
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
