@import "~bulma/sass/utilities/_all";
@import "~bulma";
@import "~bulma-slider/src/sass/index";
@import "~bulma-switch/src/sass/index";
@import "~buefy/dist/buefy.css";

@import "variables";
@import "animation";

@import "header";
@import "menu-event";

@import "login";
@import "dashboard";
@import "realtime";

@import "event-list";
@import "event-start";
@import "event-parameters";
@import "event-waypoints";
@import "event-photos";
@import "waypoint-form";
@import "catalog";
@import "scenario-form";
@import "order-list";
@import "beacon-list";
@import "stats";
@import "account";
@import "subscription";
@import "code-list";
@import "faq";
@import "errors";

@font-face {
  font-family: "Doctor-Who";
  src: url("assets/fonts/Doctor-Who.ttf") format("truetype");
}

html {
  height: 100%;
}

body {
  min-width: 1024px;
  font-family: 'Roboto', sans-serif;
}

[hidden] {
  display: none !important;
}

::-moz-selection { /* Code for Firefox */
  background: rgba($violet-lighter, 0.8);
  color: white;
}

::selection {
  background: rgba($violet-lighter, 0.8);
  color: white;
}

.text-blue {
  color: $azure;
}

.text-iris {
  color: $iris;
}

.is-clickable {
  pointer-events: auto !important;
}

.notification {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 5000;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: $charcoal-grey;
}

.b-checkbox.checkbox input[type=checkbox]:checked + .check.iris {
  background: $iris url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath style='fill:%23fff' d='M 0.04038059,0.6267767 0.14644661,0.52071068 0.42928932,0.80355339 0.3232233,0.90961941 z M 0.21715729,0.80355339 0.85355339,0.16715729 0.95961941,0.2732233 0.3232233,0.90961941 z'%3E%3C/path%3E%3C/svg%3E") no-repeat center center;
  border-color: $iris;
}

.b-checkbox.checkbox:hover input[type=checkbox] + .check.iris {
  border-color: $iris;
}

.b-checkbox.checkbox:focus input[type=checkbox] + .check.iris {
  -webkit-box-shadow: 0 0 0.5em rgba(119, 48, 198, 0.8);
  box-shadow: 0 0 0.5em rgba(119, 48, 198, 0.8);
}

.textarea.is-rounded {
  border-radius: 20px;
}

input, .textarea {
  box-shadow: none !important;
}

.fa-chart-pie {
  transform: rotate(-20deg);
}

.is-iris {
  background-color: $violet;
  color: white !important;

  &:hover {
    background-color: $violet-lighter;
  }
}

.button-principal {
  border-radius: 19px;
  font-size: 16.7px;
  font-weight: 600;
  min-width: 121px;
  transition: ease all 0.5s;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.block-center {
  margin: 0 auto;
}

.tooltip.is-primary:after {
  font-weight: 600;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-left {
  padding-left: 0;
}

%btn-default {
  font-size: 21px;
  font-weight: bold;
  color: white;
  border-radius: 15px;
  padding: 8px 20px;
  width: 190px;
  transition: all ease 0.3s;

  @media screen and (min-width: 1300px) {
    width: 280px;
  }

  i {
    margin-right: 8px;
  }
}

%btn-little {
  font-size: 16.7px;
  font-weight: bold;
  transition: all ease 0.3s;
  width: 87px;
  border-radius: 20px;
  padding: 5px 13px;
}

%cartel-subtitle {
  background-color: $charcoal-grey;
  color: white;
  font-size: 17px;
  font-weight: 600;
  border-radius: 15px;
  padding: 4px 13px;
}

h1.big-title {
  font-size: 35px;
  font-weight: bold;
  text-align: left;
  color: $violet;
  margin-bottom: 20px;
}

.cartel {
  @extend %cartel-subtitle;
}

a.btn-primary {
  background-color: $violet;

  &:hover {
    background-color: $violet-lighter;
  }

  @extend %btn-default;
}

a.btn-secondary {
  background-color: $jade;

  &:hover {
    background-color: $jade-lighter;
  }
  @extend %btn-default;
}

a.btn-form-primary {
  @extend %btn-little;

  color: $violet;
  border: 3px solid $violet;

  &:hover {
    color: white;
    background: $violet;
  }
}

a.btn-form-secondary, button.btn-form-secondary {
  @extend %btn-little;

  color: white;
  border: 3px solid $violet;
  background-color: $violet;

  &:hover {
    border: 3px solid $violet-lighter;
    background-color: $violet-lighter;
  }
}

.nav-tabs {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;

  a {
    color: white;
    padding: 9px 45px;
    background: $violet;
    border-radius: 0px 18px 18px 0px;
    font-size: 16.9px;
    font-weight: bold;

    &.actif {
      background: $violet-darker;
    }

    &:first-child {
      border-radius: 18px 0px 0px 18px;
      margin-right: 2px;
    }
  }
}

.modal-content, .modal-card {
  max-height: calc(80vh - 30px);
  width: auto;
}

.card {
  border-radius: 40px;
}

.card-header {
  box-shadow: none;
}

.search-block {
  text-align: center;

  .search-filter {
    .select {
      width: 100%;

      select {
        width: 100%;
      }
    }
  }
}

.range-slider {
  .vue-slider {
    height: 2px !important;
    background-color: #efefef !important;
  }

  .vue-slider-tooltip {
    border: 1px solid $violet !important;
    background-color: $violet !important;
    padding: 3px 8px !important;
    border-radius: 14px !important;

    &::before {
      bottom: -9px !important;
    }
  }

  .vue-slider-dot {
    width: 12px !important;
    height: 12px !important;
  }

  .vue-slider-process {
    background-color: $violet !important;
  }
}

.text-style-5 {
  font-size: 25px !important;
  font-weight: 700 !important;
  text-align: left;
  color: $warm-grey !important;
}

.text-Style-3 {
  font-family: 'Titillium Web', sans-serif !important;
  font-size: 17.5px !important;
  font-weight: 600 !important;
  letter-spacing: -0.2px !important;
  text-align: left !important;
  color: $violet !important;
}

.link-text-style {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $charcoal-grey;
}

.is-red {
  color: $strawberry;
}

.is-green {
  color: $shamrock-green;
}

.card-add {
  text-align: center;
  min-height: 500px;
  border: $grey-lighter 2px solid;
  border-radius: 20px;
  color: $grey-lighter;
  cursor: pointer;
  position: relative;

  &__description {
    transition: ease all 0.4s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;

    i {
      font-size: 41px;
    }

    span {
      display: block;
      font-size: 25px;
      margin-top: 20px;
    }

  }

  &:hover {
    color: $charcoal-grey;
  }
}

.aperçu-modal {
  .modal-content {
    min-height: 743px;
    text-align: center;
  }
}

.waypoint-card {
  border-radius: 20px;
  min-height: 404px;
  box-shadow: 0 0 5px 0px rgba(0, 1, 0, 0.2);
  overflow: hidden;
  cursor: -webkit-grab;

  .waypoint-header {
    text-align: right;

    label {
      position: relative;
    }

    .switch:focus input[type=checkbox]:checked + .check {
      box-shadow: 0 0 0.5em rgba($violet-lighter, 0.81) !important;
    }

    .switch input[type=checkbox]:checked + .check {
      background: $violet-lighter !important;
    }

    .check {
      position: absolute;
      right: 12px;
      top: 10px;
    }

    .control-label {
      position: relative;
      left: -64px;
      top: 10px;
      font-weight: 500;
    }
  }

  .waypoint-banner {
    margin-top: 25px;
    height: 166px;
    color: white;
    text-align: center;

    &.Inactif {
      background-color: $warm-grey;
    }

    &.Actif {
      background-color: $violet;
    }

    .icon {
      font-size: 105px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      &.icon-digicode {
        font-size: 50px;
      }
    }
  }

  .waypoint-bottom {
    text-align: center;
    margin-top: 10px;
    position: relative;

    h1 {
      font-size: 30px;
      z-index: 1;
      position: relative;
      top: 8px;
    }

    .waypoint-actions {
      margin-top: 33px;
      position: relative;
      z-index: 10;
      margin-bottom: 5px;

      a {
        font-size: 40px;
        display: inline-block;
        margin-right: 30px;

        p {
          font-size: 16px;
          margin-top: -7px;
          color: $violet;
          font-weight: 600;
        }

        .icon {
          span:first-child::before {
            color: $violet;
            transition: ease all 0.4s;
          }
        }

        &:hover {
          .icon {
            span:first-child::before {
              color: $violet-lighter;
            }
          }

          .icon-preview {
            span:first-child::before {
              color: $violet-lighter !important;
            }
          }
        }

        .icon-preview {
          span:first-child::before {
            color: $violet !important;
          }
        }

        &:last-child {
          margin: 0;

          .icon {
            span:first-child::before {
              color: $strawberry;
            }
          }

          &:hover {
            .icon {
              span:first-child::before {
                color: $strawberry-lighter;
              }
            }
          }

        }

      }
    }

    .waypoint-number {
      position: absolute;
      bottom: 30px;
      z-index: 0;

      span {
        font-size: 223.2px;
        position: absolute;
        bottom: -128px;
        font-weight: 900;
        left: -26px;
        z-index: 0;
        color: $grey-lighter;
      }
    }

    .scanned-point {
      width: 170px;
      margin: 0 auto;
      position: relative;
      z-index: 10;
      bottom: -18px;

      p {
        margin-top: -10px;
        color: $warm-grey;
        font-weight: 500;
      }
    }

  }

  .isAperçu-modal {
    width: 891px;
    min-height: 713px;

    .card-preview-content {
      background-image: url('assets/img/iphone-content-vide.png');
      min-height: 621px !important;
      bottom: 0px;
      left: 52% !important;
      background-repeat: no-repeat;
      background-size: cover;
      min-width: 354px;
      min-height: 621px;
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      padding: 40px;
      text-align: center;

      .preview-content-block {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        font-family: 'Titillium Web', sans-serif;

        h3 {
          position: relative;

          &.title-waypoint {
            top: 43px;
            padding: 40px;
            padding-top: 0;
            padding-bottom: 0;
            text-align: center !important;
            color: white !important;
            font-size: 20.5px !important;
            text-transform: uppercase;

            span {
              display: block;
              position: relative;
              top: 14px;
              opacity: 0.4;
            }
          }

          &.question-waypoint {
            top: 70px;
            padding: 40px;
            padding-top: 0;
            padding-bottom: 0;
          }
        }
      }

      .preview-image {
        .image-preview {
          width: 229px;
          height: 229px;
          border-radius: 25px;
          margin: 0 auto;
          margin-top: 86px;
          background-position: center;
          background-size: cover;
          margin-bottom: 15px;
        }

        .image-comment {
          padding: 11px 50px;
          text-align: left;
          font-size: 13.8px;
          padding-right: 37px;
          color: $charcoal-grey;
          font-weight: 500;
        }
      }

      .preview-movie {
        .video-preview {
          width: 274px;
          height: 154px;
          margin: 0 auto;
          margin-top: 98px;
          background-position: center;
          background-size: cover;
          border-radius: 10px;
          position: relative;

          img {
            width: 80px;
            position: absolute;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
          }
        }

        .movie-comment {
          padding: 24px 40px;
          text-align: left;
          font-size: 13.8px;
          padding-right: 37px;
          color: $charcoal-grey;
          font-weight: 500;
        }
      }

      .preview-music {
        color: $charcoal-grey;
        font-weight: 500;

        .music-preview {
          margin-top: 100px;

          img:first-child {
            width: 120px;
          }

          img:nth-child(2) {
            position: relative;
            top: -30px;
            margin-left: 40px;
            width: 55px;
          }
        }

        .music-comment {
          text-align: left;
          padding: 35px;
          padding-top: 20px;
          font-size: 13.8px;
        }

        .music-duration {
          text-align: left;
          font-size: 13.8px;
          padding-left: 35px;
          display: block;
          margin-top: 13px;
        }
      }

      .preview-link {

        .link-content {
          margin-top: 108px;
        }

        svg {
          width: 233px;
          fill: $violet;
        }

        p {
          font-size: 14px;
          padding: 24px;
          padding-top: 5px;
          font-weight: 500;

          &.link-comment {
            text-align: left;
            padding: 0 40px;
          }

          a {
            color: $violet;
            transition: ease all 0.4s;
            text-decoration: underline;

            &:hover {
              text-decoration: none;
              color: $violet-lighter;
            }
          }
        }
      }

      .preview-text {
        p {
          text-align: left;
          padding: 0 40px;
          margin-top: 82px;
          font-size: 14.6px;
        }
      }

      .preview-digicode {
        .codes-block {
          margin-top: 105px;

          .code {
            display: inline-block;
            margin: 8px;
            border: solid 2px $violet;
            padding: 14px;
            height: 110px;
            line-height: 74px;
            border-radius: 20px;
          }

          ul {
            a {
              padding: 9px 18px;
              font-size: 12.9px;

              &:first-child {
                margin-left: 26px;
              }
            }
          }

          .digicode-comment {
            padding: 14px 40px;
            text-align: left;
            font-size: 13.8px;
            padding-right: 37px;
            color: $charcoal-grey;
            font-weight: 500;
          }

          .answers-comment {
            font-size: 14.6px;
            text-align: left;
            padding: 10px 30px;
            margin-top: 99px;
          }

          .nav-tabs {
            margin-top: 10px;
            margin-left: -31px;
            position: absolute;
            left: -296px;
            top: 383px;
          }

        }
      }

      .preview-quizz {
        .answers-block {
          text-align: left;
          margin-top: 79px;
          padding: 30px;
          padding-left: 39px;

          .field {
            margin-bottom: 15px;
          }

          .control-label {
            font-size: 14.6px;
          }

          .check {
            border-color: $violet !important;

            &::before {
              background: $violet !important;
            }
          }

          .radio:focus {
            input[type=radio]:checked + .check {
              box-shadow: 0 0 0.5em rgba($violet, 0.8);
            }
          }

          .nav-tabs {
            margin-top: 10px;
            margin-left: -31px;

            ul {
              a {
                padding: 9px 18px;
                font-size: 12.9px;
              }
            }
          }

          .answers-comment {
            font-size: 14.6px;
            margin-top: 30px;
            color: $charcoal-grey;
          }
        }

      }

    }

    .aperçu-header {
      margin-top: -20px;
    }
  }

  .modal-content {
    cursor: auto;
  }
}

.intro-end-modal {
  .card-preview-content {
    background-image: url('assets/img/iphone-white.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 354px;
    min-height: 621px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    padding: 40px;
    text-align: center;
    bottom: -96px;
    transition: ease transform 0.4s;

    .counter {
      z-index: 5000;
      position: relative;
    }

    .intro-title {
      margin-top: 60px;

      textarea {
        color: $violet;
        font-size: 20px;
        font-weight: 600;
        min-height: 107px;
        padding: 10px;
        padding-top: 7px;
      }
    }

    .intro-para {
      position: relative;
      top: -30px;

      textarea {
        font-size: 17px;
        height: 124px;
        padding: 10px;
        padding-top: 11px;
      }
    }

    textarea {
      border: 2px solid transparent;
      text-align: center;
      resize: none;
      padding: 6px;
      line-height: normal;

      &:hover, &:focus {
        border: 2px solid $violet;
      }
    }

  }
}

.import-btn {
  position: relative;

  label {
    cursor: pointer;
    color: $violet;
    font-weight: bold;
    padding: 14px 25px;
    border: solid 2px $violet;
    border-radius: 15px;
    position: relative;
    top: 30px;
    transition: ease all 0.2s;

    &:hover, &.active {
      background-color: $violet;
      color: white;
    }

    &.active {
      &:hover {
        background-color: $violet-lighter;
      }
    }

    i {
      position: relative;
      left: -6px;
    }
  }

  input {
    display: none;
  }

  p.top {
    margin-top: 41px;
  }

  p {
    font-size: 12px;
  }
}

.validate-modal {
  .validate-modal-content {
    padding: 50px;
  }

  h1 {
    font-weight: 500;
    line-height: 48px;
  }

  .validate-btns {
    margin-top: 40px;

    a {

      &:first-child {
        border-color: white;
        margin-right: 20px;
        color: white;

        &:hover {
          background-color: white;
          color: $charcoal-grey;
        }
      }

      &:nth-child(2) {
        background-color: white;
        border-color: white;
        color: $charcoal-grey;

        &:hover {
          background-color: $greyish-white;
          border-color: $greyish-white;
        }
      }
    }
  }
}

.delete-link {
  background-color: white !important;
  border-color: white !important;
  color: $charcoal-grey !important;

  &:hover {
    background-color: $strawberry !important;
    border-color: $strawberry !important;
    color: white !important;
  }
}

.picture-inner-text {
  display: none;
}

.upload .upload-draggable {
  &:hover {
    background-color: rgba($violet-lighter, 0.2) !important;
    border-color: $violet !important;
  }
}

.tag:not(body).is-primary {
  background-color: $violet !important;
}

@media screen and (min-width: 1300px) {
  .center-verticaly-max {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.back-btn {
  position: absolute;
  margin-top: 11px;
  display: flex;
  height: 35px;
  line-height: 19px;

  .fa-angle-left {
    line-height: 19px;
    position: relative;
    left: -7px;
  }
}

.export-btn {
  width: 118px !important;
  line-height: 60px;
}

.list-tab {
  .table-wrapper {
    box-shadow: 0 0 5px 0px rgba(0, 1, 0, 0.2);
    border-radius: 20px;
    min-height: 52vh;
  }

  .table {
    background-color: transparent !important;

    tbody td {
      padding: 1em 0.75em !important;
      text-align: center;

      span {
        font-size: 18px;
        font-weight: bold;
        color: $warm-grey;
      }
    }

    thead th {
      padding: 1.6em 0.75em !important;
      background-color: rgba(85, 66, 159, 0.5);
      color: $violet-dark-light;
      font-weight: bold;

      &:first-child {
        border-radius: 20px 0 0 0;
      }

      &:last-child {
        border-radius: 0 20px 0 0;
      }

      .th-wrap {
        display: flex;
        justify-content: center;
      }
    }
  }

}

.pagination-link.is-current {
  background-color: #55429f;
  border-color: #55429f;
  color: white !important;
  font-weight: 600;
}

.rating-histogram {
  position: relative;
  margin-top: -25px;

  .vue-simple-progress {
    width: 90%;
  }

  .histogram-bar {
    position: relative;
  }

  .vue-simple-progress-bar {
    background: $violet !important;
    margin-bottom: 19px;
  }

  .vue-simple-progress-text {
    position: absolute;
    right: 0;
    top: -2px;
    font-size: 13.5px !important;
    font-weight: bold;
    color: $charcoal-grey !important;
  }
}

.red-label {
  font-weight: 600;
  color: $strawberry;
}

.account-dropdown {
  position: absolute;
  right: 10px;
  top: 21px;
  height: 60px;

  button {
    background: none;
    border: none;
    color: white;

    &:hover, &:focus {
      color: white;
    }

    .navbar-link {
      &::after {
        border-color: white;
        display: block !important;
      }

      &:hover {
        background-color: transparent !important;
      }
    }
  }

  .dropdown-menu {
    position: absolute;
    transform: translateX(-40px);
    width: 20px;
  }

  .dropdown-content {
    min-width: 138px !important;
  }

  .dropdown-main-menu a {
    font-size: 18px !important;
  }
}
