.beacon-list {
  margin-top: 110px;

  .order-beacon-block {
    text-align: right;
    position: relative;
    margin-top: -35px;
    padding-bottom: 10px;

    i {
      padding-right: 6px;
    }
  }
}

.beacon-list-tab {
  margin-top: 20px;

  .content {
    padding-left: 30px;
    position: relative;

    p {
      margin: 0;
    }

    .field {
      position: absolute;
      top: -10px;
      right: 0;
      transform: translateX(-20%);

      label {
        margin-bottom: 0px;
      }
    }
  }

  a[role="button"] {
    color: $charcoal-grey;
    transition: ease all 0.2s;

    &:hover {
      color: $grey-lighter;
    }
  }

  thead {
    tr {
      line-height: 60px;
    }
  }

  tbody {
    tr {
      line-height: 50px;
    }
  }

  .pagination-link.is-current {
    background-color: $violet;
    border-color: $violet;
    color: white !important;
    font-weight: 600;
  }

  .table {
    box-shadow: 0 0 5px 0px rgba(0, 1, 0, 0.2);
    border-radius: 20px;
  }

  .table tr.is-selected {
    background-color: $violet;
    font-weight: 500;
  }
}
