@import 'variables';
@import 'animation';

.catalog-page, .library-page {

  .catalog-block, .library-block {
    margin-top: 140px;

    @media screen and (max-width: 1106px) {
      margin-left: 15px;
    }
  }

  .store-list-block {
    width: 100%;

    h1 {
      margin-top: 59px;
    }
  }

  .store-list-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url('assets/img/scenario/banner-featured.jpg');
    height: 260px;
    border-radius: 10px;
    background-position: center;
    position: relative;

    &:hover {
      .store-list-overflow {
        opacity: 1 !important;
      }
    }
  }

  .store-list-overflow {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s ease;
    opacity: 0;
    left: 0;

    .story-card-overflow-content {
      right: 0px !important;
      color: white;
      position: absolute;
      bottom: 10px;
      padding-left: 14px;
      padding-right: 16px;
      transition: ease all .4s;

      h4 {
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 1px;
        font-size: 1.5rem;
      }
    }
  }

  .store-list-new-block {
    margin-bottom: 79px;
  }

  .story-card-wrap {
    .story-card {
      border-radius: 10px;
      position: relative;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 500px;
    }

    .story-card-overflow {
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 10px;
      transition: all 0.5s ease;
      opacity: .8;
      overflow: hidden;

      &:hover {
        opacity: .9;
        background-color: black;

        & > .story-card-overflow-content {
          bottom: 90px;
          opacity: 1;

          p {
            -webkit-animation: fadeIn .5s;
            animation: fadeIn .5s;
            display: block;
          }
        }
      }

      .story-card-overflow-content {
        color: white;
        position: absolute;
        bottom: 10px;
        padding-left: 14px;
        padding-right: 16px;
        transition: ease all .4s;
        opacity: 0;
        width: 100%;

        h4 {
          text-transform: uppercase;
          font-weight: 900;
          font-size: 1.5rem;
        }

        span {
          margin-bottom: 20px;
          display: block;
        }

        p {
          margin-bottom: 0;
          display: none;
        }
      }

      .story-card-overflow-bottom {
        color: white;
        position: absolute;
        bottom: 23px;
        font-size: 24px;
        left: 50%;
        transform: translateX(-50%) translateY(200%);
        transition: ease .4s all;
      }
    }
  }

  .story-modal {

    .story-ratings {
      color: $violet;
      font-size: 14px;
      position: relative;
      top: -4px;
      left: 9px;
      cursor: pointer;
    }

    .VueCarousel-slide {
      margin-right: 22px;

      img {
        border-radius: 10px;
      }
    }

    .content {
      display: flex;
    }

    .story-sidebar {
      width: 320px;
      padding-right: 40px;
      padding-left: 10px;
      padding-top: 10px;

      img {
        max-height: 362px;
        border-radius: 25px;
        margin-bottom: 30px;
      }

      .btn-form-primary {
        position: relative;
        left: 30%;
      }
    }

    .story-details-block {
      .column {
        text-align: center;
      }

      p {
        font-weight: 500;
      }
    }

    .story-infos {
      width: 710px;

      p {
        font-weight: 500;
      }
    }

    h1 {
      margin-bottom: 0;
    }

    h3 {
      text-align: left;
      margin-top: 12px;
    }

    .story-sidebar-infos {
      text-align: center;
      margin-top: 32px;
      font-size: 14px;

      h5 {
        margin-bottom: 0;
      }
    }

    .story-actions {
      font-size: 15px;
      font-weight: bold;
      text-align: center;

      a:nth-child(2) {
        display: block;
        color: $violet;
        text-decoration: underline;
        position: relative;
        top: 8px;
        font-size: 13px;

        &:hover {
          text-decoration: none;
        }
      }

    }
  }

  .library-block {

    h1 {
      margin-top: 0;
    }

    .story-card-overflow-bottom {
      text-align: center;
      width: 100%;

      a {
        color: white;
        margin-right: 77px;
        transition: ease all 0.4s;
        position: relative;
        font-weight: 500;

        &:first-child {
          margin-left: -13px;
        }

        &:nth-child(2) {
          margin-left: -13px;

          span {
            transform: translateX(-55%);
          }
        }

        &:last-child {
          margin-right: 0;

          span {
            transform: translateX(-52%);
          }
        }

        &:hover {
          color: $pinkish-grey;
        }

        i {
          font-size: 19px;
        }

        span {
          position: absolute;
          left: 50%;
          font-size: 15px;
          transform: translateX(-60%);
        }
      }
    }

    .addScenar-modal {
      .content {
        width: 880px;
        min-height: 462px;
      }

      .scenar-modal-thumb {
        canvas {
          border-radius: 25px;
          width: 252px;
          height: 362px !important;
          z-index: 10 !important;
          position: relative;
          box-sizing: border-box;
          background-color: #ececec;
          background-image: url('/build/images/upload-placeholder.440daeee.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          cursor: pointer;
          transition: ease all 0.4s;
          margin-top: 36px;
          margin-left: 50px;
        }

        button {
          margin-top: -50px;
          margin-left: 20px;
        }

        input {
          display: none;
        }

        .preview-container {
          max-width: none;
        }
      }

      .scenar-modal-form {
        min-height: 362px;
        border-radius: 20px;
        background-color: $greyish-white;
        max-width: 484px;
        margin: 0 auto;
        margin-top: 36px;
        text-align: left;
        padding: 25px;

        .cartel {
          width: 125px;
        }

        .field:not(:last-child) {
          margin-bottom: 9px;
        }

        textarea {
          resize: none;
        }
      }

      .file-upload-wrap {
        margin-bottom: 7px;
        position: relative;

        &:hover {
          .remove-image {
            opacity: 1;
          }
        }

        .remove-image {
          position: absolute;
          left: 80px;
          opacity: 0;
          bottom: -7px;
        }

        .custom-file-up {
          display: inline-block;
          cursor: pointer;
          width: 272px;
          height: 373px;
          border-radius: 25px;
          background-color: $greyish-white;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          margin-top: 35px;
          margin-left: 40px;

          img {
            position: relative;
            top: 75px;
          }
        }

        .input-image {
          margin-left: -112px;
          position: absolute;
          top: 34px;
          height: 373px;
          width: 155%;
          cursor: pointer;
          opacity: 0;
          display: block;
        }
      }

    }

    .add-scenar-btns {
      margin-top: 40px;

      a:first-child {
        margin-right: 20px;
      }

      a.btn-form-primary {
        color: white;
        border: 3px solid white;

        &:hover {
          background-color: white;
          color: $charcoal-grey;
        }
      }

      a.btn-form-secondary {
        color: $charcoal-grey;
        background-color: white;
        border: 3px solid white;

        &:hover {
          background-color: $greyish-white;
          border: 3px solid $greyish-white;
        }
      }
    }

    .modal-content {
      height: 570px;
      text-align: center;
    }

  }

  .story-avis {
    margin-top: 20px;
    padding-top: 30px;
    min-height: 487px;
    display: none;
    overflow-y: scroll;

    &.active {
      display: block;
    }

    .story-ratings {
      top: -2px;
      font-size: 11px;
      cursor: auto;
    }

    p {
      font-weight: 400 !important;
      font-size: 0.9rem !important;
    }

    .single-avis {
      margin-bottom: 16px;
    }
  }

  .story-tabs {
    position: absolute;
    right: 0;
    padding-right: 30px;
    top: 74px;

    span {
      font-weight: 500;
    }

    a {
      color: $charcoal-grey;
      transition: ease color 0.4s;

      &:hover {
        color: $violet;
      }

      &.active {
        color: $violet;
        border-bottom: solid 1px #55429f;
      }
    }
  }

  .story-description {
    display: none;

    &.active {
      display: block;
    }
  }
}
