.code-list-page {
  .code-list-content {
    margin-top: 110px;
  }

  .code-actions-wrap {
    margin-top: 20px;
    display: flex;
    margin-bottom: 35px;

    .btn-form-secondary {
      width: 230px;
      margin-right: 20px;
    }

    .field {
      padding-top: 3px;
    }
  }

  .add-code-modal-wrap {
    // max-width: 940px;

    .modal-content {
      height: 330px;
    }

    .add-code-modal {
      width: 449px;
      height: 193px;

      .card-content {
        padding-top: 42px;
      }
    }

    .add-scenar-btns {
      margin-top: 25px;

      a {
        border-color: white;
        color: white;

        &:hover {
          background-color: white;
          color: $charcoal-grey;
        }
      }

    }
  }

  .add-code-wrap {
    display: flex;

    .fa-check-circle {
      font-size: 65px;
      margin-right: 33px;
      margin-top: 13px;
      color: $violet;
    }
  }

}
