@import "variables";
@import "animation";


.dashboard-page {
  width: 100vw;
  background-image: url('assets/img/background-aug.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  min-height: 100%;

  select {
    border: none !important;
  }

  .select:not(.is-multiple):not(.is-loading)::after {
    border-color: rgb(96, 96, 96) !important;
  }

  .hackeo-logo {
    position: absolute;
    left: 30px;
    width: 203px;
    top: 30px;
    height: 60px;
  }

  .credits-dashboard {
    text-align: right;
    position: fixed;
    left: 30px;
    bottom: 10px;

    span svg {
      width: 11px;
      height: 9px;
      fill: white;
    }

    h6 {
      font-size: 12px;
      color: white;
      margin-right: 8px;
      margin-bottom: 14px;
    }

    img {
      width: 112px;
      height: 29px;
      margin-top: -18px;
    }
  }

  .main-header {
    position: absolute;
    right: 15px;
    top: 5px;

    .dropdown-menu {
      .dropdown-content {
        border-radius: 0 0 10px 10px;
      }
    }
  }
}

.dashboard-content {
  position: relative;
  top: 15%;
  margin-top: 110px;

  .dash-intro {
    text-align: center;
    color: white;

    h1.intro-name {
      font-size: 54px;
      font-weight: 300;
      position: relative;
      color: white;
    }

    .intro-welcome {
      padding: 15px;
      font-size: 28px;
      text-shadow: 0 0 20px rgba(90, 90, 90, 0.2);
      position: relative;
      font-weight: 300;
    }
  }
}

.dash-icons {
  margin-top: 50px;

  .dash-icon-box {
    a {
      &:hover img {
        box-shadow: 0 0 20px rgba(90, 90, 90, 0.8);
        transform: scale(1.1);
      }
    }

    &.first {
      &:first-child {
        a .icon-dash {
          padding: 22px;
        }
      }

      &:nth-child(2) {
        a .icon-dash {
          padding: 22px 29px;
        }
      }

      &:nth-child(3) {
        a .icon-dash {
          padding: 24px 28px;
        }
      }

      &:nth-child(4) {
        a .icon-dash {
          padding: 29px 23px;
        }
      }
    }

    &.second {
      &:first-child {
        a .icon-dash {
          padding: 22px 29px;
        }
      }

      &:nth-child(2) {
        a .icon-dash {
          padding: 16px 20px;
          padding-top: 28px;
        }
      }

      &:nth-child(3) {
        a .icon-dash {
          padding: 22px;
        }
      }
    }
  }

  a p {
    color: white;
    font-size: 22px;
    text-shadow: 0 0 20px rgba(90, 90, 90, 0.2);
    font-weight: 300;
  }

  .icon-dash {
    width: 160px;
    height: 160px;
    background: white;
    border-radius: 36px;
    box-shadow: 0 0 20px 0 rgba(90, 90, 90, 0.2);
    transition: all ease-in 0.4s;
  }

  img {
    margin-bottom: 10px;
  }
}
