.error-wrap {
    margin-top: 80px;
  
    .error-content-block {
      height: 92vh;
    }
  
    .error-content-wrap {
      text-align: center;
      border-radius: 40px;
      box-shadow: 0 0 10px 0 rgba(0, 1, 0, 0.15);
      background-color: #ffffff;
      padding: 70px;
      padding-top: 82px;
      padding-bottom: 45px;
  
      h1 {
        text-align: center;
        font-family: "Doctor-Who";
        font-size: 60px;
        letter-spacing: normal;
        color: $violet;
        font-weight: normal;
        line-height: 51px;
        margin-bottom: 35px;
      }
  
      p {
        font-size: 16px;
        font-weight: bold;
        color: $charcoal-grey;
      }
  
      .error-content-main {
        margin-bottom: 30px;
      }
    }
  
    .error-text-block {
      height: 450px;
    }
  }
  