.event-start {
  &-content {
    margin-top: 20px;
  }

  .start-nav {
    margin-top: 110px;
    padding-left: 40px;
    position: relative;

    .start-nav-elements {
      position: fixed;
      top: 50%;
      transform: translateY(-40%);

      a {
        color: $warm-grey;
        display: block;
        font-size: 16.7px;
        font-weight: bold;
        padding: 20px 0;
        position: relative;
        padding-left: 16px;

        &.active {
          color: $violet-lighter;

          &::before {
            background: $violet-lighter;
          }
        }

        &::before {
          content: '';
          height: 17px;
          width: 17px;
          background: $grey-lighter;
          border-radius: 50%;
          position: absolute;
          top: 23px;
          display: block;
          left: -18px;
          transition: background .2s ease-in;
        }

        &:not(:last-child)::after {
          content: " ";
          position: absolute;
          width: 1px;
          height: calc(100% - 35px);
          background-color: rgba($violet-lighter, 0.458824);
          left: -10px;
          top: 50px;
        }
      }
    }
  }

  .tuto-wrap {
    padding-top: 120px;

    &:last-child {
      padding-bottom: 235px;
    }
  }

  .tuto-card {
    border-radius: 20px;
    box-shadow: 0 0 5px 0px rgba(0, 1, 0, 0.2);

    h1 {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 25px;
    }

    p {
      font-size: 18px;
    }

    .button-wrap {
      text-align: right;
      margin: 41px 0;
    }

    .tuto-illu {
      padding: 40px 25px;
      position: relative;
      min-height: 602px;

      img {
        top: 50%;
        transform: translateY(-50%);
        position: relative;

      }
    }

    .tuto-content {
      padding: 55px;
      position: relative;

      .tuto-content-wrap {
        top: 50%;
        transform: translateY(-50%);
        position: relative;
      }
    }

    img {
      position: relative;
      left: 28px;
    }
  }



}
