.event-photos-content {
  margin-top: 110px;

  .big-title {
    margin-bottom: -5px;
  }

  // .photos-content-block {
  //   position: relative;
  //   transform: translateY(-46%);
  //   top: 40%;
  // }

  .photo-aperçu-wrap {
    .photo-aperçu-block {
      min-width: 100%;
      border-radius: 10px;
      background-color: $greyish-white;
      position: relative;
      transform: translateY(-48%);
      top: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }
  }

  .valid-photo-wrap {
    margin-top: 12px;
    margin-bottom: 0;

    .btn-form-secondary:first-child {
      margin-right: 9px;
    }
  }

  .photo-list-content {
    display: flex;
    overflow-y: scroll;
    height: 580px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    flex-wrap: wrap;
    align-content: flex-start;
    width: 96%;
  }

  .photo-list-item {
    width: 186px;
    height: 186px;
    background-size: cover;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 11px;
    margin-bottom: 11px;
    cursor: pointer;

    &:hover {
      .photo-list-overlay {
        opacity: 1;
      }
    }
  }

  .photo-list-overlay {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #00000045;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease opacity 0.3s;
    opacity: 0;

    a {
      color: white;
      border-radius: 50%;
      background: $violet;
      width: 44px;
      height: 43px;
      text-align: center;
      font-size: 26px;
      line-height: 43px;
      transition: ease all 0.3s;

      &:first-child {
        margin-right: 26px;
      }

      &:hover {
        background-color: $violet-lighter;
      }
    }
  }

  .modal-content {
    height: 50vh;
    text-align: center;
  }
}
