.parameters {
  .parameters-content {
    margin-top: 110px;
    position: relative;

    .vc-slider {
      margin-top: 20px;
      width: 70%;
    }

    &.image, &.nav {
      margin-top: 110px;
    }

    .illu-item-fond {
      width: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      padding-bottom: 209%;
      position: absolute;
      top: 10%;

      &:not(.fondInterface) {
        background-color: transparent !important;
      }
    }

    img.picto-logo-splash {
      width: 128px !important;
      margin-top: -80px;
    }

    .fondInterface {
      background-size: cover !important;

      img.picto-logo-app {
        width: 9% !important;
        margin-top: 65%;
        position: absolute !important;
        transform: initial !important;
        margin-left: -3%;

        &.picto-logo-perso {
          margin-top: 63% !important;
        }
      }
    }

    .parameters-inside {
      padding-right: 15px;

      &.current {
        display: block;
      }

      .range-slider {
        margin-top: 40px;
        padding-left: 0;
      }

      .field.beacon-ray, .field.time-max {
        margin-top: 35px;

        .label {
          margin-bottom: 0;
        }
      }

      .params-btn {
        text-align: right;
        margin-top: 40px;

        a:first-child {
          margin-right: 15px;
          position: relative;
        }

        &.interface {
          margin-top: 50px;
          margin-right: -100px;
          position: fixed;
          bottom: 50px;
          right: 47%;
          z-index: 1;
        }
      }

      .scoring-icon {
        background-image: url('assets/img/params/pictos-money.png');
        background-size: cover;
        height: 20px;
        width: 20px;

        &.Energy {
          background-position: -28px;
        }

        &.Leaf {
          background-position: -58px;
        }

        &.Bulb {
          background-position: -93px;
        }

        &.Bulb {
          background-position: -93px;
        }

        &.Diamond {
          background-position: -128px;
        }

        &.Star {
          background-position: -160px;
        }
      }

      .colors-choice-block {
        display: flex;
        margin-top: 20px;

        .color-choice {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          cursor: pointer;
          position: relative;
          margin-right: 10px;

          &.violet {
            background-color: $violet;
          }

          &.red {
            background-color: $red-appli;
          }

          &.blue {
            background-color: $blue-appli;
          }

          &.orange {
            background-color: $orange-appli;
          }

          &.green {
            background-color: $green-appli;
          }

          .fa-check {
            position: absolute;
            left: 50%;
            top: 50%;
            color: white;
            transform: translateX(-50%) translateY(-50%);
          }
        }
      }

      .add-logo-image {
        margin-top: 30px;
        margin-bottom: 28px;

        p {
          margin-top: -7px;
        }

        .logo-image-block {
          position: relative;

          input {
            display: none;
          }

        }
      }

      .logo-image-block {
        margin-bottom: 50px;
      }

      .add-map-image {
        p {
          margin-top: -7px;
        }

        .map-image-block {
          input {
            display: none;
          }
        }
      }

      .aperçu-logo-image {
        width: 130px;
        display: block;
        margin-top: 70px;
        border-radius: 20%;
        height: 130px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $greyish-white;
        margin-left: 24px;
        cursor: pointer;
        width: 90%;
        height: 148px;
        border-radius: 20px;
      }

      .label-input {
        cursor: pointer;
        color: $violet;
        font-weight: bold;
        padding: 14px 25px;
        border: solid 2px $violet;
        border-radius: 15px;
        font-size: 11px;
        position: relative;
        top: 30px;
        transition: ease all 0.2s;

        i {
          position: relative;
          left: -6px;
        }

        &:hover {
          background-color: $violet;
          color: white;
        }
      }

    }

    &.image {
      .parameters-illu {
        display: none;
        height: 100%;
        position: relative;

        &.current {
          display: block;
        }

        img {
          width: 324px;
          top: 50%;
          position: absolute;
          transform: translateY(-50%) translateX(-50%);
          left: 50%;
        }

        .beacon-illu {
          img {
            width: 180px;
            transform: translateY(90px) translateX(14px);
          }
        }
      }

      .illu-interface {
        width: 102%;
        background-repeat: no-repeat;
        background-size: contain;
        padding-bottom: 209%;
        position: absolute;
        top: 11%;
      }
    }

    .parameters-side-nav {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      li {
        margin: 25px 0;
        cursor: pointer;
        color: $pinkish-grey;
        font-weight: 500;
        transition: color ease 0.3s;

        &.active-tab {
          color: $violet-lighter;
        }

        i {
          position: relative;
          height: 40px;
          margin-right: 5px;

          &:not(.fa-mobile)::after {
            content: " ";
            position: absolute;
            width: 1px;
            height: calc(100% - 15px);
            background-color: rgba($violet, 0.458824);
            left: 8px;
            top: 30px;
          }

          &.fa-mobile {
            margin-left: 4px;
          }
        }

      }
    }
  }
}
