.event-waypoint {
  overflow: hidden;

  .waypoint-card {
    cursor: auto;
  }

  .event-waypoint-content {
    margin-top: 110px;

    .team-list {
      border-radius: 15px !important;
      box-shadow: 0 0 3px 0px rgba(0, 1, 0, 0.2);
      margin-bottom: 50px;

      .card-header-icon, .card-header-title {
        color: $charcoal-grey;
      }
    }

    .team-selected {
      color: $pinkish-grey;
      position: relative;
      display: flex;

      .team-edit {
        font-size: 13px;
        border-bottom: 1px solid;
        margin-left: 25px;
        position: absolute;
        top: 50%;
        color: $charcoal-grey;
        right: 0;
        transform: translateY(-50%);
        cursor: pointer;

        &:hover {
          border-bottom: 1px solid transparent;
        }

        i {
          margin-right: 4px;
        }
      }

      .control {
        margin-left: 6px;

        select {
          border: none;
        }
      }

      .team-selected-label {
        margin-right: 15px;

        span {
          margin-left: 12px;
        }
      }

      .selectScenar {
        position: relative;
        left: -19px;

        select {
          font-weight: 600;
          color: $pinkish-grey;
        }

        .select {
          &::after {
            border-color: $pinkish-grey;
          }
        }
      }
    }

    h1 {
      margin-bottom: 0;
    }

    h5 {
      margin-bottom: 35px;
    }

    .team-list-content {
      display: flex;

      .team-card {
        margin-right: 28px;
        padding: 15px;
        border-radius: 35px;
        text-align: center;
        border: solid 2px $violet;
        cursor: pointer;
        transition: ease all 0.3s;
        position: relative;

        .fa-trash-alt {
          color: $strawberry;
          position: absolute;
          top: -9px;
          right: -2px;
          background: white;
          padding: 8px;
          border-radius: 50%;
          font-size: 13px;
          border: solid 2px $violet;
          display: none;
        }

        &.current {
          .fa-trash-alt {
            display: block;
          }
        }

        h1 {
          font-size: 25px;
          margin-bottom: 7px;
          color: $violet;
        }

        h5 {
          margin-bottom: 10px;
          color: $violet;
        }

        &:hover, &.current {
          background-color: $violet;

          h1, h5 {
            color: white;
          }
        }
      }

      .team-add-card {
        padding: 23px 36px;
        border-radius: 35px;
        text-align: center;
        border: solid 2px $pinkish-grey;
        cursor: pointer;
        transition: ease all 0.3s;
        text-align: center;

        h1 {
          color: $pinkish-grey;
          font-size: 21px;
          transition: ease all 0.3s;

          i {
            display: block;
            margin-bottom: 5px;
          }
        }

        &:hover {
          border: solid 2px $warm-grey;

          h1 {
            color: $warm-grey;
          }
        }
      }

    }
  }

  .modal-content {
    height: 610px;
    text-align: center;

    .add-scenar-btns {
      margin-top: 40px;

      a.btn-form-primary {
        color: white;
        border: 3px solid white;
        margin-right: 20px;

        &:hover {
          background-color: white;
          color: $charcoal-grey;
        }
      }

      a.btn-form-secondary {
        color: $charcoal-grey;
        background-color: white;
        border: 3px solid white;
      }
    }
  }

  .addTeam-modal {
    margin-top: 130px;

    .content {
      width: 720px;
      text-align: center;

      .control {
        text-align: center;
      }

      input, select {
        width: 210px;
      }

      .field {
        &:first-child {
          margin-bottom: 30px;
        }

        &:nth-child(2) {
          margin-bottom: 18px;
        }
      }

    }
  }

  .deleteModal {
    padding-top: 320px;
    cursor: auto;

    .content {
      width: 590px;
      text-align: center;
      min-height: 162px;
    }

    h1 {
      position: absolute;
      top: 50%;
      transform: translateY(-55%) translateX(-50%);
      font-size: 27px !important;
      left: 50%;
      width: 500px;
      font-weight: 500;
      line-height: 41px;
      color: $charcoal-grey !important;
    }

    .btn-form-secondary {
      background-color: $strawberry;
      color: white;
    }
  }

  .waypoint-banner {
    position: relative;

    .beacon-add {
      width: 62px;
      height: 59px;
      border-radius: 29.5px;
      position: absolute;
      margin-left: -159px;
      top: -29px;
      padding-top: 8px;

      &.inactif {
        background-color: $greyish-whiter;
      }

      &.actif {
        background-color: $blue-dark;
      }

      .beacon-inactif {
        display: none;

        &.not-over {
          display: inline-block;
        }

        &.inactif {
          display: none;
        }
      }

      .beacon-actif {
        display: none;

        &.not-over {
          display: inline-block;
        }

        &.inactif {
          display: none;
        }
      }


      .fa-plus {
        display: none;
        font-size: 25px;
        text-align: center;
        color: $faded-blue-three;
        line-height: 44px;

        &.inactif {
          &.over {
            display: inline-block;
          }
        }

      }

      .fa-minus {
        display: none;
        font-size: 25px;
        text-align: center;
        color: white;
        line-height: 44px;

        &.actif {
          &.over {
            display: inline-block;
          }
        }


      }
    }

  }

  .beacon-add-modal {
    padding-top: 100px;

    .modal-content {
      max-height: 900px;
      height: 840px;
    }

    .addBeacon-modal {
      width: 870px;
      height: 815px;

      img {
        margin-bottom: 25px;
      }

      h1 {
        span {
          font-size: 21px;
          padding: 6px 17px;
          border-radius: 25px;
          background-color: $charcoal-grey;
          margin-left: 14px;
          display: inline-block;
          position: relative;
          top: -3px;
          color: white;
          font-weight: 500;
        }
      }

      a {
        position: relative;
        top: 42px;
      }
    }
  }

  .ScenarioWaypoint {
    .waypoint-card .waypoint-bottom .waypoint-number span {
      bottom: -168px !important;
    }
  }
}
