.event-list-block {
  margin-top: 80px;

  %state-event-default {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid white 5px;

    &.testing {
      background-color: $tangerine;
    }

    &.disable {
      background-color: $pinkish-grey;
    }

    &.online {
      background-color: $shamrock-green;
    }

    &.blocked {
      background-color: $strawberry;
    }
  }

  .event-list-menu-full {
    position: fixed;
    top: 80px;
    width: 100vw;
    right: 0;
    left: 0;
    height: 100vh;
    z-index: 2;
    background: white;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateX(-100vw);
    padding-top: 59px;

    &.display {
      transform: translateX(0);
    }

    .event-full-menu-card {
      min-height: 173px;
      border-radius: 20px;
      background-color: #ffffff;
      box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
      margin-bottom: 15px;
      transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

      h3 {
        margin-top: 36px;
      }

      &.add {
        margin-top: -14px;
        box-shadow: none;
        border: solid 8px $pinkish-grey;
        height: 176px;
        position: relative;
        border-radius: 20px;
        cursor: pointer;
        transition: all ease 0.4s;

        .fa-plus {
          text-align: center;
          width: 100%;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          font-size: 55px;
          color: #c7c7c7;
          transition: all ease 0.4s;

          &:hover {
            color: $grey-lighter;
          }
        }

        &:hover {
          border: solid 8px $grey-lighter;
        }
      }

      @media screen and (max-width: 1088px) {
        &.add {
          height: 286px;
        }
      }

      .event-logo {
        text-align: center;
        padding-top: 16px;
        position: relative;
        width: 130px;
        margin: 0 auto;

        img {
          max-width: 110px;
        }
      }

      .state-event {
        @extend %state-event-default;
        right: 1px;
        top: 10px;
        width: 33px;
        height: 33px;
      }
    }

    .fa-chevron-left {
      position: absolute;
      right: 100px;
      font-size: 45px;
      top: 50%;
      transform: translateY(-50%);
      color: $pinkish-grey;
      cursor: pointer;
      transition: all ease 0.4s;

      &:hover {
        color: $grey-lighter;
      }
    }
  }

  .event-list-menu-block {
    position: fixed;
    height: 100%;
    margin-left: 14px;
    transform: translateX(-85%);
    text-align: right;

    .event-list-menu-mini {
      display: none;
      margin-right: 40px;
      margin-top: 7%;
    }

    .event-list-menu-card {

      min-height: 176px;
      background-color: #ffffff;
      box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
      position: relative;
      border-radius: 20px;
      margin-bottom: 40px;
      transform: translateX(-240px);
      transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);

      img {
        max-width: 99px;
        position: relative;
        top: 70%;
        transform: translateY(20%);
        right: 70px;
      }

      h3 {
        text-align: center;
        position: absolute;
        right: 74px;
        top: 131px;
        width: 240px;
        right: 0;
      }

      &.add {
        box-shadow: none;
        border: solid 8px $pinkish-grey;
        height: 176px;
        position: relative;
        border-radius: 20px;
        margin-bottom: 40px;
        cursor: pointer;
        transition: all ease 0.4s;

        &:hover {
          border: solid 8px $grey-lighter;

          .fa-plus {
            color: $grey-lighter;
          }
        }

        .fa-plus {
          text-align: center;
          width: 213px;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          font-size: 55px;
          color: $pinkish-grey;
          transition: all ease 0.4s;
        }
      }

    }

    .fa-bars, .fa-chevron-right, .side-menu {
      font-size: 45px;
      transform: translateY(-100%) translateX(-150px);
      position: absolute;
      top: 50%;
      color: $pinkish-grey;
      transition: all ease 0.4s;
    }

    .fa-chevron-right {
      cursor: pointer;
      transform: translateY(-100%) translateX(-60px);

      &:hover {
        color: $grey-lighter;
      }
    }

    .fa-bars, .side-menu  {
      opacity: 0;
    }

    .side-menu {
      font-size: 25px;
      font-weight: 500;
      border-bottom: solid 2px;
    }

    .state-event {
      @extend %state-event-default;
      right: 61px;
      top: 9px;
      width: 35px;
      height: 35px;
    }

  }

  @media screen and (min-width: 1500px) {

    .event-list-menu-block {

      .fa-bars, .side-menu {
        opacity: 1;
      }

      .fa-chevron-right {
        opacity: 0;
        transform: translateY(-100%) translateX(0);
      }

      .event-list-menu-mini {
        display: block;
      }

      .event-list-popin {
        transform: translateX(-240px);
      }

      .event-list-menu-mini {
        .event-list-popin {
          transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

          &:first-child {
            transform: translateX(-240px);
          }

          &:nth-child(2) .event-list-menu-card {
            transform: translateX(-240px);
          }

          &:nth-child(3) .event-list-menu-card {
            transform: translateX(-240px);
          }
        }
      }

      &:hover {
        .event-list-menu-mini {
          display: block;
          transform: translateX(0);

          .event-list-popin {
            transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);

            &:first-child {
              transform: translateX(0);
            }

            &:nth-child(2) .event-list-menu-card {
              transform: translateX(0);
              transition-delay: 0.1s;
            }

            &:nth-child(3) .event-list-menu-card {
              transform: translateX(0);
              transition-delay: 0.3s;
            }
          }
        }

        .fa-bars, .side-menu {
          opacity: 0;
        }

        .fa-chevron-right {
          opacity: 1 !important;
        }
      }
    }

  }

  .event-list-card {
    min-height: 656px;
    border-radius: 45px;
    background-color: #ffffff;
    box-shadow: 0 0 13px 0 rgba(0, 1, 0, 0.2);
    margin-top: 60px;
    margin-bottom: 30px;

    img.logo-event-list {
      max-width: 162px;
    }

    .event-list-description {
      margin-top: 116px;

      h1 {
        margin-top: 29px;
      }

      p {
        color: $warm-grey;
        text-align: center;
      }

      .btn {
        margin-top: 20px;
      }

      .state-event {
        @extend %state-event-default;
        right: -9px;
        top: -13px;
      }
    }

    .event-logo {
      position: relative;
      max-width: 162px;
      margin: 0 auto;
    }

  }



  .event-stat-card-block {
    margin-top: 70px;
  }

  .event-stat-card {
    height: 206px;
    border-radius: 20px;
    color: white;
    margin-bottom: 38px;

    .fas, .fa, .far {
      font-size: 86px !important;
    }

    &.visitor {
      background-color: $lightblue;
    }

    &.scans {
      background-color: $faded-blue-two;
    }

    &.photos {
      background-color: $faded-blue;
    }

    &.time {
      background-color: $seafoam-blue;
    }

    .card-description {
      height: 48px;
      font-size: 17px;
      text-align: center;

      @media screen and (min-width: 1600px) {
        font-size: 22px;
      }
    }

  }

  .new-event-modal {
    .modal-content {
      height: 100vh;
      max-height: none;
      padding-top: 140px;
    }
  }

  .new-event-modal-content {
    width: 813px;
    height: 637px;

    .card-content {
      padding: 110px;
      padding-top: 20px;
      padding-bottom: 57px;
    }

    h1 {
      font-size: 32px;
      color: $violet;
      font-weight: 600;
      line-height: 38px;
      margin-bottom: 66px;
    }

    label {
      font-size: 15.5px;
    }

    .event-id-wrap {
      position: relative;

      .tooltip {
        position: absolute;
        right: 360px;
        top: 2px;
        cursor: pointer;
      }
    }

    .field {
      margin-bottom: 22px;
    }

    .validate-btns  {
      position: relative;
      z-index: 20;
    }

    .select, select {
      width: 100%;
    }
  }

  #no-event-wrap {
    text-align: center;
    height: 85vh;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;

    #event-empty-btn {
      margin-top: 35px;
    }
    
    .empty-msg {
      font-size: 18px;
      font-weight: bold;
      font-style: italic;
      margin-top: 25px;
    }
  }


}
