.faq-page {
  margin-top: 110px;

  .search-question {
    margin-bottom: 27px;
  }

  #poidsArray {
    .table {
      background-color: $greyish-whiter;
    }
  }

  #listAutorisations {
    li {
      margin-bottom: 15px;
    }
  }

  .card-header {
    height: 58px;
    line-height: 18px;

    .card-header-title {
      p {
        color: $violet;
      }
    }

  }

  .no-result-wrap {
    p {
      font-size: 18px;
      font-weight: bold;
      font-style: italic;
      margin-bottom: 96px;
    }

    img {
      margin-bottom: 106px;
    }
  }

  .useful-answer {
    font-weight: 500;

    .fas, .far {
      font-size: 21px;
      cursor: pointer;

      &.fa-smile {
        margin-right: 3px;
      }
    }
  }

}

.faq-form-page {
  margin-top: 110px;

  .big-title {
    margin-bottom: 55px;
  }

  input {
    margin-bottom: 25px;
  }

  .btn-form-wrap {
    margin-top: 60px;

    a:first-child {
      margin-right: 20px;
    }
  }

  .faq-back-modal-wrap {
    .modal-content {
      height: 230px;
    }

    .faq-back-modal {
      width: 454px;
      height: 126px;
      margin-bottom: 30px;
    }

    .add-scenar-btns {
      .btn-form-secondary {
        background: white;
        color: $charcoal-grey;
        border-color: white;
      }

      .btn-form-primary {
        border-color: white;
        color: white;

        &:hover {
          background-color: white;
          color: $charcoal-grey;
        }
      }

      a:first-child {
        margin-right: 15px;
      }
    }

    .faq-back-wrap {
      display: flex;

      i {
        font-size: 59px;
        margin-top: 10px;
        margin-left: 20px;
        color: $violet;
      }

      p {
        padding: 15px;
        font-weight: 500;
      }
    }
  }
}
