@import 'variables';

.main-header {
  box-shadow: 4px 0 10px 0 rgba(90, 90, 90, 0.2);
  background: $violet;
  min-height: 80px !important;
  z-index: 60 !important;

  .logo-submenu {
    .dropdown-trigger {
      button {
        background-color: transparent !important;
        border: none;
        min-width: 180px;
        min-height: 66px;
        padding: 20px;
      }

      .icon {
        position: relative;
        left: 9px;
        color: white;
      }
    }

    .navbar-link {
      display: block !important;
      padding: 0 !important;
      position: relative;
      left: 41px;

      &:hover {
        background-color: transparent !important;
      }

      &::after {
        border-color: white !important;
        display: block !important;
      }
    }

  }

  .dropdown-menu {
    border: none;
    margin-top: -4px;
    z-index: 100;

    .dropdown-content {
      margin-left: 20px;
      min-width: 278px;
      border-radius: 0px 0 20px 20px;
      box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
      border: none !important;
    }
  }

  .dropdown-main-menu {
    padding: 0;

    a {
      display: flex;
      padding: 10px;
      font-size: 22px !important;
      color: #4b4c4d !important;
      font-weight: 400 !important;
      transition: all ease 0.2s;

      .fa-angle-right {
        position: absolute;
        right: 10px;
        top: 68px;
      }

      .sub-dropdown {
        display: none;
        position: absolute;
        left: 274px;
        border-radius: 0 5px 5px 0;
        width: 100%;
        background: white;
        box-shadow: black;
        box-shadow: rgba(90, 90, 90, 0.2) 0px 0px 6px 0px;
        border: solid 1px gainsboro;
        padding: 0;
        top: 54px;
        border-radius: 7px;
        z-index: -1;

        a {
          padding-left: 25px;
        }
      }

      &:hover {
        background-color: $grey-lighter;

        .sub-dropdown {
          display: block;
        }
      }

      img {
        width: 30px;
        height: 30px;
        margin-right: 14px;
        margin-left: 9px;
      }
    }
  }

  .account-option {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 89%;

    select {
      border: none;
      background: none;
      color: white;

      &:focus {
        box-shadow: none !important;
      }
    }

    .select {
      &::after {
        border-color: white !important;
      }
    }

  }
}
