@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon.eot?15dkl7');
  src:  url('assets/fonts/icomoon.eot?15dkl7#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon.ttf?15dkl7') format('truetype'),
    url('assets/fonts/icomoon.woff?15dkl7') format('woff'),
    url('assets/fonts/icomoon.svg?15dkl7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Download:before {
  content: "\e929";
}
.icon-RA:before {
  content: "\e928";
}
.icon-x-rotate:before {
  content: "\e91e";
}
.icon-y-rotate:before {
  content: "\e91f";
}
.icon-move:before {
  content: "\e920";
}
.icon-quit:before {
  content: "\e921";
}
.icon-rotation:before {
  content: "\e922";
}
.icon-rotate:before {
  content: "\e923";
}
.icon-Rotate_Stop:before {
  content: "\e924";
}
.icon-Save:before {
  content: "\e925";
}
.icon-Size:before {
  content: "\e926";
}
.icon-add_beacon .path1:before {
  content: "\e91c";
  color: rgb(66, 133, 244);
}
.icon-add_beacon .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-assigner .path1:before {
  content: "\e91a";
  color: rgb(234, 42, 65);
}
.icon-assigner .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-bloque:before {
  content: "\e914";
}
.icon-buy:before {
  content: "\e915";
}
.icon-debloque:before {
  content: "\e916";
}
.icon-pause:before {
  content: "\e917";
}
.icon-reload:before {
  content: "\e918";
}
.icon-valide:before {
  content: "\e919";
}
.icon-delete2:before {
  content: "\e911";
}
.icon-infos:before {
  content: "\e912";
}
.icon-plus:before {
  content: "\e913";
}
.icon-heart:before {
  content: "\e910";
}
.icon-quizz:before {
  content: "\e90f";
}
.icon-digicode:before {
  content: "\e927";
}
.icon-arrow_left:before {
  content: "\e901";
}
.icon-arrow_right:before {
  content: "\e902";
}
.icon-delete .path1:before {
  content: "\e903";
  color: rgb(29, 29, 27);
}
.icon-delete .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-edit .path1:before {
  content: "\e905";
  color: rgb(29, 29, 27);
}
.icon-edit .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-image:before {
  content: "\e907";
}
.icon-link:before {
  content: "\e908";
}
.icon-movie:before {
  content: "\e909";
}
.icon-music:before {
  content: "\e90a";
}
.icon-preview .path1:before {
  content: "\e90b";
  color: rgb(29, 29, 27);
}
.icon-preview .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-preview .path3:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-text:before {
  content: "\e90e";
}
.icon-cross:before {
  content: "\e900";
}
