@import 'variables';

.login-page {
  width: 100vw;
  background-image: url('assets/img/background-aug.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%
}

.login-box {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  height: 100vh;

  .fa-eye, .fa-eye-slash {
    color: $violet !important;
  }
}

.login-block {
  background-color: #fff;
  border-radius: 40px;
  min-height: 630px;

  .logo-img {
    width: 191px;
    height: 154px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;
  }

  label {
    font-weight: 700;
    color: #9a9999;
    font-size: 15px;
    margin-bottom: 0px;
    position: relative;
    bottom: 5px;
  }

  .input-password {
    display: inline-block;
    margin-top: 10px;
  }

  a.password-forget {
    position: absolute;
    right: 0;
    top: -6px;
    font-weight: 700;
    color: #9a9999;
    font-size: 15px;
    transition: ease all 0.4s;

    &:hover {
      color: $iris !important;
    }
  }

  .login-socials {
    position: absolute;
    bottom: 3px;
    width: 100%;
  }

  .login-socials a {

    &:not(:last-child) {
      margin-right: 60px;
    }

    svg {
      width: 25px;
      height: 20px;
      fill: #010002;
      transition: all 0.2s ease;
    }

    &:last-child svg {
      height: 28px;
      position: relative;
      bottom: -5px;
      left: -5px;
    }

    &:first-child:hover svg {
      fill: $twitter;
    }

    &:nth-child(2):hover svg {
      fill: $linkedin;
    }

    &:nth-child(3):hover svg {
      fill: $instagram;
    }
  }
}

.login-credits {
  position: absolute;
  bottom: -55px;
  width: 100%;

  p {
    color: white;
  }

  svg {
    width: 11px;
    height: 9px;
    fill: white;
  }

  img {
    width: 118px;
    height: 29px;
    position: relative;
    top: 10px;
    left: 3px;

  }
}

.login-forget-block {
  padding-top: 50%;
  position: relative;

  .forget-return {
    position: absolute;
    top: 9px;
    left: 10px;

    a {
      color: $violet;
      font-weight: 600;
      transition: ease all 0.5s;

      &:hover {
        color: $violet-lighter;
      }

      i {
        margin-right: 5px;
      }
    }
  }
}
