.menu-event-block {
  overflow-y: hidden;
  height: 100vh;

  .side-bar-open {
    position: fixed;
    top: 106px;
    text-align: center;
    padding-left: 17px;
    color: $charcoal-grey;
    font-weight: 500;
    z-index: 5;
    cursor: pointer;

    @media screen and (min-width: 1106px) {
      display: none;
    }
  }
}

.menu-event {
  margin-top: 80px;
  padding-top: 30px;
  height: 100%;
  background-color: $greyish-whiter;
  position: fixed;
  transform: translateX(0);
  transition: ease 0.4s transform;

  @media screen and (max-width: 1106px) {
    width: 20%;
    transform: translateX(-350px);
  }

  &.open {
    transform: translateX(0);
    padding-top: 100px;
  }

  a {

    &:hover {
      background-color: $greyish-white;
    }

    &.is-active {
      color: $charcoal-grey;
      background-color: $greyish-white;
      border-right: solid 3px $violet;
    }
  }

  h3.menu-label {
    font-size: 18px;
    margin-bottom: 40px;
    color: $charcoal-grey;
    padding: 0 13px;
  }

  p.menu-label {
    padding-left: 23px;
    margin-top: 20px;
    margin-bottom: 18px;
  }

  a {
    font-size: 1rem;
    font-weight: 500;
    height: 42px;
    line-height: 27px;
    padding-left: 22px;
  }

  ul.menu-list:first-child {
    position: relative;
    top: 30px;
    margin-bottom: 50px;
  }

  .event-name {
    select {
      border: none;
      background: none;
      padding-left: 24px;
      font-weight: 700;
    }
  }

  .calendar-root {
    .input-date {
      border: none;
      padding: 7px 20px;
    }
  }

  #stats-events-list {
    background: none;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    top: -10px;

    span {
      text-transform: uppercase;
    }

    .dropdown-trigger {
      width: 100%;
    }

    .button {
      background: none;
      border: none;
      width: 100%;
      text-align: center;
      display: inline-block;
      font-weight: 700;

      .icon {
        position: relative;
        top: 3px;
      }
    }

    .dropdown-menu {
      width: 100%;

      .dropdown-item {
        text-align: center;
      }
    }
  }

}
