.order-list-page {
  margin-top: 110px;

  h1.big-title {
    margin-bottom: 78px;
  }

  .cartel {
    height: max-content;
    margin-top: 38px;
    margin-right: 19%;
    background-color: $strawberry;

    &.archived {
      background-color: $pinkish-grey;
    }

    &.waitingPayment, &.waitingValidation{
      background-color: $strawberry;
    }

    &.draft{
      background-color: $tangerine;
    }

    &.finished {
      background-color: $shamrock-green;
      margin-right: 20%;
    }
  }

  .order-card {
    margin-bottom: 37px;
    box-shadow: none;

    .card-header {
      border-radius: 40px;
      background-color: $greyish-whiter;
      height: 109px;
      border: solid 2px $violet;
      transition: ease all 0.2s;

      &.active, &:hover {
        border: solid 2px $charcoal-grey;

        i {
          &::before {
            color: $charcoal-grey !important;
          }
        }
      }
    }

    .card-header-title {
      display: block;
      padding-left: 30px;
      padding-top: 18px;

      p:first-child {
        color: $violet;
      }
    }

    .card-header-icon {
      .icon {
        padding-right: 40px;

        i {
          &::before {
            font-size: 44px;
            color: $violet;
          }
        }
      }
    }

    .card-content {
      background-color: $greyish-whiter;
      width: 92%;
      margin: auto;
      border-radius: 0 0 20px 20px;

      ul {
        li {
          list-style: none;
          font-weight: 500;
        }
      }
    }
  }


}

.order-card {
  margin-bottom: 37px;
  box-shadow: none;

  .card-header {
    border-radius: 40px;
    background-color: $greyish-whiter;
    height: 109px;
    border: solid 2px $violet;
    transition: ease all 0.2s;

    &.active, &:hover {
      border: solid 2px $charcoal-grey;

      i {
        &::before {
          color: $charcoal-grey !important;
        }
      }
    }
  }

  .card-header-title {
    display: block;
    padding-left: 30px;
    padding-top: 18px;

    p:first-child {
      color: $violet;
    }
  }

  .card-header-icon {
    .icon {
      padding-right: 40px;

      i {
        &::before {
          font-size: 44px;
          color: $violet;
        }
      }
    }
  }

  .card-content {
    background-color: $greyish-whiter;
    width: 92%;
    margin: auto;
    border-radius: 0 0 20px 20px;

    ul {
      li {
        list-style: none;
        font-weight: 500;
      }
    }
  }

}
