.realtime-page {
  background-color: $violet;
  // padding-bottom: 15px;
  height: 101vh;

  .realtime-banner-logo {
    width: 100%;

    svg {
      left: 50%;
      transform: translateX(-49%);
      position: absolute;
      z-index: 1;
      top: 27px;

      path {
        fill: $violet;
      }
    }
  }

  .realtime-header {
    .ranking-header {
      padding-top: 30px;

      img.realtime-logo {
        width: 18%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        top: 40px;
      }

    }
  }

  .realtime-date-block {
    padding-bottom: 10px;
    padding-top: 30px;

    #time, #date {
      color: white;
      float: right;
      padding-right: 20px;
      font-size: 30px;
      font-weight: 500;
    }

  }

  .realtime-body {

    .trophy-wrap {
      padding: 0;
      padding-top: 12px;
    }

    .ranking-block {
      width: 100%;
      background-color: white;
      height: 900px;
      border-radius: 0 50px 50px 0;
      position: absolute;
      margin-bottom: 60px;
      padding-top: 120px;

      .trophy-second, .trophy-third {
        padding-top: 40px;
      }

      .podium-block {
        margin-bottom: 40px;

        h1 {
          font-weight: 500;
          font-style: 25px;
        }

        h2 {
          font-size: 27px;
          margin-top: -14px;
        }
      }

      .board-block {
        font-size: 24px;

        .board-line {
          display: flex;
          width: 92%;
          padding-left: 50px;
          text-align: left;
          margin-top: 25px;

          .board-number {
            width: 60px;
          }

          .board-pseudo {
            width: 75%;
          }

          .board-points {
            width: 20%;
          }
        }
      }
    }

    .photos-wrap {
      margin-left: 20px;
      padding-top: 25px;

      .big-photo-wrap {
        height: 100%;

        .big-photo-content {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          .big-photo {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }
        }
      }

      .little-photos-wrap {
        display: flex;
        flex-wrap: wrap;
        height: 49px;
        width: 490px;
        margin-top: 210px;

        .little-photo {
          width: 145px;
          height: 146px;
          border-radius: 10px;
          border: solid 1px $violet;
          margin-right: 10px;
          margin-bottom: 10px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
      }

      .photos-block {
        width: 100%;
        background-color: white;
        height: 900px;
        border-radius: 50px 0px 0px 50px;
        position: relative;
        margin-bottom: 60px;
      }

      .big-photo {
        width: 386px;
        height: 452px;
        border-radius: 10px;
        border: solid 1px $violet;
      }
    }
  }

  .realtime-footer {
    margin-top: -74px;

    h1 {
      color: white;
      font-weight: 400;
      font-size: 33px;
      text-transform: uppercase;

      span {
        font-weight: 600;
      }
    }
  }

}
