.scenario-form-page {
  .scenario-form {
    margin-top: 110px;

    @media screen and (max-width: 1106px) {
      margin-left: 15px;
    }

    .little-input {
      input {
        width: 110px;
      }
    }

    .modal-content {
      max-width: 940px;
      height: 380px;
      min-height: 753px;
      text-align: center;
    }

    .addScenar-modal {
      width: 841px;
      min-height: 663px;
    }

    .add-intro-btns {
      margin-top: 40px;

      .btn-form-primary {
        color: white;
        border: 3px solid white;
        margin-right: 20px;

        &:hover {
          background-color: white;
          color: $charcoal-grey;
        }
      }

      .btn-form-secondary {
        color: $charcoal-grey;
        background-color: white;
        border: 3px solid white;

        &:hover {
          background-color: $greyish-white;
          border: 3px solid $greyish-white;
        }
      }
    }

  }

  .picture-input {

    .preview-container {
      width: 145px;
      height: 180px;
    }

    input {
      display: none;
    }

    .picture-preview {
      border-radius: 25px;
      width: 100%;
      height: 100% !important;
      z-index: 10 !important;
      position: relative;
      box-sizing: border-box;
      background-color: #ececec;
      background-image: url('/build/images/upload-placeholder.440daeee.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      cursor: pointer;
      transition: ease all 0.4s;
    }

    button {
      position: relative;
      top: -37px;
      z-index: 500000;
      font-size: 12px;
      left: 18px;
      opacity: 0;
      transition: ease all 0.4s;
    }

    &:hover {
      button {
        opacity: 1;
      }
    }
  }

  .scenario-form-header {

    .scenario-thumb {
      max-height: 196px;

      .file-upload-wrap {
        margin-bottom: 7px;
        position: relative;
        margin-right: 20px;

        &:hover {
          .remove-image {
            opacity: 1;
          }
        }

        .remove-image {
          position: absolute;
          top: 275px;
          left: 10px;
          opacity: 0;
        }

        .custom-file-up {
          display: inline-block;
          cursor: pointer;
          width: 100%;
          height: 290px;
          border-radius: 25px;
          background-color: $greyish-white;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;

          img {
            position: relative;
            top: 55px;
          }
        }

        .input-image {
          margin-left: -112px;
          position: relative;
          top: -180px;
          height: 168px;
          width: 150%;
          cursor: pointer;
          opacity: 0;
        }
      }
    }

    .title-input {
      margin-top: -20px;
      margin-bottom: 0px;

      input {
        border: none;
        font-size: 35px;
        color: $violet;
        font-weight: 600;
        padding: 0;
      }
    }

    .description-input {
      max-height: 80px;

      textarea {
        border: none;
        padding-left: 0;
        min-height: 50px !important;
        resize: none;
      }
    }

    .back-block {
      text-align: right;

      i {
        margin-right: 10px;
      }

      a {
        white-space: nowrap;
      }
    }

    .waypoint-number {
      font-weight: 600;
    }

    .little-input {
      label {
        font-size: 15px;
      }
    }

    .print-block {
      display: flex;

      .button.is-primary, .file-name  {
        margin-top: 31px;
      }

      .file-name {
        color: $violet;
        font-weight: 500;
        border: none;
      }

      .button.is-primary {
        background-color: $violet;
        border-radius: 10px;
        font-weight: 500;
      }

      .has-addons {
        width: 70%;
      }
    }
  }

  .control.has-icons-left .icon.is-left {
    left: 7px;
  }

  .scoring-icon {
    background-image: url('assets/img/params/pictos-money.png');
    background-size: cover;
    height: 20px;
    width: 20px;

    &.energy {
      background-position: -28px;
    }

    &.leaf {
      background-position: -58px;
    }

    &.bulb {
      background-position: -93px;
    }

    &.bulb {
      background-position: -93px;
    }

    &.diamant {
      background-position: -128px;
    }

    &.star {
      background-position: -160px;
    }
  }

  .params-scenar-wrap {
    text-align: left;
    margin-top: 45px;
    padding: 0 65px;

    .field:not(:last-child) {
      margin-bottom: 18px;
    }

    .range-slider {
      margin-top: 45px;
    }
  }

  .params-scenar-modal .modal-content {
    min-height: 843px;
    margin-top: 75px;
    margin-top: 140px;
  }

  .scenario-form-block {
    margin-top: 50px;
    margin-bottom: 50px;
    user-select: none;

    .scenario-form-card {
      min-height: 430px;
      border-radius: 20px;
      position: relative;

      &.intro, &.ending {
        background-color: $greyish-white;
      }

      .intro-block, .ending-block {
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        position: absolute;
        transform: translateY(-50%) translateX(-50%);
        top: 50%;
        left: 50%;

        img {
          height: 100px;
          position: relative;
          top: -40px;
        }

        h4 {
          font-weight: 600;
          position: relative;
        }

        a {
          color: $violet;
          transition: ease all 0.4s;
          position: relative;
          top: 50px;
          font-size: 34px;

          &:hover {
            color: $violet-lighter;
          }
        }

        .scanned-point {
          width: 170px;
          margin: 0 auto;
          position: relative;
          z-index: 10;
          bottom: -18px;

          p {
            margin-top: -10px;
            color: $warm-grey;
            font-weight: 500;
            font-size: 1rem;
          }
        }

      }

      .intro-block {
        img {
          width: 110px;
        }
      }

      .ending-block {
        img {
          width: 100%;
        }
      }

    }

    .card-add {
      min-height: 430px;

      &__description {
        span {
          display: block;
          font-size: 25px;
          margin-top: 0;
          padding: 26px;
        }
      }
    }
  }

  .scenarIntroModal {
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    min-width: 354px;
    min-height: 555px;

    img {
      position: relative;
      top: -40px;
    }
  }

  .scenarEndModal {
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    min-width: 354px;
    min-height: 555px;

    .intro-title {
      position: relative;
      top: 10px;
      margin-top: 40px !important;
    }

    .ending-para {
      position: relative;
      top: 30px;
    }
  }

  .ending-screen-conditions {
    text-align: left;
    margin-top: 25px;

    .master-question {
      color: $warm-grey;
      font-size: 17px;
      font-weight: 500;
      margin-bottom: 15px;
      display: block;
    }

    .b-radio.radio + .radio {
      margin: 0;
    }

    .radio {
      margin-bottom: 8px !important;
    }

    .conditions-marker-options {
      display: flex;
      height: 55px;
      overflow: hidden;
      overflow-y: scroll;
      margin-bottom: 15px;

      .b-checkbox.checkbox {
        margin-right: 0.5em;
      }

      .b-checkbox.checkbox + .checkbox {
        margin-left: 0 !important;
        margin-bottom: 0.5em;
      }
    }
  }

  .endImage-block {
    position: relative;

    button {
      display: none;
      position: absolute;
      bottom: 0;
      right: 20px;
      background: white;
      border: solid 2px $violet;
      border-radius: 20px;
      padding: 9px 18px;
      font-weight: 500;
      color: $violet;
      cursor: pointer;
      transition: ease-in all 0.2s;
      font-size: 15px;
      transform: scale3d(1, 1, 1);

      &.active {
        background: $violet;
        color: white;
        display: block;
      }

      &:hover {
        background: $violet;
        color: white;
      }
    }
  }

  .slide-left {
    transform: translateX(-392px) !important;
  }

  .ending-images-block {
    width: 50%;
    float: right;
    margin-top: 7%;

    .ending-images-input {
      margin-top: 20px;
    }

    .btn-form-secondary {
      position: relative;
      top: 40px;
    }
  }

}
