.dash-head {
  background-color: $greyish-whiter;
  border-radius: 10px;
  height: 110px;
  display: flex;
  justify-content: center;

  h1 {
    font-size: 55px;
    color: $violet;
    font-weight: bold;
  }

  span {
    font-size: 17px;
    color: $charcoal-grey;
    position: relative;
    top: -20px;
  }

  i {
    font-size: 72px;
    line-height: 103px;
    margin-right: 41px;
    color: #55429f;
  }
}

.stats-dashboard-page {
  .menu-event {
    z-index: 5;
  }

  .journeys-block {
    img {
      width: 128px;
      margin-right: 20px;
    }
  }

  .visitors-block {
    .fa-users {
      font-size: 72px;
      line-height: 103px;
      margin-right: 25px;
      color: $violet;
    }
  }

  .users-block {
    img {
      width: 56px;
      height: 57px;
      margin-top: 26px;
      margin-right: 20px;
    }
  }

  .dash-block-head {
    display: flex;

    .text-style-5 {
      color: $violet;
      width: 100px;
    }

    .btn-form-primary {
      width: 190px;
      line-height: 14px;
      height: 30px;
      text-align: center;
      font-size: 13px;
    }
  }

  .reviews-block {
    background-color: $greyish-whiter;
    border-radius: 10px;
    height: 215px;
    padding: 16px 22px;
    margin-bottom: 25px;

    .average-notes {
      margin-top: 15px;

      .rating-stars {
        i {
          color: $violet;
          font-size: 2rem;
        }

        span {
          font-size: 35px;
          font-weight: bold;
          color: $charcoal-grey;
          margin-left: 15px;
        }

        p {
          font-size: 25.5px;
          font-weight: bold;
          color: $charcoal-grey;
        }
      }
    }
  }

  .ranking-block {
    padding: 16px 22px;
    min-height: 561px;
    background-color: $greyish-whiter;
    border-radius: 10px;

    h2 {
      margin-right: 50px;
    }

    .ranking-podium {
      margin-top: 45px;
    }

    .ranking-podium-element {
      p {
        font-weight: 900;
        color: $charcoal-grey;
      }

      &.first {
        p {
          color: $violet;
        }
      }
    }

    .ranking-list {
      margin-top: 5px;

      .ranking-column {
        font-weight: 900;
        color:$charcoal-grey;
        font-size: 17.5px;
      }
    }

    .cocarde {
      position: relative;
      text-align: center;

      &.small {
        margin-top: 40px;

        span {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          color: white;
          font-size: 22px;
          top: 9px;
        }

        .little-cocarde {
          width: 50px;
          height: 64px;
        }
      }

      &.big {
        span {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          color: white;
          font-size: 28px;
          top: 14px;
        }
      }

    }
  }

  .photos-block {
    min-height: 318px;
    border-radius: 10px;
    background-color: $greyish-whiter;
    padding: 16px 22px;

    .photos-sneakpeek {
      display: flex;
      margin-top: 72px;
      justify-content: center;

      .photo {
        background-color: $grey-lighter;
        border-radius: 10px;
        width: 104px;
        height: 104px;
        margin-right: 17px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  }

  .activity-block {
    min-height: 262px;
    border-radius: 10px;
    background-color: $greyish-whiter;
    padding: 16px 22px;

    .text-style-5 {
      margin-right: 25px;
    }

    #line-chart {
      max-height: 250px;
    }

    .activity-chart {
      position: relative;
      top: 15px;

      .activity-filter {
        position: absolute;
        right: 0;

        a {
          color: $violet;
          transition: ease-in all 0.1s;
          font-weight: 500;
          font-size: 11.5px;

          &:not(:last-child) {
            margin-right: 5px;
          }

          &:hover {
            font-weight: bold;
          }

          &.actif {
            font-weight: bold;
            border-bottom: solid 1px $violet;
          }
        }
      }
    }
  }

}


.stats-visitors-page {
  .visitor-content {
    margin-top: 110px;

    .visitor-progression {
      span {
        &.green {
          background-color: $shamrock-green;
          border-radius: 50%;
          width: 13px;
          height: 13px;
          display: inline-block;
        }

        &.red {
          background-color: $strawberry;
          border-radius: 50%;
          width: 13px;
          height: 13px;
          display: inline-block;
        }
      }
    }

    .visitor-name {
      position: relative;

      .fiche-btn {
        opacity: 0;
        transition: background ease 0.3s;
        position: absolute;
        top: 9px;
        width: max-content;
        left: 50%;
        transform: translateX(-50%);
      }

      span {
        transition: ease all 0.3s;
        display: inline-block;
        margin-right: 7px;
      }

      &:hover {
        .visitor-name-item, .visitor-name img {
          opacity: 0;
        }
        .fiche-btn {
          opacity: 1;
        }
      }
    }
  }
}

.stats-ranking-page {
  .ranking-content {
    margin-top: 105px;
  }

  .ranking-head {
    margin-bottom: 0;

    .big-title {
      line-height: 43px;
    }
  }

  .dash-head-content {
    padding-top: 7px !important;

    h1 {
      font-size: 39px !important;
    }

    span {
      top: 0px !important;
    }
  }

  .cocarde-content {
    position: relative;
    top: 12px;
    left: -30px;

    span {
      position: absolute;
      top: 47%;
      transform: translateY(-120%) translateX(-50%);
      color: white;
      left: 50%;
    }

    &.first {
      span {
        top: 50%;
        font-size: 28px;
        transform: translateY(-100%) translateX(-50%);
        left: 50%;
      }

    }
  }
}

.stats-feedbacks-page {
  .feedbacks-content {
    margin-top: 105px;
  }

  .feedbacks-subhead {
    margin-top: 25px;
  }

  .average-notes {
    text-align: center;
    margin-top: -12px;

    .ratings-stars {
      i {
        color: $violet;
        font-size: 2rem;
      }

      span {
        font-size: 35px;
        font-weight: bold;
        color: $charcoal-grey;
        margin-left: 15px;
      }

      p {
        font-size: 25.5px;
        font-weight: bold;
        color: $charcoal-grey;
      }
    }
  }

  .rating-histogram .vue-simple-progress-bar {
    margin-bottom: 9px !important;
  }

}

.histogram-bar {
  &:last-child {
    span:not(.vue-simple-progress-text) {
      width: 62px;
    }
  }
}

.progress-bar-wrap {
  display: flex;

  span {
    position: relative;
    right: 10px;
    top: -4px;
    font-size: 15px;
    white-space: nowrap;
    font-weight: 500;
  }

  .progress-bar {
    width: 100%;
  }
}

.stats-waypoints-page {
  .waypoints-content {
    margin-top: 105px;
  }

  .list-tab .table-wrapper {
    min-height: 67vh !important;
  }
}

.visitor-fiche-modal {
  .card-content {
    width: 841px;
    min-height: 683px;
  }

  .modal-content {
    min-height: 793px;
    margin-top: 70px;
  }

  .modal-btns {
    margin-top: 25px;

    .btn-form-primary {
      color: white;
      border: 3px solid white;
      margin-right: 20px;
      transition: ease all 0.3s;

      &:hover {
        color: $charcoal-grey;
        background-color: white;
      }
    }
  }

  h1 {
    font-size: 33.5px;
    color: $violet;
  }

  h2 {
    background-color: $violet;
    border-radius: 10px;
    color: white;
    max-width: 205px;
    margin: auto;
    font-size: 21.5px;
    padding: 6px 0;
  }

  .fiche-head {
    min-height: 48px;
    background-color: $greyish-whiter;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }

  .fiche-head-infos {
    line-height: 12px;
    text-align: left;
    position: relative;
    top: 3px;

    h3 {
      font-size: 23.5px;
      color: $violet;
      font-weight: bold;
    }

    p {
      font-size: 12px;
      color: $charcoal-grey;
      font-weight: normal;
    }
  }

  .fiche-head-wrap {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .fiche-head-block {

    &:first-child {
      img {
        width: 25px;
        height: 31px;
      }

    }

    &:nth-child(2) {
      img {
        width: 25px;
        height: 27px;
      }

    }

    &:nth-child(3) {
      img {
        width: 50px;
        height: 23px;
      }

    }

    &:nth-child(4) {
      img {
        width: 24px;
        height: 24px;
      }

      .fiche-head-infos {
        h3 {
          line-height: 41px;
        }
      }

    }

    img {
      margin-right: 15px;
      position: relative;
      top: 11px;
    }

    h3 {
      margin: 0;
    }
  }

  .fiche-general-infos {
    min-height: 197px;
    background-color: $greyish-whiter;
    border-radius: 10px;
    padding: 14px;

    .title-fiche {
      img {
        width: 17px;
        height: 17px;
      }
    }
  }

  .fiche-fil-actu {
    height: 177px;
    background-color: $greyish-whiter;
    border-radius: 10px;
    margin-top: 11px;
    padding: 14px;
    padding-right: 0;
  }

  .fiche-quizz-answer {
    background-color: $greyish-whiter;
    border-radius: 10px;
    padding: 14px;
    min-height: 387px;
  }

  .title-fiche {
    display: flex;
    margin-bottom: 20px;

    img {
      margin-right: 7px;
    }

    h3 {
      margin: 0;
      font-weight: 900;
      font-size: 16.7px;
      color: $violet;
    }
  }

  .fiche-content {
    text-align: left;
    margin-bottom: 15px;

    h4 {
      font-size: 12.5px;
      font-weight: 900;
      margin: 0;
    }

    p {
      font-size: 10.4px;
      font-weight: 500;
    }
  }

  .fiche-time-spend {
    margin-bottom: 0;
    margin-top: -10px;
  }

  .fil-actu-content {
    overflow-y: scroll;
    height: 117px;
  }

  .fil-actu-item {
    text-align: left;

    .actu-item-name {
      font-size: 12.5px !important;
      color: $charcoal-grey !important;
      font-weight: 500 !important;
    }

    .actu-timed {
      font-size: 11px !important;
      font-weight: 600 !important;
    }

    .actu-ago {
      font-size: 12px;
      display: block !important;
    }
  }

  .fiche-quizz-content {
    height: 326px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .fiche-quizz-item {
    text-align: left;

    span {
      font-size: 12px !important;
    }

    .answer-ago {
      float: right;
      margin-top: 5px;
      margin-right: 7px;
      font-weight: 500;
    }
  }

  .fiche-quizz-answer-item {
    display: block !important;
    color: $strawberry !important;

    &.good {
      color: $shamrock-green !important;
    }
  }
}

.stats-results-page {
  .results-content {
    margin-top: 105px;
  }

  .results-team-tabs {
    text-align: center;
    height: 110px;
    background-color: $greyish-whiter;
    color: $violet;
    font-size: 38px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    transition: ease all 0.3s;

    &.current {
      color: white;
      background-color: $violet;
    }
  }

  .taux-answer-wrap {
    h3 {
      text-align: left;
      font-size: 19.5px;
      color: $warm-grey;
      margin-bottom: 8px;
    }

    .vue-simple-progress {
      border-radius: 5.6px;
      background: $greyish-whiter !important;
      width: 95%;
    }

    .vue-simple-progress-bar {
      background: $violet !important;
      border-radius: 5.6px;
    }
  }

  .taux-answer-wrap {
    display: none;

    &.current {
      display: block;
    }

    span {
      float: right;
      margin-top: -20px;
      font-size: 16px;
      font-weight: bold;
      color: $warm-grey;
    }
  }

  .results-wrap {
    display: none;

    &.current {
      display: inline-flex;
    }
  }

  .results-item {
    height: 421px;
    border-radius: 10px;
    border: solid 1px $pinkish-grey;
    padding: 0 14px;
    position: relative;

    h4 {
      text-align: center;
      font-weight: 500;
      color: $warm-grey;
      margin-top: 13px;
      margin-bottom: 12px;
    }

    .results-question {
      text-align: left;
      color: $violet;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 15px;
      line-height: 17px;
    }

    .results-answers-block {
      position: absolute;
      top: 39%;
    }

    .results-answer-wrap {
      display: inline-block;
      margin-bottom: 10px;
      width: 100%;

      p {
        font-size: 10px;
        color: $charcoal-grey;
        font-weight: 600;

        &.good {
          color: $shamrock-green;
        }
      }
    }

    .results-answer-progress {
      .answer-number {
        float: left;
        position: relative;
        top: 4px;
      }

      .answer-pourcent {
        float: right;
        margin-top: -4px;
        margin-right: 15px;
      }

      span {
        font-size: 9.5px;
        font-weight: 600;
        color: $charcoal-grey;
      }

      .vue-simple-progress {
        width: 66%;
        margin: auto;
        position: relative;
        top: 8px;
        border-radius: 5.8px;

        .vue-simple-progress-bar {
          background: $violet !important;
          border-radius: 5.8px;
        }
      }
    }

  }
}

.stats-photos-page {
  .photos-content {
    margin-top: 105px;
  }

  .photo-item {
    width: 195px;
    height: 196px;
    border-radius: 10px;
    border: solid 2px $violet;
    margin-right: 11px;
    margin-bottom: 11px;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;

    h1 {
      font-size: 53px;
      font-weight: 600;
    }

    span, h1 {
      color: white;
    }

    &.first {
      background: $violet;
      line-height: 36px;
      padding-top: 65px;
    }

    .photo-item-overlay {
      height: 100%;
      width: 100%;
      background: #00000045;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: all ease 0.4s;

      .btn-primary {
        width: 160px;
      }
    }

    &:hover {
      .photo-item-overlay {
        opacity: 1;
      }
    }

    .photo-stats-modal {
      .modal-content {
        max-width: 930px;
        height: 840px;

        .content {
          width: 841px;
          min-height: 558px;
        }
      }

      .modal-btns {
        margin-top: 30px;

        a {
          color: white;
          border: 3px solid white;

          &:hover {
            background-color: white;
            color: $charcoal-grey;
          }
        }
      }

      h1 {
        color: $violet;
        text-align: center;
        font-size: 33.5px;
        font-weight: 900;
      }

      .photo-aperçu {
        width: 536px;
        height: 460px;
        border-radius: 10px;
        background-size: cover;
        background-position: center;
        margin: auto;
        background-repeat: no-repeat;
      }
    }
  }
}

.stats-activity-page {
  .activity-content {
    margin-top: 105px;
  }

  .activity-stats-wrap {
    // height: 580px;

    #line-chart, div {
      // height: 100% !important;
    }

    div {
      position: relative;
      margin: auto;
      width: 75vw;
      height: 60vh;
    }
  }

}
