.subscription-page {
  margin-top: 110px;

  .subscription-head {
    img {
      width: 129px;
      height: 129px;
    }

    h1 {
      text-align: center;
      color: $charcoal-grey;
      text-transform: capitalize;
      margin-bottom: 73px;
    }
  }

  .subscription-infos-general {
    height: 402px;
    border-radius: 40px;
    box-shadow: 0 0 10px 0 rgba(90, 90, 90, 0.15);
    margin: auto;
    padding: 30px;
    padding-top: 25px;

    h1 {
      font-size: 22px;
      margin-bottom: 15px;

      i {
        color: $violet-lighter;
        cursor: pointer;
      }
    }

    .link-text-style {
      .pack {
        &-date {
          text-decoration: underline;
        }

        &-name {
          text-transform: uppercase;
        }
      }

    }

    .price {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 27px;

      span {
        font-size: 36px;
        font-weight: 600;
      }
    }
  }

  .beacon-block {
    margin-top: 16px;

    .beacon-wrap {
      background-image: url('assets/img/beacon-list/b_bleu.png');
      background-repeat: no-repeat;
      width: 56px;
      height: 83px;
      background-position: center;
      background-size: contain;
      margin: auto;
      margin-bottom: 5px;

      .beacon-indic {
        font-size: 16.5px;
        font-weight: 900;
        background-color: $violet-lighter;
        border-radius: 50%;
        color: white;
        width: 32px;
        height: 31px;
        line-height: 31px;
        position: relative;
        right: -43px;
        top: 23px;
      }
    }

    p {
      font-weight: 600;
    }
  }

  .parcours-block {
    margin-top: 5px;

    img {
      width: 102px;
      margin-left: 5px;
    }

    p {
      margin-top: -10px;
      font-weight: 600;
    }
  }

  .subscription-infos-progress {
    height: 122px;
    border-radius: 40px;
    box-shadow: 0 0 10px 0 rgba(90, 90, 90, 0.15);
    padding: 30px;
    padding-top: 25px;
    margin-bottom: 19px;

    h1 {
      font-size: 22px;
      margin-bottom: 15px;
    }
  }

  .histogram-bar {
    position: relative;
  }

  .vue-simple-progress {
    border-radius: 10.8px;
    background-color: $greyish-white;
    height: 22px;
  }

  .vue-simple-progress-bar {
    background: $violet !important;
    border-radius: 10.8px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: 22px !important;
  }

  .vue-simple-progress-text {
    position: absolute;
    font-size: 14.5px;
    color: $pinkish-grey;
    right: 7px;
    font-weight: 500;
    top: 2px;
  }

  .details-modal-content {
    width: 545px;
    height: 375px;

    h1 {
      margin-bottom: 0;
      margin-top: -10px;

      span {
        text-transform: capitalize;
      }
    }

    ul {
      li {
        list-style: none;
      }
    }

    .label-list {
      ul {
        margin-left: 10px;
      }

      li {
        font-size: 16px;
        font-weight: bold;
        color: $violet;
      }
    }

    .content-list {
      ul {
        margin-right: 10px;
      }

      li {
        font-size: 16px;
        font-weight: 500;
        color: $pinkish-grey;
        text-align: right;
      }
    }

  }

  .validate-btns {
    text-align: center;
  }

  .modal-content {
    height: 450px;
  }

}
