@import 'icomoon';

/* Color palette */

$black: #000;
$azure: #13bbe8;
$blue: #4086f4;

$blue-dark: #3463ad;

$warm-grey: #9a9999;
$grey-lighter: #dddddd;
$charcoal-grey: #4b4c4d;
$pinkish-grey: #c7c7c7;
$greyish-white: #f1f1f1;
$greyish-whiter: #fafafa;

$strawberry: #f71a3a;
$strawberry-lighter: #ff657b;
$iris: #4553c0;
$violet: #55429f;
$violet-darker: #36296a;
$violet-lighter: #8b6dfe;
$violet-dark-light: #4f4577;
$shamrock-green: #00c853;
$tangerine: #ff8a00;
$lightblue: #62c9f5;
$faded-blue: #729dd3;
$faded-blue-two: #7888c3;
$faded-blue-three: #9aa1bd;
$seafoam-blue: #6fc6c1;
$jade: #4cbea4;
$jade-lighter: #5fedcd;

$twitter: #1da1f2;
$linkedin: #0277b5;
$instagram: #e95950;

/* Appli colors */
$red-appli: #ce2b2b;
$blue-appli: #26a69a;
$orange-appli: #ff8a00;
$green-appli: #95c11f;

/* Text styles */

h1 {
  font-size: 38px;
  font-weight: bold;
  color: $charcoal-grey;
}

.info-text {
  font-size: 15px;
  font-size: 20.7px;
  text-align: center;
  color: $warm-grey;
}

.link-text {
  font-size: 15px;
  font-weight: bold;
  color: $charcoal-grey;
  border-bottom: solid 1px $charcoal-grey;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: $charcoal-grey;
}

.violet {
  color: $violet;
}

.obligatory {
  color: $strawberry;
  font-weight: 600;
}
