@import 'variables';

.waypoint-form {
  margin-top: 110px;

  .main-header {
    z-index: 201;
  }

  .waypoint-form-card-block {
    margin-top: 50px;
  }

  .waypoint-line-menu {
    margin-bottom: 79px;
    ul {
      display: inline-flex;

      li {

        font-size: 17px;
        color: $grey-lighter;
        font-weight: 600;
        transition: all ease 0.3s;
        cursor: pointer;
        position: relative;

        &:not(:last-child) {
          margin-right: 150px;
        }

        &::before {
          content: '';
          width: 17px;
          height: 17px;
          position: absolute;
          background-color: $grey-lighter;
          border-radius: 50%;
          top: 35px;
          left: 50%;
          transform: translateX(-50%);
          transition: all ease 0.3s;
        }

        &:not(:last-child) {
          &::after {
            content: '';
            border-top: 1px solid #dddddd;
            width: 22rem;
            transform: translateY(-1rem);
            position: absolute;
            top: 59px;
            left: 50%;
            z-index: -1;
          }
        }

        &.active {
          color: $violet;

          &::before {
            background-color: $violet;
            width: 21px;
            height: 21px;
          }
        }

      }
    }
  }

  .waypoint-form-card {
    min-height: 595px;
    border-radius: 40px;
    background-color: #ffffff;
    box-shadow: 0 0 13px 0 rgba(0, 1, 0, 0.2);
    margin-bottom: 40px;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease;

    &.first {
      &.hide {
        opacity: 0;
        position: absolute;
        transform: translateX(-92%);
      }

    }

    &.second {
      position: absolute;
      transform: translateX(87%);
      // width: 62%;
      width: 100%;
      opacity: 0.5;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }

      &.active {
        opacity: 1;
        width: 100%;
        position: relative;
      }

      &.previous {
        width: 90%;
      }
    }

    &.third {
      position: absolute;
      transform: translateX(139%);
      width: 62%;

      &.view {
        transform: translateX(109%);
        opacity: 0.5;


        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }

      &.active {
        transform: translateX(0);
        position: inherit;
        width: 100%;
      }
    }

    &.active {
      transform: translateX(0);
      width: 100%;
      cursor: default !important;
    }

    &.previous {
      position: absolute;
      transform: translateX(-91%);
      opacity: 0.5;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }

    @media screen and (max-width: 1280px) {
      &.second, &.third {
        opacity: 0;

        &.active {
          opacity: 1;
          width: 90%;
        }
      }

      &.previous, &.view {
        display: none;
      }

      &.active {
        opacity: 1;
        width: 90%;
      }
    }

  }

  .waypoint-form-inputs-block {
    min-height: 359px;
    background-color: $greyish-white;
    border-radius: 20px;
    margin-top: 71px;
    margin-left: 54px;
    margin-bottom: 11px;

    .cartel {
      width: 124px;
      margin-left: 12px;
      margin-top: 5px;
      margin-bottom: 11px;
    }
  }

  .btn-form-primary {
    margin-right: 15px;
  }

  .aug-choice-header {
    display: flex;
    margin-top: 26px;
    position: absolute;
    left: 50%;
    transform: translateX(-52%);

    .aug-choice-btn {

      button {
        width: 421px;
        position: relative;
        box-shadow: none;
        border: none;
        background-repeat: no-repeat;
        border-radius: 20px;
        height: 168px;
        background-position: center;
        background-size: cover;
        transition: all ease 0.4s;
        cursor: pointer;
        filter: grayscale(100%);
        transition: all ease 0.4s;

        &:hover {
          filter: none;
        }

        span {
          font-size: 30px;
          font-weight: bold;
          color: white;
          text-align: left !important;
          display: block;
          position: absolute;
          bottom: 5px;
          left: 22px;
        }
      }

      &.box-choice-btn {
        width: 100%;
        position: relative;
        left: 20px;
      }

      &.active {
        button {
          width: 30.5vw;
          filter: none;
          border: solid 6px $violet;
        }
      }

      &.float-choice-btn {
        button {
          background-image: url('assets/img/poly-config/modele-flottant.jpg') !important;
        }

        &.active {
          button {
            width: 30.5vw;
          }
        }
      }

      &.box-choice-btn button {
        background-image: url('assets/img/poly-config/modele-box.jpg') !important;
      }
    }

  }

  .aug-choice {
    display: none;
    position: relative;
    top: 960%;

    &.active {
      display: block;
    }

    &.aug-choice-float {
      .buttonAr {
        position: relative;
        top: 110px;
      }
    }

    &.aug-choice-box {
      position: initial;
      margin-top: 220px;
    }

    .color-box-block {
      padding-right: 35px;
      position: relative;

      .buttonAr {
        position: relative;
        top: 60px;

        &.btn-aug-box {
          background-color: #a6b0b3;
          border: solid 3px #9d9e9e;
          pointer-events: none;

          &.active {
            pointer-events: auto;
            background-color: $violet;
            border: solid 3px $violet;

            &:hover {
              background-color: $violet-lighter;
            }
          }
        }
      }

      .btn-aug-box-indic {
        position: absolute;
        display: block;
        font-size: 0.9rem;
        bottom: -49px;
        width: 100%;
        left: 0;
        font-size: 13px;
        font-weight: 400;
        color: $strawberry;
      }
    }

    .anim-open-block, .color-open-box {
      background-color: $greyish-white;
      padding: 20px;
      border-radius: 20px;
    }

    .anim-open-block {
      .cartel {
        width: 200px;
      }
    }

    .color-open-box {
      .cartel {
        width: 150px;
      }
    }

    .color-range {
      display: flex;

      &:first-child {
        margin-top: 15px;
      }

      .color-icon {
        width: 31px;
        height: 31px;
        border-radius: 6px;
        margin-right: 3px;
        margin-bottom: 3px;
        cursor: pointer;

        i {
          color: white;
          margin-top: 8px;
          opacity: 0;
        }

        &.active {
          i {
            opacity: 1;
          }
        }

        &.blue-dark {
          background-color: #001daa;
        }

        &.blue-light {
          background-color: #7ce3f4;
        }

        &.blue-lighty {
          background-color: #3e72ab;
        }

        &.blue-black {
          background-color: #1f0424;
        }

        &.orange-dark {
          background-color: #fe3c00;
        }

        &.orange-light {
          background-color: #ff9100;
        }

        &.orange-lighter {
          background-color: #f9be00;
        }

        &.green-dark {
          background-color: #009601;
        }

        &.green-darker {
          background-color: #183202;
        }

        &.green-lighter {
          background-color: #709001;
        }

        &.green-yellow {
          background-color: #b3c301;
        }

        &.pink-normal {
          background-color: #e8b8e0;
        }

        &.violet-normal {
          background-color: #8575bd;
        }

        &.fushia-normal {
          background-color: #c61b73;
        }

        &.red-dark {
          background-color: #cd0402;
        }

        &.red-light {
          background-color: #f53545;
        }

        &.red-normal {
          background-color: #e40800;
        }

        &.beige-normal {
          background-color: #ffd0a2;
        }

        &.beige-dark {
          background-color: #d57845;
        }

        &.brown-normal {
          background-color: #461103;
        }

        &.black-true {
          background-color: #000;
        }

        &.black-ligther {
          background-color: #0d0e12;
        }

        &.grey-dark {
          background-color: #434446;
        }

        &.grey-light {
          background-color: #7b7b7b;
        }

        &.grey-lighter {
          background-color: #b2b2b2;
        }

        &.white-dark {
          background-color: #dbe0e3;
        }

        &.white-normal {
          background-color: #ffffff;
        }

      }
    }

    .color-preview-block {
      text-align: center;
      margin-left: 0px;
      padding-left: .0;
    }

    .color-preview {
      background-color: $warm-grey;
      width: 105%;
      height: 65px;
      border-radius: 6px;
      margin-top: 14px;
    }

    .hexcolor {
      border: none;
      background: white;
      border-radius: 6px;
      padding: 6px;
      margin-top: 5px;
      color: #424344;
      width: 105%;
      font-size: 1rem;
    }

    .animation-choice {
      height: 270px;
      overflow: hidden;
      overflow-y: scroll;
      margin-top: 5px;

      .animation-box {
        height: 130px;
        background-color: #d5d5d5;
        border-radius: 20px;
        margin-bottom: 20px;
        cursor: pointer;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &[animation='NONE'] {
          background-image: url('assets/img/poly-config/animation/NoneGif.gif');
        }

        &[animation='PORTAL'] {
          background-image: url('assets/img/poly-config/animation/PortalGif.gif');
        }

        &[animation='DOOR'] {
          background-image: url('assets/img/poly-config/animation/DoorGif.gif');
        }

        &[animation='WINDOW'] {
          background-image: url('assets/img/poly-config/animation/WindowGif.gif');
        }

        &[animation='TRAP'] {
          background-image: url('assets/img/poly-config/animation/TrapGif.gif');
        }

        &[animation='EXPLOSION'] {
          background-image: url('assets/img/poly-config/animation/ExplodeGif.gif');
        }

        .animation-box-overlay {
          opacity: 0;
          background-color: rgba(0, 0, 0, 0.34);
          transition: all ease 0.4s;
          height: 100%;
          position: relative;

          &:hover {
            opacity: 1;
          }

          h3 {
            font-size: 25px;
            font-weight: bold;
            color: white;
            position: absolute;
            bottom: 4px;
            left: 14px;
          }
        }

        &.active {
          .animation-box-overlay {
            opacity: 1;
          }
        }
      }

    }
  }

  .buttonAr {
    font-size: 16.7px;
    font-weight: bold;
    color: white;
    min-width: 333px;
    background-color: $violet;
    border: solid 3px $violet;
    padding: 27px 30px;
    border-radius: 15px;
    transition: all ease 0.4s;

    &:hover {
      background-color: $violet-lighter;
    }

    .icon-RA {
      font-size: 2rem;
      position: absolute;
    }

    .text {
      margin-left: 50px;
    }
  }

  .preview-content {
    background-image: url('assets/img/iphone-content-vide.png');
    background-repeat: no-repeat;
    width: 354px;
    height: 571px;
    position: absolute;
    bottom: 0px;
    background-size: cover;
    background-position-y: 0px;
    left: 50%;
    transform: translateX(-20%);
    transition: all ease 0.4s;

    .quizz-content, .digicode-content {
      h1.quizz-question {
        margin-top: -17px !important;
        padding-bottom: 5px !important;
        color: $violet !important;
        padding-top: 0 !important;

        textarea {
          padding-top: 0;
          padding-bottom: 0;
          margin-bottom: 15px;
        }
      }
    }

    .image-content, .video-content,
    .audio-content, .link-content, .text-content, .digicode-content {
      h1 {
        span {
          margin-left: -15px;
        }
      }
    }

    .quizz-content, .image-content, .video-content,
    .audio-content, .link-content, .text-content, .digicode-content {
      h1 {
        font-family: 'Titillium Web', sans-serif;
        font-size: 20.5px;
        font-weight: 600;
        letter-spacing: -0.2px;
        color: white;
        padding: 30px;
        margin-top: 50px;
        padding-bottom: 30px;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;

        span {
          display: block;
          position: relative;
          top: 5px;
          opacity: 0.4;
        }
      }

      textarea {
        border: transparent 2px solid;
        resize: none;
        font-family: 'Titillium Web', sans-serif;
        font-size: 16.5px;
        font-weight: 600;
        letter-spacing: -0.2px;
        text-align: left;
        color: $charcoal-grey;

        &:hover, &:focus {
          border: $violet 2px solid;
        }
      }

      .counter {
        position: relative;
        top: -5px;
      }
    }

    .image-content {
      h1 {
        // margin-top: 119px;
        padding-left: 45px;
      }

      textarea {
        height: 140px;
        font-size: 13.8px;
        margin-top: -45px;
      }

      .preview-container {
        height: 228px !important;
        border-radius: 0%;
        width: 100%;
        max-width: none !important;

        .picture-preview {
          border-radius: 25px;
          width: 100%;
          height: 100% !important;
          position: relative;
          z-index: 10001;
          box-sizing: border-box;
          background-color: rgb(236, 236, 236);
          background-image: url('assets/img/upload-placeholder.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          cursor: pointer;
          transition: ease all 0.4s;
        }
      }

      .picture-input {
        input[type="file"] {
          visibility: hidden;
        }

        .btn {
          display: none;
          position: absolute;
          margin-top: -50px;
          z-index: 50000;
          right: 80px;
        }

        &:hover {
          .btn {
            display: block;
          }
        }
      }

      .counter {
        top: -2px;
      }

      .file-upload-wrap {
        margin-bottom: 7px;
        position: relative;

        &:hover {
          .remove-image {
            opacity: 1;
          }
        }
      }

      .input-image {
        margin-left: -112px;
        position: relative;
        top: -232px;
        height: 91%;
        width: 150%;
        cursor: pointer;
        opacity: 0;
      }

      .custom-file-up {
        display: inline-block;
        cursor: pointer;
        width: 229px;
        height: 229px;
        border-radius: 25px;
        background-color: $greyish-white;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        img {
          display: flex;
          height: 100%;
          justify-content: center;
          align-content: center;
        }
      }

      .remove-image {
        position: absolute;
        top: 227px;
        left: 45px;
        opacity: 0;
        transition: ease all 0.3s;
      }
    }

    .video-content {
      h1 {
        // margin-top: 122px;
        padding-left: 45px;
      }

      textarea {
        font-size: 14.6px;
        height: 185px;
      }

      .video-comment-block {
        margin-top: -20px;
      }

      .video-zone {
        width: 100%;
        height: 154px;
        background-color: $grey-lighter;
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      .input-video {
        width: 230px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }

    .audio-content {
      h1 {
        // margin-top: 122px;
        padding-left: 45px;
      }

      .audio-span {
        font-size: 14.7px;
        color: $warm-grey;
        padding-left: 41px;
        display: block;
        margin-top: 16px;
      }

      .audio-comment textarea {
        min-height: 170px;
        color: #4b4c4d !important;
        font-size: 14px;
      }

      .audio-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: block;
        padding-left: 45px;
        cursor: pointer;

        button {

          &.upload-audio {
            border: none;
            color: $violet;
            background-color: white;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            font-size: 48px;
          }

          &.play-audio, &.pause-audio {
            position: absolute;
            width: 60px;
            height: 60px;
            font-size: 20px;
            top: 28px;
            left: 211px;
            border-radius: 50%;
            background-color: white;
            color: $violet;
            border: $violet solid;
            z-index: 500;

            i {
              line-height: 10px;
              position: relative;
              left: 1px;
            }
          }

          font-weight: bold;
          transition: ease all 0.4s;
          cursor: pointer;
          display: none;

          &.active {
            display: block;
          }

          i {
            line-height: 98px;
          }
        }

        input[type=file] {
          font-size: 100px;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          padding: 0px 109px;
          cursor: pointer;
          padding-bottom: -30px;
          -webkit-appearance: button;
          width: 20px;
          margin-left: 28px;
        }
      }
    }

    .link-content {
      h1 {
        // margin-top: 122px;
        padding-left: 45px;
      }

      textarea {
        font-size: 14.6px;
        height: 190px;
      }

      .svg-link {
        margin-top: 28px;

        svg {
          width: 233px;
        }

        g {
          fill: $violet;
        }

        .field {
          width: 233px;
          margin: 0 auto;
          margin-bottom: 20px;

          input {
            border: transparent solid 2px;
            text-align: center;

            &:hover, &:focus {
              border: $violet solid 2px;
            }
          }
        }
      }
    }

    .text-content {
      h1 {
        // margin-top: 122px;
        padding-left: 45px;
      }

      textarea {
        min-height: 340px;
        color: $charcoal-grey !important;
        // font-weight: 500;
        font-size: 14.6px;
      }
    }
  }

  .quizz-content, .digicode-content {
    .preview-content {
      transform: translateX(-50%);
    }
  }

  .quizz-question-block {
    padding: 40px;
    padding-top: 5px;
    margin-top: -10px;

    .quizz-question {
      display: flex;
      margin-bottom: 10px;

      .icon-delete {
        font-size: 24px;
        cursor: pointer;

        .path1:before {
          color: $strawberry;
        }
      }

      .round {
        width: 28px;
        height: 25px;
        border-radius: 50%;
        border: solid 2px $violet;
      }

      .field {
        margin-left: 10px;
        margin-top: -8px;
        width: 100%;
        margin-bottom: 5px;

        input {
          color: $charcoal-grey !important;
          border: transparent 2px solid;

          &:hover, &:focus {
            border: $violet 2px solid;
          }
        }
      }

      .fa-plus {
        cursor: pointer;
        color: $pinkish-grey;
        border-radius: 50%;
        border: solid 3px $grey-lighter;
        padding: 3px;
        font-size: 13px;
        width: 25px;
        height: 25px;
        text-align: center;
        padding-left: 4px;

      }

      .counter {
        position: absolute;
        top: 33px;
        right: 0;
        z-index: 20;
        font-size: 0.75rem;
      }
    }

    .quizz-commentaire {
      textarea {
        font-family: 'Titillium Web', sans-serif;
        font-size: 14.6px;
        letter-spacing: -0.1px;
        text-align: left;
        color: $violet;
        margin-top: -10px;
        min-height: 96px;
        padding: 5px;
      }
    }
  }

  .contenu-choices-box {
    background-color: $greyish-white;
    border-radius: 20px;
    min-height: 407px;
    position: absolute;
    top: 0;
    transform: translateY(30%) translateX(-60%);
    left: 50%;
    width: 60%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;

    .cartel {
      width: 160px;
    }

    .choices-btns {
      margin-top: 10px;

      .column:first-child {
        padding-right: 5px;
      }

      .column:nth-child(2) {
        padding-left: 5px;
      }

      .choice-btn {
        background-color: $violet;
        min-height: 48px;
        color: white;
        border-radius: 15px;
        font-size: 35px;
        line-height: 56px;
        transition: ease all 0.4s;
        text-align: center;
        cursor: pointer;
        margin-bottom: 11px;

        &:hover, &.active {
          background-color: $jade;
        }

        .icon {
          position: relative;
          top: 3px;

          &.icon-digicode {
            font-size: 1rem;
            top: -3px;
          }
        }
      }

      .icon-video360, .icon-gif {
        width: 46px;
        position: relative;
        top: 2px;
      }
    }
  }

  .points-choices {
    background-color: $greyish-white;
    border-radius: 20px;
    min-height: 199px;
    position: absolute;
    top: 50px;
    transform: translateY(40px) translateX(-54%);
    left: 50%;
    width: 60%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;

    .good-answer-header {
      padding-left: 13px;
      margin-right: 4px;
    }

    .cartel {
      &.icon {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        text-align: center;
      }

      &.points {
        width: 80px;
      }
    }

    .question-choices-block {
      margin-top: 5px;
      padding-bottom: 42px;
    }

    .question-choices-line {
      padding-bottom: 2px;
    }
  }

  .comment-choices {
    background-color: $greyish-white;
    border-radius: 20px;
    min-height: 139px;
    position: absolute;
    top: 360px;
    transform: translateY(40px) translateX(-54%);
    left: 50%;
    width: 60%;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 15px;

    &.digicode {
      transform: translateY(-20px) translateX(-54%);
    }

    .comment-btn {
      min-width: 212px;
      min-height: 28px;
      border-radius: 44px;
      border: solid 3px $violet;
      color: $violet;
      margin-top: 10px;
      background-color: transparent;
      cursor: pointer;
      margin: 0 auto;
      margin-bottom: -3px;
      margin-top: 11px;

      span {
        font-size: 12.3px;
        font-weight: bold;
      }

      &.active {
        color: white;
        background-color: $violet;
      }
    }
  }

  .good-comment-input {
    textarea {
      color: $shamrock-green !important;
    }
  }

  .bad-comment-input {
    textarea {
      color: $strawberry !important;
    }
  }

  .good-comment-input, .bad-comment-input {
    position: absolute;
    width: 80%;

    textarea {
      display: none;
    }

    &.active {
      textarea {
        display: block;
      }
    }
  }

  .essais-points-choice {
    background-color: $greyish-white;
    border-radius: 20px;
    min-height: 128px;
    position: absolute;
    top: 150px;
    transform: translateY(40px) translateX(-54%);
    left: 50%;
    width: 60%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;

    .cartel {
      width: 78px;
      margin-bottom: 15px;
    }
  }

  .digicode-content {
    h1 {
      span {
        margin-left: 0 !important;
      }
    }

    h1.quizz-question {
      margin-top: -17px !important;

      .counter {
        top: -22px !important;
      }
    }

    .codes {
      margin-left: 37px;
      margin-top: 0;
      text-align: center;
      position: relative;
      top: -23px;
    }

    .code-add {
      width: 42px;
      height: 87px;
      border-radius: 12px;
      background-color: #ffffff;
      border: solid 2px $pinkish-grey;
      position: relative;
      cursor: pointer;
      transition: ease all 0.3s;
      margin-left: 7px;

      &:hover {
        border: solid 2px $grey-lighter;

        .fa-plus {
          color: $grey-lighter;
        }
      }

      .fa-plus {
        position: absolute;
        top: 50px;
        transform: translateY(-100%) translateX(-50%);
        left: 50%;
        color: $pinkish-grey;
        transition: ease all 0.3s;
      }
    }

    .code-input {
      text-align: center;
      margin-top: -4px;
      min-height: 202px;

      .column {
        padding-top: 0;
        padding-bottom: 0;
      }

      input {
        width: 42px;
        height: 87px;
        border-radius: 12px;
        background-color: #ffffff;
        border: solid 2px $violet;
        position: relative;
        cursor: pointer;
        transition: ease all 0.3s;
        margin-right: 5px;
        margin-left: 4px;
        text-align: center;
        font-size: 20.6px;
        color: $warm-grey;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 600;
        text-transform: uppercase;

        &.isError {
          border: solid 2px $strawberry;
        }

      }

      .icon-delete {
        position: absolute !important;
        bottom: 20px;
        top: 95px !important;
        z-index: 500;
        left: 1px;
        font-size: 23px;
        margin-left: 13px;
        cursor: pointer;
        opacity: 0;
        transition: all ease-in 0.3s;

        .path1 {
          &::before {
            color: $strawberry;
          }
        }
      }
    }

    .input-code-block {
      position: relative;

      &:hover {
        & > .icon-delete {
          opacity: 1;
        }
      }
    }

    .digicode-comment {
      textarea {
        font-size: 14.6px;
        margin-top: 25px;
        min-height: 81px;
      }
    }

    .quizz-commentaire {
      textarea {
        font-family: 'Titillium Web', sans-serif;
        font-size: 14.6px;
        letter-spacing: -0.1px;
        text-align: left;
        color: $violet;
        margin-top: -36px;
        min-height: 88px;
        overflow: hidden;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

}

.editor-3d-content {
  position: absolute;
  z-index: 11;
  background: white;
  height: 89%;
  width: 100vw;
  display: none;
  top: 0;
  margin-top: 100px;
  padding-left: 20px;
  padding-right: 40px;
  z-index: 200;

  @media screen and (max-width: 1100px) {
    height: 100%;
  }

  &.active {
    display: block;
  }

  .btn-import {
    text-align: center;
    margin-top: 30px;

    .importFile {
      .fa-file-import {
        margin-right: 10px;
      }
    }
  }

  .poly-elems-content {
    padding-top: 17px;
    margin-top: 0px;
    background-color: $greyish-white;
    border-radius: 20px;
    min-height: 400px;
    position: relative;
    width: 97%;

    #results {
      height: 390px;
      overflow-y: scroll;
      display: block;
      padding: 20px;
      text-align: center;

      img {
        width: 23%;
        margin-bottom: 10px;
        cursor: pointer;
        margin-right: 10px;
        transition: all ease 0.2s;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .search-input {
      padding-left: 16px;
      padding-right: 16px;
    }

    #button-search {
      position: absolute;
      right: 23px;
      background: none;
      border: none;
      font-size: 18px;
      top: 22px;
      background: $violet;
      border-radius: 50%;
      width: 25px;
      text-align: center;
      padding-left: 8px;
      color: white;
      cursor: pointer;
    }

    .loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
      position: absolute;
      left: 40%;
      top: 31%;
      z-index: 10;
    }

    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }

  #viewer {
    position: relative;

    canvas {
      width: 100% !important;
      height: 87vh !important;
      border-radius: 20px;
    }

    #info {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      color: white;
      top: 8px;
      letter-spacing: 0.6px;

      b {
        font-weight: 600;
      }
    }

    .deleteModal {
      padding-top: 200px;
      cursor: auto;

      .modal-content {
        height: 510px;
      }

      .content {
        width: 590px;
        text-align: center;
        min-height: 162px;
      }

      h1 {
        position: absolute;
        top: 50%;
        transform: translateY(-55%) translateX(-50%);
        font-size: 25px !important;
        left: 50%;
        width: 500px;
        font-weight: 500;
        line-height: 32px;
        color: $charcoal-grey !important;

        span {
          font-weight: 600;
        }
      }

      .btn-form-secondary {
        background-color: $strawberry;
        color: white;
      }

      .add-scenar-btns {
        text-align: center;
        margin-top: 40px;

        a:first-child {
          margin-right: 20px;
          color: white;
          border-color: white;

          &:hover {
            background-color: white;
            color: $charcoal-grey;
          }
        }

        a.btn-form-secondary {
          background-color: white;
          color: $charcoal-grey;
          border-color: white;

          &:hover {
            background-color: $strawberry;
            border-color: $strawberry;
            color: white;
          }
        }
      }
    }

    .tuto-modal {
      position: absolute;
      bottom: 16px;
      left: 16px;
      font-size: 21px;

      i {
        font-size: 24px;
        cursor: pointer;
        color: white;
        transition: all ease 0.4s;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .tutoModal {
      .modal-content {
        width: 830px;
        height: 900px;
        text-align: center;
        max-height: 1000px;

        .card.tuto-modal {
          margin-bottom: 30px;
          height: 730px;
          width: 96%;

          .content {
            overflow: scroll;
            overflow-x: hidden;
            max-height: 680px;
          }

          .column:first-child {
            padding-right: 40px;

            img {
              width: 160px;
            }
          }

          .column:nth-child(2) {
            text-align: left;
            padding-left: 40px;

            img {
              width: 240px;
              border-radius: 10%;
            }
          }

          .column:nth-child(3) {
            img {
              height: 130px;
              border-radius: 10%;
            }
          }

          .boeingpos {
            position: relative;
            left: -32px;

            &:nth-child(2) {
              img {
                width: 163px !important;
                max-width: none;
              }
            }

          }
        }
      }

      h1 {
        font-size: 35px;
        padding-bottom: 25px;
        margin-top: 20px;
      }

      h4 {
        font-size: 16px;
        position: relative;
        top: -25px;
        font-style: italic;
      }

      p {
        margin-top: -30px;
        margin-bottom: 65px;
        padding: 0 20px;
        font-size: 17px;
      }

      .welcoming, .old {
        display: none;

        &.actif {
          display: block;
        }
      }

      .modal-close {
        margin-top: 80px;
      }
    }
  }

  .modal-content.import {
    background: white;
    min-width: 800px;
    min-height: 430px;
    border-radius: 30px;
  }

  .import-content {
    .nav-tabs {
      margin-top: 25px;
    }

    .import-block {
      display: none;
      margin-top: -6px;

      &.actif {
        display: block;
      }

      .add-ownFile3D, .add-ownTexture, .add-image {
        width: 300px;
        margin: 0 auto;
      }

      .add-image, .add-ownFile3D{
        margin-top: 79px;
      }

    }
  }

  .import-btn-send {
    position: absolute;
    transform: translateY(1020%);

    a.btn-form-primary {
      border-color: white;
      color: white;

      &:hover {
        background-color: white;
        color: $charcoal-grey;
      }
    }

    a.btn-form-secondary {
      background-color: white;
      color: $charcoal-grey;
      border-color: white;

      &:hover {
        background-color: $greyish-white;
      }
    }

    a.btn-form-primary {
      margin-right: 20px;
      margin-left: 36px;
    }
  }

  .editor-import-modal {
    .modal-close {
      top: 100px;
    }
  }

  .edition-block {
    .cartel {
      width: 100px;
    }
  }

  .animation-block {
    .cartel {
      width: 114px;
    }
  }

  .editor-tools-block {
    margin-top: 29px;
  }

  .btns-edition {
    margin-top: 21px;

    .btn-edition {
      padding-right: 0;
      display: block;
      width: 172px;
      margin-top: 15px;
      position: relative;
      height: 35px;
      line-height: 19px;
      position: relative;

      &.active {
        background-color: $violet;
        color: white;
      }

      span {
        font-size: 12px;
      }

      i {
        position: absolute;
        left: 17px;
        top: 6px;
        font-size: 16px;
      }

      .edition-reinit {
        position: absolute;
        right: -90px;
        color: $strawberry;
        border-bottom: solid 1px $strawberry;
        transition: ease 0.4s all;
      }

      &:hover {
        .edition-reinit {
          border-bottom: solid 1px transparent;
        }
      }
    }

    .editor-center {
      width: 190px;
      margin: 0 auto;
      margin-top: 33px;
    }
  }

  .btns-animation {
    margin-top: 20px;

    .btn-animation, .btn-animation-boeing {
      width: 30px;
      display: inline-block;
      width: 54px;
      font-size: 15px;
      padding-right: 13px;
      height: 35px;
      line-height: 30px;
      padding-top: 1px;

      &.active {
        background-color: $violet;
        color: white;
      }
    }
  }

  .speed-range {
    margin-top: 20px;

    h3 {
      font-weight: 600;
      font-size: 16px;
      color: $violet;
    }
  }

  .marker-position {
    margin-top: 20px;

    h3 {
      font-weight: 600;
      font-size: 16px;
      color: $violet;
    }

    .switch-pos {
      margin-top: 20px;

      .switch[type="checkbox"].is-outlined:checked + label::before, .switch[type="checkbox"].is-outlined:checked + label:before, .switch[type="checkbox"].is-outlined + label::before, .switch[type="checkbox"].is-outlined + label:before {
        border-color: $violet;
      }

      .switch[type="checkbox"].is-outlined:checked + label::after, .switch[type="checkbox"].is-outlined:checked + label:after, .switch[type="checkbox"].is-outlined + label::after, .switch[type="checkbox"].is-outlined + label:after {
        background: $violet;
      }

      label {
        color: $charcoal-grey;
        font-weight: 500;
      }

      &.inactif {
        input, label {
          pointer-events: none;
        }

        .switch[type="checkbox"].is-outlined:checked + label::before, .switch[type="checkbox"].is-outlined:checked + label:before, .switch[type="checkbox"].is-outlined + label::before, .switch[type="checkbox"].is-outlined + label:before {
          border-color: $grey-lighter;
        }

        .switch[type="checkbox"].is-outlined:checked + label::after, .switch[type="checkbox"].is-outlined:checked + label:after, .switch[type="checkbox"].is-outlined + label::after, .switch[type="checkbox"].is-outlined + label:after {
          background: $grey-lighter;
        }
      }
    }
  }

  .editor-view-block {
    background-color: white;
  }
}

.btn-header-editor {
  z-index: 200;
  top: 20px;
  position: fixed;
  display: flex;
  width: 100%;
  display: none;
  background-color: $violet;
  width: 100%;
  height: 40px;
}

.header-btn {
  background: white !important;
  border-radius: 30px !important;
  font-weight: 500 !important;
  position: absolute;
}

.header-save {
  color: $violet !important;
  width: 52px !important;
  font-size: 25px !important;
  top: -6px !important;
  right: 93px !important;
}

.header-quit {
  color: $violet !important;
  width: 52px !important;
  right: 22px !important;
  font-size: 24px !important;
  text-align: center !important;
  top: -6px !important;
}

.header-reset {
  color: $strawberry !important;
  font-size: 17px !important;
  background: white !important;
  width: 156px !important;
  right: 169px;

  &:hover {
    color: $strawberry !important;
  }
}

.limit-model, .wrong-files, .no-3d-model, .put-3d-not-possible, .put-3d-success {
  display: none !important;

  &.actif {
    display: block !important;
  }
}

.arrow-changing {
  position: absolute;
  bottom: 30px;
  transform: translateX(-50%);
  left: 50%;
  font-size: 75px;

  #world-to-left {
    position: relative;
    right: 180px;
    transition: ease all 0.4s;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }

  #world-to-right {
    position: relative;
    left: 180px;
    transition: ease all 0.4s;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }
}

.models-actif {
  position: absolute;
  top: 80px;
  left: 20px;

  img {
    width: 100px;
    cursor: pointer;
    border-radius: 20px;
    display: block;
    margin-bottom: 10px;
    opacity: 0.5;
    transition: ease all 0.5s;

    &.active, &:hover {
      opacity: 1;
    }
  }

  .thumbnailTrash {
    margin-top: -23px;
    display: block;
    position: relative;
    top: -68px;
    left: -6px;
    color: #989898;
    opacity: 0;
    transition: all ease 0.4s;
    cursor: pointer;
    display: none;
    text-align: center;

    &:hover {
      color: $strawberry;
    }

    &.active {
      display: block;
      opacity: 1;
      background: #eaeaea;
      border-radius: 50%;
      width: 28px;
      padding: 2px 0;
      font-size: 15px;
    }

    &.thumbText {
      top: -53px;
    }
  }

  .thumbnailText {
    cursor: pointer;
    width: 232px;
    margin: 0 0 1em 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: block-axis;
    line-height: 28px;
    padding-top: 4px;
    padding-left: 33px;
    background: #565656;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 17px !important;
    opacity: 0.5 !important;
    transition: ease all 0.4s;
    cursor: pointer;
    font-weight: bold;
    color: #9a9999;
    opacity: 0.5;

    &:hover, &.active {
      opacity: 1 !important;
    }
  }
}

.aperçu-aug {
  .indic-marker-preview {
    font-size: 17px;
    font-weight: bold;
    color: $warm-grey;
  }

  .aperçu-user {
    span {
      background-color: #4b4c4d;
      color: white;
      padding: 6px 25px;
      border-radius: 25px;
      margin-top: 35px;
      display: inline-block;
      font-weight: 500;
    }
  }

  .aperçu-poly {
    img {
      border-radius: 45px;
      width: 230px;
    }
  }
}
