<template >
  <div class="event-photos">
    <HeaderUser></HeaderUser>

    <div class="columns" v-if="event">
      <MenuEvent :event="event"></MenuEvent>

      <div class="column is-10 event-photos-content">
        <h1 class="big-title">Modération photo</h1>
        <h2 class="text-style-5">{{ medias.length }} photos en attentes</h2>

        <div class="columns valid-photo-wrap">
          <div class="column is-6">
            <!-- submits -->
            <a @click="onAcceptPictures" class="btn-form-secondary">Tout refuser</a>
            <a @click="onRefusePictures" class="btn-form-secondary">Tout accepter</a>
          </div>
        </div>

        <div class="columns photos-content-block">
          <div class="column is-5 photo-aperçu-wrap">
            <div
              v-if="focusedPicture"
              class="photo-aperçu-block"
              :style="{'background-image': `url(${focusedPicture.path})` }"
            ></div>
          </div>
          <div class="column is-7 photo-list-wrap">
            <div class="photo-list-content">
              <div
                class="photo-list-item"
                v-for="media in medias"
                :key="media.id + 'list'"
                :style="{ 'background-image': `url(${media.path})` }"
              >
                <div class="photo-list-overlay">
                  <a href="#" @click="activeRemove = media.id">
                    <i class="fas fa-times"></i>
                  </a>
                  <a href="#" @click="activeValidate = media.id">
                    <i class="fas fa-check"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <b-modal
          v-for="media in medias"
          :key="media.id + 'remMod'"
          :active.sync="activeRemove === media.id"
          :onCancel="cancelRemoveModal"
          :width="940"
          scroll="keep"
          class="validate-modal"
        >
          <div class="card validate-modal-content">
            <div class="card-content">
              <div class="content">
                <h1>Souhaitez-vous supprimer définitivement cette image ?</h1>
              </div>
            </div>
          </div>
          <div class="validate-btns">
            <a href="#" class="btn-form-primary" @click="activeRemove = -1">Annuler</a>
            <!-- submit -->
            <a class="btn-form-secondary delete-link" @click="onRefusePicture(media.id)">Supprimer</a>
          </div>
        </b-modal>

        <b-modal
          v-for="media in medias"
          :key="media.id + 'valMod'"
          :active.sync="activeValidate === media.id"
          :onCancel="cancelValidateModal"
          :width="940"
          scroll="keep"
          class="validate-modal"
        >
          <div class="card validate-modal-content">
            <div class="card-content">
              <div class="content">
                <h1>Souhaitez-vous valider définitivement cette image ?</h1>
              </div>
            </div>
          </div>
          <div class="validate-btns">
            <a href="#" class="btn-form-primary" @click="activeValidate = -1">Annuler</a>
            <a class="btn-form-secondary delete-link" @click="onAcceptPicture(media.id)">Valider</a>
          </div>
        </b-modal>
        <b-loading :is-full-page="false" :active.sync="isLoading"></b-loading>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import HeaderUser from "@/components/HeaderUser.vue";
import MenuEvent from "@/components/MenuEvent.vue";
import { Component, Vue } from "vue-property-decorator";
import Event from "@/models/Event";
import Media from "@/models/Media";
import { Getter, Action } from "vuex-class";
import hackeoApi from "@/services/hackeo-api";
import { errorToast } from "@/models/HttpError";

@Component({
  components: {
    HeaderUser,
    MenuEvent
  }
})
export default class EventPictures extends Vue {
  @Getter("event/findEventById")
  public findEventById: any;

  @Action("event/acceptPictures")
  private acceptPictures: any;

  @Action("event/refusePictures")
  private refusePictures: any;

  public focusedPicture: { id: number; path: string } | null = null;

  public medias: Array<{ id: number; path: string }> = [];

  /**
   * mounted
   */
  public async mounted() {
    const id: number = parseInt(this.$router.currentRoute.params["id"]);
    try {
      this.isLoading = true;
      this.medias = await hackeoApi.getNonValidatedPictures(id);
    } catch (err) {
      console.log(err);
      this.$toast.open(errorToast(
        "Les photos n'ont pas pu se charger, veuillez raffraîchir la page."
      ) as any);
    } finally {
      this.isLoading = false;
    }
  }

  public get event(): Event {
    const id: number = parseInt(this.$router.currentRoute.params["id"]);
    const event: Event = this.findEventById(id);
    return event;
  }

  public isLoading: boolean = false;

  public async onAcceptPictures() {
    try {
      this.isLoading = true;

      await hackeoApi.acceptPictures(
        this.event.id,
        this.medias.map(media => media.id)
      );

      this.$toast.open({
        message: "Les photos ont été validées.",
        type: "is-success"
      });

      this.medias = [];
    } catch (err) {
      this.$toast.open(errorToast(
        "Les photos n'ont pas été validées. Veuillez réesayer."
      ) as any);
    } finally {
      this.isLoading = false;
    }
  }

  public async onRefusePictures() {
    console.log('pute');
    try {
      this.isLoading = true;

      await hackeoApi.refusePictures(
        this.event.id,
        this.medias.map(media => media.id)
      );

      this.$toast.open({
        message: "Les modifications ont été enregistrées avec succès.",
        type: "is-success"
      });

      this.medias = [];
    } catch (err) {
      this.$toast.open(errorToast(
        "Une erreur est survenue lors du refus de la photo. Veuillez réessayer."
      ) as any);
    } finally {
      this.isLoading = false;
    }
  }

  public async onAcceptPicture(mediaId: number) {
    try {
      this.isLoading = true;
      await hackeoApi.acceptPictures(this.event.id, [mediaId]);

      this.$toast.open({
        message: "Photo validée.",
        type: "is-success"
      });

      const idx: number = this.medias.findIndex(media => media.id === mediaId);
      this.medias.splice(idx, 1);
    } catch (err) {
      this.$toast.open(errorToast(
        "La photo n'a pas été validée, veuillez réesayer."
      ) as any);
    } finally {
      this.isLoading = false;
    }
  }

  public async onRefusePicture(mediaId: number) {
    try {
      this.isLoading = true;
      await hackeoApi.refusePictures(this.event.id, [mediaId]);

      this.$toast.open({
        message: "Modifications enregistrées.",
        type: "is-success"
      });

      const idx: number = this.medias.findIndex(media => media.id === mediaId);
      this.medias.splice(idx, 1);
    } catch (err) {
      console.log(err);
      this.$toast.open(errorToast(
        "Une erreur est survenue. Veuillez réessayer."
      ) as any);
    } finally {
      this.isLoading = false;
    }
  }

  public cancelRemoveModal() {
    this.activeRemove = -1;
  }

  public cancelValidateModal() {
    this.activeValidate = -1;
  }

  public activeRemove: number = -1;

  public activeValidate: number = -1;
}
</script>

<style lang="css">
</style>
