<template>
  <div class="event-waypoint">
    <HeaderUser></HeaderUser>

    <div class="columns">
      <MenuEvent :event="this.events[0]"></MenuEvent>

      <div class="column is-9 event-waypoint-content" v-for="event in events" :key="event.id">
        <h1 class="big-title">Balises de l'événement</h1>
        <h5 class="text-style-5 team-selected">
          <!-- <span v-if="!teamSelectionned" class="team-selected-label">Aucune équipe sélectionnée</span> -->
          <span v-if="teamSelectionned" class="team-selected-label">
            {{ teamSelectionned }}
            <span>-</span>
          </span>

          <!-- <span v-if="!scenarActif">Aucun scénario associé</span>
          <span v-if="scenarActif">{{ scenarActif }}</span>-->
          <b-select :placeholder="scenarActif" rounded v-model="scenarActif" class="selectScenar">
            <option :value="scenarActif" selected v-if="scenarActif">{{ scenarActif }}</option>
            <option
            :value="scenario.name"
            v-for="scenario in scenarios"
            :key="scenario.id"
            >{{ scenario.name }}</option>
          </b-select>

          <span class="team-edit" v-if="scenarActif != 'Associez un scénario'">
            <i class="fas fa-pen"></i>
            Éditer le scénario : {{ scenarActif }}
          </span>
        </h5>

        <b-collapse class="card team-list" :open.sync="teamIsOpen">
          <div slot="trigger" slot-scope="props" class="card-header">
            <p class="card-header-title">Toutes les équipes...</p>
            <a class="card-header-icon">
              <b-icon :icon="props.open ? 'menu-down' : 'menu-up'"></b-icon>
            </a>
          </div>
          <div class="card-content">
            <div class="content">
              <div class="team-list-content columns is-multiline">
                <div class="column is-3">
                  <div
                  class="team-card"
                  @click="closeTeamList(null, null)"
                  :class="{current: teamSelectionned == '' }"
                  >
                  <h1>Sans Équipe</h1>
                  <h5>{{ scenarActif }}</h5>
                </div>
              </div>

              <div
              class="column is-3"
              v-for="team in teams"
              @click="closeTeamList(team.name, team.scenario)"
              :key="team.id"
              >
              <div class="team-card" :class="{current: teamSelectionned == team.name }">
                <h1>{{ team.name }}</h1>
                <h5>{{ team.scenario }}</h5>
                <a href="#" @click.prevent="deleteTeam">
                  <i class="fas fa-trash-alt"></i>
                </a>

                <b-modal
                :active.sync="isDeleteTeam"
                :width="940"
                scroll="keep"
                class="deleteModal"
                >
                <div class="card deleteTeam-modal">
                  <div class="card-content">
                    <div class="content">
                      <h1>Souhaitez-vous supprimer définitivement l'équipe {{ teamSelectionned }} ?</h1>
                    </div>
                  </div>
                </div>
                <div class="add-scenar-btns">
                  <a href="#" class="btn-form-primary" @click="isDeleteTeam = false">Annuler</a>
                  <a @click.prevent class="btn-form-secondary">Supprimer</a>
                </div>
              </b-modal>
            </div>
          </div>

          <div class="column is-3">
            <div class="team-add-card" @click.prevent="isTeamAdd = true">
              <h1>
                <i class="fas fa-plus"></i> Ajouter une équipe
              </h1>
            </div>
          </div>

          <b-modal :active.sync="isTeamAdd" :width="940" scroll="keep">
            <div class="card addTeam-modal">
              <div class="card-content">
                <div class="content">
                  <b-field label="Nom de l'équipe">
                    <b-input placeholder="Enfant" rounded></b-input>
                  </b-field>

                  <b-field label="Associez un scénario à cette équipe">
                    <b-select placeholder="Le manoir enchanté" rounded>
                      <option
                      :value="scenario.name"
                      v-for="scenario in scenarios"
                      >{{scenario.name}}</option>
                    </b-select>
                  </b-field>
                </div>
              </div>
            </div>
            <div class="add-scenar-btns">
              <a href="#" class="btn-form-primary" @click="isTeamAdd = false">Annuler</a>
              <router-link to="/stories/form" class="btn-form-secondary">Créer</router-link>
            </div>
          </b-modal>
        </div>
      </div>
    </div>
  </b-collapse>

  <div class="ScenarioWaypoint">
    <div v-for="scenario in scenarios">
      <div class="columns is-multiline">
        <div
        class="column is-4 is-6-tablet is-4-desktop is-3-fullhd"
        v-for="(waypoint, index) in scenario.waypoints"
        >
        <div class="waypoint-card">
          <div class="waypoint-header">
            <div class="field">
              <b-switch
              v-model="waypoint.status"
              true-value="Actif"
              false-value="Inactif"
              >{{ waypoint.status }}</b-switch>
            </div>
          </div>
          <div class="waypoint-banner" :class="[waypoint.status]">
            <span class="icon" :class="['icon-' + waypoint.type]"></span>
            <a
            @click.prevent="addBeacon = true"
            class="beacon-add"
            :class="{ inactif: !waypoint.isBeacon, actif: waypoint.isBeacon }"
            v-on:mouseover="isHover = true"
            v-on:mouseleave="isHover = false"
            >
            <img
            src="@/assets/img/event-waypoint/icn-beacon-inactif.png"
            alt
            class="beacon-inactif"
            :class="{'not-over': !isHover, 'inactif': waypoint.isBeacon}"
            >
            <img
            src="@/assets/img/event-waypoint/icn-beacon.png"
            alt
            class="beacon-actif"
            :class="{'not-over': !isHover, 'inactif': !waypoint.isBeacon}"
            >
            <i
            class="fas fa-plus"
            :class="{'over': isHover, 'inactif': !waypoint.isBeacon}"
            ></i>
            <i
            class="fas fa-minus"
            :class="{'over': isHover, 'actif': waypoint.isBeacon}"
            ></i>
          </a>

          <b-modal
          :active.sync="addBeacon"
          :width="940"
          scroll="keep"
          class="beacon-add-modal"
          >
          <div class="card addBeacon-modal">
            <div class="card-content">
              <div class="content">
                <h1>
                  <i class="far fa-lightbulb"></i> Qu'est-ce qu'un "beacon" ?
                </h1>
                <br>
                <img src="@/assets/img/event-waypoint/visuel-beacon-notif.png" alt>

                <p>
                  Les beacons envoient une notification pop-up automatique sur le téléphone d’un visiteur à proximité.
                  <br>Vous pouvez en ajouter et retirer à volonté sur une balise.
                  <br>

                  <br>Vous pouvez définir le
                  <b>rayon</b> d'action des beacons dans l'onglet
                  <b>paramètres</b> de l'événement.
                </p>

                <h1>
                  Beacons disponibles :
                  <span>{{ beaconDispo }} / {{ beaconBought }}</span>
                </h1>

                <a
                @click.prevent="waypoint.isBeacon = true; beaconAdded()"
                class="btn-form-primary"
                v-if="!waypoint.isBeacon"
                >Ajouter un beacon à cette balise</a>
                <a
                @click.prevent="waypoint.isBeacon = false"
                class="btn-form-secondary"
                v-if="waypoint.isBeacon"
                >Retirer le beacon</a>
              </div>
            </div>
          </div>
        </b-modal>
      </div>
      <div class="waypoint-bottom">
        <h1>Nom du parcours</h1>
        <div class="waypoint-actions">
          <a @click.prevent="waypoint.isAperçu = true">
            <span class="icon icon-preview">
              <span class="path1"></span>
              <span class="path2"></span>
              <span class="path3"></span>
            </span>
          </a>
        </div>
        <div class="waypoint-number">
          <span>{{ index + 1 }}</span>
        </div>
      </div>

      <b-modal
      :active.sync="waypoint.isAperçu"
      :width="940"
      scroll="keep"
      class="aperçu-modal"
      >
      <div class="card isAperçu-modal">
        <div class="card-content">
          <div class="content">
            <div class="columns">
              <div class="column is-12 isAperçuModal text-center">
                <div class="aperçu-header columns">
                  <div class="column is-12 nav-tabs">
                    <ul>
                      <a
                      href="#"
                      class="stories-perso"
                      :class="{ 'actif' : isActiveChoice('principal', waypoint) }"
                      v-on:click="setActiveAperçu('principal', waypoint)"
                      >Principal</a>
                      <a
                      href="#"
                      class="store"
                      :class="{ 'actif' : isActiveChoice('aug', waypoint) }"
                      v-on:click="setActiveAperçu('aug', waypoint)"
                      >Augmentée</a>
                    </ul>
                  </div>
                </div>
                <div
                class="aperçu-principal"
                v-if="waypoint.isAperçuChoice == 'principal'"
                >
                <div class="card-preview-content">
                  <!-- Preview Quizz -->
                  <div
                  class="preview-quizz preview-content-block"
                  v-if="waypoint.type == 'quizz'"
                  >
                  <h3 class="text-Style-3">{{ waypoint.question }}</h3>

                  <div class="answers-block">
                    <div
                    class="field"
                    v-for="(answer, index) in waypoint.answers"
                    :key="index"
                    >
                    <b-radio
                    v-model="waypoint.answerChoice"
                    :native-value="answer.label"
                    >{{ answer.label }}</b-radio>
                  </div>

                  <div class="columns nav-tabs">
                    <ul>
                      <a
                      href="#"
                      class="stories-perso"
                      :class="{ 'actif' : isActiveComment('bad', waypoint) }"
                      v-on:click="setActiveCommentPreview('bad', waypoint)"
                      >Mauvaise réponse</a>
                      <a
                      href="#"
                      class="store"
                      :class="{ 'actif' : isActiveComment('good', waypoint) }"
                      v-on:click="setActiveCommentPreview('good', waypoint)"
                      >Bonne réponse</a>
                    </ul>
                  </div>

                  <p class="answers-comment">
                    <span
                    v-if="waypoint.commentValue == 'bad'"
                    class="is-red"
                    >Commentaire laissé suite à la mauvaise réponse. Les fourmis ont une organisation très particulière et une hierarchie bien établie.</span>
                    <span
                    v-if="waypoint.commentValue == 'good'"
                    class="is-green"
                    >Commentaire laissé suite à la bonne réponse. Les fourmis ont une organisation très particulière et une hierarchie bien établie.</span>
                  </p>
                </div>
              </div>

              <!-- Preview Image -->
              <div
              class="preview-image preview-content-block"
              v-if="waypoint.type == 'image'"
              >
              <h3 class="text-Style-3 title-waypoint">
                {{ waypoint.title }}
                <span>{{ index + 1 }}</span>
              </h3>

              <div
              class="image-preview"
              v-bind:style="{ backgroundImage: 'url(' + waypoint.imagePath + ')' }"
              ></div>

              <p
              class="image-comment"
              >Commentaire laissé à la suite du media. Cet espace peut contenir jusque 240 caractères au total. Les espaces comptent comme des caractères. L’occasion de décrire votre média ou d’ajouter plus d’informations en dessous de celui.</p>
            </div>

            <!-- Preview Text -->
            <div
            class="preview-text preview-content-block"
            v-if="waypoint.type == 'text'"
            >
            <h3 class="text-Style-3">{{ waypoint.title }}</h3>

            <p>{{ waypoint.comment }}</p>
          </div>

          <!-- Preview movie -->
          <div
          class="preview-movie preview-content-block"
          v-if="waypoint.type == 'movie'"
          >
          <h3 class="text-Style-3">{{ waypoint.title }}</h3>

          <a v-bind:href="waypoint.videoPath" target="_blank">
            <div
            class="video-preview"
            v-bind:style="{ backgroundImage: 'url(https://img.youtube.com/vi/' + waypoint.videoPath.substring(32) + '/0.jpg)' }"
            >
            <img src="@/assets/img/icn-play.png" alt>
          </div>
        </a>

        <p class="movie-comment">
          Niveau de texte normal de rédaction, pour une lecture fluide et confortable.
          Zone pouvant être large, c’est d’ailleurs recommandé pour commenter la vidéo si le participant n’a pas la possibilité d’activer le son lors de l’animation.
          Cet espace textuel est limité à un nombre de caractères qui est de 330 au grand maximum.
        </p>
      </div>

      <!-- Preview music -->
      <div
      class="preview-music preview-content-block"
      v-if="waypoint.type == 'music'"
      >
      <h3 class="text-Style-3">{{ waypoint.title }}</h3>

      <div class="music-preview">
        <a v-bind:href="waypoint.musicPath" target="_blank">
          <img src="@/assets/img/icn-play.png" alt>
        </a>

        <img src="@/assets/img/icn-replay.jpg" alt>
      </div>

      <span class="music-duration">Durée {{ waypoint.musicDuration }}</span>

      <div class="music-comment">{{ waypoint.comment }}</div>
    </div>

    <!-- Preview link -->
    <div
    class="preview-link preview-content-block"
    v-if="waypoint.type == 'link'"
    >
    <h3 class="text-Style-3">{{ waypoint.title }}</h3>

    <div class="link-content">
      <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 89.87 21"
      >
      <title>web</title>
      <g id="Calque_2" data-name="Calque 2">
        <g id="Capa_1" data-name="Capa 1">
          <path
          d="M17.48,10.78h-2V12.1h1.8A7.93,7.93,0,0,0,17.48,10.78Z"
          ></path>
          <path
          d="M18.79,8.14A4.28,4.28,0,0,0,17,6.58a5.3,5.3,0,0,1,.78,1.56Z"
          ></path>
          <path d="M15.51,12.75v1.94a2.77,2.77,0,0,0,1.61-1.94Z"></path>
          <path
          d="M15.51,6.2V8.14h1.61A2.77,2.77,0,0,0,15.51,6.2Z"
          ></path>
          <path
          d="M17.31,8.8h-1.8v1.32h2A7.67,7.67,0,0,0,17.31,8.8Z"
          ></path>
          <path
          d="M17,14.31a4.21,4.21,0,0,0,1.76-1.56h-1A5.3,5.3,0,0,1,17,14.31Z"
          ></path>
          <path
          d="M72.85,6.58a4.24,4.24,0,0,0-1.77,1.56h1A5.06,5.06,0,0,1,72.85,6.58Z"
          ></path>
          <path
          d="M18,12.1h1.16a4.24,4.24,0,0,0,.31-1.32H18.14A7.94,7.94,0,0,1,18,12.1Z"
          ></path>
          <path
          d="M18,8.8a7.81,7.81,0,0,1,.16,1.32h1.31a4.11,4.11,0,0,0-.31-1.32Z"
          ></path>
          <path
          d="M12.22,10.78H10.91a4.24,4.24,0,0,0,.31,1.32h1.16A7.94,7.94,0,0,1,12.22,10.78Z"
          ></path>
          <path
          d="M12.38,8.8H11.22a4.11,4.11,0,0,0-.31,1.32h1.31A7.81,7.81,0,0,1,12.38,8.8Z"
          ></path>
          <path
          d="M11.57,12.75a4.21,4.21,0,0,0,1.76,1.56,5.3,5.3,0,0,1-.78-1.56Z"
          ></path>
          <path
          d="M13.33,6.58a4.28,4.28,0,0,0-1.76,1.56h1A5.3,5.3,0,0,1,13.33,6.58Z"
          ></path>
          <path
          d="M14.85,14.69V12.75H13.23A2.8,2.8,0,0,0,14.85,14.69Z"
          ></path>
          <path
          d="M12.88,10.12h2V8.8h-1.8A7.67,7.67,0,0,0,12.88,10.12Z"
          ></path>
          <path
          d="M13.05,12.1h1.8V10.78h-2A7.93,7.93,0,0,0,13.05,12.1Z"
          ></path>
          <path
          d="M13.23,8.14h1.62V6.2A2.8,2.8,0,0,0,13.23,8.14Z"
          ></path>
          <path
          d="M71.08,12.75a4.18,4.18,0,0,0,1.77,1.56,5.06,5.06,0,0,1-.78-1.56Z"
          ></path>
          <path d="M75,12.75v1.94a2.79,2.79,0,0,0,1.61-1.94Z"></path>
          <path
          d="M76.83,8.8H75v1.32h2A7.67,7.67,0,0,0,76.83,8.8Z"
          ></path>
          <path
          d="M77,10.78H75V12.1h1.8A7.93,7.93,0,0,0,77,10.78Z"
          ></path>
          <path
          d="M78.31,8.14a4.28,4.28,0,0,0-1.76-1.56,5.05,5.05,0,0,1,.77,1.56Z"
          ></path>
          <path d="M75,6.2V8.14h1.61A2.79,2.79,0,0,0,75,6.2Z"></path>
          <path
          d="M76.55,14.31a4.21,4.21,0,0,0,1.76-1.56h-1A5.29,5.29,0,0,1,76.55,14.31Z"
          ></path>
          <path
          d="M77.49,8.8a7.8,7.8,0,0,1,.17,1.32H79a4.12,4.12,0,0,0-.32-1.32Z"
          ></path>
          <path
          d="M79.38,0H10.5a10.5,10.5,0,0,0,0,21H79.38a10.5,10.5,0,0,0,0-21ZM20.13,10.45v.33h0a4.93,4.93,0,0,1-4.6,4.6h-.66a5,5,0,0,1-4.61-4.6h0v-.66h0a5,5,0,0,1,4.61-4.61h.66a4.94,4.94,0,0,1,4.6,4.61h0ZM38.92,8.37l-1.76,4.81a.87.87,0,0,1-.83.58.89.89,0,0,1-.85-.63L34.86,11l-.63,2.15a.87.87,0,0,1-.85.63.86.86,0,0,1-.82-.57L30.79,8.35A.94.94,0,0,1,30.72,8a.88.88,0,0,1,.89-.88.86.86,0,0,1,.82.57l.88,2.5L34,7.74a.86.86,0,0,1,.84-.61.87.87,0,0,1,.84.61l.7,2.46.88-2.49A.88.88,0,0,1,39,8,.92.92,0,0,1,38.92,8.37ZM49,8.37l-1.76,4.81a.87.87,0,0,1-.83.58.89.89,0,0,1-.85-.63L44.94,11l-.63,2.15a.87.87,0,0,1-.85.63.86.86,0,0,1-.82-.57L40.87,8.35A.94.94,0,0,1,40.8,8a.88.88,0,0,1,.89-.88.86.86,0,0,1,.82.57l.88,2.5.71-2.46a.86.86,0,0,1,.84-.61.87.87,0,0,1,.84.61l.7,2.46.88-2.49a.88.88,0,0,1,1.71.3A.92.92,0,0,1,49,8.37Zm10.08,0-1.76,4.81a.87.87,0,0,1-.83.58.89.89,0,0,1-.85-.63L55,11l-.63,2.15a.87.87,0,0,1-.85.63.86.86,0,0,1-.82-.57L51,8.35A.94.94,0,0,1,50.88,8a.88.88,0,0,1,.89-.88.86.86,0,0,1,.82.57l.88,2.5.71-2.46A.86.86,0,0,1,55,7.13a.87.87,0,0,1,.84.61l.7,2.46.88-2.49a.88.88,0,0,1,1.71.3A.92.92,0,0,1,59.08,8.37Zm20.56,2.08v.33h0a4.94,4.94,0,0,1-4.6,4.6h-.66a4.94,4.94,0,0,1-4.61-4.6h0v-.66h0a5,5,0,0,1,4.61-4.61H75a5,5,0,0,1,4.6,4.61h0Z"
          ></path>
          <path
          d="M77.49,12.1h1.16A4.25,4.25,0,0,0,79,10.78H77.66A7.93,7.93,0,0,1,77.49,12.1Z"
          ></path>
          <path
          d="M74.37,14.69V12.75H72.75A2.78,2.78,0,0,0,74.37,14.69Z"
          ></path>
          <path
          d="M71.73,10.78H70.42a4.55,4.55,0,0,0,.32,1.32H71.9A7.93,7.93,0,0,1,71.73,10.78Z"
          ></path>
          <path
          d="M71.9,8.8H70.74a4.4,4.4,0,0,0-.32,1.32h1.31A7.8,7.8,0,0,1,71.9,8.8Z"
          ></path>
          <path
          d="M72.39,10.12h2V8.8H72.56A7.67,7.67,0,0,0,72.39,10.12Z"
          ></path>
          <path
          d="M72.75,8.14h1.62V6.2A2.78,2.78,0,0,0,72.75,8.14Z"
          ></path>
          <path
          d="M72.56,12.1h1.81V10.78h-2A7.93,7.93,0,0,0,72.56,12.1Z"
          ></path>
        </g>
      </g>
    </svg>
  </div>

  <p>
    <a
    v-bind:href="waypoint.linkPath"
    target="_blank"
    >{{ waypoint.linkPath }}</a>
  </p>

  <p class="link-comment">{{ waypoint.comment }}</p>
</div>

<!-- Preview digicode -->
<div
class="preview-digicode preview-content-block"
v-if="waypoint.type == 'digicode'"
>
<h3 class="text-Style-3">{{ waypoint.title }}</h3>

<div class="preview-content">
  <div class="codes-block">
    <div
    class="code"
    v-for="element in waypoint.digicodes"
    >{{ element.code }}</div>

    <p class="digicode-comment">{{ waypoint.comment }}</p>

    <div class="columns nav-tabs">
      <ul>
        <a
        href="#"
        class="stories-perso"
        :class="{ 'actif' : isActiveComment('bad', waypoint) }"
        v-on:click="setActiveCommentPreview('bad', waypoint)"
        >Mauvaise réponse</a>
        <a
        href="#"
        class="store"
        :class="{ 'actif' : isActiveComment('good', waypoint) }"
        v-on:click="setActiveCommentPreview('good', waypoint)"
        >Bonne réponse</a>
      </ul>
    </div>

    <p class="answers-comment">
      <span
      v-if="waypoint.commentValue == 'bad'"
      class="is-red"
      >{{ waypoint.goodComment }}</span>
      <span
      v-if="waypoint.commentValue == 'good'"
      class="is-green"
      >{{ waypoint.badComment }}</span>
    </p>
  </div>
</div>
</div>
</div>
</div>

<div
class="aperçu-aug"
v-if="waypoint.isAperçuChoice == 'aug'"
>

<div class="columns">
  <div class="column is-5">

    <!-- if jsonInfos has a poly model show this -->
    <div class="aperçu-poly">
      <!-- img src in jsonInfos : {{thumbUrl}} -->
      <img src="https://lh3.googleusercontent.com/cXi32O-YNxeR--z-4Od2qYJcW2lXbMjTciBlylGObiEDOGln0TowJAOU4GQCqL0e" alt="" class="thumbnailPreview">
    </div>

    <!-- if jsonInfos has a user model show this -->
    <div class="aperçu-user">
      <!-- name in jsonInfos : {{name}} -->
      <span>Nom-du-fichier.fbx</span>
      <span>Nom-du-fichier.fbx</span>
    </div>

  </div>

  <div class="column is-7">
    <img :src="imgMarqueurs(index + 1)" alt="">
    <span class="indic-marker-preview">Utilisez le mode test pour scanner le marqueur</span>
  </div>
</div>

</div>
</div>
</div>
</div>
</div>
</div>
</b-modal>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</template>

<script lang="ts">
import HeaderUser from "@/components/HeaderUser.vue";
import MenuEvent from "@/components/MenuEvent.vue";
import { Vue, Component } from "vue-property-decorator";

@Component({
  components: {
    HeaderUser,
    MenuEvent
  }
})
export default class EventWaypoints extends Vue {
  public events = [
    {
      name: "Un team building"
    }
  ];

  public isActive: string = "event-waypoints";

  public teamSelectionned: string = "";

  public scenarActif: string = "Associez un scénario.";

  public teams: Array<any> = [
    {
      name: "Enfants",
      scenario: "MISSION POLAIRE Enfants"
    },
    {
      name: "Adultes",
      scenario: "MISSION POLAIRE Adultes"
    }
  ];

  public scenarios: Array<any> = [
    {
      name: "MISSION POLAIRE Enfants",
      id: 1,
      waypoints: [
        {
          id: 1,
          title: "Le Pirate",
          isAperçu: false,
          isAperçuChoice: "principal",
          commentValue: "bad",
          isBeacon: false,
          status: "Actif",
          type: "image",
          imagePath:
          "https://pbs.twimg.com/profile_images/990920549080682497/P6tyKi5o_400x400.jpg"
        }
      ]
    },
    {
      name: "MISSION POLAIRE Adultes"
    }
  ];

  public teamIsOpen: boolean = true;

  public isTeamAdd: boolean = false;

  public isDeleteTeam: boolean = false;

  public confirmDelete: boolean = false;

  public isHover: boolean = false;

  public addBeacon: boolean = false;

  public beaconDispo: number = 10;

  public beaconBought: number = 15;

  public deleteTeam() {
    this.isDeleteTeam = true;
  }

  public imgMarqueurs(idMarqueur) {
    return idMarqueur
    ? require(`@/assets/img/marqueurs/${idMarqueur}.png`)
    : 1;
  }

  public closeTeamList(name: string, scenario: any) {
    if (!this.isDeleteTeam && name === null && scenario === null) {
      this.teamSelectionned = "";
      this.teamIsOpen = false;
    }

    if (name && scenario && !this.isDeleteTeam) {
      this.teamSelectionned = name;
      this.scenarActif = scenario;
    }
  }

  public setActiveAperçu(itemContent: any, list: any) {
    list.isAperçuChoice = itemContent;
  }

  public isActiveChoice(item: any, list: any) {
    return list.isAperçuChoice === item;
  }

  public setActiveCommentPreview(itemType: any, list: any) {
    list.commentValue = itemType;
  }

  public isActiveComment(item: any, list: any) {
    return list.commentValue === item;
  }

  public beaconAdded() {
    this.$toast.open({
      message: 'Beacon ajouté !',
      type: 'is-success'
    })
  }
}
</script>
