<template>
  <div class="event-list">
    <HeaderUser></HeaderUser>
    <div id="container" class="event-list-block" v-if="profile">
      <div class="columns event-list-menu">
        <div class="column is-12 event-list-menu-block">
          <i class="fas fa-chevron-right" v-on:click="toggleFullMenu()"></i>
          <!-- <i class="fas fa-bars"></i> -->
          <span class="side-menu">MENU</span>

          <div class="event-list-menu-mini">
            <div class="event-list-menu-card event-list-popin add" @click="eventAdd = true">
              <i class="fas fa-plus"></i>
            </div>

            <span class="event-list-popin" v-for="event in events" :key="event.id">
              <a :href="'#' + event.id">
                <div class="event-list-menu-card">
                  <img src="@/assets/img/event-list/app_logo.png" alt class="logo-event-list">
                  <span class="state-event" :class="[event.status]"></span>
                  <h3>{{ event.name }}</h3>
                </div>
              </a>
            </span>
          </div>
        </div>
        <div class="event-list-menu-full" :class="{ display: this.isFullMenu }">
          <div class="columns">
            <div class="column is-9 is-offset-1">
              <div class="columns is-multiline">
                <div class="column is-4">
                  <div class="event-full-menu-card add" @click="eventAdd = true">
                    <i class="fas fa-plus"></i>
                  </div>
                </div>
                <div class="column is-4" v-for="event in this.events" :key="event.id">
                  <a v-bind:href="'#' + event.id" v-on:click="toggleFullMenu()">
                    <div class="event-full-menu-card">
                      <div class="columns is-multiline">
                        <div class="column is-12-tablet is-6-desktop">
                          <div class="event-logo">
                            <img
                              src="@/assets/img/event-list/app_logo.png"
                              alt
                              class="logo-event-list"
                            >
                            <span class="state-event" :class="[event.status]"></span>
                          </div>
                        </div>
                        <div class="column is-12-tablet is-5-desktop">
                          <h3>{{ event.name }}</h3>
                          <p
                            class="info-text"
                          >Créé le {{ event.createdAt.date | moment('DD/MM/YYYY') }}</p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <i class="fas fa-chevron-left" @click="toggleFullMenu()"></i>
        </div>
      </div>

      <div class="columns event-list-cards">
        <div class="column is-8 is-offset-one-fifth-tablet is-offset-one-quarter-desktop">
          <div id="no-event-wrap" class="columns is-centered" v-if="events.length == 0">
            <div class="no-event-item">
              <img src="@/assets/img/event-list/events.jpg" alt>

              <p class="empty-msg">Vous n'avez pas encore d'événement.</p>

              <div id="event-empty-btn">
                <a
                  href="#"
                  class="btn-form-secondary"
                  @click="eventAdd = true"
                >Créez votre premier événement</a>
              </div>
            </div>
          </div>
          <span v-for="event in this.events" :key="event.id">
            <div v-bind:id="[event.id]" class="columns event-list-card">
              <div class="column is-12">
                <div class="columns">
                  <div class="column is-5 text-center event-list-description">
                    <div class="event-logo">
                      <img
                        :src="event.customLogo || '@/assets/img/event-list/app_logo.png'"
                        alt
                        class="logo-event-list"
                      >
                      <b-tooltip
                        v-if="event.status === 'Testing'"
                        label="En test"
                        position="is-right"
                        class="state-event testing"
                      >
                        <span></span>
                      </b-tooltip>
                      <b-tooltip
                        v-else-if="event.status === 'Manageable'"
                        label="En ligne"
                        position="is-right"
                        class="state-event online"
                      >
                        <span></span>
                      </b-tooltip>
                      <b-tooltip
                        v-else-if="event.status === 'blocked'"
                        label="Bloqué"
                        position="is-right"
                        class="state-event"
                        v-bind:class="[event.status]"
                      >
                        <span></span>
                      </b-tooltip>
                      <b-tooltip
                        v-else
                        label="Hors ligne"
                        position="is-right"
                        class="state-event disable"
                      >
                        <span></span>
                      </b-tooltip>
                    </div>
                    <div>
                      <h1>{{ event.name }}</h1>

                      <p>
                        <span
                          v-if="event.eventStart !== null"
                        >Du {{ event.eventStart.date | moment('DD/MM/YYYY HH:mm') }} jusqu’au {{ event.eventEnd.date | moment('DD/MM/YYYY HH:mm') }}</span>
                        <br>
                        <a href="#" class="link-text">Prolonger l’abonnement</a>
                      </p>

                      <div class="columns btn">
                        <router-link :to="`/events/${event.id}/start`" class="btn-primary block-center">
                          <i class="fas fa-cogs"></i> Configurer
                        </router-link>
                      </div>

                      <div class="columns btn">
                        <router-link :to="`/events/${event.id}/stats`" class="btn-secondary block-center">
                          <i class="fas fa-chart-pie"></i> Statistiques
                        </router-link>
                      </div>
                    </div>
                  </div>
                  <div class="column is-7 is-6-widescreen">
                    <div class="columns event-stat-card-block is-multiline">
                      <div class="column is-6">
                        <div class="event-stat-card visitor">
                          <div class="center-verticaly-max text-center">
                            <div class="columns is-multiline is-mobile">
                              <div
                                class="column is-12-tablet is-offset-1-widescreen is-6-widescreen"
                              >
                                <i class="fas fa-users"></i>
                              </div>
                              <div class="column is-12-tablet is-4-widescreen card-description">
                                <span class="center-verticaly-max">
                                  <b>{{ visitorCountOfEvent(event) }}</b>/
                                  <b-tooltip
                                    label="Compris dans l'abonnement"
                                    position="is-bottom"
                                    multilined
                                  >{{ userPlan.userLimit }}</b-tooltip>
                                  <br>Visiteurs
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="event-stat-card scans">
                          <div class="center-verticaly-max text-center">
                            <div class="columns is-multiline is-mobile">
                              <div
                                class="column is-12-tablet is-offset-1-widescreen is-6-widescreen"
                              >
                                <i class="fas fa-qrcode"></i>
                              </div>
                              <div class="column is-12-tablet is-4-widescreen card-description">
                                <span class="center-verticaly-max">
                                  <b>{{ event.scanCount }}</b>
                                  <br>Scans
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="column is-6">
                        <div class="event-stat-card photos">
                          <div class="center-verticaly-max text-center">
                            <div class="columns is-multiline is-mobile">
                              <div
                                class="column is-12-tablet is-offset-1-widescreen is-6-widescreen"
                              >
                                <i class="fas fa-camera-retro"></i>
                              </div>
                              <div class="column is-12-tablet is-4-widescreen card-description">
                                <span class="center-verticaly-max">
                                  <b>{{ event.pictureCount }}</b>
                                  <br>Photos
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="event-stat-card time">
                          <div class="center-verticaly-max text-center">
                            <div class="columns is-multiline is-mobile">
                              <div
                                class="column is-12-tablet is-offset-1-widescreen is-6-widescreen"
                              >
                                <i class="far fa-clock"></i>
                              </div>
                              <div class="column is-12-tablet is-4-widescreen card-description">
                                <span class="center-verticaly-max">
                                  <b>{{ visitTimeOfEvent(event).day }}j</b>
                                  <br>
                                  {{ visitTimeOfEvent(event).hour }}:{{ visitTimeOfEvent(event).min }}:{{ visitTimeOfEvent(event).sec }}
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <a href="/event/realtime" class="btn-primary block-center text-center">
                        <i class="fas fa-chalkboard"></i> Temps réel
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </span>

          <b-modal
            :active.sync="eventAdd"
            :width="940"
            scroll="keep"
            class="validate-modal new-event-modal"
          >
            <form @submit.prevent="onCreateEvent" class="card new-event-modal-content">
              <div class="card-content">
                <div class="content">
                  <h1 class="text-center">Nouvel événement
                    <br>
                    <span>{{ profile.companyName }}</span>
                  </h1>

                  <b-field label="Nom de votre événement *">
                    <b-input
                      placeholder="Jeu de piste à Paris"
                      v-model="eventName"
                      rounded
                      maxlength="25"
                      required
                    ></b-input>
                  </b-field>

                  <div class="event-id-wrap">
                    <b-tooltip
                      label="L’identifiant événement est comme un code d’accès à l’application que vous communiquerez à vos utilisateurs. Il peut être complexe si vous souhaitez l’utiliser en tant que code (exemple : #X2ZF9H) ou plus clair dans le cas d’un événement visant à accueillir le plus grand nombre (exemple : #DDAY2019). Il peut comporter de 5 à 8 caractères."
                      position="is-right"
                      size="is-large"
                      multilined
                    >
                      <i class="fas fa-info-circle"></i>
                    </b-tooltip>

                    <b-field label="Votre identifiant événement *">
                      <b-input
                        v-model="eventToken"
                        placeholder="#EX5854"
                        rounded
                        required
                        maxlength="6"
                        minlength="6"
                      ></b-input>
                    </b-field>
                  </div>

                  <b-field label="Nombre de points de passage *">
                    <b-select v-model="waypointCount" placeholder="10" rounded required>
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                    </b-select>
                  </b-field>

                  <b-field label="Souhaitez-vous utiliser des bornes beacons sur cet événement ? *">
                    <b-select v-model="beaconEnabled" placeholder="Oui" rounded required>
                      <option :value="true" selected>Oui</option>
                      <option :value="false">Non</option>
                    </b-select>
                  </b-field>
                </div>
              </div>
            </form>
            <div class="validate-btns text-center">
              <a href="#" class="btn-form-primary" @click="eventAdd = false">Annuler</a>
              <button type="submit" href="#" class="btn-form-secondary">Créer</button>
            </div>
          </b-modal>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import { Component, Vue } from "vue-property-decorator";
import HeaderUser from "@/components/HeaderUser.vue";
import Event from "@/models/Event";
import { Getter } from "vuex-class";
import Product from "@/models/Product";
import Profile from "@/models/Profile";

@Component({
  components: {
    HeaderUser
  }
})
export default class EventList extends Vue {
  @Getter("event/findNonArchivedEvents")
  public events!: Event[];

  @Getter("event/findVisitorCountOfEvent")
  private findVisitorCountOfEvent: any;

  @Getter("product/findUserPlan")
  public userPlan!: Product;

  @Getter("event/findVisitTimeOfEvent")
  public findVisitTimeOfEvent!: (event: Event) => number;

  @Getter("profile/getter")
  public profile!: Profile;

  public visitorCountOfEvent(event: Event) {
    return this.findVisitorCountOfEvent(event);
  }

  public visitTimeOfEvent(event: Event): any {
    return this.findVisitTimeOfEvent(event);
  }

  // UI handling
  public isFullMenu = false;
  public eventAdd = false;

  public toggleFullMenu() {
    this.isFullMenu = !this.isFullMenu;
  }

  // form handling
  public beaconEnabled: boolean = true;
  public eventName: string = "";
  public waypointCount: number = 10;
  public eventToken: string = "";

  /**
   *  submit handler when the "new event" form is submitted.
   */
  public onCreateEvent() {
    //IF NO ERRORS
    console.log("test");
    this.eventAdd = false;
    this.$toast.open({
      message: "Événement bien créé !",
      type: "is-success"
    });

    //IF ERRORS
    this.$toast.open({
      message:
        "L'événement n'a pas pu être créé. Veuillez vérifier les erreurs.",
      type: "is-danger"
    });
  }
}
</script>
