<template>
  <div class="parameters">
    <HeaderUser></HeaderUser>

    <div class="columns parameters-block" v-if="event">
      <!-- </div>v-if="event"> -->
      <MenuEvent :event="event"></MenuEvent>

      <div class="column is-3 is-4-fullhd parameters-content">
        <b-loading :is-full-page="false" :active.sync="isSubmitActive"></b-loading>
        <h5 class="text-style-5">Paramètres</h5>

        <!-- Category 'fonctionnement' -->
        <div v-if="selectedCategory === 'Fonctionnement'" class="parameters-inside">
          <div>
            <h1 class="big-title">Fonctionnement de l’événement</h1>

            <b-field label="Application de l'événement" v-model="event.setting">
              <b-select placeholder="Sélectionnez l'application adéquate à votre besoin" rounded>
                <option v-for="setting in settings" :key="setting.id + 'setting'">{{ setting.key }}</option>
              </b-select>
            </b-field>

            <br>

            <div class="field">
              <b-checkbox
                v-model="event.isCharged"
                true-value="true"
                false-value="false"
                type="iris"
              >
                <span class="label">Limiter l'accès à l'événement</span>
              </b-checkbox>
              <p>
                <i>Vous pouvez rendre l'accès à l'événement limité avec la génération d'un code unique pour chaque participant.</i>
              </p>
            </div>

            <br>

            <div class="field">
              <b-checkbox
                v-model="event.imgModeration"
                true-value="true"
                false-value="false"
                type="iris"
              >
                <span class="label">Activer la modération des photos prises</span>
              </b-checkbox>
              <p>
                <i>Si la prise de photos par les visiteurs est autorisée, modérez-les avant qu’elles n’apparaissent sur l’écran temps réel.</i>
              </p>
            </div>

            <div class="field beacon-ray">
              <span class="label">Rayon d'action des beacons (en mètres)</span>
              <p>
                <i>Ajustez la portée des notifications envoyées par les beacons aux visiteurs à proximité.</i>
              </p>

              <vue-slider
                :value.sync="event.beaconPopupDistance"
                class="range-slider"
                :max="50"
                v-model="event.beaconPopupDistance"
              ></vue-slider>
            </div>

            <div class="params-btn">
              <a class="btn-form-primary" @click.prevent="goToInterfaceCategory">Suivant</a>
              <!-- submit -->
              <a class="btn-form-secondary" @click="saveParams()">Enregistrer</a>
            </div>
          </div>
        </div>

        <!-- Category 'interface' -->
        <div v-if="selectedCategory === 'Interface'" class="parameters-inside">
          <h1 class="big-title">Interface de l’événement</h1>

          <div class="field color-appli">
            <label class="label">Couleur du thème de l'application</label>

            <div class="colors-choice-block">
              <div class="color-choice violet" @click="event.interfaceColor = '55429f'">
                <i v-if="event.interfaceColor === '55429f'" class="fas fa-check"></i>
              </div>

              <div class="color-choice red" @click="event.interfaceColor = 'ce2b2b'">
                <i v-if="event.interfaceColor === 'ce2b2b'" class="fas fa-check"></i>
              </div>

              <div class="color-choice orange" @click="event.interfaceColor = 'ff8a00'">
                <i v-if="event.interfaceColor === 'ff8a00'" class="fas fa-check"></i>
              </div>

              <div class="color-choice blue" @click="event.interfaceColor = '26a69a'">
                <i v-if="event.interfaceColor === '26a69a'" class="fas fa-check"></i>
              </div>

              <div class="color-choice green" @click="event.interfaceColor = '95c11f'">
                <i v-if="event.interfaceColor === '95c11f'" class="fas fa-check"></i>
              </div>

              <b-field>
                <b-input placeholder="55429f" rounded v-model="event.interfaceColor"></b-input>
              </b-field>
            </div>

            <slider-picker
              :value="{hex: event.interfaceColor}"
              @input="updateInterfaceColor"
              v-model="event.interfaceColor"
            />
          </div>

          <div class="field add-logo-image">
            <div class="columns logo-image-block is-multiline">
              <div class="column is-12-mobile is-12-tablet is-12-desktop is-6-fullhd">
                <label class="label">Ajouter votre logo</label>
                <p>
                  <i>Votre logo va s’afficher au chargement ainsi que dans le bouton central de l’interface.</i>
                </p>

                <label for="file-logo" class="label-input">
                  <i class="fas fa-upload"></i> Choisir un fichier .jpeg/.png...
                </label>
                <input id="file-logo" type="file" @change="previewImage" accept="image/*">
              </div>

              <div class="column is-12-mobile is-12-tablet is-12-desktop is-6-fullhd">
                <div
                  class="aperçu-logo-image"
                  v-bind:style="{backgroundImage: 'url(' + logoImg + ')'}"
                  @click="logoModalDisplayed = true"
                ></div>
              </div>

              <b-modal :active.sync="logoModalDisplayed">
                <img :src="logoImg">
                <h3 v-if="!logoImg" style="color: white">Veuillez importer une image</h3>
              </b-modal>
            </div>
          </div>

          <div class="field add-map-image">
            <div class="columns logo-image-block is-multiline">
              <div class="column is-12-mobile is-12-tablet is-12-desktop is-6-fullhd">
                <label class="label">Ajouter une carte de l’événement ou du lieu</label>
                <p>
                  <i>Poids maximum : 2 Mo, taille minimum : 1920*1080</i>
                </p>

                <div class="map-image-block">
                  <label for="file-map" class="label-input">
                    <i class="fas fa-upload"></i> Choisir un fichier .jpeg/.png...
                  </label>
                  <input id="file-map" type="file" @change="previewMap" accept="image/*">
                </div>
              </div>

              <div class="column is-12-mobile is-12-tablet is-12-desktop is-6-fullhd">
                <div
                  class="aperçu-logo-image"
                  v-bind:style="{backgroundImage: 'url(' + mapImg + ')'}"
                  @click="mapModalDisplayed = true"
                ></div>

                <b-modal :active.sync="mapModalDisplayed">
                  <img :src="mapImg">
                  <h3 v-if="!mapImg" style="color: white">Veuillez importer une image</h3>
                </b-modal>
              </div>
            </div>
          </div>

          <div class="params-btn interface">
            <!-- submit -->
            <a href="#" class="btn-form-secondary" @click="saveParams()">Enregistrer</a>
          </div>
        </div>
      </div>

      <div class="column is-2" v-if="selectedCategory !== 'Interface'"></div>

      <div class="column is-2 parameters-content image" v-if="selectedCategory === 'Interface'">
        <div class="parameters-illu current">
          <div class="illu-item-wrap">
            <div
              class="illu-interface"
              v-bind:style="{ backgroundImage: `url(${getScreen(`iphone-splashscreen`)})`}"
            >
              <img
                src="@/assets/img/params/param-logoHKdefaut.jpg"
                alt
                class="picto-logo-splash"
                v-if="logoPerso === false"
              >
              <img :src="logoImg" alt class="picto-logo-splash" v-if="logoPerso === true">
            </div>
          </div>
        </div>
      </div>

      <div class="column is-2 parameters-content image">
        <div class="parameters-illu" :class="{current: selectedCategory === 'Interface' }">
          <div class="illu-item-wrap">
            <div
              class="illu-item-fond"
              :class="{fondInterface: selectedCategory === 'Interface' }"
              v-bind:style="{ backgroundColor: `#${event.interfaceColor}`,  backgroundImage: `url(${getScreen('iphone-interface')})`}"
            >
              <img
                src="@/assets/img/params/picto-scan-HK.png"
                alt
                v-if="selectedCategory === 'Interface' && logoPerso === false"
                class="picto-logo-app"
              >
              <img
                :src="logoImg"
                alt
                class="picto-logo-app"
                :class="{'picto-logo-perso': logoPerso === true}"
                v-if="selectedCategory === 'Interface' && logoPerso === true"
              >
            </div>
          </div>
        </div>
        <div class="parameters-illu" :class="{current: selectedCategory === 'Fonctionnement' }">
          <div class="illu-item-wrap">
            <div
              class="illu-item-fond"
              v-bind:style="{ backgroundColor: `#${event.interfaceColor}`,  backgroundImage: `url(${getScreen('iphone-screen-classic')})`}"
            ></div>
            <div v-if="selectedCategory === 'Fonctionnement'" class="beacon-illu">
              <img src="@/assets/img/params/beacon.png" alt>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-2 parameters-content nav">
        <ul class="parameters-side-nav">
          <li
            :class="{ 'active-tab': selectedCategory === 'Fonctionnement' }"
            @click="selectedCategory = 'Fonctionnement'"
          >
            <i class="fas fa-cogs"></i>
            Fonctionnement
          </li>
          <li
            :class="{ 'active-tab': selectedCategory === 'Interface' }"
            @click="selectedCategory = 'Interface'"
          >
            <i class="fa fa-mobile"></i>
            Interface
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import vueSlider from "vue-slider-component";
import { Slider } from "vue-color";
import { Component, Vue } from "vue-property-decorator";
import HeaderUser from "@/components/HeaderUser.vue";
import MenuEvent from "@/components/MenuEvent.vue";
import { Getter, Action } from "vuex-class";
import Event from "@/models/Event";
import Setting from "@/models/Setting";

@Component({
  components: {
    vueSlider,
    HeaderUser,
    MenuEvent,
    "slider-picker": Slider
  }
})
export default class EventParameters extends Vue {
  @Getter("event/findEventById")
  public findEventById: any;

  @Getter("event/findAppSettings")
  public settings!: Setting[];

  @Action("event/updateEvent")
  public updateEvent!: (event: Event) => Promise<void>;

  public isSubmitActive: boolean = false;

  public selectedCategory = "Fonctionnement";
  public logoPerso = false;

  public logoImg: string = "";
  public mapImg: string = "";
  public mapModalDisplayed: boolean = false;
  public logoModalDisplayed: boolean = false;

  public get event(): Event {
    const id: number = parseInt(this.$router.currentRoute.params["id"]);
    const event: Event = this.findEventById(id);
    return event;
  }

  public goToInterfaceCategory() {
    this.selectedCategory = "Interface";
  }

  public previewImage(event: any) {
    const input = event.target;

    if (input.files && input.files[0]) {
      // create a new FileReader to read this image and convert to base64 format
      const reader = new FileReader();
      // Define a callback function to run, when FileReader finishes its job
      reader.onload = (e: any) => {
        // Read image as base64 and set to imageData
        this.logoImg = e.target.result;
      };
      // Start the reader job - read file as a data url (base64 format)
      reader.readAsDataURL(input.files[0]);
      this.logoPerso = true;
    }
  }

  public previewMap(event: any): void {
    const input = event.target;

    if (input.files && input.files[0]) {
      // create a new FileReader to read this image and convert to base64 format
      const reader = new FileReader();
      // Define a callback function to run, when FileReader finishes its job
      reader.onload = (e: any) => {
        // Read image as base64 and set to imageData
        this.mapImg = e.target.result;
      };
      // Start the reader job - read file as a data url (base64 format)
      reader.readAsDataURL(input.files[0]);
    }
  }

  public getScreen(elem: any): any {
    let images = require.context("@/assets/img/params/", false, /\.png$/);
    return images("./" + elem + ".png");
  }

  public async saveParams() {
    try {
      this.isSubmitActive = true;
      await this.updateEvent(this.event);
      this.$toast.open({
        message:
          "Les paramètres de l'événement ont été enregistrés avec succès.",
        type: "is-success"
      });
    } catch (err) {
      this.$toast.open({
        message:
          "Les paramètres de l'événement n'ont pas pu être enregistrés correctement. Veuillez réessayer.",
        type: "is-danger"
      });
    } finally {
      this.isSubmitActive = false;
    }
  }

  public updateInterfaceColor(value: any) {
    this.event.interfaceColor = (value.hex as string).substring(
      1,
      value.hex.length
    );
  }
}
</script>
