<template>
  <div class="event-start">
    <HeaderUser></HeaderUser>

    <div class="columns">
      <MenuEvent :event="this.events[0]"></MenuEvent>

      <div class="column is-6 is-7-fullhd event-start-content">Parcours Map</div>
    </div>
  </div>
</template>

<script lang="ts">
import HeaderUser from "@/components/HeaderUser.vue";
import MenuEvent from "@/components/MenuEvent.vue";
import { Component, Vue } from "vue-property-decorator";

@Component({
  components: {
    HeaderUser,
    MenuEvent
  }
})
export default class EventParcours extends Vue {
  public events = [
    {
      name: "Un team building"
    }
  ];

  public isActive = "event-parcours";
}
</script>
