<template >
  <div class="code-list-page">
    <HeaderUser></HeaderUser>

    <div class="columns" v-if="event">
      <MenuEvent :event="event"></MenuEvent>

      <div class="column is-9 code-list-content">
        <h1 class="big-title">Codes d'accès utilisateurs</h1>

        <p>Sur cette page apparait un historique de tous les codes d'accès générés pour cet événement, grâce à l'option "parcours payant" auquelle vous avez souscrite. Vous avez également la possibilité de générer un nouveau code.</p>

        <div class="code-actions-wrap">
          <a
            v-if="event.isCharged"
            class="btn-form-secondary"
            @click="generateVisitorToken"
          >Générer un nouveau code</a>

          <b-modal
            :active.sync="isCodeAdded"
            :width="940"
            scroll="keep"
            class="add-code-modal-wrap"
          >
            <div class="card add-code-modal">
              <div class="card-content">
                <div class="content">
                  <div class="columns">
                    <div class="column is-12">
                      <div class="add-code-wrap">
                        <i class="fas fa-check-circle"></i>
                        <p class="text-center">OK !
                          <br>
                          Le code d'accès {{ addedToken }} a bien été généré, vous pouvez désormais l'utiliser pour ouvrir l'application.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="add-scenar-btns text-center">
              <a @click.prevent="isCodeAdded = false" class="btn-form-primary">Fermer</a>
            </div>
          </b-modal>

          <b-field>
            <b-input
              placeholder="Rechercher un code..."
              type="search"
              icon="magnify"
              rounded
              v-model="searchCode"
            ></b-input>
          </b-field>
        </div>

        <div class="code-list-wrap">
          <b-table
            :data="visitorTokens"
            :paginated="isPaginated"
            :focusable="isFocusable"
            :per-page="perPage"
            :current-page.sync="currentPage"
            :default-sort-direction="defaultSortDirection"
            class="list-tab"
          >
            <template slot-scope="props">
              <b-table-column
                field="token"
                label="Code"
                sortable
                class="visitor-name"
              >{{ props.row.token }}</b-table-column>

              <b-table-column
                field="useCount"
                label="Nombre d’utilisation"
                sortable
              >{{ props.row.useCount }}</b-table-column>

              <b-table-column
                field="lastUse"
                label="Dernière utilisation"
                sortable
              >{{ props.row.lastUse ? (new Date(props.row.lastUse.date).toLocaleDateString('fr-FR', { year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric' })) : 'Non utilisé' }}</b-table-column>

              <b-table-column
                field="isReusable"
                label="Réutilisable"
                sortable
              >{{ props.row.isReusable ? 'Oui' : 'Non' }}</b-table-column>
            </template>
          </b-table>
        </div>
      </div>
    </div>
    <b-loading :is-full-page="false" :active.sync="isLoading"></b-loading>
  </div>
</template>

<script lang="ts">
import HeaderUser from "@/components/HeaderUser.vue";
import MenuEvent from "@/components/MenuEvent.vue";
import { Component, Vue } from "vue-property-decorator";
import { Getter, Action } from "vuex-class";
import VisitorToken from "@/models/VisitorToken";
import Event from "@/models/Event";
import HttpError from "@/models/HttpError";

@Component({
  components: {
    HeaderUser,
    MenuEvent
  }
})
export default class EventCode extends Vue {
  @Getter("event/findEventById")
  public findEventById: any;

  @Getter("event/findVisitorTokensByEvent")
  public findVisitorTokensByEvent!: (event: Event) => VisitorToken[];

  @Action("event/generateToken")
  private generateToken: any;

  public get visitorTokens(): VisitorToken[] {
    if (this.searchCode.length === 0) {
      return this.findVisitorTokensByEvent(this.event);
    } else {
      return this.findVisitorTokensByEvent(this.event).filter(visitorToken =>
        Object.values(visitorToken).some((value: any) => {
          return value && value.toString().match(this.searchCode) !== null;
        })
      );
    }
  }

  public get event(): Event {
    const id: number = parseInt(this.$router.currentRoute.params["id"]);
    const event: Event = this.findEventById(id);
    return event;
  }

  public async generateVisitorToken() {
    this.isLoading = true;
    try {
      const visitorToken: VisitorToken = await this.generateToken(
        this.event.id
      );
      this.addedToken = visitorToken.token;
      this.isCodeAdded = true;
    } catch (err) {
      console.log(err);
      this.$toast.open({
        message: "Le code n'a pas pu être généré.",
        type: "is-danger"
      });
    } finally {
      this.isLoading = false; // disable loading component
    }
  }

  // UI handling
  isLoading: boolean = false; // flag to indicate if the loading widget can be displayed (when api is called.)
  addedToken: string = ""; // token to display in the modal of success
  searchCode = "";
  isFocusable = true;
  isPaginated = true;
  currentPage = 1;
  perPage = 8;
  defaultSortDirection = "asc";
  isCodeAdded = false; // flag to indicate if the success modal will be displayed
}
</script>
