<template>
  <div class="event-start">
    <HeaderUser></HeaderUser>
    <div class="columns" v-if="findEventById">
      <MenuEvent :event="event"></MenuEvent>
      <div class="column is-6 is-7-fullhd event-start-content" v-scroll-spy>
        <div id="tuto-1" class="tuto-wrap">
          <div class="tuto-card">
            <div class="columns is-multiline is-multiline">
              <div class="column is-full-tablet is-4-desktop tuto-illu">
                <img src="@/assets/img/event-start/Tuto_illu_2.png" alt>
              </div>
              <div class="column is-full-tablet is-8-desktop tuto-content">
                <div class="tuto-content-wrap">
                  <h1>Paramétrez vos scénarios ...</h1>

                  <div>Quizz, photo, vidéo ou audio, laissez-vous guider dans la création des points de passage, et libérez votre créativité ! A noter : vous n’êtes pas obligés d’utiliser la totalité des points de passage qui sont à votre disposition.
                    <div class="button-wrap">
                      <router-link to="/stories/library" class="btn-primary">Consulter vos scénarios</router-link>
                    </div>
                  </div>

                  <h1>... et votre événement</h1>

                  <p>Ajoutez des équipes et personnalisez votre interface : donnez envie à vos participants ! Pensez à consulter les autres paramètres afin d’enrichir au mieux l’expérience utilisateur.</p>

                  <div class="button-wrap">
                    <router-link
                      :to="`/events/${event.id}/parameters`"
                      class="btn-primary"
                    >Modifier les paramètres</router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="tuto-2" class="tuto-wrap" v-if="event.status === 'Manageable' && event.story">
          <div class="tuto-card">
            <div class="columns is-multiline">
              <div class="column is-full-tablet is-4-desktop tuto-illu">
                <img src="@/assets/img/event-start/Tuto_illu_3.png" alt>
              </div>
              <div class="column is-full-tablet is-8-desktop tuto-content">
                <div class="tuto-content-wrap">
                  <h1>Passez en mode test ...</h1>

                  <div>Votre parcours est presque prêt ! Avant le grand saut, rien de tel qu’une petite chasse aux éventuelles coquilles. Glissez-vous dans la peau d’un visiteur, armez-vous d’un smartphone et testez tous vos marqueurs ! Chères erreurs … Vous ne passerez pas !
                    <div class="button-wrap">
                      <!-- activer la route du mode test -->
                      <a @click="onPutEventTest" class="btn-primary">Activer le mode test</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="tuto-3" class="tuto-wrap">
          <div class="tuto-card">
            <div class="columns is-multiline">
              <div class="column is-full-tablet is-4-desktop tuto-illu">
                <img src="@/assets/img/event-start/Tuto_illu_4.png" alt>
              </div>
              <div class="column is-full-tablet is-8-desktop tuto-content">
                <div class="tuto-content-wrap">
                  <h1>Affichez les photos prises par vos participants dans une oeuvre collaborative !</h1>

                  <p>Pour fédérer les visiteurs de votre événement, rien de tel qu’une mosaïque de leurs photos… en réalité augmentée !
                    <br>Après la découverte des points de passage, les utilisateurs ont la possibilité de prendre une photo de ce qui les entoure. Celles-ci apparaissent dès lors qu’on scanne le marqueur final.
                    <br>
                    <br>
                    <i>Attention ! Si vous avez coché la case "Modération manuelle des photos", modérez régulièrement les photos durant l'événement, afin qu’elles s’affichent sur la mosaïque et sur l’écran de suivi en temps réel.</i>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="tuto-4" class="tuto-wrap">
          <div class="tuto-card">
            <div class="columns is-multiline">
              <div class="column is-full-tablet is-4-desktop tuto-illu">
                <img src="@/assets/img/event-start/Tuto_illu_5.png" alt>
              </div>
              <div class="column is-full-tablet is-8-desktop tuto-content">
                <div class="tuto-content-wrap">
                  <h1>Mettez votre version en ligne</h1>

                  <p>Tout est prêt, vos points de passage sont sortis du colis, physiquement installés et virtuellement configurés : vous pouvez mettre votre parcours à disposition des visiteurs ! Si vous avez des beacons, pensez à les installer également !
                    <br>
                    <br>
                    <i>L’application des visiteurs détectera automatiquement votre événement à leur arrivée. Vos points de passage restant modifiables à tout moment, l’application mobile ne nécessitera aucune mise à jour.</i>
                  </p>

                  <div
                    class="button-wrap"
                    v-if="!(event.eventStart && event.eventStart.date < event.eventEnd.date && event.status === 'Manageable')"
                  >
                    <!-- route de mettre en ligne -->
                    <a @click="onPutEventOnline" class="btn-primary">Mettre en ligne</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="tuto-5" class="tuto-wrap">
          <div class="tuto-card">
            <div class="columns is-multiline">
              <div class="column is-full-tablet is-4-desktop tuto-illu">
                <img src="@/assets/img/event-start/Tuto_illu_6.png" alt>
              </div>
              <div class="column is-full-tablet is-8-desktop tuto-content">
                <div class="tuto-content-wrap">
                  <h1>Suivez votre événement en temps réel</h1>

                  <p>Votre événement bat son plein, consultez le nombre de joueurs, le classement, et les photos envoyées. Cet écran peut tout à fait être projeté ou affiché pour être visible de vos participants.</p>

                  <div class="button-wrap">
                    <router-link
                      :to="`/events/${event.id}/realtime`"
                      class="btn-primary"
                    >Afficher le temps réel</router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Condition if compte has stats -->
        <div id="tuto-6" class="tuto-wrap">
          <div class="tuto-card">
            <div class="columns is-multiline">
              <div class="column is-full-tablet is-4-desktop tuto-illu">
                <img src="@/assets/img/event-start/Tuto_illu_7.png" alt>
              </div>
              <div class="column is-full-tablet is-8-desktop tuto-content">
                <div class="tuto-content-wrap">
                  <h1>Consultez vos statistisques</h1>

                  <p>Pendant votre événement où à posteriori, vous pouvez consulter un certain nombre d’informations relatives à celui-ci. Vos statistiques sont accessibles durant toute la durée de votre abonnement.</p>

                  <div class="button-wrap">
                    <router-link
                      :to="`/events/${event.id}/stats`"
                      class="btn-primary"
                    >Allez aux statistiques</router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / Condition if compte has stats -->
        <div id="tuto-7" class="tuto-wrap">
          <div class="tuto-card">
            <div class="columns is-multiline">
              <div class="column is-full-tablet is-4-desktop tuto-illu">
                <img src="@/assets/img/event-start/Tuto_illu_8.png" alt>
              </div>
              <div class="column is-full-tablet is-8-desktop tuto-content">
                <div class="tuto-content-wrap">
                  <h1>Réutilisez votre matériel</h1>

                  <p>Votre abonnement prend fin, conservez votre matériel ! Celui-ci est réutilisable si vous prolongez votre abonnement. Vos statistiques seront toujours accessibles, vos contenus modifiables, et la mosaïque de photos continuera de se constituer. Il peut également servir lors d’une prochaine commande ;)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-offset-1-full-hd is-2 start-nav">
        <div class="start-nav-elements" v-scroll-spy-active="{class: 'active'}" v-scroll-spy-link>
          <a href="#tuto-1" class="scrollactive-item">Paramétrez votre événement</a>
          <a
            href="#tuto-2"
            v-if="event.status === 'Manageable' && event.story"
            class="scrollactive-item"
          >Passez en mode test</a>
          <a href="#tuto-3" class="scrollactive-item">Affichez la mosaïque de photos</a>
          <a href="#tuto-4" class="scrollactive-item">Mettez votre version en ligne</a>
          <a href="#tuto-5" class="scrollactive-item">Suivez votre événement en temps réel</a>
          <!-- condition if compte has stats -->
          <a href="#tuto-6" class="scrollactive-item">Consultez vos statistisques</a>
          <!-- / condition if compte has stats -->
          <a href="#tuto-7" class="scrollactive-item">Réutilisez votre matériel</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import HeaderUser from "@/components/HeaderUser.vue";
import MenuEvent from "@/components/MenuEvent.vue";
import { Vue, Component } from "vue-property-decorator";
import Event from "@/models/Event";
import { Getter, Action } from "vuex-class";

@Component({
  components: {
    HeaderUser,
    MenuEvent
  }
})
export default class EventStart extends Vue {
  @Getter("event/findEventById")
  public findEventById: any;

  @Action("event/putEventTest")
  private putEventTest!: (event: Event) => Promise<void>;

  @Action("event/putEventOnline")
  private putEventOnline!: (event: Event) => Promise<void>;

  public get event() {
    const id: number = parseInt(this.$router.currentRoute.params["id"]);
    return this.findEventById(id);
  }

  /**
   * Put the specified event in test mode by calling the vuex action "putEventTest"
   */
  public async onPutEventTest() {
    const loadingComponent = this.$loading.open({
      container: null
    });
    try {
      await this.putEventTest(this.event.id);
      this.$toast.open({
        message: "Modifications enregistrées.",
        type: "is-success"
      });
    } catch (err) {
      this.$toast.open({
        message: "Une erreur est survenue. Veuillez réessayer.",
        type: "is-danger"
      });
    } finally {
      loadingComponent.close();
    }
  }

  public async onPutEventOnline() {
    const loadingComponent = this.$loading.open({
      container: null
    });
    try {
      await this.putEventOnline(this.event);
      this.$toast.open({
        message: "L'événement a été mis en ligne avec succès.",
        type: "is-success"
      });
    } catch (err) {
      this.$toast.open({
        message: err.message,
        type: "is-danger"
      });
    } finally {
      loadingComponent.close();
    }
  }
}
</script>
