<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
            integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
            crossorigin="anonymous"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css"
        />

        <title>Hackeo Plate-forme</title>
    </head>
    <body>
        <noscript>
            <strong
                >We're sorry but hackeo-platform-front doesn't work properly
                without JavaScript enabled. Please enable it to
                continue.</strong
            >
        </noscript>
        <div id="app"></div>

        <!-- 3d editor -->
        <div class="btn-header-editor" style="display: none">
            <a href="#" class="btn-form-secondary header-btn header-reset"
                >Tout réinitialiser</a
            >
            <a
                href="#"
                id="save-model"
                class="btn-form-secondary header-btn header-save"
            >
                <i class="fas fa-save"></i>
            </a>
            <a href="#" class="btn-form-secondary header-btn header-quit">
                <i class="fas fa-times"></i>
            </a>
        </div>

        <div id="editor3D" style="display: none" class="editor-3d-content">
            <div class="columns">
                <div class="column is-4">
                    <div class="poly-elems-content">
                        <form id="search">
                            <div class="field search-input">
                                <input
                                    id="query"
                                    placeholder="Rechercher dans la bibliothèque Poly Google (en anglais)"
                                    rounded
                                    class="input is-rounded input-poly"
                                />
                            </div>
                            <button id="button-search">
                                <i class="fas fa-angle-right"></i>
                            </button>
                        </form>

                        <span id="results"></span>

                        <div class="loader" id="spinner" hidden></div>
                    </div>

                    <div class="btn-import">
                        <a href="#" class="importFile btn-form-primary">
                            <i class="fas fa-file-import"></i> Importer mon
                            fichier...
                        </a>

                        <div class="modal editor-import-modal">
                            <div class="modal-background"></div>
                            <div class="modal-content import">
                                <div class="import-content">
                                    <div class="column is-12 nav-tabs">
                                        <ul>
                                            <a href="#" class="import-3d actif"
                                                >Objet 3D</a
                                            >
                                            <a href="#" class="import-image"
                                                >Image</a
                                            >
                                        </ul>
                                    </div>

                                    <div class="import-block 3d actif">
                                        <div
                                            class="field add-ownFile3D import-btn"
                                        >
                                            <label
                                                class="label"
                                                for="ownFile3D"
                                            >
                                                <i class="fas fa-upload"></i>
                                                <span class="label-before"
                                                    >Importer votre propre objet
                                                    3D</span
                                                >
                                                <span
                                                    class="label-after"
                                                ></span>
                                            </label>
                                            <p class="top">
                                                <i
                                                    >Type : .fbx, .obj, .dae,
                                                    .3ds</i
                                                >
                                            </p>
                                            <p>
                                                <i>Poids maximum : 16 Mo</i>
                                            </p>

                                            <input
                                                id="ownFile3D"
                                                type="file"
                                                accept="image/*"
                                            />
                                        </div>

                                        <!-- <div class="field add-ownTexture import-btn">
                        <label class="label" for="ownTexture">
                        <i class="fas fa-upload"></i>
                        <span class="label-before">Importer votre propre texture</span>
                        <span class="label-after"></span>
                      </label>
                      <p class="top"><i>Format : .jpg, .png, .mtl</i></p>
                      <p><i>Poids maximum : 2 Mo</i></p>
      
                      <input id="ownTexture" type="file" accept="image/*">
                          </div>-->
                                    </div>

                                    <div class="import-block image">
                                        <div class="field add-image import-btn">
                                            <label
                                                class="label"
                                                for="ownFileImage"
                                            >
                                                <i class="fas fa-upload"></i>
                                                <span class="label-before"
                                                    >Importer votre propre
                                                    image</span
                                                >
                                                <span
                                                    class="label-after"
                                                ></span>
                                            </label>
                                            <p class="top">
                                                <i>Type : .png, .jpg, .gif</i>
                                            </p>
                                            <p>
                                                <i>Format 1:1 (carré)</i>
                                            </p>
                                            <br />
                                            <p>
                                                <i>Poids maximum : 16 Mo</i>
                                            </p>

                                            <input
                                                id="ownFileImage"
                                                type="file"
                                                accept="image/*"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="import-btn-send">
                                <a
                                    href="#"
                                    class="btn-form-primary btn-import-cancel"
                                    >Annuler</a
                                >
                                <a
                                    href="#"
                                    id="importBtn"
                                    class="btn-form-secondary model3d-import"
                                    >Fermer et envoyer sur l'éditeur</a
                                >
                            </div>
                            <a
                                class="modal-close is-large"
                                aria-label="close"
                            ></a>
                        </div>

                        <div class="columns is-multiline editor-tools-block">
                            <div
                                class="column is-12-tablet is-6-desktop edition-block"
                            >
                                <p class="cartel">Édition</p>

                                <div class="btns-edition">
                                    <a
                                        href="#"
                                        class="btn-edition btn-form-primary editor-pos active"
                                    >
                                        <i class="fas fa-arrows-alt"></i>
                                        Position
                                        <span>(W)</span>
                                        <!-- <span class="edition-reinit reinit-pos">
                    Réinitialiser
                          </span>-->
                                    </a>
                                    <a
                                        href="#"
                                        class="btn-edition btn-form-primary editor-rot"
                                    >
                                        <i class="fas fa-sync-alt"></i> Rotation
                                        <span>(E)</span>
                                        <!-- <span class="edition-reinit reinit-rot">
                  Réinitialiser
                          </span>-->
                                    </a>
                                    <a
                                        href="#"
                                        class="btn-edition btn-form-primary editor-dimension"
                                    >
                                        <i class="fas fa-expand-arrows-alt"></i>
                                        Dimension
                                        <span>(R)</span>
                                        <!-- <span class="edition-reinit reinit-scale">
                Réinitialiser
                          </span>-->
                                    </a>

                                    <a
                                        href="#"
                                        class="btn-edition btn-form-primary editor-center"
                                    >
                                        <i class="fas fa-arrows-alt-h"></i>
                                        Centrer l'objet
                                    </a>
                                </div>
                            </div>
                            <div
                                class="column is-12-tablet is-6-desktop animation-block"
                            >
                                <p class="cartel">Animation</p>

                                <div class="btns-animation">
                                    <a
                                        href="#"
                                        class="btn-animation-boeing btn-form-primary btn-boieng"
                                    >
                                        <i class="fas fa-angle-double-up"></i>
                                    </a>
                                    <a
                                        href="#"
                                        class="btn-animation btn-form-primary btn-rotate-y"
                                    >
                                        <span class="icon icon-y-rotate"></span>
                                    </a>
                                    <a
                                        href="#"
                                        class="btn-animation btn-form-primary btn-rotate-x"
                                    >
                                        <span class="icon icon-x-rotate"></span>
                                    </a>
                                    <a
                                        href="#"
                                        class="btn-animation btn-form-primary btn-rotate"
                                    >
                                        <span class="icon icon-rotate"></span>
                                    </a>
                                    <a
                                        href="#"
                                        class="btn-animation btn-form-primary btn-stop-rotate"
                                    >
                                        <span
                                            class="icon icon-Rotate_Stop"
                                        ></span>
                                    </a>
                                </div>

                                <div class="speed-range">
                                    <h3>Vitesse</h3>
                                    <input
                                        id="speed"
                                        class="slider is-fullwidth"
                                        step="1"
                                        min="-100"
                                        max="100"
                                        value="50"
                                        type="range"
                                    />
                                </div>

                                <div class="marker-position">
                                    <h3>Marqueur placé au :</h3>
                                    <div class="field switch-pos">
                                        <input
                                            id="marker-position-input"
                                            type="checkbox"
                                            name="switchRoundedOutlinedDefault"
                                            class="switch is-rounded is-outlined"
                                            checked="checked"
                                            onclick="if(this.checked){document.getElementById('marker-position').innerText = 'Sol'} else {document.getElementById('marker-position').innerText = 'Mur'}"
                                        />
                                        <label
                                            for="marker-position-input"
                                            id="marker-position"
                                            >Sol</label
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-8 editor-view-block">
                    <div id="viewer">
                        <div id="info">
                            <span id="asset_name">Title</span>
                            <br />by
                            <b>
                                <span id="asset_author">Author</span>
                            </b>
                            <br />
                        </div>
                        <div class="models-actif"></div>
                        <div class="arrow-changing">
                            <span id="world-to-left">
                                <i class="fas fa-angle-left"></i>
                            </span>
                            <span id="world-to-right">
                                <i class="fas fa-angle-right"></i>
                            </span>
                        </div>

                        <div class="tuto-modal">
                            <i class="far fa-question-circle"></i>
                        </div>

                        <div class="modal deleteModal">
                            <div class="modal-background"></div>
                            <div
                                class="animation-content modal-content"
                                style="max-width: 940px;"
                            >
                                <div class="card deleteTeam-modal">
                                    <div class="card-content">
                                        <div class="content">
                                            <h1>
                                                Souhaitez-vous supprimer de la
                                                scène l'objet 3D
                                                <span id="asset_delete_name"
                                                    >Title</span
                                                >
                                                ?
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="add-scenar-btns">
                                    <a href="#" class="btn-form-primary"
                                        >Annuler</a
                                    >
                                    <a class="btn-form-secondary">Supprimer</a>
                                </div>
                            </div>
                            <button
                                type="button"
                                class="modal-close is-large"
                            ></button>
                        </div>

                        <div class="modal tutoModal">
                            <div class="modal-background"></div>
                            <div
                                class="animation-content modal-content"
                                style="max-width: 940px;"
                            >
                                <div class="card tuto-modal">
                                    <div class="card-content">
                                        <div class="content">
                                            <h1 class="old">
                                                Guide interface de l'éditeur 3D
                                            </h1>
                                            <h1 class="welcoming">
                                                Bienvenue sur notre éditeur de
                                                modèle 3D !
                                            </h1>

                                            <p>
                                                Parcourez la bibliothèque de
                                                modèle
                                                <b>Poly Google</b> afin de
                                                trouver votre élément qui sera
                                                affiché en réalité augmentée, ou
                                                bien importez votre
                                                <b>propre objet</b> sur la scène
                                                ! <br />L'éditeur permet de
                                                configurer l'affichage de ces
                                                éléments (jusqu'à 3 sur la même
                                                scène) par rapport au marqueur.
                                            </p>

                                            <h4>
                                                Conseil d'utilisation :
                                                l'édition est plus aisée sur la
                                                vue du marqueur au sol.
                                            </h4>

                                            <div class="columns is-multiline">
                                                <div class="column is-6">
                                                    <img
                                                        src="/modelEditor/tuto-editor/PosClick.gif"
                                                        alt
                                                    />
                                                </div>
                                                <div class="column is-6">
                                                    <img
                                                        src="/modelEditor/tuto-editor/TranslateGif.gif"
                                                        alt
                                                    />
                                                </div>
                                            </div>

                                            <div class="columns is-multiline">
                                                <div class="column is-6">
                                                    <img
                                                        src="/modelEditor/tuto-editor/RotationClick.gif"
                                                        alt
                                                    />
                                                </div>
                                                <div class="column is-6">
                                                    <img
                                                        src="/modelEditor/tuto-editor/RotateGif.gif"
                                                        alt
                                                    />
                                                </div>
                                            </div>

                                            <div class="columns is-multiline">
                                                <div class="column is-6">
                                                    <img
                                                        src="/modelEditor/tuto-editor/ScaleClick.gif"
                                                        alt
                                                    />
                                                </div>
                                                <div class="column is-6">
                                                    <img
                                                        src="/modelEditor/tuto-editor/ScaleGif.gif"
                                                        alt
                                                    />
                                                </div>
                                            </div>

                                            <div class="columns is-multiline">
                                                <div class="column is-6">
                                                    <img
                                                        src="/modelEditor/tuto-editor/BoeingClick.gif"
                                                        alt
                                                    />
                                                </div>
                                                <div
                                                    class="column is-3 boeingpos"
                                                >
                                                    <img
                                                        src="/modelEditor/tuto-editor/BoeingMur.gif"
                                                        alt
                                                    />
                                                </div>
                                                <div
                                                    class="column is-3 boeingpos"
                                                >
                                                    <img
                                                        src="/modelEditor/tuto-editor/BoeingSol.gif"
                                                        alt
                                                    />
                                                </div>
                                            </div>

                                            <div class="columns is-multiline">
                                                <div class="column is-6">
                                                    <img
                                                        src="/modelEditor/tuto-editor/RotateYClick.gif"
                                                        alt
                                                    />
                                                </div>
                                                <div class="column is-6">
                                                    <img
                                                        src="/modelEditor/tuto-editor/RotateX.gif"
                                                        alt
                                                    />
                                                </div>
                                            </div>

                                            <div class="columns is-multiline">
                                                <div class="column is-6">
                                                    <img
                                                        src="/modelEditor/tuto-editor/RotateXClick.gif"
                                                        alt
                                                    />
                                                </div>
                                                <div class="column is-6">
                                                    <img
                                                        src="/modelEditor/tuto-editor/RotateY.gif"
                                                        alt
                                                    />
                                                </div>
                                            </div>

                                            <div class="columns is-multiline">
                                                <div class="column is-6">
                                                    <img
                                                        src="/modelEditor/tuto-editor/RotateZClick.gif"
                                                        alt
                                                    />
                                                </div>
                                                <div class="column is-6">
                                                    <img
                                                        src="/modelEditor/tuto-editor/RotateZ.gif"
                                                        alt
                                                    />
                                                </div>
                                            </div>

                                            <div class="columns is-multiline">
                                                <div class="column is-6">
                                                    <img
                                                        src="/modelEditor/tuto-editor/SpeedClick.gif"
                                                        alt
                                                    />
                                                </div>
                                                <div class="column is-6">
                                                    <img
                                                        src="/modelEditor/tuto-editor/Speed.gif"
                                                        alt
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button
                                type="button"
                                class="modal-close is-large"
                            ></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="notification is-danger limit-model">
            <button class="delete"></button>
            Vous avez dépassé la limite de 3 modèles
        </div>

        <div class="notification is-danger wrong-files">
            <button class="delete"></button>
            Erreur sur le format du fichier
        </div>

        <div class="notification is-danger no-3d-model">
            <button class="delete"></button>
            Attention, vous n'avez actuellement aucun élément en réalité
            augmentée d'enregistré, veuillez en choisir au moins un.
        </div>

        <div class="notification is-danger put-3d-not-possible">
            <button class="delete"></button>
            Erreur d'envoi, veuillez réessayer.
        </div>

        <div class="notification is-success put-3d-success">
            <button class="delete"></button>
            Le modèle 3D a bien été créé.
        </div>

        <!-- built files will be auto injected -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/96/three.min.js"></script>
        <script src="/modelEditor/TransformControls.js"></script>
        <script src="/modelEditor/third_party/MTLLoader.js"></script>
        <script src="/modelEditor/third_party/ColladaLoader.js"></script>
        <script src="/modelEditor/third_party/FBXLoader.js"></script>
        <script src="/modelEditor/third_party/GLTFLoader.js"></script>
        <script src="/modelEditor/third_party/inflate.min.js"></script>
        <script src="/modelEditor/third_party/OBJLoader.js"></script>
        <script src="/modelEditor/third_party/TDSLoader.js"></script>

        <script src="/modelEditor/MiniJson.js"></script>
        <script src="/modelEditor/modelEditor.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                if (!localStorage.getItem("hadTuto")) {
                    localStorage.setItem("hadTuto", false);
                }

                var hadTuto = localStorage.getItem("hadTuto");

                if (hadTuto == "false") {
                    $(".tutoModal").addClass("is-active");
                    $(".welcoming").addClass("actif");
                } else {
                    $(".tutoModal").removeClass("is-active");
                    $(".welcoming").removeClass("actif");
                    $(".old").addClass("actif");
                }

                // Modal import own file
                $(".importFile").on("click", function() {
                    $(".editor-import-modal").addClass("is-active");
                });

                $(".modal-close").on("click", function() {
                    $(".editor-import-modal").removeClass("is-active");
                    $(".btn-header-editor").removeClass("is-active");
                });

                $(".header-quit").on("click", function() {
                    $(".editor-3d-content").css("display", "none");
                    $(".btn-header-editor").css("display", "none");
                    $(".editor-import-modal").removeClass("is-active");
                });

                $(".nav-tabs a").on("click", function() {
                    $(".nav-tabs a").removeClass("actif");
                    $(this).addClass("actif");

                    $(".import-block").removeClass("actif");

                    $("#importBtn").removeClass("model3d-import");
                    $("#importBtn").removeClass("image-import");

                    if (this.classList[0] == "import-image") {
                        $(".import-block.image").addClass("actif");
                        $("#importBtn").addClass("image-import");
                    } else {
                        $(".import-block.3d").addClass("actif");
                        $("#importBtn").addClass("model3d-import");
                    }
                });

                $(".btn-import-cancel").on("click", function() {
                    $(".editor-import-modal").removeClass("is-active");
                });

                $(".editor-import-modal .modal-background").on(
                    "click",
                    function() {
                        $(".editor-import-modal").removeClass("is-active");
                    }
                );

                $(".tuto-modal").on("click", function() {
                    $(".tutoModal").addClass("is-active");
                });

                $(".tutoModal .modal-background").on("click", function() {
                    $(".tutoModal").removeClass("is-active");
                    localStorage.setItem("hadTuto", true);
                });

                $(".tutoModal .modal-close").on("click", function() {
                    $(".tutoModal").removeClass("is-active");
                    localStorage.setItem("hadTuto", true);
                });
            });
        </script>
    </body>
</html>
