<template >
  <div class="beacon-list">
    <HeaderUser></HeaderUser>

    <div class="columns is-centered beacon-list-content" v-if="beacons">
      <div class="column is-11-tablet is-10-desktop">
        <h2 class="text-style-5">Gestion de votre matériel Hackeo</h2>
        <h1 class="big-title">Beacons</h1>

        <b-table
          v-if="beacons.length > 0"
          :data="beacons"
          :opened-detailed="defaultOpenedDetails"
          :focusable="isFocusable"
          :paginated="isPaginated"
          :per-page="perPage"
          :selected.sync="selected"
          :current-page.sync="currentPage"
          detailed
          detail-key="id"
          class="beacon-list-tab"
        >
          <template slot-scope="props">
            <b-table-column field="id" label="Numéro" width="40" numeric sortable>{{ props.row.id }}</b-table-column>

            <b-table-column field="id" label="Point de passage" sortable>
              <span
                v-for="waypointContent in waypointContentsOf(props.row)"
                :key="waypointContent.id"
              >{{ waypointContent.name }}</span>
              <span v-if="waypointContentsOf(props.row).length > 1">-</span>
              <span v-if="waypointContentsOf(props.row).length > 1">-</span>
            </b-table-column>

            <b-table-column
              field="journey"
              label="Événement"
              sortable
            >{{ eventOfJourney(props.row.journey) ? eventOfJourney(props.row.journey).name : '-' }}</b-table-column>
          </template>

          <template slot="detail" slot-scope="props">
            <article class="media">
              <figure class="media-left">
                <p class="image is-64x64">
                  <img src="@/assets/img/beacon-list/b_bleu.png">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <b>Batterie :</b>
                    {{ Math.round(props.row.battery * 10 ) / 10 }}%
                  </p>
                  <p>
                    <b>Mise à jour :</b>
                    {{ props.row.logDate.date | moment('DD/MM/YYYY') }}
                  </p>

                  <b-field label="Assigné au point de passage :">
                    <b-select placeholder="Séléctionner le point de passage" rounded>
                      <option value="Le bateau pirate">Le bateau pirate</option>
                      <option value="Le prince des dragons">Le prince des dragons</option>
                    </b-select>
                  </b-field>
                </div>
              </div>
            </article>
          </template>
        </b-table>
      </div>
    </div>
  </div>
</template>
      </b-table>

    </div>
  </div>

</div>
</template>

<script lang="ts">
import HeaderUser from "@/components/HeaderUser.vue";
import { Component, Vue } from "vue-property-decorator";
import Beacon from "@/models/Beacon";
import { Getter } from "vuex-class";
import WaypointContent from "@/models/WaypointContent";
import Event from "@/models/Event";

@Component({
  components: {
    HeaderUser
  }
})
export default class Equipment extends Vue {
  @Getter("beacon/findAll")
  public beacons!: Beacon[];

  @Getter("story/findWaypointContentsOf")
  public findWaypointContentsOf: any;

  @Getter("event/findEventOfJourney")
  public findEventOfJourney: any;

  public waypointContentsOf(beacon: Beacon): WaypointContent[] {
    return this.findWaypointContentsOf(beacon);
  }

  public eventOfJourney(journeyId: number): Event {
    return this.findEventOfJourney(journeyId);
  }

  // buefy table
  defaultOpenedDetails = [0];

  isFocusable = true;

  isPaginated = true;

  currentPage = 1;

  perPage = 8;

  selected = {};
}
</script>
