<template>
  <div class="account-page">
    <HeaderUser></HeaderUser>

    <!-- <b-loading :is-full-page="false" :active="profile" :can-cancel="true"></b-loading> -->
    <form
      v-if="profile && product"
      @submit.prevent="onFormSubmit"
      id="container"
      class="account-block"
    >
      <div class="columns is-multiline">
        <div class="column is-2 is-offset-3">
          <div class="account-abo-wrap">
            <img :src="imgAbo" alt>
            <router-link to="/subscription" class="btn-form-primary">
              Formule
              <span>{{product.name}}</span>
            </router-link>
            <p>Du {{profile.planStart.date | moment('DD/MM/YYYY')}} au {{profile.planEnd.date | moment('DD/MM/YYYY')}}</p>
          </div>
        </div>
        <div class="column is-7 account-content-wrap">
          <h1 class="big-title">Profil client</h1>
              <Editor3D></Editor3D>
          <h3 class="text-Style-3">{{profile.email}}</h3>

          <div class="columns account-content-perso">
            <div class="column is-3">
              <b-field
                label="Prénom*"
                :type="{'is-danger': errors.has('firstname')}"
                :message="errors.first('firstname')"
              >
                <b-input
                  rounded
                  name="firstname"
                  v-model="profile.firstname"
                  v-validate="'required|min:3|max:50'"
                ></b-input>
              </b-field>

              <b-field
                label="Identifiant"
                :type="{'is-danger': errors.has('email')}"
                :message="errors.first('email')"
              >
                <b-input
                  name="email"
                  rounded
                  v-model="profile.email"
                  v-validate="'required|email'"
                  disabled
                ></b-input>
              </b-field>

              <b-field
                label="Numéro de téléphone"
                :type="{'is-danger': errors.has('phone')}"
                :message="errors.first('phone')"
              >
                <b-input
                  name="phone"
                  rounded
                  v-model="profile.phoneNumber"
                  v-validate="'min:10|max:10'"
                ></b-input>
              </b-field>
            </div>
            <div class="column is-3">
              <b-field
                label="Nom*"
                :type="{'is-danger': errors.has('lastname')}"
                :message="errors.first('lastname')"
              >
                <b-input
                  rounded
                  v-model="profile.lastname"
                  name="lastname"
                  v-validate="'required|min:3|max:50'"
                ></b-input>
              </b-field>

              <b-field
                label="Entreprise"
                :type="{'is-danger': errors.has('companyName')}"
                :message="errors.first('companyName')"
              >
                <b-input
                  rounded
                  v-model="profile.companyName"
                  v-validate="'min:3|max:50'"
                  name="companyname"
                ></b-input>
              </b-field>
            </div>
          </div>

          <h1 class="text-Style-3 account-paraph">Coordonnées de l'entreprise</h1>

          <div class="columns account-content-entreprise">
            <div class="column is-3">
              <b-field
                label="Adresse de l'entreprise - Ligne 1"
                :type="{'is-danger': errors.has('addressOne')}"
                :message="errors.first('addressOne')"
              >
                <b-input
                  rounded
                  v-model="address.addressOne"
                  v-validate="'min:3|max:80'"
                  name="addressOne"
                ></b-input>
              </b-field>
              <b-field
                label="Ville de l'entreprise"
                :type="{'is-danger': errors.has('city')}"
                :message="errors.first('city')"
              >
                <b-input rounded v-model="address.city" name="city" v-validate="'min:1|max:50'"></b-input>
              </b-field>

              <div class="column is-centered no-padding">
                <p class="red-label">*Champs obligatoire</p>
              </div>

              <div class="column is-centered text-center back">
                <a @click="$router.go(-1)" class="btn-form-secondary">Retour</a>
              </div>
            </div>
            <div class="column is-3">
              <b-field
                label="Adresse de l'entreprise - Ligne 2"
                :type="{'is-danger': errors.has('addressTwo')}"
                :message="errors.first('addressTwo')"
              >
                <b-input
                  rounded
                  v-model="address.addressTwo"
                  name="addressTwo"
                  v-validate="'min:1|max:80'"
                ></b-input>
              </b-field>
              <b-field label="Code postal">
                <b-input rounded v-model="address.cp"></b-input>
              </b-field>

              <div class="column is-centered text-center btn-modifs-info">
                <!-- Bouton de validation -->
                <button class="btn-form-secondary">Modifier mes informations</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <b-loading :is-full-page="false" :active.sync="isSubmitActive"></b-loading>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import HeaderUser from "@/components/HeaderUser.vue";
import { Component, Vue } from "vue-property-decorator";
import { Getter, Action, Mutation } from "vuex-class";
import Profile from "@/models/Profile";
import Address from "@/models/Address";
import Product from "@/models/Product";
import { errorToast } from "@/models/HttpError";
import Editor3D from "@/components/Editor3D.vue";

@Component({
  components: {
    HeaderUser,
    Editor3D
  }
})
export default class Account extends Vue {
  @Getter("profile/getter") profile!: Profile;
  @Getter("address/findById") addressGetter: any;
  @Getter("product/findById") productGetter: any;

  @Mutation("address/updateIn") addressMutater: any;
  @Mutation("profile/updateIn") profileMutater: any;

  @Action("profile/updateProfile") updateProfile: any;

  public isSubmitActive: boolean = false;

  public get product(): Product {
    return this.profile ? this.productGetter(this.profile.plan) : null;
  }

  public get imgAbo() {
    return this.product
      ? require(`@/assets/img/pictos-market/${this.getProductImgName()}.png`)
      : "";
  }

  private getProductImgName(): string {
    switch (this.product.name) {
      case "Pack Starter":
        return "pack-start";
      case "Abonnement Découverte":
        return "découverte";
      case "Abonnement Odyssée":
        return "odyssée";
      case "Abonnement Aventurier":
        return "aventure";
      case "Abonnement Infinité":
        return "infinité";
      default:
        return "pack-start";
    }
  }

  public get address(): Address {
    return this.addressGetter(this.profile.companyAddress);
  }

  public set address(value) {
    console.log(value);
  }

  public onFormSubmit() {
    const addressIn: Address = this.address;
    const profileIn: Profile = this.profile;

    this.$validator.validateAll().then(result => {
      if (result) {
        this.isSubmitActive = true; // display loading
        this.onFormValid(addressIn, profileIn);
      } else {
        this.$toast.open({
          message:
            "Les informations du profile n'ont pas pu être modifiées. Veuillez corriger les erreurs.",
          type: "is-danger",
          position: "is-bottom"
        });
      }
    });
  }

  public async onFormValid(address: Address, profile: Profile) {
    try {
      await this.updateProfile({
        profile,
        companyAddress: address
      });

      this.$toast.open({
        message: "Modifications enregistrées.",
        type: "is-success"
      });
    } catch (ex) {
      this.$toast.open(errorToast("Une erreur est survenue.") as any);
    } finally {
      this.isSubmitActive = false;
    }
  }
}
</script>
