<template>
  <div id="error" class="error-wrap">
    <HeaderUser></HeaderUser>

    <div class="columns is-centered is-vcentered error-content-block">
      <div class="column is-10-tablet is-6-desktop">
        <div class="error-content-wrap">
          <div class="columns is-centered error-content-main">
            <div class="column is-12-mobile is-6-tablet">
              <img :src="ImgError" alt="Image de l'erreur adéquate (à la Doctor Who)">
            </div>
            <div class="column is-12-mobile is-6-tablet">
              <div class="columns is-vcentered error-text-block">
                <div class="column is-12">
                  <h1>Erreur {{ type }}</h1>
                  <p>{{ description }}</p>
                </div>
              </div>
            </div>
          </div>

          <router-link class="btn-form-secondary" to="/">Retour à l'accueil</router-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import HeaderUser from "@/components/HeaderUser.vue";
@Component({
  components: {
    HeaderUser
  }
})
export default class ErrorPage extends Vue {
  get description() {
    switch (this.type) {
      case 403:
        return "Accès refusé.";
      case 404:
        return "Je ne vous emmène pas toujours là où vous voulez, mais je vous emmène toujours là où vous devez aller.";
      case 503:
        return "Service non disponible. Quelque chose perturbe le continuum espace-temps.";
      default:
        return "EXTERMINATE ! CETTE PAGE A ÉTÉ EXTERMINÉE ! Nous serons bientôt là pour résoudre ce problème.";
    }
  }

  get ImgError() {
    return require(`@/assets/img/errors/error${this.type}.jpg`);
  }

  get type() {
    return parseInt(this.$route.params["code"]);
  }
}
</script>
