<template>
  <div class="dashboard-page" v-if="profile">
    <div class="columns is-centered dashboard-box">
      <img src="@/assets/img/logo_hackeo.svg" alt class="hackeo-logo">

      <div class="credits-dashboard">
        <h6>
          Made with
          <span>
            <svg
              id="Capa_1"
              data-name="Capa 1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 176.1 151.88"
            >
              <title>heart</title>
              <path
                d="M150.38,18.3A49.71,49.71,0,0,0,88.07,30.13,49.75,49.75,0,0,0,0,61.88,49.05,49.05,0,0,0,2.46,77.22C11,115.59,88.07,164,88.07,164s77-48.4,85.57-86.77a49.09,49.09,0,0,0,2.47-15.34A49.79,49.79,0,0,0,150.38,18.3Z"
                transform="translate(0 -12.11)"
              ></path>
            </svg>
          </span> by
        </h6>
        <a href="https://augmenteo.com/" target="_blank">
          <img src="@/assets/img/logo.svg" alt>
        </a>
      </div>

      <div class="main-header">
        <div class="dropdown is-hoverable account-dropdown">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
              Mon compte
              <span class="navbar-link"></span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu4" role="menu">
            <div class="dropdown-content">
              <div class="dropdown-item dropdown-main-menu">
                <router-link to="/account">
                  <span>Mon profil</span>
                </router-link>
                <a @click="onLogoutPressed">
                  <span>Déconnexion</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <div class="columns is-centered dashboard-content">
      <div class="column is-12 text-center">
        <div class="dash-intro">
          <transition name="slide-up">
            <h1 class="intro-name" v-if="showName">
              Bonjour
              <b>{{ profile.firstname }}</b>
            </h1>
          </transition>
          <transition name="slide-up-long">
            <p
              class="intro-welcome"
              v-if="showSlideUpLong"
            >L'événement Vance Christian a attiré 0 visiteurs depuis le 18-07-2018</p>
          </transition>
        </div>

        <div class="columns is-centered dash-icons">
          <div class="column is-3-tablet is-2-widescreen dash-icon-box first up-left">
            <router-link to="/events">
              <transition name="up-left">
                <img
                  src="@/assets/img/dashboard/events.svg"
                  alt
                  class="icon-dash"
                  v-if="showUpLeft"
                >
              </transition>
              <transition name="slide-up-long">
                <p v-if="showSlideUpLong">Événements</p>
              </transition>
            </router-link>
          </div>
          <div class="column is-3-tablet is-2-widescreen dash-icon-box first up-left">
            <router-link to="/stories/library">
              <transition name="up-left">
                <img
                  src="@/assets/img/dashboard/scenario.svg"
                  alt
                  class="icon-dash"
                  v-if="showUpLeft"
                >
              </transition>
              <transition name="slide-up-long">
                <p v-if="showSlideUpLong">Scénarios</p>
              </transition>
            </router-link>
          </div>
          <div class="column is-3-tablet is-2-widescreen dash-icon-box first up-right">
            <router-link to="events/15/stats">
              <transition name="up-right">
                <img
                  src="@/assets/img/dashboard/stats.svg"
                  alt
                  class="icon-dash"
                  v-if="showUpRight"
                >
              </transition>
              <transition name="slide-up-long">
                <p v-if="showSlideUpLong">Statistiques</p>
              </transition>
            </router-link>
          </div>
          <div class="column is-3-tablet is-2-widescreen dash-icon-box first up-right">
            <router-link to="/subscription">
              <transition name="up-right">
                <img
                  src="@/assets/img/dashboard/subscription.svg"
                  alt
                  class="icon-dash"
                  v-if="showUpRight"
                >
              </transition>
              <transition name="slide-up-long">
                <p v-if="showSlideUpLong">Abonnements</p>
              </transition>
            </router-link>
          </div>
        </div>
        <div class="columns is-centered dash-icons">
          <div class="column is-3-tablet is-2-widescreen dash-icon-box second up-left">
            <router-link to="/orders">
              <transition name="up-left">
                <img src="@/assets/img/dashboard/order.svg" alt class="icon-dash" v-if="showUpLeft">
              </transition>
              <transition name="slide-up-long">
                <p v-if="showSlideUpLong">Commandes</p>
              </transition>
            </router-link>
          </div>
          <div class="column is-3-tablet is-2-widescreen dash-icon-box second up-left">
            <router-link to="/beacons">
              <transition name="up-left">
                <img
                  src="@/assets/img/dashboard/recycle.svg"
                  alt
                  class="icon-dash"
                  v-if="showUpLeft"
                >
              </transition>
              <transition name="slide-up-long">
                <p v-if="showSlideUpLong">Gestion du matériel</p>
              </transition>
            </router-link>
          </div>
          <div class="column is-3-tablet is-2-widescreen dash-icon-box second up-left">
            <router-link to="/faq">
              <transition name="up-right">
                <img src="@/assets/img/dashboard/help.svg" alt class="icon-dash" v-if="showUpRight">
              </transition>
              <transition name="slide-up-long">
                <p v-if="showSlideUpLong">Aide</p>
              </transition>
            </router-link>
          </div>
          <div class="column is-3-tablet is-2-widescreen dash-icon-box second up-left"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Action, Getter } from "vuex-class";
import Profile from "@/models/Profile";

@Component
export default class Home extends Vue {
  @Action("logout") logoutAction: any;

  @Getter("profile/getter")
  private profile!: Profile;

  public showName: boolean = true;
  public showSlideUpLong: boolean = true;
  public showUpLeft: boolean = true;
  public showUpRight: boolean = true;

  public onLogoutPressed() {
    this.logoutAction().then(() => this.$router.push("/login"));
  }
}
</script>
