<template>
  <div class="login-page">
    <div class="columns is-centered login-box">
      <div
        class="column is-9-mobile is-5-tablet is-4-desktop is-4-widescreen is-3-fullhd login-block relative"
      >
        <form class="login-first-block" @submit.prevent="login">
          <center class="logo-img">
            <img src="@/assets/img/hackeo_square.svg" alt>
          </center>

          <div class="columns is-centered">
            <div class="column is-10">
              <label for="login-email">Votre adresse email</label>
              <b-field>
                <b-input
                  name="email"
                  id="login-email"
                  type="email"
                  rounded
                  icon-pack="fas"
                  icon="at"
                  v-model="input.email"
                  required
                ></b-input>
              </b-field>

              <label for="login-password" class="input-password">Mot de passe</label>
              <b-field>
                <b-input
                  id="login-password"
                  type="password"
                  password-reveal
                  rounded
                  icon-pack="fas"
                  icon="key"
                  v-model="input.password"
                  required
                ></b-input>
              </b-field>
            </div>
          </div>

          <div class="columns is-centered" style="margin-top: -15px;margin-bottom: 35px;">
            <div class="column is-10">
              <div class="block relative">
                <b-checkbox
                  v-model="input.remember"
                  native-value="input.remember"
                  type="iris"
                >Se souvenir de moi</b-checkbox>
              </div>
            </div>
          </div>
          <div class="columns is-centered">
            <div class="column is-10 text-center">
              <button type="submit" class="button button-principal is-iris">C'est parti !</button>
            </div>
          </div>

          <div class="columns is-centered">
            <div class="column is-10 text-center login-socials">
              <a href="https://twitter.com/augmenteo" target="_blank">
                <svg
                  version="1.1"
                  id="Capa_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 612 612"
                  style="enable-background:new 0 0 612 612;"
                  xml:space="preserve"
                >
                  <g>
                    <g>
                      <path
                        style
                        d="M612,116.258c-22.525,9.981-46.694,16.75-72.088,19.772c25.929-15.527,45.777-40.155,55.184-69.411
                    c-24.322,14.379-51.169,24.82-79.775,30.48c-22.907-24.437-55.49-39.658-91.63-39.658c-69.334,0-125.551,56.217-125.551,125.513
                    c0,9.828,1.109,19.427,3.251,28.606C197.065,206.32,104.556,156.337,42.641,80.386c-10.823,18.51-16.98,40.078-16.98,63.101
                    c0,43.559,22.181,81.993,55.835,104.479c-20.575-0.688-39.926-6.348-56.867-15.756v1.568c0,60.806,43.291,111.554,100.693,123.104
                    c-10.517,2.83-21.607,4.398-33.08,4.398c-8.107,0-15.947-0.803-23.634-2.333c15.985,49.907,62.336,86.199,117.253,87.194
                    c-42.947,33.654-97.099,53.655-155.916,53.655c-10.134,0-20.116-0.612-29.944-1.721c55.567,35.681,121.536,56.485,192.438,56.485
                    c230.948,0,357.188-191.291,357.188-357.188l-0.421-16.253C573.872,163.526,595.211,141.422,612,116.258z"
                      ></path>
                    </g>
                  </g>
                </svg>
              </a>
              
              <a href="https://www.linkedin.com/company/18147253/" target="_blank">
                <svg
                  version="1.1"
                  id="Capa_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  width="430.117px"
                  height="430.117px"
                  viewBox="0 0 430.117 430.117"
                  style="enable-background:new 0 0 430.117 430.117;"
                  xml:space="preserve"
                >
                  <g>
                    <path
                      id="LinkedIn"
                      d="M430.117,261.543V420.56h-92.188V272.193c0-37.271-13.334-62.707-46.703-62.707
                  c-25.473,0-40.632,17.142-47.301,33.724c-2.432,5.928-3.058,14.179-3.058,22.477V420.56h-92.219c0,0,1.242-251.285,0-277.32h92.21
                  v39.309c-0.187,0.294-0.43,0.611-0.606,0.896h0.606v-0.896c12.251-18.869,34.13-45.824,83.102-45.824
                  C384.633,136.724,430.117,176.361,430.117,261.543z M52.183,9.558C20.635,9.558,0,30.251,0,57.463
                  c0,26.619,20.038,47.94,50.959,47.94h0.616c32.159,0,52.159-21.317,52.159-47.94C103.128,30.251,83.734,9.558,52.183,9.558z
                  M5.477,420.56h92.184v-277.32H5.477V420.56z"
                    ></path>
                  </g>
                </svg>
              </a>
              
              <a href="https://www.instagram.com/augmenteofr" target="_blank">
                <svg
                  version="1.1"
                  id="Layer_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 512 512"
                  style="enable-background:new 0 0 512 512;"
                  xml:space="preserve"
                >
                  <g>
                    <defs>
                      <rect id="SVGID_1_" x="75" y="75" width="362.1" height="362.1"></rect>
                    </defs>
                    <clipPath id="SVGID_2_">
                      <use xlink:href="#SVGID_1_" style="overflow:visible;"></use>
                    </clipPath>
                    <path
                      class="st0"
                      d="M256,107.6c48.3,0,54.1,0.2,73.2,1.1c17.7,0.8,27.2,3.8,33.6,6.2c8.5,3.3,14.5,7.2,20.8,13.5
                  c6.3,6.3,10.3,12.4,13.5,20.8c2.5,6.4,5.4,16,6.2,33.6c0.9,19.1,1.1,24.8,1.1,73.2c0,48.3-0.2,54.1-1.1,73.2
                  c-0.8,17.7-3.8,27.2-6.2,33.6c-3.3,8.4-7.2,14.5-13.5,20.8c-6.3,6.3-12.4,10.3-20.8,13.5c-6.4,2.5-16,5.4-33.6,6.2
                  c-19.1,0.9-24.8,1.1-73.2,1.1s-54.1-0.2-73.2-1.1c-17.7-0.8-27.2-3.8-33.6-6.2c-8.5-3.3-14.5-7.2-20.8-13.5
                  c-6.3-6.3-10.3-12.4-13.5-20.8c-2.5-6.4-5.4-16-6.2-33.6c-0.9-19.1-1.1-24.8-1.1-73.2c0-48.3,0.2-54.1,1.1-73.2
                  c0.8-17.7,3.8-27.2,6.2-33.6c3.3-8.5,7.2-14.5,13.5-20.8c6.3-6.3,12.4-10.3,20.8-13.5c6.4-2.5,16-5.4,33.6-6.2
                  C201.9,107.8,207.7,107.6,256,107.6 M256,75c-49.2,0-55.3,0.2-74.6,1.1c-19.3,0.9-32.4,3.9-43.9,8.4c-11.9,4.6-22,10.8-32.1,20.9
                  c-10.1,10.1-16.3,20.2-20.9,32.1c-4.5,11.5-7.5,24.7-8.4,43.9C75.2,200.7,75,206.8,75,256c0,49.2,0.2,55.3,1.1,74.6
                  c0.9,19.3,3.9,32.4,8.4,43.9c4.6,11.9,10.8,22,20.9,32.1c10.1,10.1,20.2,16.3,32.1,20.9c11.5,4.5,24.7,7.5,43.9,8.4
                  c19.3,0.9,25.5,1.1,74.6,1.1c49.2,0,55.3-0.2,74.6-1.1c19.3-0.9,32.4-3.9,43.9-8.4c11.9-4.6,22-10.8,32.1-20.9
                  c10.1-10.1,16.3-20.2,20.9-32.1c4.5-11.5,7.5-24.7,8.4-43.9c0.9-19.3,1.1-25.5,1.1-74.6c0-49.2-0.2-55.3-1.1-74.6
                  c-0.9-19.3-3.9-32.4-8.4-43.9c-4.6-11.9-10.8-22-20.9-32.1c-10.1-10.1-20.2-16.3-32.1-20.9c-11.5-4.5-24.7-7.5-43.9-8.4
                  C311.3,75.2,305.2,75,256,75"
                    ></path>
                    <path
                      class="st0"
                      d="M256,163c-51.3,0-93,41.6-93,93c0,51.3,41.6,93,93,93c51.3,0,93-41.6,93-93C349,204.7,307.3,163,256,163
                  M256,316.3c-33.3,0-60.3-27-60.3-60.3s27-60.3,60.3-60.3c33.3,0,60.3,27,60.3,60.3S289.3,316.3,256,316.3"
                    ></path>
                    <path
                      class="st0"
                      d="M374.4,159.4c0,12-9.7,21.7-21.7,21.7c-12,0-21.7-9.7-21.7-21.7c0-12,9.7-21.7,21.7-21.7
                  C364.6,137.6,374.4,147.4,374.4,159.4"
                    ></path>
                  </g>
                </svg>
              </a>
            </div>
          </div>
        </form>

        <div class="login-forget-block" v-if="false">
          <div class="forget-return">
            <!-- <a href="#" @click.prevent="loginForgetBlock = false"> -->
            <a href="#" @click.prevent="loginForgetBlock = false">
              <i class="fas fa-angle-left"></i> Retourner au login
            </a>
          </div>

          <div class="columns is-centered">
            <div class="column is-10">
              <label for="login-email">Votre adresse e-mail</label>
              <b-field>
                <b-input
                  id="login-email"
                  type="email"
                  rounded
                  icon-pack="fas"
                  icon="at"
                  v-model="input.email"
                ></b-input>
              </b-field>
            </div>
          </div>

          <div class="columns is-centered">
            <div class="column is-10 text-center">
              <a class="button button-principal is-iris">Réinitialiser le mot de passe</a>
            </div>
          </div>
        </div>

        <div class="columns is-centered">
          <div class="column is-10 text-center login-credits">
            <p>
              Made with
              <svg
                id="Capa_1"
                data-name="Capa 1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 176.1 151.88"
              >
                <title>heart</title>
                <path
                  d="M150.38,18.3A49.71,49.71,0,0,0,88.07,30.13,49.75,49.75,0,0,0,0,61.88,49.05,49.05,0,0,0,2.46,77.22C11,115.59,88.07,164,88.07,164s77-48.4,85.57-86.77a49.09,49.09,0,0,0,2.47-15.34A49.79,49.79,0,0,0,150.38,18.3Z"
                  transform="translate(0 -12.11)"
                ></path>
              </svg> by
              <a href="https://augmenteo.com/" target="_blank">
                <img src="@/assets/img/logo.svg" alt>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import { Component, Vue } from "vue-property-decorator";
import { Action } from "vuex-class";

@Component
export default class Login extends Vue {
  @Action("login") loginAction: any;
  @Action("loadUserData") loadUserDataAction: any;

  public input: any = {
    email: "",
    password: ""
  };

  public login() {
    const loadingComponent = this.$loading.open({});
    this.loginAction(this.input)
      .then(() => {
        this.$router.push("/");
      })
      .catch((ex: any) => {
        const message: string =
          "L'adresse email ou le mot de passe est erroné.";
        this.$toast.open({
          duration: 5000,
          message: message,
          position: "is-top-right",
          queue: false,
          type: "is-danger"
        });
      })
      .finally(() => loadingComponent.close());
  }

  public forget() {}

  public forgetBack() {}
}
</script>
