<template >
  <div class="subscription-page">
    <HeaderUser></HeaderUser>

    <div v-if="profile && product" class="columns subscription-wrap is-multiline">
      <div class="column is-12">
        <div class="subscription-head text-center">
          <img :src="imgAbo" alt>
          <h1 class="text-style-5">{{ product.name }}</h1>
        </div>
      </div>

      <div class="column is-12">
        <div class="columns">
          <div class="column is-4 is-offset-2">
            <div class="subscription-infos-general">
              <h1>
                Votre formule
                <i class="fas fa-info-circle" @click="subscriptionInfoActive = true"></i>
              </h1>

              <b-modal
                :active.sync="subscriptionInfoActive"
                :width="940"
                scroll="keep"
                class="validate-modal"
              >
                <div class="card details-modal-content">
                  <div class="card-content">
                    <div class="content">
                      <h1 class="text-center">
                        Détails de l’offre
                        <span>{{ product.name }}</span>
                      </h1>

                      <div class="columns">
                        <div class="column is-6 label-list">
                          <ul>
                            <li>Lieux ou événements</li>
                            <li>Participants</li>
                            <li>Accès catalogue</li>
                            <li>Accès plateforme créateur</li>
                            <li>Support technique</li>
                            <li>Formation plateforme</li>
                            <li>Pack matériel</li>
                            <li>Personnalisation</li>
                            <li>Marque blanche</li>
                          </ul>
                        </div>
                        <div class="column is-6 content-list">
                          <ul>
                            <li>{{ product.journeyCount }}</li>
                            <li>{{ product.userLimit }}</li>
                            <li>{{ product.storeStoryCount }} jeux</li>
                            <li>{{ product.customStoryCount }} mois</li>

                            <!-- TODO -->
                            <li>{{ pack.technicalSupport }}</li>
                            <li>{{ pack.formation }}</li>
                            <li>{{ pack.packMateriel }}</li>
                            <li>{{ pack.personnalisation }}</li>
                            <li>{{ pack.whiteMark }}</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="validate-btns">
                  <a
                    href="#"
                    class="btn-form-primary"
                    @click="subscriptionInfoActive = false"
                  >Fermer</a>
                </div>
              </b-modal>

              <p class="link-text-style">
                Forfait
                <span class="pack-name">{{ product.name }}</span> souscrit le
                <span class="pack-date">05/01/18</span>
              </p>
              <p class="price">
                <span>{{ product.price }}€</span> /mois
              </p>

              <h1>Détails de votre offre</h1>

              <div class="columns text-center offer-details-wrap">
                <div class="column is-6">
                  <div class="beacon-block">
                    <div class="beacon-wrap">
                      <div class="beacon-indic">{{ beaconCount }}</div>
                    </div>
                    <p>Beacon</p>
                  </div>
                </div>
                <div class="column is-6 text-left">
                  <div class="parcours-block">
                    <img src="@/assets/img/subscription/parcours.png" alt>
                    <p>Crédits parcours</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="subscription-infos-progress subscription-infos-size">
              <h1>Stockage</h1>
              <div class="histogram-bar">
                <progress-bar
                  size="big"
                  :val="profile.diskUsage"
                  :max="product.maxStorage * 1000 * 1000"
                ></progress-bar>
                <span
                  class="vue-simple-progress-text"
                >{{profile.diskUsage | byteConvert(1)}} / {{ product.maxStorage }} Mo</span>
              </div>
            </div>

            <div class="subscription-infos-progress subscription-infos-forfait">
              <h1>Forfait</h1>
              <div class="histogram-bar">
                <progress-bar size="big" :val="daysFromStart" :max="daysToEnd"></progress-bar>
                <span class="vue-simple-progress-text">{{daysFromStart}} jours / {{daysToEnd}} jours</span>
              </div>
            </div>

            <div class="subscription-infos-progress subscription-infos-visitor">
              <h1>Visiteurs</h1>
              <div class="histogram-bar">
                <progress-bar size="big" :val="findVisitorCount" :max="product.userLimit * Object.values($store.state.event.journeys).length"></progress-bar>
                <span
                  class="vue-simple-progress-text"
                >{{findVisitorCount}} / {{ product.userLimit * Object.values($store.state.event.journeys).length }} visiteurs</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import HeaderUser from "@/components/HeaderUser.vue";
import ProgressBar from "vue-simple-progress";
import { Component, Vue } from "vue-property-decorator";
import Profile from "@/models/Profile";
import { Getter } from "vuex-class";
import Product from "@/models/Product";
import Story from "@/models/Story";

@Component({
  components: {
    HeaderUser,
    ProgressBar
  }
})
export default class Subscription extends Vue {
  public beginDate: string = "02/01/18";
  public pricePerMonth: number = 1025;
  public beaconNumber: number = 10;
  public stockage: number = 250.8;
  public maxSotckage: number = 500;
  public forfait: number = 15;
  public maxForfait: number = 50;
  public visitors: number = 2000;
  public maxVisitors: number = 5000;
  public subscriptionInfoActive: boolean = false;
  public pack: any = {
    name: "infinité",
    location: 1,
    participants: 500,
    catalog: 3,
    accesPlateforme: 1,
    technicalSupport: "Réponse mail sous 48h",
    formation: "Incluse",
    packMateriel: "Réutilisable à vie",
    personnalisation: "-",
    whiteMark: "Sur devis"
  };

  @Getter("profile/getter")
  public profile!: Profile;

  @Getter("product/findById")
  public productGetter!: any;

  @Getter("beacon/beaconCount")
  public beaconCount!: number;

  @Getter("event/findVisitorCount")
  public findVisitorCount!: number;

  public get imgAbo() {
    return this.product
      ? require(`@/assets/img/pictos-market/${this.getProductImgName()}.png`)
      : "";
  }

  private getProductImgName(): string {
    switch (this.product.name) {
      case "Pack Starter":
        return "pack-start";
      case "Abonnement Découverte":
        return "découverte";
      case "Abonnement Odyssée":
        return "odyssée";
      case "Abonnement Aventurier":
        return "aventure";
      case "Abonnement Infinité":
        return "infinité";
      default:
        return "pack-start";
    }
  }

  public get product(): Product {
    return this.productGetter(this.profile.plan);
  }

  public get daysFromStart() {
    const startDate: Date = new Date((this.profile.planStart as any).date);
    const dayToMs: number = 1000 * 60 * 60 * 24; // one day in milliseconds
    const nowMs: number = new Date().getTime();
    const startMs = startDate.getTime();
    const result: number = Math.round((nowMs - startMs) / dayToMs);

    return result > 0 ? result : 0;
  }

  public get daysToEnd() {
    const endDate = new Date((this.profile.planEnd as any).date);
    const dayToMs: number = 1000 * 60 * 60 * 24; // one day in milliseconds
    const nowMs: number = new Date().getTime();
    const endMs = endDate.getTime();
    const result: number = Math.round((endMs - nowMs) / dayToMs);
    return result > 0 ? result : 0;
  }
}
</script>
