<template >
  <div class="stats-waypoints-page">
    <HeaderUser></HeaderUser>

    <div class="columns waypoints-block">
      <MenuStats></MenuStats>

      <div class="column is-9 waypoints-content">
        <div class="columns waypoints-head">
          <div class="column is-4">
            <a @click="$router.go(-1)" class="btn-form-secondary back-btn">
              <i class="fas fa-angle-left"></i> Retour
            </a>
          </div>
          <div class="column is-4">
            <h1 class="big-title text-center">Balises</h1>
          </div>
          <div class="column is-4 text-right">
            <!-- expoirt csv -->
            <a href="#" class="btn-form-primary export-btn">Export .csv</a>
          </div>
        </div>

        <div class="columns">
          <div class="column is-12">
            <b-table
              :data="waypoints"
              :paginated="isPaginated"
              :focusable="isFocusable"
              :per-page="perPage"
              :current-page.sync="currentPage"
              :default-sort-direction="defaultSortDirection"
              class="list-tab"
            >
              <template slot-scope="props">
                <b-table-column field="orderNumber" label="Ordre" sortable class="visitor-place">
                  <span class="visitor-place-item">{{ props.row.orderNumber }}</span>
                </b-table-column>

                <b-table-column field="name" label="Nom du point" sortable>{{ props.row.name }}</b-table-column>

                <b-table-column
                  field="contenu"
                  label="Type de contenu"
                  sortable
                >{{ props.row.contenu }}</b-table-column>

                <b-table-column
                  field="scansNumber"
                  label="Nombre de scans"
                  sortable
                >{{ props.row.scansNumber }}</b-table-column>

                <b-table-column
                  field="beaconNotifs"
                  label="Passage près d'un beacon"
                  sortable
                >{{ props.row.beaconNotifs }}</b-table-column>
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import HeaderUser from "@/components/HeaderUser.vue";
import MenuStats from "@/components/MenuStats.vue";
import { Component, Vue } from "vue-property-decorator";

@Component({
  components: {
    HeaderUser,
    MenuStats
  }
})
export default class StatsWaypoints extends Vue {
  public waypoints: Array<any> = [
    {
      orderNumber: 1,
      name: "Helos : la Guerre",
      contenu: "Quizz",
      scansNumber: 5,
      beaconNotifs: 5
    },
    {
      orderNumber: 2,
      name: "Helos : la Guerre",
      contenu: "Lien",
      scansNumber: 8,
      beaconNotifs: 5
    },
    {
      orderNumber: 3,
      name: "Helos : la Guerre",
      contenu: "Image",
      scansNumber: 10,
      beaconNotifs: 1
    },
    {
      orderNumber: 4,
      name: "Helos : la Guerre",
      contenu: "Texte",
      scansNumber: 9,
      beaconNotifs: 1
    },
    {
      orderNumber: 5,
      name: "Helos : la Guerre",
      contenu: "Vidéo",
      scansNumber: 9,
      beaconNotifs: 1
    },
    {
      orderNumber: 6,
      name: "Helos : la Guerre",
      contenu: "Digicode",
      scansNumber: 9,
      beaconNotifs: 1
    },
    {
      orderNumber: 7,
      name: "Helos : la Guerre",
      contenu: "Audio",
      scansNumber: 15,
      beaconNotifs: 1
    }
  ];
  public isFocusable: boolean = true;
  public isPaginated: boolean = true;
  public currentPage: number = 1;
  public perPage: number = 8;
  public defaultSortdirection: string = "asc";
}
</script>
