<template >
  <div class="stats-visitors-page">
    <HeaderUser></HeaderUser>

    <div class="columns visitors-block" v-if="event">
      <MenuStats :event="event"></MenuStats>

      <div class="column is-9 visitor-content">
        <div class="columns">
          <div class="column is-4">
            <a @click="$router.go(-1)" class="btn-form-secondary back-btn">
              <i class="fas fa-angle-left"></i> Retour
            </a>
          </div>
          <div class="column is-4">
            <h1 class="big-title text-center">Liste des visiteurs</h1>
          </div>
          <div class="column is-4 text-right">
            <!-- export csv -->
            <a @click="onExportCsv" class="btn-form-primary export-btn">Export .csv</a>
          </div>
        </div>

        <div class="columns">
          <div class="column is-4">
            <div class="dash-head global-time text-center">
              <i class="far fa-clock"></i>
              <div class="dash-head-content">
                <h1>{{ new Date(visitorStats.averageTime * 1000).toISOString().substr(11, 5).replace(':', 'h') }}</h1>
                <span>Temps de jeu moyen</span>
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="dash-head user-finished text-center">
              <i class="fas fa-check-circle"></i>
              <div class="dash-head-content">
                <h1>{{ visitorStats.finishVisitorCount }}</h1>
                <span>Personnes ayant terminé</span>
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="dash-head user-registered text-center">
              <i class="fas fa-users"></i>
              <div class="dash-head-content">
                <h1>{{ visitorStats.totalVisitors }}</h1>
                <span>Visiteurs inscrits</span>
              </div>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column is-12">
            <b-table
              :data="visitorStats.visitorsData"
              :paginated="true"
              :focusable="true"
              :per-page="20"
              :default-sort-direction="'desc'"
              default-sort="isFinished"
              class="list-tab"
            >
              <template slot-scope="props">
                <b-table-column field="name" label="Nom" sortable class="visitor-name">
                  <span class="visitor-name-item">{{ props.row.name }}</span>
                  <img src="@/assets/img/stats/picto_visiteur.png" alt class="picto-visitor">
                  <a
                    href="#"
                    class="btn-form-secondary fiche-btn"
                    @click="props.row.isAperçu = true"
                  >Voir la fiche</a>

                  <b-modal
                    :active.sync="props.row.isAperçu"
                    :width="940"
                    scroll="keep"
                    class="visitor-fiche-modal"
                  >
                    <div class="card">
                      <div class="card-content">
                        <div class="content">
                          <div class="columns">
                            <div class="column is-12 visitor-fiche-modal text-center">
                              <div class="card-preview-content">
                                <h1>{{ props.row.name }} #{{ props.row.id }}</h1>
                                <h2>{{ props.row.team }}</h2>

                                <div class="columns fiche-head-wrap">
                                  <div class="column is-3 fiche-head-block">
                                    <div class="fiche-head">
                                      <img src="@/assets/img/stats/picto_score.png" alt>
                                      <div class="fiche-head-infos">
                                        <h3>{{ props.row.score }}</h3>
                                        <p>Score</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="column is-3 fiche-head-block">
                                    <div class="fiche-head">
                                      <img src="@/assets/img/stats/picto_chrono.png" alt>
                                      <div class="fiche-head-infos">
                                        <h3>{{ props.row.timeSpend }}</h3>
                                        <p>de jeu</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="column is-3 fiche-head-block">
                                    <div class="fiche-head">
                                      <img src="@/assets/img/stats/picto_distance.png" alt>
                                      <div class="fiche-head-infos">
                                        <h3>{{ props.row.score }} km</h3>
                                        <p>parcourus</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="column is-3 fiche-head-block">
                                    <div class="fiche-head">
                                      <img src="@/assets/img/stats/picto_valide.png" alt>
                                      <div class="fiche-head-infos">
                                        <h3>{{ props.row.progression }}</h3>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="columns">
                                  <div class="column is-6">
                                    <div class="fiche-general-infos">
                                      <div class="title-fiche">
                                        <img src="@/assets/img/stats/picto_info.png" alt>
                                        <h3>Information générales</h3>
                                      </div>

                                      <div class="columns">
                                        <div class="column is-6">
                                          <div class="fiche-content">
                                            <h4>Inscrit le :</h4>
                                            <p>XX/XX/XXXX à 00h00</p>
                                          </div>

                                          <div class="fiche-content">
                                            <h4>Adresse mail :</h4>
                                            <p>xxxxxxxxxxx@gmail.com</p>
                                          </div>
                                        </div>

                                        <div class="column is-6">
                                          <div class="fiche-content">
                                            <h4>Dernière connexion le :</h4>
                                            <p>XX/XX/XXXX à 00h00</p>
                                          </div>
                                          <div class="fiche-content">
                                            <h4>Mode de connexion :</h4>
                                            <p>4G</p>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="columns">
                                        <div class="column is-12 no-padding-top">
                                          <div class="fiche-content fiche-time-spend">
                                            <h4>Temps de chargement de l’application :</h4>
                                            <p>0:40</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="fiche-fil-actu">
                                      <div class="title-fiche">
                                        <img src="@/assets/img/stats/picto_actu.png" alt>
                                        <h3>Fil d’actualités</h3>
                                      </div>

                                      <div class="fil-actu-content">
                                        <div
                                          class="fil-actu-item"
                                          v-for="actu in props.row.filActu"
                                        >
                                          <span class="actu-item-name">
                                            {{ props.row.name }} vient de scanner la balise n°{{ actu.idBalise }} -
                                            <b>{{ actu.name }}</b>
                                          </span>
                                          <span class="actu-timed">({{ actu.time }} fois)</span>
                                          <span
                                            class="actu-ago"
                                            v-if="actu.minutesAgo"
                                          >Il y a {{ actu.minutesAgo }} minutes</span>
                                          <span
                                            class="actu-ago"
                                            v-if="!actu.minutesAgo"
                                          >à {{ actu.dateHour }} le {{ actu.dateWeek }}</span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="column is-6">
                                    <div class="fiche-quizz-answer">
                                      <div class="title-fiche">
                                        <img src="@/assets/img/stats/picto_rep.png" alt>
                                        <h3>Réponses aux quizz</h3>
                                      </div>

                                      <div class="fiche-quizz-content">
                                        <div
                                          class="fiche-quizz-item"
                                          v-for="answer in props.row.answersQuizz"
                                        >
                                          <span>Balise n°{{ answer.idBalise }} - {{ answer.name }}</span>
                                          <span
                                            class="answer-ago"
                                          >Il y a {{ answer.minutesAgo }} minutes</span>
                                          <span
                                            class="fiche-quizz-answer-item"
                                            v-bind:class="{ 'good' : answer.goodAnswer }"
                                          >{{ answer.answer }}</span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-btns">
                      <a
                        href="#"
                        class="btn-form-primary"
                        @click="props.row.isAperçu = false"
                      >Fermer</a>
                    </div>
                  </b-modal>
                </b-table-column>

                <b-table-column field="team" label="Équipe" sortable>{{ props.row.team }}</b-table-column>

                <b-table-column field="email" label="E-mail" sortable>{{ props.row.email }}</b-table-column>

                <b-table-column
                  field="gameTime"
                  label="Temps de jeu"
                  sortable
                >{{ new Date(props.row.gameTime * 1000).toISOString().substr(11, 8) }}</b-table-column>

                <b-table-column
                  field="isFinished"
                  label="Progression"
                  sortable
                  class="visitor-progression"
                >
                  {{ props.row.isFinished ? 'Terminé' : 'Incomplet' }}
                  <span
                    class="green"
                    v-if="props.row.isFinished"
                  ></span>
                  <span class="red" v-else></span>
                </b-table-column>
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import HeaderUser from "@/components/HeaderUser.vue";
import MenuStats from "@/components/MenuStats.vue";
import { Component, Vue } from "vue-property-decorator";
import { Getter } from "vuex-class";
import Event from "@/models/Event";
import { exportCsv } from "@/services/csv-exporter";

@Component({
  components: {
    HeaderUser,
    MenuStats
  }
})
export default class StatsVisitors extends Vue {
  @Getter("event/findVisitorsStatsOfEvent")
  public visitorStats!: {
    visitorsData: any[];
    averageTime: number;
    finishVisitorCount: number;
    totalVisitors: number;
  };

  @Getter("event/findEvents")
  public events!: Event[];

  public get event(): Event {
    const eventId: number = parseInt(this.$router.currentRoute.params["id"]);
    return this.events[eventId];
  }

  public onExportCsv() {
    exportCsv(
      this.visitorStats.visitorsData,
      this.event.name + " Visiteurs.csv"
    );
  }
}
</script>
