<template>
  <div class="stats-photos-page">
    <HeaderUser></HeaderUser>

    <div class="columns photos-block" v-if="event">
      <MenuStats :event="event"></MenuStats>

      <div class="column is-9 photos-content">
        <div class="columns photos-head">
          <div class="column is-4">
            <a @click="$router.go(-1)" class="btn-form-secondary back-btn">
              <i class="fas fa-angle-left"></i> Retour
            </a>
          </div>
          <div class="column is-4">
            <h1 class="big-title text-center">Photos</h1>
          </div>
          <div class="column is-4 text-right">
            <a @click="exportPictures" class="btn-form-primary export-btn">Exporter les photos</a>
          </div>
        </div>

        <div class="columns photos-wrap is-multiline">
          <div class="photo-item first column is-one-fifth">
            <h1>{{ medias.length }}</h1>
            <span>Photos prises</span>
          </div>
          <div
            class="photo-item column is-one-fifth"
            v-for="(media, index) in medias"
            v-bind:style="{ backgroundImage: `url(${media.webPath})` }"
            :key="index + 'media'"
          >
            <div class="photo-item-overlay">
              <a class="btn-primary" @click="activeMediaIdx = index">Voir la photo</a>
            </div>

            <b-modal
              :active="activeMediaIdx === index "
              :width="940"
              scroll="keep"
              class="photo-stats-modal"
            >
              <div class="card">
                <div class="card-content">
                  <div class="content">
                    <h1>{{ media.visitor }}, le {{ media.date | moment('DD/MM/YYYY à HH:mm') }}</h1>
                    <div
                      class="photo-aperçu"
                      v-bind:style="{ backgroundImage: `url(${media.webPath})` }"
                    ></div>
                  </div>
                </div>
              </div>
              <div class="modal-btns">
                <a class="btn-form-primary" @click="activeMediaIdx = -1">Fermer</a>
              </div>
            </b-modal>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import HeaderUser from "@/components/HeaderUser.vue";
import MenuStats from "@/components/MenuStats.vue";
import { Component, Vue } from "vue-property-decorator";
import { Getter } from "vuex-class";

@Component({
  components: {
    HeaderUser,
    MenuStats
  }
})
export default class StatsPhotos extends Vue {
  @Getter("event/findEvents")
  public events!: Event[];

  @Getter("stats/findMediaStats")
  public medias!: {
    webPath: string;
    date: Date;
    visitor: string;
  }[];

  public get event(): Event {
    const eventId: number = parseInt(this.$router.currentRoute.params["id"]);
    return this.events[eventId];
  }

  public activeMediaIdx = -1;

  public exportPictures() {}
}
</script>
