<template >
  <div class="stats-results-page">
    <HeaderUser></HeaderUser>

    <div class="columns results-block">
      <MenuStats></MenuStats>

      <div class="column is-9 results-content">
        <div class="columns results-head">
          <div class="column is-4">
            <a @click="$router.go(-1)" class="btn-form-secondary back-btn">
              <i class="fas fa-angle-left"></i> Retour
            </a>
          </div>
          <div class="column is-4">
            <h1 class="big-title text-center">Résultats</h1>
          </div>
          <div class="column is-4 text-right">
            <a href="#" class="btn-form-primary export-btn">Export .csv</a>
          </div>
        </div>

        <div class="columns is-multiline is-centered">
          <div class="column is-4" v-for="team in teams">
            <div
              class="results-team-tabs"
              :class="{current: teamSelectioned === team.name }"
              @click="setCurrentTeam(team.name)"
            >{{ team.name }}</div>
          </div>
          <div class="column is-4">
            <div
              class="results-team-tabs"
              :class="{current: teamSelectioned === '' }"
              @click="setCurrentTeam('')"
            >Toutes les équipes</div>
          </div>
        </div>

        <div class="columns">
          <div class="column is-12">
            <div
              class="taux-answer-wrap"
              v-for="team in teams"
              :class="{current: teamSelectioned === team.name }"
            >
              <h3>Taux de bonnes réponses aux quizz</h3>
              <progress-bar size="big" :val="team.tauxGoodAnswer"></progress-bar>
              <span>{{ team.tauxGoodAnswer }}%</span>
            </div>
            <div class="taux-answer-wrap" :class="{current: teamSelectioned === '' }">
              <h3>Taux de bonnes réponses aux quizz</h3>
              <progress-bar size="big" :val="tauxGoodAnswer"></progress-bar>
              <span>{{ tauxGoodAnswer }}%</span>
            </div>
          </div>
        </div>

        <div
          class="columns results-wrap is-multiline"
          v-for="team in teams"
          :class="{current: teamSelectioned === team.name }"
        >
          <div
            class="column is-3-desktop is-one-fifth-widescreen"
            v-for="waypoint in team.waypoints"
          >
            <div class="results-item">
              <h4>Balise {{ waypoint.id }}</h4>
              <p class="results-question">{{ waypoint.question }}</p>

              <div class="results-answers-block">
                <div class="results-answer-wrap" v-for="answer in waypoint.answers">
                  <p :class="{ good: answer.goodAnswer }">{{ answer.item }}</p>
                  <div class="results-answer-progress">
                    <span class="answer-number">{{ answer.numberPerson }}</span>
                    <progress-bar size="medium" :val="answer.pourcentage"></progress-bar>
                    <span class="answer-pourcent">{{ answer.pourcentage }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="columns results-wrap is-multiline" :class="{ current: teamSelectioned === '' }">
          <div
            class="column is-3-desktop is-one-fifth-widescreen"
            v-for="waypoint in waypointsGeneral"
          >
            <div class="results-item">
              <h4>Balise {{ waypoint.id }} - {{ waypoint.team }}</h4>
              <p class="results-question">{{ waypoint.question }}</p>

              <div class="results-answers-block">
                <div class="results-answer-wrap" v-for="answer in waypoint.answers">
                  <p :class="{ good: answer.goodAnswer }">{{ answer.item }}</p>
                  <div class="results-answer-progress">
                    <span class="answer-number">{{ answer.numberPerson }}</span>
                    <progress-bar size="medium" :val="answer.pourcentage"></progress-bar>
                    <span class="answer-pourcent">{{ answer.pourcentage }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import HeaderUser from "@/components/HeaderUser.vue";
import ProgressBar from "vue-simple-progress";
import MenuStats from "@/components/MenuStats.vue";
import { Component, Vue } from "vue-property-decorator";

@Component({
  components: {
    HeaderUser,
    MenuStats,
    ProgressBar
  }
})
export default class StatsResults extends Vue {
  public teamSelectioned: string = "";
  public tauxGoodAnswer: number = 75;
  public teams: Array<any> = [
    {
      id: 1,
      name: "Templier",
      tauxGoodAnswer: 80,
      waypoints: [
        {
          id: 1,
          question:
            "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie l'expression latine « dulce et decorum est pro patria mori l'expression latine... » ?",
          answers: [
            {
              item:
                "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
              numberPerson: 20,
              pourcentage: 15,
              goodAnswer: true
            },
            {
              item:
                "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
              numberPerson: 50,
              pourcentage: 50,
              goodAnswer: false
            },
            {
              item:
                "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
              numberPerson: 60,
              pourcentage: 87,
              goodAnswer: false
            },
            {
              item:
                "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
              numberPerson: 60,
              pourcentage: 87,
              goodAnswer: false
            }
          ]
        },
        {
          id: 2,
          question:
            "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie l'expression latine « dulce et decorum est pro patria mori l'expression latine... » ?",
          answers: [
            {
              item:
                "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
              numberPerson: 20,
              pourcentage: 87,
              goodAnswer: false
            },
            {
              item: "Dulce et decorum est est un poème de ",
              numberPerson: 50,
              pourcentage: 57,
              goodAnswer: true
            },
            {
              item: "Dulce et decorum est est un poème de ",
              numberPerson: 60,
              pourcentage: 20,
              goodAnswer: false
            },
            {
              item:
                "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
              numberPerson: 60,
              pourcentage: 35,
              goodAnswer: false
            }
          ]
        }
      ]
    },
    {
      id: 2,
      name: "Assassin",
      tauxGoodAnswer: 50,
      waypoints: [
        {
          id: 1,
          question:
            "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie l'expression latine « dulce et decorum est pro patria mori l'expression latine... » ?",
          answers: [
            {
              item:
                "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
              numberPerson: 20,
              pourcentage: 15,
              goodAnswer: true
            },
            {
              item:
                "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
              numberPerson: 50,
              pourcentage: 50,
              goodAnswer: false
            },
            {
              item:
                "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
              numberPerson: 60,
              pourcentage: 87,
              goodAnswer: true
            },
            {
              item:
                "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
              numberPerson: 60,
              pourcentage: 87,
              goodAnswer: false
            }
          ]
        },
        {
          id: 2,
          question:
            "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie l'expres ?",
          answers: [
            {
              item:
                "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
              numberPerson: 20,
              pourcentage: 15,
              goodAnswer: false
            },
            {
              item:
                "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
              numberPerson: 50,
              pourcentage: 50,
              goodAnswer: false
            },
            {
              item:
                "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
              numberPerson: 60,
              pourcentage: 87,
              goodAnswer: false
            },
            {
              item:
                "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
              numberPerson: 60,
              pourcentage: 87,
              goodAnswer: true
            }
          ]
        },
        {
          id: 3,
          question:
            "Dulce epression latine « dulce et decorum est pro patria mori l'expression latine... » ?",
          answers: [
            {
              item:
                "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
              numberPerson: 20,
              pourcentage: 15,
              goodAnswer: false
            },
            {
              item:
                "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
              numberPerson: 50,
              pourcentage: 50,
              goodAnswer: true
            },
            {
              item:
                "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
              numberPerson: 60,
              pourcentage: 87,
              goodAnswer: false
            },
            {
              item:
                "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
              numberPerson: 60,
              pourcentage: 87,
              goodAnswer: false
            }
          ]
        }
      ]
    }
  ];

  public waypointsGeneral: Array<any> = [
    {
      id: 1,
      team: "Templier",
      question: "Dulce et decro patria mori l'expression latine... » ?",
      answers: [
        {
          item:
            "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
          numberPerson: 20,
          pourcentage: 15,
          goodAnswer: false
        },
        {
          item:
            "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
          numberPerson: 50,
          pourcentage: 50,
          goodAnswer: true
        },
        {
          item:
            "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
          numberPerson: 60,
          pourcentage: 87,
          goodAnswer: false
        },
        {
          item:
            "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
          numberPerson: 60,
          pourcentage: 87,
          goodAnswer: false
        }
      ]
    },
    {
      id: 1,
      team: "Assassin",
      question: "Dulce et decro patria mori l'expression latine... » ?",
      answers: [
        {
          item:
            "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
          numberPerson: 20,
          pourcentage: 15,
          goodAnswer: false
        },
        {
          item:
            "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
          numberPerson: 50,
          pourcentage: 60,
          goodAnswer: true
        },
        {
          item:
            "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
          numberPerson: 60,
          pourcentage: 87,
          goodAnswer: false
        },
        {
          item:
            "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
          numberPerson: 60,
          pourcentage: 87,
          goodAnswer: false
        }
      ]
    },
    {
      id: 2,
      team: "Templier",
      question:
        "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie l'expression latine ",
      answers: [
        {
          item:
            "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
          numberPerson: 20,
          pourcentage: 15,
          goodAnswer: true
        },
        {
          item:
            "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
          numberPerson: 60,
          pourcentage: 87,
          goodAnswer: false
        }
      ]
    },
    {
      id: 2,
      team: "Assassin",
      question:
        "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie l'expression latine ",
      answers: [
        {
          item:
            "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
          numberPerson: 50,
          pourcentage: 50,
          goodAnswer: true
        },
        {
          item:
            "Dulce et decorum est est un poème de Wilfred Owen. Sais-tu ce que signifie",
          numberPerson: 60,
          pourcentage: 87,
          goodAnswer: false
        }
      ]
    }
  ];

  public setCurrentTeam(name: string): void {
    this.teamSelectioned = name;
  }
}
</script>

<style lang="scss">
</style>
