<template >
  <div class="stats-ranking-page">
    <HeaderUser></HeaderUser>

    <div class="columns ranking-block">
      <MenuStats></MenuStats>

      <div class="column is-9 ranking-content">
        <div class="columns ranking-head">
          <div class="column is-4">
            <a @click="$router.go(-1)" class="btn-form-secondary back-btn">
              <i class="fas fa-angle-left"></i> Retour
            </a>
          </div>
          <div class="column is-4">
            <h1 class="big-title text-center">Classement du parcours - {{ parcoursName }}</h1>
          </div>
          <div class="column is-4 text-right">
            <!-- export csv -->
            <a href="#" class="btn-form-primary export-btn">Export .csv</a>
          </div>
        </div>

        <div class="columns">
          <div class="column is-4">
            <div class="dash-head user-finished text-center">
              <div class="cocarde-content second">
                <img src="@/assets/img/stats/picto-cocarde.png" alt>
                <span>2</span>
              </div>
              <div class="dash-head-content">
                <h1>{{ podiumTeam[1].name }}</h1>
                <span>{{ podiumTeam[1].points }} points</span>
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="dash-head user-finished text-center">
              <div class="cocarde-content first">
                <img src="@/assets/img/stats/picto-cocarde.png" alt>
                <span>1</span>
              </div>
              <div class="dash-head-content">
                <h1>{{ podiumTeam[0].name }}</h1>
                <span>{{ podiumTeam[0].points }} points</span>
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="dash-head user-registered text-center">
              <div class="cocarde-content third">
                <img src="@/assets/img/stats/picto-cocarde.png" alt>
                <span>3</span>
              </div>
              <div class="dash-head-content">
                <h1>{{ podiumTeam[2].name }}</h1>
                <span>{{ podiumTeam[2].points }} points</span>
              </div>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column is-12">
            <b-table
              :data="rankingList"
              :paginated="isPaginated"
              :focusable="isFocusable"
              :per-page="perPage"
              :current-page.sync="currentPage"
              :default-sort-direction="defaultSortDirection"
              class="list-tab"
            >
              <template slot-scope="props">
                <b-table-column field="place" label="Place" sortable class="visitor-place">
                  <span class="visitor-place-item">{{ props.row.place }}</span>
                </b-table-column>

                <b-table-column field="name" label="Nom de joueur" sortable>{{ props.row.name }}</b-table-column>

                <b-table-column field="score" label="Score" sortable>{{ props.row.score }}</b-table-column>

                <b-table-column field="team" label="Équipe" sortable>{{ props.row.team }}</b-table-column>
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import HeaderUser from "@/components/HeaderUser.vue";
import MenuStats from "@/components/MenuStats.vue";
import { Vue, Component } from "vue-property-decorator";

@Component({
  components: {
    HeaderUser,
    MenuStats
  }
})
export default class StatsRanking extends Vue {
  public parcoursName: string = "Le secret de Napoléon";
  public rankingList: Array<any> = [
    {
      place: 1,
      score: 1230,
      team: "Pyramide",
      name: "Sacran"
    },
    {
      place: 2,
      score: 500,
      team: "Assassin",
      name: "Airtahi"
    },
    {
      place: 3,
      score: 500,
      team: "Templier",
      name: "Clyde"
    }
  ];

  public podiumTeam: Array<any> = [
    {
      name: "Pyramide",
      points: 350
    },
    {
      name: "Templier",
      points: 200
    },
    {
      name: "Assassin",
      points: 150
    }
  ];

  public isFocusable: boolean = true;

  public isPaginated: boolean = true;

  public currentPage: number = 1;

  public perPage: number = 8;

  public defaultSortDirection: string = "asc";
}
</script>
