<template>
  <div class="stats-feedbacks-page">
    <HeaderUser></HeaderUser>

    <div class="columns feedbacks-block" v-if="events && feedbackData">
      <MenuStats :event="event"></MenuStats>

      <div class="column is-9 feedbacks-content">
        <div class="columns feedbacks-head">
          <div class="column is-4">
            <a @click="$router.go(-1)" class="btn-form-secondary back-btn">
              <i class="fas fa-angle-left"></i>
              Retour
            </a>
          </div>

          <div class="column is-4">
            <h1 class="big-title text-center">Notes et avis</h1>
          </div>

          <div class="column is-4 text-right">
            <!-- submit export -->
            <a @click="onExportCsv" class="btn-form-primary export-btn">Export .csv</a>
          </div>
        </div>

        <div class="columns feedbacks-subhead" v-if="feedbackData.total !== 0">
          <div class="column is-5 average-notes">
            <div class="ratings-stars">
              <i class="fas fa-star" v-for="n in feedbackData.averageRate" :key="n + 'fas'"></i>
              
              <i class="far fa-star" v-for="n in (5 - feedbackData.averageRate)" :key="n + 'far'"></i>
              
              <span>{{ feedbackData.total }}</span>

              <p>{{ feedbackData.averageRate }} sur 5 étoiles</p>
            </div>
          </div>

          <div class="column is-6">
            <div class="rating-histogram">
              <div
                class="histogram-bar"
                v-for="(rating, index) in feedbackData.ratings"
                :key="index+'rating'"
              >
                <div class="progress-bar-wrap">
                  <span v-if="index === 0">1 étoile</span>
                  <span v-else>{{ index+1 }} étoile(s)</span>
                  <progress-bar
                    size="big"
                    :val="Math.round((rating/feedbackData.total) * 100)"
                    class="progress-bar"
                  ></progress-bar>
                </div>

                <span
                  class="vue-simple-progress-text"
                >{{ Math.round((rating/feedbackData.total) * 100)}} %</span>
              </div>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column is-12">
            <b-table
              :data="feedbackData.feedbacks"
              :paginated="true"
              :focusable="true"
              :per-page="25"
              :default-sort-direction="'desc'"
              default-sort="rating"
              class="list-tab"
            >
              <template slot-scope="props">
                <b-table-column field="name" label="Nom" sortable>{{ props.row.name }}</b-table-column>

                <b-table-column field="journey" label="Parcours" sortable>{{ props.row.journey }}</b-table-column>

                <b-table-column field="comment" label="Commentaire" sortable>{{ props.row.comment }}</b-table-column>

                <b-table-column
                  field="gameTime"
                  label="Temps du parcours"
                  sortable
                >{{ props.row.gameTime }}</b-table-column>

                <b-table-column field="rating" label="Note" sortable>
                  <span
                    v-if="props.row.rating !== 0 && props.row.rating !== -1"
                  >{{ props.row.rating }}</span>
                  <span v-else>-</span>
                </b-table-column>
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
            </b-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import HeaderUser from "@/components/HeaderUser.vue";

import { Component, Vue } from "vue-property-decorator";

import ProgressBar from "vue-simple-progress";
import { exportCsv } from "@/services/csv-exporter";
import MenuStats from "@/components/MenuStats.vue";
import { Getter } from "vuex-class";
import Event from '@/models/Event';

@Component({
  components: {
    HeaderUser,

    MenuStats,

    ProgressBar
  }
})
export default class StatsFeedbacks extends Vue {
  @Getter("event/findEvents")
  public events!: Event[];

  public get event(): Event {
    const eventId: number = parseInt(this.$router.currentRoute.params["id"]);
    return this.events[eventId];
  }

  @Getter("stats/findFeedbacks")
  public feedbackData!: {
    feedbacks: any[];
    ratings: number[];
    total: number;
    averageRate: number;
  };

  public onExportCsv() {
    exportCsv(this.feedbackData.feedbacks, `${this.event.name} notes.csv`);
  }
}
</script>
