<template >
  <div class="stats-activity-page">
    <HeaderUser></HeaderUser>

    <div class="columns activity-block">
      <MenuStats></MenuStats>

      <div class="column is-9 activity-content">
        <div class="columns activity-head">
          <div class="column is-4">
            <a @click="$router.go(-1)" class="btn-form-secondary back-btn">
              <i class="fas fa-angle-left"></i> Retour
            </a>
          </div>
          <div class="column is-4">
            <h1 class="big-title text-center">Activité</h1>
          </div>
          <div class="column is-4 text-right">
            <!-- submit -->
            <a href="#" class="btn-form-primary export-btn">Export .csv</a>
          </div>
        </div>

        <div class="columns">
          <div class="column is-4">
            <div class="dash-head activity-pic text-center">
              <i class="far fa-clock"></i>
              <div class="dash-head-content">
                <h1>21h</h1>
                <span>pic d'activité</span>
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="dash-head user-finished text-center">
              <i class="fas fa-qrcode"></i>
              <div class="dash-head-content">
                <h1>232</h1>
                <span>Scans moyens par heure</span>
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="dash-head user-registered text-center">
              <i class="fas fa-users"></i>
              <div class="dash-head-content">
                <h1>16</h1>
                <span>Nouveaux inscrits</span>
              </div>
            </div>
          </div>
        </div>

        <div class="activity-stats-wrap">
          <activity-chart :chart-data="datacollection" :options="chartOptions"></activity-chart>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import HeaderUser from "@/components/HeaderUser.vue";
import MenuStats from "@/components/MenuStats.vue";
import ActivityChart from "@/components/ActivityChart.vue";
import { Component, Vue } from "vue-property-decorator";

@Component({
  components: {
    HeaderUser,
    MenuStats,
    ActivityChart
  }
})
export default class StatsActivity extends Vue {
  public height: number = 300;
  public labelFinal: any = null;
  public finalData: any = null;
  public datacollection: any = null;
  public chartOptions: any = null;
  public chartLabel: string = "month";

  mounted() {
    this.updateLabel(this.chartLabel);
    this.updateData(this.chartLabel);

    this.fillData();
  }

  public updateLabel(label: string) {
    if (label == "month") {
      this.labelFinal = [
        "Janvier",
        "Février",
        "Mars",
        "Avril",
        "Mai",
        "Juin",
        "Juillet",
        "Août",
        "Septembre",
        "Octobre",
        "Novembre",
        "Décembre"
      ];
    } else if (label == "hour") {
      this.labelFinal = [
        "8h",
        "9h",
        "10h",
        "11h",
        "12h",
        "13h",
        "14h",
        "15h",
        "16h",
        "17h",
        "18h",
        "19h",
        "20h",
        "21h"
      ];
    } else if (label == "day") {
      this.labelFinal = [
        "Lundi",
        "Mardi",
        "Mercredi",
        "Jeudi",
        "Vendredi",
        "Samedi",
        "Dimanche"
      ];
    }
  }

  public updateData(label: string) {
    if (label == "month") {
      this.finalData = [20, 50, 100, 115, 120, 60, 20, 10, 5, 10, 50, 100];
    } else if (label == "hour") {
      this.finalData = [
        40,
        20,
        12,
        50,
        100,
        40,
        39,
        50,
        40,
        20,
        12,
        11,
        50,
        15,
        50,
        80
      ];
    } else if (label == "day") {
      this.finalData = [80, 50, 60, 10, 50, 20, 55];
    }
  }

  public fillData() {
    this.ctx = document.getElementById("line-chart").getContext("2d");

    this.gradient = this.ctx.createLinearGradient(0, 0, 0, 400);
    this.gradient.addColorStop(0, "rgba(86, 69, 150, 1)");
    this.gradient.addColorStop(1, "rgba(86, 69, 150, 0.36)");

    this.datacollection = {
      labels: this.labelFinal,
      datasets: [
        {
          label: "Nombre de scans",
          borderWidth: 1,
          backgroundColor: this.gradient,
          pointBackgroundColor: "#564596",
          borderColor: "#564596",
          data: this.finalData
        }
      ]
    };

    this.chartOptions = {
      maintainAspectRatio: false,
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: false,
              steps: 50,
              stepValue: 5,
              max: 140
            },
            gridLines: {
              display: false
            }
          }
        ]
      },
      legend: {
        display: false
      }
    };
  }
}
</script>

<style lang="scss">
</style>
