<template >
  <div class="stats-dashboard-page">
    <HeaderUser></HeaderUser>

    <div class="columns dashboard-block" v-if="events">
      <MenuStats v-if="event" :event="event"></MenuStats>

      <div class="column is-9 dashboard-content">
        <h1 class="big-title">Tableau de bord</h1>

        <div class="columns">
          <div class="column is-4">
            <div class="dash-head journeys-block text-center">
              <img src="@/assets/img/scenario/add/Finish.svg" alt>
              <div class="dash-head-content">
                <h1>{{ visitorStats.finishVisitorCount }}</h1>
                <span>Parcours terminés</span>
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="dash-head visitors-block text-center">
              <i class="fas fa-users"></i>
              <div class="dash-head-content">
                <h1>{{ visitorStats.totalVisitors }}</h1>
                <span>Visiteurs</span>
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="dash-head users-block text-center">
              <img src="@/assets/img/stats/new-users.png" alt>
              <div class="dash-head-content">
                <h1>12</h1>
                <span>Nouveaux inscrits</span>
              </div>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column is-8">
            <div class="reviews-block">
              <div class="dash-block-head">
                <h2 class="text-style-5">Notes</h2>
                <router-link
                  :to="`/events/${event.id}/stats/feedbacks`"
                  class="btn-form-primary"
                >Voir les notes</router-link>
              </div>

              <div class="columns" v-if="feedbackRates.total !== 0">
                <div class="column is-6 average-notes">
                  <div class="rating-stars">
                    <i class="fas fa-star" v-for="n in feedbackRates.averageRate" :key="n + 'fas'"></i>
                    <i
                      class="far fa-star"
                      v-for="n in (5 - feedbackRates.averageRate)"
                      :key="n + 'far'"
                    ></i>
                    <span>{{ feedbackRates.total }}</span>
                    <p>{{ feedbackRates.averageRate }} sur 5 étoiles</p>
                  </div>
                </div>
                <div class="column is-6">
                  <div class="rating-histogram">
                    <div
                      class="histogram-bar"
                      v-for="(rating, index) in feedbackRates.ratings"
                      :key="index+'rating'"
                    >
                      <div class="progress-bar-wrap">
                        <span v-if="index === 0">1 étoile</span>
                        <span v-else>{{ index+1 }} étoile(s)</span>
                        <progress-bar
                          size="big"
                          :val="Math.round((rating/feedbackRates.total) * 100)"
                          class="progress-bar"
                        ></progress-bar>
                      </div>

                      <span
                        class="vue-simple-progress-text"
                      >{{ Math.round((rating/feedbackRates.total) * 100)}} %</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="colums" v-else>
                <h3>Pas encore de notes disponibles pour cet événement</h3>
              </div>
            </div>
            <div class="columns">
              <div class="column is-6">
                <div class="photos-block">
                  <div class="dash-block-head">
                    <h2 class="text-style-5">Photos</h2>
                    <router-link
                      :to="`/events/${event.id}/stats/pictures`"
                      class="btn-form-primary"
                    >Voir les photos</router-link>
                  </div>

                  <div class="photos-sneakpeek">
                    <div
                      class="photo"
                      v-for="(media, index) in medias.slice(0,3)"
                      :key="index + 'media'"
                      v-bind:style="{ backgroundImage: `url(${media.webPath})` }"
                    ></div>
                  </div>
                </div>
              </div>
              <div class="column is-6">
                <div class="activity-block">
                  <div class="dash-block-head">
                    <h2 class="text-style-5">Affluence</h2>
                    <router-link
                      to="/events/15/stats/activity"
                      class="btn-form-primary"
                    >Voir les détails</router-link>
                  </div>
                  <div class="activity-chart">
                    <div class="activity-filter">
                      <a
                        @click="changeLabel('day')"
                        href="#"
                        :class="{actif: chartLabel == 'day' }"
                      >Jours</a>
                      <a
                        @click="changeLabel('month')"
                        href="#"
                        :class="{actif: chartLabel == 'month' }"
                      >Mois</a>
                      <a
                        @click="changeLabel('hour')"
                        href="#"
                        :class="{actif: chartLabel == 'hour' }"
                      >Heures</a>
                    </div>
                    <activity-chart :chart-data="datacollection" :options="chartOptions"></activity-chart>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="ranking-block">
              <div class="dash-block-head">
                <h2 class="text-style-5">Classement</h2>
                <router-link
                  to="/events/15/stats/ranking"
                  class="btn-form-primary"
                >Voir le classement</router-link>
              </div>
              <div class="columns ranking-podium is-centered">
                <div class="column is-desktop-4 is-widescreen-3 text-center">
                  <div class="ranking-podium-element">
                    <div class="cocarde small">
                      <img src="@/assets/img/stats/picto-cocarde.png" alt class="little-cocarde">
                      <span>2</span>
                    </div>
                    <p>{{ rankingPodium[1].name }}</p>
                    <p>{{ rankingPodium[1].points }} points</p>
                  </div>
                </div>
                <div class="column is-desktop-4 is-widescreen-3 text-center">
                  <div class="ranking-podium-element first">
                    <div class="cocarde big">
                      <img src="@/assets/img/stats/picto-cocarde.png" alt>
                      <span>1</span>
                    </div>
                    <p>{{ rankingPodium[0].name }}</p>
                    <p>{{ rankingPodium[0].points }} points</p>
                  </div>
                </div>
                <div class="column is-desktop-4 is-widescreen-3 text-center">
                  <div class="ranking-podium-element">
                    <div class="cocarde small">
                      <img src="@/assets/img/stats/picto-cocarde.png" alt class="little-cocarde">
                      <span>3</span>
                    </div>
                    <p>{{ rankingPodium[2].name }}</p>
                    <p>{{ rankingPodium[2].points }} points</p>
                  </div>
                </div>
              </div>

              <div class="columns ranking-list">
                <div class="column is-3">
                  <div class="ranking-column" v-for="(index) in 7 " :key="index">{{ index + 3 }}</div>
                </div>
                <div class="column is-5">
                  <div
                    class="ranking-column"
                    v-for="(user, index) in rankingList"
                    :key="index"
                  >{{ user.name }}</div>
                </div>
                <div class="column is-4 text-center">
                  <div
                    class="ranking-column"
                    v-for="user in rankingList"
                    :key="user.id"
                  >{{ user.points }} points</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import HeaderUser from "@/components/HeaderUser.vue";
import ProgressBar from "vue-simple-progress";
import MenuStats from "@/components/MenuStats.vue";
import ActivityChart from "@/components/ActivityChart.vue";
import { Component, Vue, Watch } from "vue-property-decorator";
import hackeoApi from "@/services/hackeo-api";
import { Action, Getter } from "vuex-class";
import Event from "@/models/Event";

@Component({
  components: {
    HeaderUser,
    MenuStats,
    ProgressBar,
    ActivityChart
  }
})
export default class StatsDashboard extends Vue {
  @Getter("event/findEvents")
  public events!: Event[];

  public get event(): Event {
    const eventId: number = parseInt(this.$router.currentRoute.params["id"]);
    return this.events[eventId];
  }

  @Getter("stats/findFeedbackRates")
  public feedbackRates!: {
    ratings: number[];
    total: number;
    averageRate: number;
  };

  @Getter("event/findVisitorsStatsOfEvent")
  public visitorStats!: {
    visitorsData: any[];
    averageTime: number;
    finishVisitorCount: number;
    totalVisitors: number;
  };

  @Getter("stats/findMediaStats")
  public medias!: {
    webPath: string;
    date: Date;
    visitor: string;
  }[];

  public async mounted() {
    this.updateLabel(this.chartLabel);
    this.updateData(this.chartLabel);

    this.fillData();
  }
  public averageGradeEvent: number = 4;
  public reviewNumber: number = 45;
  public chartLabel: string = "month";
  public labelFinal: any = null;
  public finalData: any = null;
  public datacollection: any = null;
  public chartOptions: any = null;
  public gradient: any = null;

  public valAverage: Array<any> = [
    {
      value: 87,
      label: "5 étoiles"
    },

    {
      value: 57,
      label: "4 étoiles"
    },

    {
      value: 18,
      label: "3 étoiles"
    },

    {
      value: 6,
      label: "2 étoiles"
    },

    {
      value: 3,
      label: "1 étoile"
    }
  ];

  public rankingPodium: Array<any> = [
    {
      name: "Nom",
      points: 120
    },
    {
      name: "Nom",
      points: 120
    },
    {
      name: "Nom",
      points: 120
    }
  ];

  public rankingList: Array<any> = [
    {
      id: 1,
      name: "Nom",
      points: 120
    },
    {
      id: 2,
      name: "Nom",
      points: 120
    },
    {
      id: 3,
      name: "Nom",
      points: 120
    },
    {
      id: 4,
      name: "Nom",
      points: 120
    },
    {
      id: 5,
      name: "Nom",
      points: 120
    },
    {
      id: 6,
      name: "Nom",
      points: 120
    },
    {
      id: 7,
      name: "Nom",
      points: 120
    }
  ];

  public photos: Array<any> = [
    {
      id: 1,
      url:
        "https://images.unsplash.com/photo-1504375243548-4c974e20e993?ixlib=rb-0.3.5&s=adc64578e81b793ebeaf27b03074fe1d&auto=format&fit=crop&w=1350&q=80"
    },
    {
      id: 2,
      url:
        "https://images.unsplash.com/photo-1525459715390-11a3e77bc887?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ae5eda83eaa3439fc3483708bc8bf3bd&auto=format&fit=crop&w=500&q=60"
    },
    {
      id: 3,
      url:
        "https://feed.muzli.space/muzli_feed/wp-content/uploads/2018/11/29165137/usemuzli_44758305_284085032243736_305681228644808138_n1.jpg"
    }
  ];

  public changeLabel(label: string) {
    this.chartLabel = label;
    this.updateLabel(label);
    this.updateData(label);
  }

  public updateLabel(label: string) {
    if (label == "month") {
      this.labelFinal = [
        "Janvier",
        "Février",
        "Mars",
        "Avril",
        "Mai",
        "Juin",
        "Juillet",
        "Août",
        "Septembre",
        "Octobre",
        "Novembre",
        "Décembre"
      ];
    } else if (label == "hour") {
      this.labelFinal = [
        "8h",
        "9h",
        "10h",
        "11h",
        "12h",
        "13h",
        "14h",
        "15h",
        "16h",
        "17h",
        "18h",
        "19h",
        "20h",
        "21h"
      ];
    } else if (label == "day") {
      this.labelFinal = [
        "Lundi",
        "Mardi",
        "Mercredi",
        "Jeudi",
        "Vendredi",
        "Samedi",
        "Dimanche"
      ];
    }
  }

  public updateData(label: string) {
    if (label == "month") {
      this.finalData = [20, 50, 100, 115, 120, 60, 20, 10, 5, 10, 50, 100];
    } else if (label == "hour") {
      this.finalData = [
        40,
        20,
        12,
        50,
        100,
        40,
        39,
        50,
        40,
        20,
        12,
        11,
        50,
        15,
        50,
        80
      ];
    } else if (label == "day") {
      this.finalData = [80, 50, 60, 10, 50, 20, 55];
    }
  }

  public fillData() {
    this.ctx = document.getElementById("line-chart").getContext("2d");

    this.gradient = this.ctx.createLinearGradient(0, 0, 0, 400);
    this.gradient.addColorStop(0, "rgba(86, 69, 150, 1)");
    this.gradient.addColorStop(1, "rgba(86, 69, 150, 0.36)");

    this.datacollection = {
      labels: this.labelFinal,
      datasets: [
        {
          label: "Nombre de scans",
          borderWidth: 1,
          backgroundColor: this.gradient,
          pointBackgroundColor: "#564596",
          borderColor: "#564596",
          data: this.finalData
        }
      ]
    };

    this.chartOptions = {
      maintainAspectRatio: false,
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: false,
              steps: 50,
              stepValue: 5,
              max: 140
            },
            gridLines: {
              display: false
            }
          }
        ]
      },
      legend: {
        display: false
      }
    };
  }

  @Watch("labelFinal")
  labelChange(new_val: string) {
    this.datacollection = {
      labels: new_val,
      datasets: [
        {
          label: "Nombre de scans",
          borderWidth: 1,
          backgroundColor: this.gradient,
          pointBackgroundColor: "#564596",
          borderColor: "#564596",
          data: this.finalData
        }
      ]
    };
  }
}
</script>
