<script>
import { Line, mixins } from "vue-chartjs";
const { reactiveProp } = mixins

export default {
  extends: Line,
  mixins: [reactiveProp],
  props: [ 'options' ],
  data() {
    return {};
  },
  mounted() {
    this.renderActivityChart();
  },
  methods: {
    renderActivityChart: function() {
      this.renderChart(this.chartData, this.options);
    }
  },
  watch: {
    options() {
      this.renderActivityChart();
    }
  }
};
</script>

<style lang="css">
</style>
