<template>
  <nav class="navbar is-fixed-top main-header">
    <div class="dropdown is-hoverable logo-submenu">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
          <img src="@/assets/img/logo_hackeo.svg" alt>
          <span class="navbar-link"></span>
        </button>
      </div>

      <div class="dropdown-menu" id="dropdown-menu4" role="menu">
        <div class="dropdown-content">
          <div class="dropdown-item dropdown-main-menu">
            <router-link to="/events">
              <img src="@/assets/img/dashboard/events.svg" alt>
              <span>Événements</span>
            </router-link>

            <a href="#">
              <img src="@/assets/img/dashboard/scenario.svg" alt>
              <span>Scénario</span>
              <i class="fa fa-angle-right rotate-icon"></i>
              <ul class="sub-dropdown">
                <li>
                  <router-link to="/stories/library">Ma bibliothèque</router-link>
                </li>
                <li>
                  <router-link to="/stories/store">Catalogue Hackeo</router-link>
                </li>
              </ul>
            </a>

            <router-link to="/events/15/stats">
              <img src="@/assets/img/dashboard/stats.svg" alt>
              <span>Statistiques</span>
            </router-link>

            <router-link to="/subscription">
              <img src="@/assets/img/dashboard/subscription.svg" alt>
              <span>Abonnements</span>
            </router-link>

            <router-link to="/orders">
              <img src="@/assets/img/dashboard/order.svg" alt>
              <span>Commandes</span>
            </router-link>
            <router-link to="/beacons">
              <img src="@/assets/img/dashboard/recycle.svg" alt>
              <span>Gestion du matériel</span>
            </router-link>
            <router-link to="/faq">
              <img src="@/assets/img/dashboard/help.svg" alt>
              <span>Aide</span>
            </router-link>
          </div>
        </div>
      </div>
    </div>

    <div class="dropdown is-hoverable account-dropdown">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
          Mon compte
          <span class="navbar-link"></span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu4" role="menu">
        <div class="dropdown-content">
          <div class="dropdown-item dropdown-main-menu">
            <router-link to="/account">
              <span>Mon profil</span>
            </router-link>

            <a href="#" @click="onLogoutPressed">
              <span>Déconnexion</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import axios from "axios";
import { Action } from "vuex-class";

@Component
export default class HeaderUser extends Vue {
  @Action("logout") logoutAction: any;

  public event = {
    name: null,
    parcoursNumber: null,
    waypoints: null,
    isBeacon: false
  };

  public eventList = null;

  public addEvent(name: string): void {
    axios
      .post("https://jsonplaceholder.typicode.com/posts", {
        eventName: name
      })
      .then(function(response) {
        console.log(response);
      });
  }
  
  public getEvents() {
    axios
      .get("https://jsonplaceholder.typicode.com/posts/1")
      .then(response => (this.eventList = response.data.body));
  }

  public onLogoutPressed() {
    this.logoutAction().then(() => this.$router.push("/login"));
  }
}
</script>
