<template>
  <div class="column is-one-fifth is-2-fullhd menu-event-block" v-if="events">
    <div class="side-bar-open" v-on:click="sideBarHandle()">
      <div class="open-side" v-if="sidebar === false">
        <i class="fas fa-bars"></i>
        <br>Ouvrir le menu latéral
      </div>
      <div class="close-side" v-if="sidebar === true">
        <i class="fas fa-times"></i>
        <br>Fermer le menu latéral
      </div>
    </div>

    <aside class="menu-event" v-bind:class="{'open': (sidebar === true)}">
      <b-dropdown id="stats-events-list">
        <button class="button" slot="trigger">
          <span v-if="activeEventId !== -1">{{ events[activeEventId].name }}</span>
          <b-icon icon="menu-down"></b-icon>
        </button>

        <b-dropdown-item
          v-for="event in events"
          @click="activeEventId = event.id"
          :key="event.id"
        >{{ event.name }}</b-dropdown-item>
      </b-dropdown>

      <!-- Stats data is based on the selected date or range of date -->
      <v-date-picker mode="range" v-model="selectedDate" is-double-paned>
        <b-field slot-scope="props">
          <b-input
            type="text"
            icon="calendar"
            :value="props.inputValue"
            @change.native="props.updateValue($event.target.value)"
            expanded
          ></b-input>
          <p class="control" v-if="selectedValue">
            <a @click="selectedValue = null">Clear</a>
          </p>
        </b-field>
      </v-date-picker>

      <br>

      <ul class="menu-list">
        <li>
          <router-link
            :to="`/events/${activeEventId}/stats`"
            v-bind:class="{'is-active': !isVisitorStats && !isRankingStats && !isResultStats && !isWaypointStats && !isActivityStats && !isFeedbackStats && !isPicturesStats}"
          >Tableau de bord</router-link>
        </li>
      </ul>

      <br>

      <ul class="menu-list">
        <li>
          <router-link
            :to="`/events/${activeEventId}/stats/visitors`"
            v-bind:class="{'is-active': isVisitorStats}"
          >Visiteurs</router-link>
        </li>
        <li>
          <router-link
            :to="`/events/${activeEventId}/stats/ranking`"
            v-bind:class="{'is-active': isRankingStats}"
          >Classement</router-link>
        </li>
        <li>
          <router-link
            :to="`/events/${activeEventId}/stats/results`"
            v-bind:class="{'is-active': isResultStats}"
          >Résultats</router-link>
        </li>
        <li>
          <router-link
            :to="`/events/${activeEventId}/stats/waypoints`"
            v-bind:class="{'is-active': isWaypointStats}"
          >Balises</router-link>
        </li>
        <li>
          <router-link
            :to="`/events/${activeEventId}/stats/activity`"
            v-bind:class="{'is-active': isActivityStats}"
          >Activité</router-link>
        </li>
        <li>
          <router-link
            :to="`/events/${activeEventId}/stats/feedbacks`"
            v-bind:class="{'is-active': isFeedbackStats}"
          >Notes et avis</router-link>
        </li>
        <li>
          <router-link
            :to="`/events/${activeEventId}/stats/pictures`"
            v-bind:class="{'is-active': isPicturesStats}"
          >Photos</router-link>
        </li>
      </ul>
    </aside>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import { Getter, Mutation, Action } from "vuex-class";
import Event from "@/models/Event";

@Component
export default class MenuStats extends Vue {
  @Prop()
  private event!: Event;

  @Getter("event/findEvents")
  private events!: Event[];

  @Action("stats/loadStats")
  public loadStats!: (eventId: number) => Promise<void>;

  @Mutation("stats/changeDate")
  private changeDate: any;

  public activeEventId: number = -1;

  /**
   * mounted
   */
  public mounted() {
    const id: number = parseInt(this.$router.currentRoute.params["id"]);
    this.activeEventId = id;
    this.selectedDate = {
      start: new Date(
        (this.$store.state as any).event.events[id].eventStart.date
      ),
      end: new Date((this.$store.state as any).event.events[id].eventEnd.date)
    };
  }

  @Watch("activeEventId")
  public async onActiveEventChange(newEventId: number, oldEventId: number) {
    // loading time when oldEventId = -1
    if (oldEventId === -1) {
      return;
    }
    if (this.isVisitorStats) {
      this.$router.push(`/events/${newEventId}/stats/visitors`);
    } else if (this.isRankingStats) {
      this.$router.push(`/events/${newEventId}/stats/ranking`);
    } else if (this.isResultStats) {
      this.$router.push(`/events/${newEventId}/stats/results`);
    } else if (this.isWaypointStats) {
      this.$router.push(`/events/${newEventId}/stats/waypoints`);
    } else if (this.isActivityStats) {
      this.$router.push(`/events/${newEventId}/stats/activity`);
    } else if (this.isFeedbackStats) {
      this.$router.push(`/events/${newEventId}/stats/feedbacks`);
    } else if (this.isPicturesStats) {
      this.$router.push(`/events/${newEventId}/stats/pictures`);
    } else {
      this.$router.push(`/events/${newEventId}/stats/`);
    }
  }

  @Watch("selectedDate")
  public onChangeDate(newSelectedDate: any, oldSelectedValue: any) {
    console.log("ca marche ou pas ?", newSelectedDate, oldSelectedValue);
    this.changeDate({
      startDate: this.selectedDate.start,
      endDate: this.selectedDate.end
    });
  }

  // define route for selected page
  public get isVisitorStats() {
    const regexp = /stats\/visitors/g;
    return this.$router.currentRoute.path.match(regexp);
  }

  public get isRankingStats() {
    const regexp = /stats\/ranking/g;
    return this.$router.currentRoute.path.match(regexp);
  }

  public get isResultStats() {
    const regexp = /stats\/results/g;
    return this.$router.currentRoute.path.match(regexp);
  }

  public get isWaypointStats() {
    const regexp = /stats\/waypoints/g;
    return this.$router.currentRoute.path.match(regexp);
  }

  public get isActivityStats() {
    const regexp = /stats\/activity/g;
    return this.$router.currentRoute.path.match(regexp);
  }

  public get isFeedbackStats() {
    const regexp = /stats\/feedbacks/g;
    return this.$router.currentRoute.path.match(regexp);
  }

  public get isPicturesStats() {
    const regexp = /stats\/pictures/g;
    return this.$router.currentRoute.path.match(regexp);
  }

  // UI handling
  public sidebar: boolean = false;

  public selectedDate: any = {
    start: new Date(),
    end: new Date()
  };

  public selectedValue: any = null;

  public sideBarHandle() {
    this.sidebar = !this.sidebar;
  }
}
</script>
