<template>
  <div class="column is-one-fifth is-2-fullhd menu-event-block">
    <div class="side-bar-open" @click="sideBarHandle()">
      <div class="open-side" v-if="sidebar === false">
        <i class="fas fa-bars"></i>
        <br>Ouvrir le menu latéral
      </div>
      <div class="close-side" v-if="sidebar === true">
        <i class="fas fa-times"></i>
        <br>Fermer le menu latéral
      </div>
    </div>

    <aside class="menu-event" :class="{'open': (sidebar === true)}">
      <h3 class="menu-label">{{ event.name }}</h3>
      <ul class="menu-list">
        <li>
          <router-link :to="`/events/${event.id}/start`" :class="{'is-active': this.isEventStart}">Bien démarrer</router-link>
        </li>
      </ul>
      <p class="menu-label">L'événement</p>
      <ul class="menu-list">
        <!-- <li>
          <router-link to="/event/parcours" v-bind:class="{'is-active': (this.page === 'event-parcours')}">Parcours</router-link>
        </li>-->
        <li>
          <router-link
            :to="`/events/${event.id}/waypoints`"
            v-bind:class="{'is-active': this.isEventWaypoint}"
          >Balises</router-link>
        </li>
        <li>
          <router-link
            :to="`/events/${event.id}/pictures`"
            v-bind:class="{'is-active': this.isEventPicture}"
          >Photos</router-link>
        </li>
        <li>
          <router-link
            :to="`/events/${event.id}/codes`"
            v-bind:class="{'is-active': this.isEventCode}"
          >Codes d'accès</router-link>
        </li>

        <br>

        <li>
          <router-link
            :to="`/events/${event.id}/parameters`"
            v-bind:class="{'is-active': this.isEventParameters}"
          >Paramètres</router-link>
        </li>
      </ul>
    </aside>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import { Component, Vue, Prop } from "vue-property-decorator";
import Event from "@/models/Event";

@Component
export default class MenuEvent extends Vue {
  @Prop() private event!: Event;

  public sidebar = false;

  public sideBarHandle() {
    this.sidebar = !this.sidebar;
  }

  public get isEventCode() {
    const regexp = /events.+codes/g;
    return this.$router.currentRoute.path.match(regexp);
  }

  public get isEventStart() {
    const regexp = /events.+start/g;
    return this.$router.currentRoute.path.match(regexp);
  }

  public get isEventParameters() {
    const regexp = /events.+parameters/g;
    return this.$router.currentRoute.path.match(regexp);
  }

  public get isEventPicture() {
    const regexp = /events.+pictures/g;
    return this.$router.currentRoute.path.match(regexp);
  }

  public get isEventWaypoint() {
    const regexp = /events.+waypoints/g;
    return this.$router.currentRoute.path.match(regexp);
  }

  public get isEventParcours() {
    const regexp = /events.+parcours/g;
    return this.$router.currentRoute.path.match(regexp);
  }
}
</script>
