<template >
  <div class="order-list-page">
    <HeaderUser></HeaderUser>

    <h1 class="big-title text-center">Liste des commandes</h1>

    <div class="columns is-centered" v-if="profile">
      <div class="column is-8">
        <b-collapse :open="false" class="card order-card" v-for="order in orders" :key="order.id">
          <div
            slot="trigger"
            slot-scope="props"
            class="card-header"
            :class="{active: activeCard === order.id}"
            @click="activeCard = order.id"
          >
            <div class="card-header-title">
              <p>Commande {{ order.serialNumber }} du {{ order.orderingDate.date | moment('DD/MM/YYYY') }}</p>
              <p
                class="company-name"
              >{{ profile.companyName }} - {{ getBeaconCountOf(order) }} Beacons</p>
              <p class="total-price">{{ getTotalOfOrder(order) }} €</p>
            </div>

            <p class="cartel" :class="getCssClassOfStatus(order)">
              <span v-if="order.status==='Finished'">Payée</span>
              <span v-else-if="order.status === 'Draft'">Brouillon</span>
              <span v-else-if="order.status === 'Archived'">Archivée</span>
              <span v-else>Impayée</span>
            </p>
            <a class="card-header-icon">
              <b-icon :icon="props.open ?  'menu-up' : 'menu-down'"></b-icon>
            </a>
          </div>
          <div class="card-content">
            <div class="content">
              <p class="label">Packs et options</p>

              <div class="columns">
                <div class="column is-1">
                  <ul>
                    <li>#</li>
                    <li
                      v-for="lineInfo in getLineInfo(order)"
                      v-bind:key="lineInfo.id"
                    >{{ lineInfo.id }}</li>
                  </ul>
                </div>
                <div class="column is-4">
                  <ul>
                    <li>Produit</li>
                    <li
                      v-for="lineInfo in getLineInfo(order)"
                      v-bind:key="lineInfo.id"
                    >{{ lineInfo.product }}</li>
                  </ul>
                </div>
                <div class="column is-4">
                  <ul>
                    <li>Quantité</li>
                    <li
                      v-for="lineInfo in getLineInfo(order)"
                      v-bind:key="lineInfo.id"
                    >{{ lineInfo.quantity }}</li>
                    <li>TOTAL</li>
                  </ul>
                </div>
                <div class="column is-4">
                  <ul>
                    <li>Prix</li>
                    <li
                      v-for="lineInfo in getLineInfo(order)"
                      v-bind:key="lineInfo.id"
                    >{{ lineInfo.price }}</li>
                    <li>{{ order.totalPrice }} €</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </b-collapse>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import HeaderUser from "@/components/HeaderUser.vue";
import { Component, Vue } from "vue-property-decorator";
import Profile from "@/models/Profile";
import { Getter } from "vuex-class";
import Product from "@/models/Product";
import Ordering, { OrderingType, OrderingStatus } from "@/models/Ordering";

@Component({
  components: {
    HeaderUser
  }
})
export default class OrderList extends Vue {
  @Getter("profile/getter")
  public profile!: Profile;

  @Getter("product/findUserPlan")
  public plan!: Product;

  @Getter("order/findAllOrders")
  public orders!: Ordering[];

  @Getter("order/findBeaconCountOfOrder")
  public findBeaconCountOfOrder!: (order: Ordering) => number;

  @Getter("order/findTotalOfOrder")
  public findTotalOfOrder!: (order: Ordering) => number;

  @Getter("order/findLineInfo")
  public findLineInfo!: (order: Ordering) => any;

  public activeCard: number = -1;

  public getBeaconCountOf(order: Ordering): number {
    return this.findBeaconCountOfOrder(order);
  }

  public getTotalOfOrder(order: Ordering): number {
    return this.findTotalOfOrder(order);
  }

  public getLineInfo(order: Ordering): any {
    return this.findLineInfo(order);
  }

  public getCssClassOfStatus(order: Ordering): any {
    return {
      archived: order.status === OrderingStatus.archived,
      finished: order.status === OrderingStatus.finished,
      waitingValidation: order.status === OrderingStatus.waitingValidation,
      waitingPayment: order.status === OrderingStatus.waitingPayment,
      draft: order.status === OrderingStatus.draft
    };
  }
}
</script>
