<template >
  <div class="faq-page">
    <header-user></header-user>

    <div class="columns is-centered">
      <div class="column is-6">
        <h1 class="big-title text-center">Aide - Foire aux questions</h1>

        <div class="columns is-centered">
          <div class="column is-5">
            <b-field>
              <b-input placeholder="Taper des mots clés" type="search" icon="magnify" rounded v-model="searchFaq" class="search-question"></b-input>
            </b-field>
          </div>
        </div>

        <div class="no-result-wrap text-center" v-if="filteredList.length === 0">
          <p>Pas de résultats, remplissez le formulaire pour nous faire part de votre question !</p>

          <img src="@/assets/img/faq/picto_form.png" alt="">

          <div>
            <router-link to="/faq/form" class="btn-form-secondary">Remplir le formulaire</router-link>
          </div>
        </div>

        <b-collapse class="card order-card" v-for="question in filteredList" :key="question.id" :open.sync="question.isOpen">
          <div slot="trigger" slot-scope="props" class="card-header" :class="{active: question.isOpen === true}">
            <div class="card-header-title">
              <p>
                {{ question.label }}
              </p>
            </div>

            <a class="card-header-icon">
              <b-icon
              :icon="props.open ?  'menu-up' : 'menu-down'">
            </b-icon>
          </a>
        </div>
        <div class="card-content">
          <div class="content">
            <p class="label violet">Réponse</p>

            <div class="" v-if="question.answer == 'arrayPoids'">
              <b-table :data="dataPoidsArray" :columns="columnsPoidsArray" id="poidsArray"></b-table>
              <br>
            </div>

            <div id="listAutorisations-wrap" v-if="question.answer == 'listAutorisations'">
              <ul id="listAutorisations">
                <li>
                  <b>Accès internet :</b> Permet de charger les contenus sur le téléphone, consulter des pages en ligne,
                  envoi du score et des points de passages scannés par l’utilisateur à l’administrateur.
                </li>
                <li>
                  <b>Accès à la caméra :</b> L’application utilise le flux caméra pour faire fonctionner le scanner et détecter la réalité augmentée.
                </li>
                <li>
                  <b>Activation du bluetooth :</b> Certains marqueurs envoient des notifications pour vous
                  avertir de leur proximité, sans le bluetooth, ces indices ne vous parviendront pas.
                </li>
                <li>
                  <b>Accès au podomètre et mouvements :</b> L’application comporte un compteur de pas.
                </li>
                <li>
                  <b>Accès d'écriture sur le téléphone (2 utilités) :</b>
                  <ul>
                    <li>
                      Sauvegarder les contenus téléchargés pour l’utilisation du mode hors-ligne.
                    </li>
                    <li>
                      Sauvegarder les photos prises par l’utilisateur sur son téléphone.
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

            <p v-if="question.answer == 'créerScenario'">
              La gestion de vos scénarios se fait à partir de la page <b>Scénario >
                <router-link to="/stories/library">Ma bibliothèque</router-link>
              </b> qui recense tous vos scénarios attribuables à un événement. Cliquer sur "Ajouter un nouveau scénario" pour en créer un nouveau. Vous pourrez ensuite créer/éditer toutes les balises, qui correspondent à un marqueur, du scénario.
            </p>

            <p v-if="question.answer == 'inspirationScénario'">
              Vous pouvez choisir un scénario pré-réalisé par la game designeuse de notre studio dans <b>Scénario > <router-link to="/stories/store">catalogue Hackeo</router-link></b> et ajouter dans votre bibliothèque celui qui correspondrait le mieux à votre événement. Note : Nous nous efforçons de sortir au moins un scénario par mois dans le catalogue Hackeo.
            </p>

            <p v-if="question.answer != 'arrayPoids' && question.answer != 'listAutorisations' && question.answer != 'créerScenario' && question.answer != 'inspirationScénario'">
              {{ question.answer }}
            </p>

            <p class="useful-answer text-right violet">
              Cette réponse vous a-t-elle été utile ?
              <i class="far fa-smile" v-if="question.isUseful === false" @click="question.isUseful = true; question.isNotHappy = false; feedbackUser()"></i>
              <i class="fas fa-smile" v-if="question.isUseful === true" @click="question.isUseful = false"></i>
              <i class="far fa-frown" v-if="question.isNotHappy === false" @click="question.isNotHappy = true; question.isUseful = false; feedbackUser()"></i>
              <i class="fas fa-frown" v-if="question.isNotHappy === true" @click="question.isNotHappy = false"></i>
            </p>

          </div>
        </div>
      </b-collapse>

    </div>
  </div>
</div>
</template>

<script lang="ts">
import HeaderUser from "@/components/HeaderUser.vue";
import { Component, Vue } from "vue-property-decorator";

@Component({
  components: {
    HeaderUser
  }
})

// Questions is dispo on a document drive named 'FAQ Hackeo Plateforme'
export default class Faq extends Vue {
  public searchFaq: string = "";
  public questions: Array<any> = [
    {
      label: "Plateforme - Comment créer son propre scénario ?",
      answer:
      "créerScenario",
      isOpen: false,
      isUseful: false,
      isNotHappy: false
    },
    {
      label: "Plateforme - Que faire si je n’ai aucune inspiration pour mon scénario ?",
      answer:
      "inspirationScénario",
      isOpen: false,
      isUseful: false,
      isNotHappy: false
    },
    {
      label: "Plateforme - Comment associer un scénario à mon événement ?",
      answer:
      "Pour associer un scénario préalablement créé à son événement, il faut se rendre à la rubrique \"Scénario / Équipes\" de son événement et sélectionner un scénario à assigner dans la liste déroulante. Note : Vous avez aussi la possibilité de créer plusieurs équipes avec un scénario différent, tout cela au sein du même événement, et ce, toujours dans la même rubrique.",
      isOpen: false,
      isUseful: false,
      isNotHappy: false
    },
    {
      label: "Plateforme - Comment assigner/retirer un beacon à une balise ? ",
      answer:
      "Dans la rubrique \"Balises\" de son événement, on peut assigner/retirer un beacon à une balise.",
      isOpen: false,
      isUseful: false,
      isNotHappy: false
    },
    {
      label: "Plateforme - Comment voir l’aperçu du contenu qui s’affichera après le scan d’un marqueur ?",
      answer:
      "Dans la rubrique \"Balises\" de son événement, en cliquant sur l’icône 👁️ vous pourrez voir un aperçu de l’affichage du contenu d’un marqueur. Note : Lors de la création d’un scénario, en plus d’avoir l’aperçu d’une balise vous pouvez éditer son contenu (🖊️) ou bien le retirer complètement (🗑️).",
      isOpen: false,
      isUseful: false,
      isNotHappy: false
    },
    {
      label: "Plateforme - Que faire après avoir bien configuré mon événement ?",
      answer:
      "Afin de tester le(s) scénario(s) assignés à votre événement, il faut \"Activer le mode test de son événement\". Disponible sur la carte de votre événement, ou bien à la rubrique “Comment bien démarrer” > “Passer en mode test” dans votre événement. Retrouvez ensuite votre événement dans l’application en entrant son code événement, puis sélectionner le scénario à tester. Note : le mode test permet à uniquement deux adresses mail de s’inscrire à l’événement. Une fois que tout vous semble bon, vous pourrez mettre votre événement en ligne ! Bon parcours !",
      isOpen: false,
      isUseful: false,
      isNotHappy: false
    },
    {
      label: "Plateforme - Peut-on insérer nos propres objets en 3D ? ",
      answer:
      "C'est tout à fait possible de rajouter ses propres modèles en 3D. Lorsque vous serez amené au choix d'un élément en réalité augmentée sur votre balise, il suffit de cliquer sur 'importer mon propre fichier...' et de sélectionner un de vos fichier (objet 3D ou image) dont le type est supporté. Attention à ce qui ne dépasse pas le poids maximum. Un fois sélectionné, votre objet devrait se trouver sur le marqueur. Vous pourrez ensuite modifier sa position et ses animations.",
      isOpen: false,
      isUseful: false,
      isNotHappy: false
    },
    {
      label: "Plateforme - Peut-on ajouter des détails sur les objets en 3D ?",
      answer:
      "Il est bien possible d'ajouter des détails sur les objets en 3D. Votre modèle 3D s'affichera dans l'application tel qu'il a été conçu. En vous munissant de l'application en mode test sur votre téléphone, vous pouvez apercevoir votre modèle en scannant le marqueur présent dans l'aperçu de la balise sur la plateforme.",
      isOpen: false,
      isUseful: false,
      isNotHappy: false
    },
    {
      label: "Application - Quels sont les pré-requis pour installer l'application Hackeo ?",
      answer: "arrayPoids",
      isOpen: false,
      isUseful: false,
      isNotHappy: false
    },
    {
      label: "Application - Mon application ne démarre pas/ne marche pas",
      answer:
      "Si l'application ne démarre pas, ou présente des dysfonctionnements, veuillez au préalable vérifier si l'application est à jour. Hackeo est en effet soumise à des mises à jours régulières afin de toujours garantir une utilisation optimale. L'application recquiert également l'autorisation de certaines fonctionnalisés afin de bien fonctionner. N'oubliez pas de vérifier si tout à bien été autorisé dans vos paramètres pour Hackeo, dont la connexion internet et la géolocalisation.",
      isOpen: false,
      isUseful: false,
      isNotHappy: false
    },
    {
      label: "Application - Rien ne s’affiche en réalité augmentée sur les marqueurs",
      answer:
      "Si rien n'est affiché sur le marqueur, l'organisateur n'a peut-être pas configuré de contenu en réalité augmentée. Dans le cas où il y en aurait effectivement un : veuillez dans un premier temps redémarrer l'application, toujours avec une connexion internet d'activée, afin de recharger les données. Si c'est toujours un échec : Allez dans le 'Menu +' de l'application, puis dans 'paramètres' et effacez les données. Enfin, redémarrez l'application (toujours avec internet). Si le problème persiste, n'hésitez pas à nous en faire part dans un email à contact@augmenteo.com ou par téléphone au 03 66 59 59 67.",
      isOpen: false,
      isUseful: false,
      isNotHappy: false
    },
    {
      label: "Application - À quoi correspondent les autorisations demandées par l'application ?",
      answer:
      "listAutorisations",
      isOpen: false,
      isUseful: false,
      isNotHappy: false
    }
  ];

  public dataPoidsArray: Array<any> = [
    {
      'theme': 'Liens Stores',
      'android': 'https://tinyurl.com/ycochlz3',
      'ios': 'https://apple.co/2Q8k3vx'
    },
    {
      'theme': 'Poids de l’application',
      'android': '36 Mo',
      'ios': '172,2 Mo'
    },
    {
      'theme': 'Version minimum du device',
      'android': '4.4 minimum / 6.0 conseillée',
      'ios': 'iOS 9, iPhone 5 minimum / iOS 10, iPhone 6 et + conseillé'
    },
    {
      'theme': 'Poids des contenus additionnels au démarrage',
      'android': 'De 10 Mo à 60 Mo maximum (Contenus créés par l’organisateur)',
    }
  ];

  public columnsPoidsArray: Array<any> = [
    {
      field: 'theme',
      label: '',
    },
    {
      field: 'android',
      label: 'Android / Play Store',
    },
    {
      field: 'ios',
      label: 'iOS / App Store'
    }
  ];

  public get filteredList(): Array<any> {
    let questions = this.questions;
    this.searchFaq = this.searchFaq.toUpperCase();

    if (this.searchFaq) {
      questions = questions.filter(question => {
        return question.answer.toUpperCase().indexOf(this.searchFaq) !== -1;
      });
    }

    return questions;
  }

  public feedbackUser() {
    this.$toast.open({
      message: "Merci pour votre retour !",
      type: "is-success"
    });
  }
}
</script>
