<template >
  <div class="faq-form-page">
    <HeaderUser></HeaderUser>

    <div class="columns is-centered">
      <div class="column is-4">
        <h1 class="big-title text-center">Formulaire</h1>

        <b-field label="Nom*">
          <b-input placeholder="Dupond" rounded></b-input>
        </b-field>

        <b-field label="Prénom*">
          <b-input placeholder="Sylvain" rounded></b-input>
        </b-field>

        <b-field label="Adresse mail*">
          <b-input placeholder="dupond@gmail.com" rounded></b-input>
        </b-field>

        <b-field label="Message*">
          <b-input placeholder="Votre message" type="textarea" rounded></b-input>
        </b-field>

        <p class="obligatory">*Champs obligatoires</p>

        <div class="btn-form-wrap text-center">
          <a href="#" class="btn-form-primary" @click.prevent="isBackDetected = true">Retour</a>
          <a href="#" class="btn-form-secondary">Je valide</a>
        </div>

        <b-modal :active.sync="isBackDetected" :width="940" scroll="keep" class="faq-back-modal-wrap">
          <div class="card faq-back-modal">
            <div class="card-content">
              <div class="content">
                <div class="columns">

                  <div class="column is-12">
                    <div class="faq-back-wrap">
                      <i class="fas fa-exclamation-circle"></i>
                      <p class="text-center">
                        Êtes-vous sûr de vouloir
                        quitter le formulaire ?
                      </p>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
          <div class="add-scenar-btns text-center">
            <router-link to="/faq" class="btn-form-primary">
              Oui
            </router-link>
            <a href="#" @click.prevent="isBackDetected = false" class="btn-form-secondary">
              Non
            </a>
          </div>
        </b-modal>

      </div>
    </div>
  </div>
</template>

<script lang="ts">
import HeaderUser from "@/components/HeaderUser.vue";
import { Component, Vue } from "vue-property-decorator";

@Component({
  components: {
    HeaderUser
  }
})
export default class FaqForm extends Vue {
  public isBackDetected: boolean = false;
}
</script>
