<template>
  <router-view/>
</template>

<style lang="scss">
@import "src/assets/scss/app.scss";
</style>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import hackeoApi from "@/services/hackeo-api";
import { Store } from "vuex";
import { Getter, Action } from "vuex-class";

@Component
export default class App extends Vue {
  @Action("loadUserData")
  private loadUserDataAction: any;

  @Action("stats/loadStats")
  public loadStats!: (eventId: number) => Promise<void>;

  constructor() {
    super();
    const store: Store<any> = this.$store;

    // add an interceptor to dispatch a logout action when the token is expired
    hackeoApi.setErrorResponseInterceptor((err: any) => {
      return new Promise(function(resolve, reject) {
        if (err.response.status === 401) {
          store.dispatch("logout");
        }
        throw err;
      });
    });
  }
}
</script>

