<template>
  <div class="scenario-form-page">
    <HeaderUser></HeaderUser>

    <div class="container scenario-form">
      <div class="columns scenario-form-header">
        <div class="column is-2 scenario-thumb">
          <div class="file-upload-wrap">
            <label
            for="file-upload"
            class="custom-file-up"
            v-bind:style="{ backgroundImage: `url(${storyImage})` }"
            >
            <img src="@/assets/img/upload-placeholder.png" alt v-if="!storyImage">
          </label>
          <input
          type="file"
          @change="onFileChange"
          class="input-image"
          accept="image/png, image/jpeg"
          >
          <div v-if="storyImage" class="remove-image">
            <a
            href="#"
            class="btn-form-secondary delete-link"
            @click="removeImage"
            >Supprimer l'image</a>
          </div>
        </div>
      </div>
      <div class="column is-6 no-padding-left">
        <b-field class="title-input">
          <b-input placeholder="Titre du scénario" v-model="title" maxlength="35"></b-input>
        </b-field>

        <b-field class="description-input no-margin">
          <b-input
          type="textarea"
          maxlength="300"
          placeholder="Synopsis du scénario uniquement visible sur cette page."
          rounded
          v-model="description"
          class="no-padding-left"
          ></b-input>
        </b-field>

        <p class="waypoint-number">Balise(s) restante(s): {{ this.waypointNumber }}/30</p>

        <br>
        <br>

        <div class="columns">
          <div class="column is-4">
            <b-field label="Langue du scénario">
              <b-select placeholder="Français" rounded v-model="scenarioLanguage">
                <option value="1">Français</option>
                <option value="2">Anglais</option>
              </b-select>
            </b-field>
          </div>
          <div class="column is-4">
            <b-field label="Âge minimum" class="little-input">
              <b-input placeholder="12" v-model="ageMin" rounded type="number" min="0"></b-input>
            </b-field>
          </div>
          <div class="column is-4">
            <b-field label="Durée estimée (min)" class="little-input">
              <b-input placeholder="60" v-model="dureeMoy" rounded type="number" min="1"></b-input>
            </b-field>
          </div>
          <div class="column is-9 print-block">
            <b-field label="Print & Play ?">
              <b-select placeholder="Non" rounded v-model="printAndPlay">
                <option value="1">Non</option>
                <option value="2">Oui</option>
              </b-select>
            </b-field>

            <b-field class="file" v-if="printAndPlay == 2">
              <b-upload v-model="filePrint">
                <a class="button is-primary">
                  <b-icon icon="upload"></b-icon>
                  <span>Importer votre fichier</span>
                </a>
              </b-upload>
              <span class="file-name" v-if="filePrint">
                {{ filePrint.name }}
              </span>
            </b-field>
          </div>

        </div>
      </div>
      <div class="column is-4 back-block">

        <div class="columns is-multiline">
          <div class="column is-12-desktop is-6-widescreen ">
            <!-- submit btn -->
            <a @click="saveEdit()" href="#" class="btn-form-primary" v-if="editBtn">
              <i class="far fa-save"></i> Enregistrer les modifications
            </a>
          </div>

          <div class="column is-12-desktop is-6-widescreen ">
            <a @click="$router.go(-1)" class="btn-form-secondary">
              <i class="fas fa-chevron-left"></i> Retour
            </a>
          </div>
        </div>

        <a @click="isparamScenar = true" href="#" class="btn-form-primary btn-params">
          <i class="fas fa-cogs"></i> Paramètres du scénario
        </a>

        <b-modal
        :active.sync="isparamScenar"
        :width="940"
        scroll="keep"
        class="params-scenar-modal"
        >
        <div class="card addScenar-modal">
          <div class="card-content">
            <div class="content">
              <div class="columns">
                <div class="column is-12 text-center">
                  <div class="card-preview-content">
                    <h5 class="text-style-5 text-center">Paramètres du scénario</h5>

                    <div class="params-scenar-wrap">
                      <div class="field">
                        <b-checkbox
                        v-model="paramScenar.isMultipleScan"
                        true-value="true"
                        false-value="false"
                        type="iris"
                        >
                        <span class="label">Autoriser les scans multiples de marqueurs</span>
                      </b-checkbox>
                      <p>
                        <i>Autorisez les visiteurs à scanner plusieurs fois un marqueur (revoir le contenu).</i>
                      </p>
                    </div>

                    <div class="field">
                      <b-checkbox
                      v-model="paramScenar.isForcedWaypoints"
                      true-value="true"
                      false-value="false"
                      type="iris"
                      >
                      <span class="label">Forcer l'ordre de parcours des points de passage</span>
                    </b-checkbox>
                    <p>
                      <i>Ajoutez l’obligation pour les visiteurs de faire le parcours dans l’ordre, marqueur 1 puis 2...</i>
                    </p>
                  </div>

                  <div class="field">
                    <label class="label">Type de score du jeu</label>
                    <div class="control has-icons-left" style="margin-bottom: 7px;">

                      <b-select placeholder="Pièces" rounded v-model="paramScenar.scoreGame">
                        <option value="coin" selected>Pièces</option>
                        <option value="energy">Énergie</option>
                        <option value="leaf">Feuilles</option>
                        <option value="bulb">Ampoules</option>
                        <option value="diamant">Diamants</option>
                        <option value="star">Étoiles</option>
                      </b-select>
                      <span class="icon is-left">
                        <i class="scoring-icon" :class="paramScenar.scoreGame"></i>
                      </span>
                    </div>

                    <p>
                      <i>Grâce à cette option, vous pouvez modifier le score de base du jeu. Par défaut, le visiteur gagne des pièces.</i>
                    </p>
                  </div>

                  <div class="field time-max">
                    <span class="label">Temps de visite imparti (en minutes)</span>
                    <p>
                      <i>Si vous souhaitez ajouter un temps imparti de visite, vous pouvez choisir un temps maximum de visite. Si vous ne souhaitez pas en ajouter, laissez ce paramètre à 0.</i>
                    </p>

                    <vue-slider
                    :value.sync="paramScenar.timeMax"
                    class="range-slider"
                    :max="paramScenar.maxTimeMax"
                    v-model="paramScenar.timeMax"
                    ></vue-slider>
                    <br>
                    <b-field
                    label="Texte affiché après la limite de temps dépassée"
                    v-if="paramScenar.timeMax > 0"
                    >
                    <b-input
                    placeholder="Le temps imparti vient de s'écouler..."
                    type="textarea"
                    rounded
                    maxlength="100"
                    ></b-input>
                  </b-field>

                </div>


              </div>



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="add-intro-btns">
    <a href="#" class="btn-form-primary" @click="isparamScenar = false">Annuler</a>
    <!-- submit btn -->
    <a href="" class="btn-form-secondary">Enregistrer</a>
  </div>
</b-modal>


</div>

</div>

<div class="scenario-form-block">
  <!-- <div class="columns is-12 is-multiline"> -->
  <SlickList axis="x" v-model="waypoints" class="columns is-4 is-multiline" :pressDelay="200">
    <div class="column is-4 is-6-tablet is-4-desktop is-3-fullhd">
      <div class="scenario-form-card intro">
        <div class="intro-block">
          <img src="@/assets/img/scenario/add/Start.svg" alt>
          <h4>Introduction</h4>

          <a href="#" @click.prevent="isAddIntroModal = true">
            <i class="fas fa-plus-circle"></i>
          </a>
        </div>
      </div>
    </div>

    <b-modal
    :active.sync="isAddIntroModal"
    :width="940"
    scroll="keep"
    class="intro-end-modal"
    >
    <div class="card addScenar-modal">
      <div class="card-content">
        <div class="content">
          <div class="columns">
            <div class="column is-12 scenarIntroModal text-center">
              <div class="card-preview-content">
                <b-field class="intro-title">
                  <b-input
                  type="textarea"
                  rounded
                  minlength="15"
                  maxlength="200"
                  placeholder="Bienvenue sur votre parcours d’animation en réalité augmentée !"
                  v-model="introTitle"
                  ></b-input>
                </b-field>

                <b-field class="intro-para">
                  <b-input
                  type="textarea"
                  rounded
                  minlength="15"
                  maxlength="200"
                  placeholder="Texte personnalisable de présentation ici Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut"
                  v-model="introPara"
                  ></b-input>
                </b-field>

                <img src="@/assets/img/intro-marker.png" alt>

                <p
                class="intro-indic"
                >Scannez les marqueurs autour de vous pour compléter votre parcours ...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="add-intro-btns">
      <a href="#" class="btn-form-primary" @click="isAddIntroModal = false">Annuler</a>
      <!-- submit btn -->
      <a href="/story/form" class="btn-form-secondary">Enregistrer</a>
    </div>
  </b-modal>

  <SlickItem
  v-for="(item, index) in waypoints"
  :index="index"
  :key="index"
  class="column is-4 is-6-tablet is-4-desktop is-3-fullhd draggable-block"
  >
  <div class="waypoint-card">
    <div class="waypoint-header">
      <div class="field">
        <b-switch
        v-model="item.status"
        true-value="Actif"
        false-value="Inactif"
        >{{ item.status }}</b-switch>
      </div>
    </div>

    <div class="waypoint-banner" :class="[item.status]">
      <span class="icon" :class="['icon-' + item.type]"></span>
    </div>

    <div class="waypoint-bottom">
      <h1>{{ item.title }}</h1>

      <div class="scanned-point">
        <b-field>
          <b-input placeholder="100" rounded></b-input>
        </b-field>
        <p>Points de scan</p>
      </div>

      <div class="waypoint-actions">
        <a href="#" @click.prevent="item.isAperçu = true">
          <span class="icon icon-preview">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
          </span>
        </a>

        <a href="#">
          <span class="icon icon-edit">
            <span class="path1"></span>
            <span class="path2"></span>
          </span>
        </a>

        <a href="#" @click.prevent="item.isConfirmDelete = true">
          <span class="icon icon-delete">
            <span class="path1"></span>
            <span class="path2"></span>
          </span>
        </a>
      </div>

      <b-modal
      :active.sync="item.isConfirmDelete"
      :width="940"
      scroll="keep"
      class="validate-modal"
      >
      <div class="card validate-modal-content">
        <div class="card-content">
          <div class="content">
            <h1>
              Souhaitez-vous supprimer définitivement la balise
              <b>{{ item.title }}</b> ?
            </h1>
          </div>
        </div>
      </div>
      <div class="validate-btns">
        <a
        href="#"
        class="btn-form-primary"
        @click="item.isConfirmDelete = false"
        >Annuler</a>
        <a class="btn-form-secondary delete-link">Supprimer</a>
      </div>
    </b-modal>

    <div class="waypoint-number">
      <span>{{ index + 1 }}</span>
    </div>
  </div>

  <b-modal :active.sync="item.isAperçu" :width="940" scroll="keep">
    <div class="card isAperçu-modal">
      <div class="card-content">
        <div class="content">
          <div class="columns">
            <div class="column is-12 isAperçuModal text-center">
              <div class="aperçu-header columns">
                <div class="column is-12 nav-tabs">
                  <ul>
                    <a
                    href="#"
                    class="stories-perso"
                    :class="{ 'actif' : isActive('principal', item) }"
                    v-on:click="setActiveAperçu('principal', item)"
                    >Principal</a>
                    <a
                    href="#"
                    class="store"
                    :class="{ 'actif' : isActive('aug', item) }"
                    v-on:click="setActiveAperçu('aug', item)"
                    >Augmentée</a>
                  </ul>
                </div>
              </div>
              <div class="aperçu-principal" v-if="item.isAperçuChoice === 'principal'">
                <div class="card-preview-content">
                  <!-- Preview Quizz -->
                  <div
                  class="preview-quizz preview-content-block"
                  v-if="item.type === 'quizz'"
                  >
                  <h3 class="text-Style-3 title-waypoint">
                    {{ item.title }}
                    <span>{{ index + 1 }}</span>
                  </h3>

                  <h3 class="text-Style-3 question-waypoint">{{ item.question }}</h3>

                  <div class="answers-block">
                    <div
                    class="field"
                    v-for="(answer, index) in item.answers"
                    :key="index"
                    >
                    <b-radio
                    v-model="item.answerChoice"
                    :native-value="answer.label"
                    >{{ answer.label }}</b-radio>
                  </div>

                  <p
                  class="answers-comment"
                  v-for="(answer, index) in item.answers"
                  :key="index"
                  >
                  <span
                  v-if="item.answerChoice === answer.label"
                  >{{ answer.comment }}</span>
                </p>

                <!-- <div class="columns nav-tabs">
                <ul>
                <a href="#" class="stories-perso" :class="{ 'actif' : isActiveComment('bad', item) }" v-on:click="setActiveCommentPreview('bad', item)" >
                Mauvaise réponse
              </a>
              <a href="#" class="store" :class="{ 'actif' : isActiveComment('good', item) }" v-on:click="setActiveCommentPreview('good', item)">
              Bonne réponse
            </a>
          </ul>
        </div>-->
        <!-- <p class="answers-comment">
        <span v-if="item.commentValue == 'bad'" class="is-red">
        Commentaire laissé suite à la mauvaise réponse. Les fourmis ont une organisation très particulière et une hierarchie bien établie.
      </span>
      <span v-if="item.commentValue == 'good'" class="is-green">
      Commentaire laissé suite à la bonne réponse. Les fourmis ont une organisation très particulière et une hierarchie bien établie.
    </span>
  </p>-->
</div>
</div>

<!-- Preview Image -->
<div
class="preview-image preview-content-block"
v-if="item.type === 'image'"
>
<h3 class="text-Style-3 title-waypoint">
  {{ item.title }}
  <span>{{ index + 1 }}</span>
</h3>

<div
class="image-preview"
v-bind:style="{ backgroundImage: 'url(' + item.imagePath + ')' }"
></div>

<p
class="image-comment"
>Commentaire laissé à la suite du media. Cet espace peut contenir jusque 240 caractères au total. Les espaces comptent comme des caractères. L’occasion de décrire votre média ou d’ajouter plus d’informations en dessous de celui.</p>
</div>

<!-- Preview Text -->
<div
class="preview-text preview-content-block"
v-if="item.type === 'text'"
>
<h3 class="text-Style-3 title-waypoint">
  {{ item.title }}
  <span>{{ index + 1 }}</span>
</h3>

<p>{{ item.comment }}</p>
</div>

<!-- Preview movie -->
<div
class="preview-movie preview-content-block"
v-if="item.type === 'movie'"
>
<h3 class="text-Style-3 title-waypoint">
  {{ item.title }}
  <span>{{ index + 1 }}</span>
</h3>

<a v-bind:href="item.videoPath" target="_blank">
  <div
  class="video-preview"
  v-bind:style="{ backgroundImage: 'url(https://img.youtube.com/vi/' + item.videoPath.substring(32) + '/0.jpg)' }"
  >
  <img src="@/assets/img/icn-play.png" alt>
</div>
</a>

<p class="movie-comment">
  Niveau de texte normal de rédaction, pour une lecture fluide et confortable.
  Zone pouvant être large, c’est d’ailleurs recommandé pour commenter la vidéo si le participant n’a pas la possibilité d’activer le son lors de l’animation.
  Cet espace textuel est limité à un nombre de caractères qui est de 330 au grand maximum.
</p>
</div>

<!-- Preview music -->
<div
class="preview-music preview-content-block"
v-if="item.type === 'music'"
>
<h3 class="text-Style-3 title-waypoint">
  {{ item.title }}
  <span>{{ index + 1 }}</span>
</h3>

<div class="music-preview">
  <a v-bind:href="item.musicPath" target="_blank">
    <img src="@/assets/img/icn-play.png" alt>
  </a>

  <img src="@/assets/img/icn-replay.jpg" alt>
</div>

<span class="music-duration">Durée {{ item.musicDuration }}</span>

<div class="music-comment">{{ item.comment }}</div>
</div>

<!-- Preview link -->
<div
class="preview-link preview-content-block"
v-if="item.type === 'link'"
>
<h3 class="text-Style-3 title-waypoint">
  {{ item.title }}
  <span>{{ index + 1 }}</span>
</h3>

<div class="link-content">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 89.87 21">
    <title>web</title>
    <g id="Calque_2" data-name="Calque 2">
      <g id="Capa_1" data-name="Capa 1">
        <path
        d="M17.48,10.78h-2V12.1h1.8A7.93,7.93,0,0,0,17.48,10.78Z"
        ></path>
        <path
        d="M18.79,8.14A4.28,4.28,0,0,0,17,6.58a5.3,5.3,0,0,1,.78,1.56Z"
        ></path>
        <path d="M15.51,12.75v1.94a2.77,2.77,0,0,0,1.61-1.94Z"></path>
        <path d="M15.51,6.2V8.14h1.61A2.77,2.77,0,0,0,15.51,6.2Z"></path>
        <path d="M17.31,8.8h-1.8v1.32h2A7.67,7.67,0,0,0,17.31,8.8Z"></path>
        <path
        d="M17,14.31a4.21,4.21,0,0,0,1.76-1.56h-1A5.3,5.3,0,0,1,17,14.31Z"
        ></path>
        <path
        d="M72.85,6.58a4.24,4.24,0,0,0-1.77,1.56h1A5.06,5.06,0,0,1,72.85,6.58Z"
        ></path>
        <path
        d="M18,12.1h1.16a4.24,4.24,0,0,0,.31-1.32H18.14A7.94,7.94,0,0,1,18,12.1Z"
        ></path>
        <path
        d="M18,8.8a7.81,7.81,0,0,1,.16,1.32h1.31a4.11,4.11,0,0,0-.31-1.32Z"
        ></path>
        <path
        d="M12.22,10.78H10.91a4.24,4.24,0,0,0,.31,1.32h1.16A7.94,7.94,0,0,1,12.22,10.78Z"
        ></path>
        <path
        d="M12.38,8.8H11.22a4.11,4.11,0,0,0-.31,1.32h1.31A7.81,7.81,0,0,1,12.38,8.8Z"
        ></path>
        <path
        d="M11.57,12.75a4.21,4.21,0,0,0,1.76,1.56,5.3,5.3,0,0,1-.78-1.56Z"
        ></path>
        <path
        d="M13.33,6.58a4.28,4.28,0,0,0-1.76,1.56h1A5.3,5.3,0,0,1,13.33,6.58Z"
        ></path>
        <path
        d="M14.85,14.69V12.75H13.23A2.8,2.8,0,0,0,14.85,14.69Z"
        ></path>
        <path
        d="M12.88,10.12h2V8.8h-1.8A7.67,7.67,0,0,0,12.88,10.12Z"
        ></path>
        <path
        d="M13.05,12.1h1.8V10.78h-2A7.93,7.93,0,0,0,13.05,12.1Z"
        ></path>
        <path d="M13.23,8.14h1.62V6.2A2.8,2.8,0,0,0,13.23,8.14Z"></path>
        <path
        d="M71.08,12.75a4.18,4.18,0,0,0,1.77,1.56,5.06,5.06,0,0,1-.78-1.56Z"
        ></path>
        <path d="M75,12.75v1.94a2.79,2.79,0,0,0,1.61-1.94Z"></path>
        <path d="M76.83,8.8H75v1.32h2A7.67,7.67,0,0,0,76.83,8.8Z"></path>
        <path d="M77,10.78H75V12.1h1.8A7.93,7.93,0,0,0,77,10.78Z"></path>
        <path
        d="M78.31,8.14a4.28,4.28,0,0,0-1.76-1.56,5.05,5.05,0,0,1,.77,1.56Z"
        ></path>
        <path d="M75,6.2V8.14h1.61A2.79,2.79,0,0,0,75,6.2Z"></path>
        <path
        d="M76.55,14.31a4.21,4.21,0,0,0,1.76-1.56h-1A5.29,5.29,0,0,1,76.55,14.31Z"
        ></path>
        <path
        d="M77.49,8.8a7.8,7.8,0,0,1,.17,1.32H79a4.12,4.12,0,0,0-.32-1.32Z"
        ></path>
        <path
        d="M79.38,0H10.5a10.5,10.5,0,0,0,0,21H79.38a10.5,10.5,0,0,0,0-21ZM20.13,10.45v.33h0a4.93,4.93,0,0,1-4.6,4.6h-.66a5,5,0,0,1-4.61-4.6h0v-.66h0a5,5,0,0,1,4.61-4.61h.66a4.94,4.94,0,0,1,4.6,4.61h0ZM38.92,8.37l-1.76,4.81a.87.87,0,0,1-.83.58.89.89,0,0,1-.85-.63L34.86,11l-.63,2.15a.87.87,0,0,1-.85.63.86.86,0,0,1-.82-.57L30.79,8.35A.94.94,0,0,1,30.72,8a.88.88,0,0,1,.89-.88.86.86,0,0,1,.82.57l.88,2.5L34,7.74a.86.86,0,0,1,.84-.61.87.87,0,0,1,.84.61l.7,2.46.88-2.49A.88.88,0,0,1,39,8,.92.92,0,0,1,38.92,8.37ZM49,8.37l-1.76,4.81a.87.87,0,0,1-.83.58.89.89,0,0,1-.85-.63L44.94,11l-.63,2.15a.87.87,0,0,1-.85.63.86.86,0,0,1-.82-.57L40.87,8.35A.94.94,0,0,1,40.8,8a.88.88,0,0,1,.89-.88.86.86,0,0,1,.82.57l.88,2.5.71-2.46a.86.86,0,0,1,.84-.61.87.87,0,0,1,.84.61l.7,2.46.88-2.49a.88.88,0,0,1,1.71.3A.92.92,0,0,1,49,8.37Zm10.08,0-1.76,4.81a.87.87,0,0,1-.83.58.89.89,0,0,1-.85-.63L55,11l-.63,2.15a.87.87,0,0,1-.85.63.86.86,0,0,1-.82-.57L51,8.35A.94.94,0,0,1,50.88,8a.88.88,0,0,1,.89-.88.86.86,0,0,1,.82.57l.88,2.5.71-2.46A.86.86,0,0,1,55,7.13a.87.87,0,0,1,.84.61l.7,2.46.88-2.49a.88.88,0,0,1,1.71.3A.92.92,0,0,1,59.08,8.37Zm20.56,2.08v.33h0a4.94,4.94,0,0,1-4.6,4.6h-.66a4.94,4.94,0,0,1-4.61-4.6h0v-.66h0a5,5,0,0,1,4.61-4.61H75a5,5,0,0,1,4.6,4.61h0Z"
        ></path>
        <path
        d="M77.49,12.1h1.16A4.25,4.25,0,0,0,79,10.78H77.66A7.93,7.93,0,0,1,77.49,12.1Z"
        ></path>
        <path
        d="M74.37,14.69V12.75H72.75A2.78,2.78,0,0,0,74.37,14.69Z"
        ></path>
        <path
        d="M71.73,10.78H70.42a4.55,4.55,0,0,0,.32,1.32H71.9A7.93,7.93,0,0,1,71.73,10.78Z"
        ></path>
        <path
        d="M71.9,8.8H70.74a4.4,4.4,0,0,0-.32,1.32h1.31A7.8,7.8,0,0,1,71.9,8.8Z"
        ></path>
        <path
        d="M72.39,10.12h2V8.8H72.56A7.67,7.67,0,0,0,72.39,10.12Z"
        ></path>
        <path d="M72.75,8.14h1.62V6.2A2.78,2.78,0,0,0,72.75,8.14Z"></path>
        <path
        d="M72.56,12.1h1.81V10.78h-2A7.93,7.93,0,0,0,72.56,12.1Z"
        ></path>
      </g>
    </g>
  </svg>
</div>

<p>
  <a v-bind:href="item.linkPath" target="_blank">{{ item.linkPath }}</a>
</p>

<p class="link-comment">{{ item.comment }}</p>
</div>

<!-- Preview digicode -->
<div
class="preview-digicode preview-content-block"
v-if="item.type === 'digicode'"
>
<h3 class="text-Style-3 title-waypoint">
  {{ item.title }}
  <span>{{ index + 1 }}</span>
</h3>

<div class="preview-content">
  <div class="codes-block">
    <div
    class="code"
    v-for="element in item.digicodes"
    :key="element"
    >{{ element.code }}</div>

    <!-- <p class="digicode-comment">
    {{ item.comment }}
  </p>-->
  <div class="columns nav-tabs">
    <ul>
      <a
      href="#"
      class="stories-perso"
      :class="{ 'actif' : isActiveComment('bad', item) }"
      v-on:click="setActiveCommentPreview('bad', item)"
      >Mauvaise réponse</a>
      <a
      href="#"
      class="store"
      :class="{ 'actif' : isActiveComment('good', item) }"
      v-on:click="setActiveCommentPreview('good', item)"
      >Bonne réponse</a>
    </ul>
  </div>

  <p class="answers-comment">
    <span
    v-if="item.commentValue === 'bad'"
    class="is-red"
    >{{ item.goodComment }}</span>
    <span
    v-if="item.commentValue === 'good'"
    class="is-green"
    >{{ item.badComment }}</span>
  </p>
</div>
</div>
</div>
</div>
</div>

<div class="aperçu-aug" v-if="item.isAperçuChoice === 'aug'">

  <div class="columns">
    <div class="column is-5">

      <!-- if jsonInfos has a poly model show this -->
      <div class="aperçu-poly">
        <!-- img src in jsonInfos : {{thumbUrl}} -->
        <img src="https://lh3.googleusercontent.com/cXi32O-YNxeR--z-4Od2qYJcW2lXbMjTciBlylGObiEDOGln0TowJAOU4GQCqL0e" alt="" class="thumbnailPreview">
      </div>

      <!-- if jsonInfos has a user model show this -->
      <div class="aperçu-user">
        <!-- name in jsonInfos : {{name}} -->
        <span>Nom-du-fichier.fbx</span>
        <span>Nom-du-fichier.fbx</span>
      </div>

    </div>

    <div class="column is-7">
      <img :src="imgMarqueurs(index + 1)" alt="">
      <span class="indic-marker-preview">Utilisez le mode test pour scanner le marqueur</span>
    </div>
  </div>


</div>
</div>
</div>
</div>
</div>
</div>
</b-modal>
</div>
</SlickItem>

<div class="column is-4 is-6-tablet is-4-desktop is-3-fullhd">
  <router-link to="/waypoints/15/form">
    <div class="card-add">
      <div class="card-add__description">
        <i class="fas fa-plus"></i>
        <span>Ajouter une nouvelle balise</span>
      </div>
    </div>
  </router-link>
</div>

<div class="column is-4 is-6-tablet is-4-desktop is-3-fullhd">
  <div class="scenario-form-card ending">
    <div class="ending-block">
      <img src="@/assets/img/scenario/add/Finish.svg" alt>
      <h4>Épilogue</h4>

      <div class="scanned-point">
        <b-field>
          <b-input placeholder="100" rounded></b-input>
        </b-field>
        <p>Points de fin</p>
      </div>

      <a href="#" @click.prevent="isAddEndModal = true">
        <i class="fas fa-plus-circle"></i>
      </a>
    </div>
  </div>
</div>

<b-modal :active.sync="isAddEndModal" :width="940" scroll="keep" class="intro-end-modal">
  <div class="card addScenar-modal">
    <div class="card-content">
      <div class="content">
        <div class="columns">
          <div class="column is-6 scenarEndModal text-center">
            <div
            class="card-preview-content"
            v-bind:class="{ 'slide-left': endingImagePerso }"
            >
            <b-field class="intro-title">
              <b-input
              type="textarea"
              rounded
              minlength="15"
              maxlength="350"
              placeholder="Félicitations ! Vous êtes parvenus à trouver tous les marqueurs !"
              v-model="endingTitle"
              ></b-input>
            </b-field>

            <div class="endImage-block">
              <img
              src="@/assets/img/end-illu.png"
              alt
              class="endImage"
              >
              <!-- <button
              type="button"
              name="button"
              @click.prevent="endingImagePerso = true"
              v-bind:class="{ active: endingImagePerso}"
              >Personnaliser</button> -->
            </div>

            <b-field class="ending-para">
              <b-input
              type="textarea"
              rounded
              minlength="15"
              maxlength="350"
              placeholder="Texte personnalisable de résolution ici Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna"
              v-model="endingPara"
              ></b-input>
            </b-field>
          </div>

          <!-- <div class="ending-images-block" v-if="endingImagePerso">
            <label>Changer l'image ou en ajouter plusieurs qui seront affichées de manière aléatoire :</label>
            <b-field class="ending-images-input">
              <b-upload v-model="endImageMedias" multiple drag-drop>
                <section class="section">
                  <div class="content has-text-centered">
                    <p>
                      <b-icon icon="upload" size="is-large"></b-icon>
                    </p>
                    <p>Déposez vos fichiers ici ou cliquez pour importer</p>
                  </div>
                </section>
              </b-upload>
            </b-field>

            <div class="tags">
              <span
              v-for="(file, index) in endImageMedias"
              :key="index"
              class="tag is-primary"
              >
              {{file.name}}
              <button
              class="delete is-small"
              type="button"
              @click="deleteEndingImage(index)"
              ></button>
            </span>
          </div>

          <a
          href="#"
          class="btn-form-secondary"
          @click.prevent="endingImagePerso = false"
          >Annuler</a>
        </div> -->
      </div>

      <div class="column is-6">
        <div class="ending-screen-conditions">

          <label class="master-question">À partir de quel moment cet écran de fin doit-il s’afficher ?</label>
          <b-radio
          v-model="paramEnding.conditionValue"
          native-value="1"
          type="iris"
          >
          <span class="label">Lorsque toutes les balises ont été scannées</span>
        </b-radio>
        <b-radio
        v-model="paramEnding.conditionValue"
        native-value="2"
        type="iris"
        >
        <span class="label">Lorsque la dernière balise a été scannée</span>
      </b-radio>
      <b-radio
      v-model="paramEnding.conditionValue"
      native-value="3"
      type="iris"
      >
      <span class="label">Lorsque certaines balises ont été scannées</span>
    </b-radio>
    <div class="conditions-marker-options" v-if="paramEnding.conditionValue == '3'">

      <b-checkbox-group v-model="paramEnding.conditionMarker">
        <b-checkbox :value="index + 1" v-for="(key, index) in 30">{{key}}</b-checkbox> <!-- (item, index) in waypoints -->
      </b-checkbox-group>

    </div>

    <b-field class="ending-images-input">
      <b-upload v-model="endImageMedias" multiple drag-drop>
        <section class="section">
          <div class="content has-text-centered">
            <p>
              <b-icon icon="upload" size="is-large"></b-icon>
            </p>
            <p>Cliquez ou déposez ici votre image.
              Déposez plusieurs photos et elles apparaitront aléatoirement pour chaque utilisateur.</p>
            </div>
          </section>
        </b-upload>
      </b-field>

      <div class="tags">
        <img :src="endingImages" alt="">
    </div>

  </div>
</div>
</div>
</div>
</div>
</div>
<div class="add-intro-btns">
  <a href="#" class="btn-form-primary" @click="isAddEndModal = false">Annuler</a>
  <a href="/story/form" class="btn-form-secondary">Enregistrer</a>
</div>
</b-modal>

<!-- </div> -->
</SlickList>
</div>
</div>
</div>
</template>

<script lang="ts">
import PictureInput from "vue-picture-input";
import vueSlider from "vue-slider-component";
import { SlickList, SlickItem, HandleDirective } from "vue-slicksort";
import HeaderUser from "@/components/HeaderUser.vue";
import { Component, Vue, Watch } from "vue-property-decorator";

@Component({
  components: {
    HeaderUser,
    PictureInput,
    SlickItem,
    SlickList,
    vueSlider
  },
  directives: {
    handle: HandleDirective
  }
})
export default class StoryForm extends Vue {
  public id: number = 1;
  public title: string = "";
  public description: string = "";
  public introTitle: string = "";
  public introPara: string = "";
  public endingTitle: string = "";
  public endingPara: string = "";
  public endingImagePerso: boolean = false;
  public endImageMedias: Array<any> = [];
  public waypointNumber: number = 30;
  public isparamScenar: boolean = false;
  public isAddIntroModal: boolean = false;
  public isAddEndModal: boolean = false;
  public isStoryForm: boolean = true;
  public storyImage: string = "";
  public dragging: boolean = false;
  public dureeMoy: number = 1;
  public ageMin: number = 12;
  public printAndPlay: number = 1;
  public editBtn: boolean = false;
  public filePrint: any = null;
  public scenarioLanguage: number = 1;
  public endingImages: string = null;
  public paramScenar: Array<any> = [
    {
      isMultipleScan: false,
      isForcedWaypoints: false,
      scoreGame: "coin",
      maxTimeMax: 120,
      timeMax: 0
    }
  ];
  public paramEnding: Array<any> = [
    {
      conditionValue: 1,
      conditionMarker: []
    }
  ];
  public waypoints: Array<any> = [
    {
      id: 1,
      scenarioId: 1,
      title: "Le Pirate",
      ageMin: "",
      status: "Inactif",
      type: "quizz",
      isAperçu: false,
      isConfirmDelete: false,
      isAperçuChoice: "principal",
      question:
      "938 000 : c’est le nombre de personnes handicapées qui sont bénéficiaires d’une reconnaissance administrative du handicap et occupent un emploi,soit un taux d’?",
      answers: [
        {
          label: "Des pâtes typical",
          comment: "Basique classique"
        },
        {
          label: "Du riz sauté",
          comment: "ça dépends si y a du maggi dedans ou pas :o"
        },
        {
          label: "Du tofu frit",
          comment: "Yeah baby"
        },
        {
          label: "Rien",
          comment: "Va faire les courses !"
        }
      ],
      answerChoice: "Des pâtes typical",
      commentValue: "bad"
    },
    {
      id: 2,
      scenarioId: 1,
      title: "Nom du parcours",
      status: "Actif",
      type: "image",
      isAperçu: false,
      isConfirmDelete: false,
      isAperçuChoice: "principal",
      imagePath:
      "https://pbs.twimg.com/profile_images/990920549080682497/P6tyKi5o_400x400.jpg",
      comment: ""
    },
    {
      id: 3,
      scenarioId: 1,
      title: "Movie",
      status: "Actif",
      type: "movie",
      isAperçu: false,
      isConfirmDelete: false,
      isAperçuChoice: "principal",
      videoPath: "https://www.youtube.com/watch?v=Hh7jVzvX27k",
      comment: ""
    },
    {
      id: 4,
      scenarioId: 1,
      title: "Musique",
      status: "Actif",
      type: "music",
      isAperçu: false,
      isConfirmDelete: false,
      isAperçuChoice: "principal",
      musicPath:
      "http://dev.hackeo.pro/cdn/d094700e379f0fb3b543e25c77f8e4b3e068f0575ab4cde73f8df/54f1684bdba4368bde36fc720931f3b392c5e74a.mpga",
      musicDuration: "0:05",
      comment:
      "Niveau de texte normal de rédaction, pour une lecture fluide et confortable. Zone pouvant être large, pour commenter la vidéo si le participant n’a pas la possibilité d’activer le son lors de l’animation. Cet espace textuel est limité à un nombre de caractères qui est de 320 au grand maximum."
    },
    {
      id: 5,
      scenarioId: 1,
      title: "Lien",
      status: "Actif",
      type: "link",
      isAperçu: false,
      isConfirmDelete: false,
      isAperçuChoice: "principal",
      linkPath:
      "https://www.ign.com/articles/2018/09/06/two-point-hospital-review",
      comment:
      "Niveau de texte normal de rédaction, pour une lecture fluide et confortable. Zone pouvant être large, pour commenter la vidéo si le participant n’a pas la possibilité d’activer le son lors de l’animation. Cet espace textuel est limité à un nombre de caractères qui est de 320 au grand maximum."
    },
    {
      id: 6,
      scenarioId: 1,
      title: "Texte",
      status: "Actif",
      type: "text",
      isAperçu: false,
      isConfirmDelete: false,
      isAperçuChoice: "principal",
      comment:
      "938 000 : c’est le nombre de personnes handicapées qui sont bénéficiaires d’une reconnaissance administrative du handicap et occupent un emploi,soit un taux d’?938 000 : c’est le nombre de personnes handicapées qui sont bénéficiaires d’une reconnaissance administrative du handicap et occupent un emploi,soit un taux d’?938 000 : c’est le nombre de personnes handicapées qui sont bénéficiaires d’une reconnaissance administrative du handicap et occupent un emploi,soit un taux d’?938 000 : c’est le nombre de personnes handicapées qui sont bénéficiaires d’une reconnaissance administrative du handicap et occupent un emploi,soit un taux d’?938 000 : c’est le nombre de personnes handicapées qui sont "
    },
    {
      id: 7,
      scenarioId: 1,
      title: "Digicode",
      status: "Actif",
      type: "digicode",
      isAperçu: false,
      isConfirmDelete: false,
      isAperçuChoice: "principal",
      digicodes: [
        {
          code: "A"
        },
        {
          code: "B"
        },
        {
          code: "C"
        },
        {
          code: "D"
        },
        {
          code: "7"
        }
      ],
      comment:
      "Niveau de texte normal de rédaction, pour une lecture fluide et confortable. Zone pouvant être large, pour commenter.",
      commentValue: "bad",
      goodComment:
      "Commentaire laissé suite à la bonne réponse. Les fourmis ont une organisation très particulière et une hierarchie bien établie.",
      badComment:
      "Commentaire laissé suite à la mauvaise réponse. Les fourmis ont une organisation très particulière et une hierarchie bien établie."
    }
  ];
  public imgMarqueurs(idMarqueur) {
    return idMarqueur
    ? require(`@/assets/img/marqueurs/${idMarqueur}.png`)
    : 1;
  }

  public endImageChange(e: any) {
    const files = e.target.files || e.dataTransfer.files;
    if (!files.length) return;
    this.endImageCreate(files[0]);
    console.log(this.endImageCreate(files[0]))
  }

  public endImageCreate(file: Blob) {
    const storyImage = new Image();
    const reader = new FileReader();
    const vm = this;

    reader.onload = (e: any) => {
      vm.storyImage = e.target.result;
    };
    reader.readAsDataURL(file);
  }

  public onFileChange(e: any) {
    const files = e.target.files || e.dataTransfer.files;
    if (!files.length) return;
    this.createImage(files[0]);
  }

  public createImage(file: Blob) {
    const storyImage = new Image();
    const reader = new FileReader();
    const vm = this;

    reader.onload = (e: any) => {
      vm.storyImage = e.target.result;
    };
    reader.readAsDataURL(file);
  }

  public removeImage(e: any) {
    this.storyImage = "";
  }

  public onChange(image: any) {
    if (image) {
      this.storyImage = image;
    } else {
      console.log("FileReader API not supported: use the <form>, Luke!");
    }
  }

  public onDrag() {
    /* TODO */
    window.setTimeout(function() {
      console.log("coucou");
    }, 500);
  }

  public setActiveAperçu(itemContent: any, list: any) {
    list.isAperçuChoice = itemContent;
  }

  public isActive(item: any, list: any): boolean {
    return list.isAperçuChoice === item;
  }

  public setActiveCommentPreview(itemType: any, list: any) {
    list.commentValue = itemType;
  }

  public isActiveComment(item: any, list: any): boolean {
    return list.commentValue === item;
  }

  public deleteEndingImage(index: number): void {
    this.endImageMedias.splice(index, 1);
  }

  public saveEdit() {
    this.$toast.open({
      message: "Modifications enregistrées !",
      type: "is-success"
    });
  }

  @Watch('title')
  editTrigger(){
    this.editBtn = true;
  }

  @Watch('description')
  editTrigger(){
    this.editBtn = true;
  }

  @Watch('description')
  editTrigger(){
    this.editBtn = true;
  }

  @Watch('scenarioLanguage')
  editTrigger(){
    this.editBtn = true;
  }

  @Watch('ageMin')
  editTrigger(){
    this.editBtn = true;
  }

  @Watch('dureeMoy')
  editTrigger(){
    this.editBtn = true;
  }

  @Watch('printAndPlay')
  editTrigger(){
    this.editBtn = true;
  }

  @Watch('endImageMedias')
  getImageSrc(new_val) {

    console.log(new_val)

    // SINGLE FILE
    if (new_val && new_val[0].type.match('image.*') && new_val.length < 2) {
      const reader = new FileReader();

      reader.readAsDataURL(new_val[0]);

      reader.onloadend = function (e) {
        this.endingImages = reader.result;
        console.log(reader.result)
      }
    }

    // MULTIPLE FILES
    if (new_val.length > 1) {
      for(let i = 0; i < new_val.length; i++) {
        const reader = new FileReader();

        reader.readAsDataURL(new_val[i]);
      }

      reader.onloadend = function (e) {
        this.endingImages = reader.result;
        console.log(reader.result)
      }
    }


  }

}
</script>
