<template>
  <div class="catalog-page">
    <HeaderUser></HeaderUser>

    <div class="container catalog-block">
      <div class="columns is-multiline">
        <div class="column is-12 nav-tabs">
          <ul>
            <router-link to="/stories/library" class="stories-perso">Ma bibliothèque</router-link>
            <a href="#" class="store actif">Catalogue Hackeo</a>
          </ul>
        </div>

        <div class="column is-12 store-list-block">
          <div class="store-list-banner">
            <div class="store-list-overflow">
              <div class="story-card-overflow-content">
                <h4>À venir...</h4>
              </div>
            </div>
          </div>

          <h1 class="big-title">Scénarios Hackeo</h1>

          <div class="store-list-new-block">
            <div class="columns">
              <div
                class="column is-6-tablet is-4-desktop is-3-fullhd story-card-wrap"
                v-for="story in stories"
                :key="story.id"
              >
                <div
                  class="story-card"
                  :style="{'background-image': 'url(' + (story.customLogo || defaultLogo) + ')'}"
                >
                  <div class="story-card-overflow">
                    <div class="story-card-overflow-content">
                      <h4>{{ story.name }}</h4>
                      <span>
                        par
                        <b>Hackeo</b>
                      </span>
                      <p>{{ story.descriptionText }}</p>

                      <div class="story-card-overflow-bottom">
                        <a
                          href="#"
                          class="btn-form-primary"
                          @click.prevent="storyInModal = story.id"
                        >Plus d'infos</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-for="(story, index) in stories" :key="story.id">
      <b-modal
        :active.sync="storyInModal === story.id"
        :width="940"
        scroll="keep"
        :onCancel="onModalCancel"
      >
        <div class="card story-modal">
          <div class="card-content">
            <div class="content">
              <div class="story-sidebar">
                <img :src="story.customLogo || defaultLogo" alt="Custom logo">
                
                <a
                  href="#"
                  class="btn-form-primary"
                  v-if="!isInLibrary(story)"
                  @click="addToLibrary(index)"
                >Ajouter</a>

                <div class="story-actions" v-if="isInLibrary(story)">
                  <a href="#" class="btn-form-secondary">Ouvrir</a>
                  <a href="#" @click="removeFromLibrary(story.id)">Désinstaller</a>
                </div>

                <div class="story-sidebar-infos">
                  <h5>Langue</h5>
                  <p>{{ story.langage }}</p>

                  <h5>Âge minimum</h5>
                  <p>{{ story.minimumAge }} ans</p>

                  <h5>Print & Play</h5>
                  <p>
                    <span v-if="story.isPrintAndPlay">Oui</span>
                    <span v-else>Non</span>
                  </p>

                  <h5>Casque audio requis ?</h5>
                  <p>
                    <span v-if="story.isHeadphonesRequired">Oui</span>
                    <span v-else>Non</span>
                  </p>
                </div>
              </div>

              <div class="story-infos">
                <h1>{{ story.name }}</h1>
                <h3>
                  par
                  <span>Hackeo</span>
                  <span class="story-ratings" @click="activeTab = 'rating'">
                    <i class="fas fa-star" v-for="n in averageRatingOf(story)" :key="n"></i>
                    <i class="far fa-star" v-for="n in (5 - averageRatingOf(story))" :key="n+5"></i>
                  </span>
                </h3>

                <div class="story-tabs">
                  <span>
                    <a
                      href="#"
                      v-on:click="activeTab = 'description'"
                      :class="{ 'active' : activeTab === 'description'}"
                    >Description</a>
                  </span> /
                  <span>
                    <a
                      href="#"
                      @click="activeTab = 'rating'"
                      :class="{'active' : (activeTab === 'rating')}"
                    >Avis ({{ journeyLinesOf(story).length }})</a>
                  </span>
                </div>
                <div class="story-description" :class="{ 'active' : (activeTab === 'description')}">
                  <p>{{ story.description }}</p>

                  <h4>Aperçus</h4>

                  <carousel paginationActiveColor="#55429f">
                    <slide>
                      <img src="http://via.placeholder.com/640x360" alt>
                    </slide>
                    <slide>
                      <img src="http://via.placeholder.com/640x360" alt>
                    </slide>
                    <slide>
                      <img src="http://via.placeholder.com/640x360" alt>
                    </slide>
                  </carousel>

                  <h4>Informations</h4>

                  <div class="columns story-details-block">
                    <div class="column is-4">
                      <img src="@/assets/img/scenario/store/marker.jpg" alt>
                      <p>{{ story.marqueurs }} marqueurs</p>
                    </div>
                    <div class="column is-4">
                      <img src="@/assets/img/scenario/store/time.jpg" alt>
                      <p>Environ {{ story.time }} min</p>
                    </div>
                    <div class="column is-4">
                      <img src="@/assets/img/scenario/store/people.jpg" alt>
                      <p>{{ story.people }} personnes</p>
                    </div>
                  </div>
                </div>

                <div class="story-avis" :class="{ 'active' : activeTab === 'rating'}">
                  <div
                    class="single-avis"
                    v-for="journeyLine in journeyLinesOf(story)"
                    :key="journeyLine.id"
                  >
                    <b>{{ visitorOf(journeyLine).username }}</b>
                    <span class="story-ratings">
                      <i class="fas fa-star" v-for="n in journeyLine.rating" :key="n"></i>
                      <i class="far fa-star" v-for="n in (5 - journeyLine.rating)" :key="n"></i>
                    </span>
                    <br>
                    <p>{{ journeyLine.comment }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </b-modal>
    </div>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import { Carousel, Slide } from "vue-carousel";
import HeaderUser from "@/components/HeaderUser.vue";
import { Component, Vue } from "vue-property-decorator";
import Story from "@/models/Story";
import { Getter } from "vuex-class";
import JourneyLine from "@/models/JourneyLine";
import Visitor from "@/models/Visitor";
import Profile from "@/models/Profile";

@Component({
  components: {
    HeaderUser,
    Carousel,
    Slide
  }
})
export default class StoryStore extends Vue {
  @Getter("story/findFeaturedStories")
  public stories!: Story[];

  @Getter("story/findJourneyLinesOf")
  public findJourneyLinesOf: any;

  @Getter("event/findVisitorOf")
  public findVisitorOf: any;

  @Getter("profile/getter")
  public profile!: Profile;

  public storyInModal: number = -1;

  public activeTab: string = "";

  public slickOptions: any = {
    slidesToShow: 3
  };

  private addedToLibrary: number[] = [];

  public addToLibrary(story: Story): void {
    this.addedToLibrary.push(story.id);
    this.$toast.open({
      message: story.name + " a bien été ajouté à votre bibliothèque !",
      type: "is-success"
    });
  }

  public removeFromLibrary(story: Story): void {
    const idx: number = this.addedToLibrary.indexOf(story.id);
    if (idx >= 0) {
      this.addedToLibrary.splice(idx, 1);
    }
  }

  public journeyLinesOf(story: Story): JourneyLine[] {
    return this.findJourneyLinesOf(story);
  }

  public averageRatingOf(story: Story) {
    const journeyLines: JourneyLine[] = this.findJourneyLinesOf(story);

    // get the total rating calculated over all the journey lines related to the specified story
    const totalRating = journeyLines
      .map<number>((journeyLine: JourneyLine) => journeyLine.rating)
      .reduce((previous: number, current: number) => (current += previous), 0);
    if (journeyLines.length !== 0) {
      return Math.round(totalRating / journeyLines.length);
    } else {
      return 0;
    }
  }

  public get defaultLogo() {
    return require("@/assets/img/event-list/app_logo.png");
  }

  public visitorOf(journeyLine: JourneyLine): Visitor {
    return this.findVisitorOf(journeyLine);
  }

  /**
   * Checks if the specified story is stored in the library.
   */
  public isInLibrary(story: Story): boolean {
    return (
      story.owner === this.profile.id || story.users.includes(this.profile.id)
    );
  }

  /**
   * Callback method used when the user quits the active modal.
   */
  public onModalCancel() {
    this.storyInModal = -1;
  }
}
</script>
