<template>
  <div class="library-page" :v-if="stories">
    <HeaderUser></HeaderUser>

    <div class="container library-block">
      <div class="column is-12 nav-tabs">
        <ul>
          <a href="#" class="stories-perso actif">Ma bibliothèque</a>
          <router-link to="/stories/store" class="store">Catalogue Hackeo</router-link>
        </ul>
      </div>

      <div class="columns search-block is-centered">
        <div class="column is-2 search-filter">
          <b-field>
            <b-select placeholder="Filtrer dans..." rounded v-model="searchType">
              <option value="Tous">Tous</option>
              <option value="Personnels">Personnels</option>
              <option value="Hackeo">Hackeo</option>
            </b-select>
          </b-field>
        </div>
        <div class="column is-5">
          <b-field>
            <b-input
              placeholder="Rechercher un scénario..."
              type="search"
              icon="magnify"
              rounded
              v-model="storySearch"
            ></b-input>
          </b-field>
        </div>
      </div>

      <div class="column is-12 store-list-block">
        <h1 class="big-title">{{ searchType }}</h1>

        <div class="store-list-new-block">
          <div class="columns is-multiline">
            <div
              class="column is-6-tablet is-4-desktop is-3-fullhd story-card-add-wrap"
              v-if="searchType !== 'Hackeo'"
            >
              <a href="#" @click.prevent="isAddScenarModal = true">
                <div class="card-add">
                  <div class="card-add__description">
                    <i class="fas fa-plus"></i>
                    <span>Ajouter un nouveau scénario</span>
                  </div>
                </div>
              </a>
            </div>

            <b-modal :active.sync="isAddScenarModal" :width="940" scroll="keep">
              <div class="card addScenar-modal">
                <div class="card-content">
                  <div class="content">
                    <div class="columns">
                      <div class="column is-4">
                        <div class="scenar-modal-thumb text-center">
                          <!-- <picture-input
                          ref="pictureInput"
                          width="600"
                          height="600"
                          margin="16"
                          accept="image/jpeg,image/png"
                          size="10"
                          :customStrings="{
                            upload: '<h1>Bummer!</h1>',
                            drag: ''
                            }"
                            @change="onChange">
                          </picture-input>-->
                          <div class="file-upload-wrap">
                            <label
                              for="file-upload"
                              class="custom-file-up"
                              v-bind:style="{ backgroundImage: `url(${storyImage})` }"
                            >
                              <img src="@/assets/img/upload-placeholder.png" alt v-if="!storyImage">
                            </label>
                            <input
                              type="file"
                              @change="onFileChange"
                              class="input-image"
                              accept="image/png, image/jpeg"
                            >
                            <div v-if="storyImage" class="remove-image">
                              <a
                                href="#"
                                class="btn-form-secondary delete-link"
                                @click="removeImage"
                              >Supprimer l'image</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="column is-8">
                        <div class="scenar-modal-form" v-for="storyNew in newStory">
                          <p class="cartel">Informations</p>

                          <b-field label="Nom du scénario*">
                            <b-input
                              placeholder="Enquête au Château"
                              rounded
                              v-model="storyNew.title"
                              maxlength="35"
                              required
                            ></b-input>
                          </b-field>

                          <b-field
                            label="Résumé (facultatif, visible uniquement par l’administrateur)"
                          >
                            <b-input
                              type="textarea"
                              placeholder="Le Baron Delaval est tué dans son manoir la nuit de son anniversaire ! Analysez les indices récoltés et analysez les témoignages des suspects, parviendrez-vous à identifier l'assassin ?"
                              rounded
                              v-model="storyNew.synopsis"
                              maxlength="300"
                            ></b-input>
                          </b-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="add-scenar-btns">
                <a href="#" class="btn-form-primary" @click="isAddScenarModal = false">Annuler</a>
                <a href="/story/form" class="btn-form-secondary">Créer</a>
              </div>
            </b-modal>

            <div
              class="column is-6-tablet is-4-desktop is-3-fullhd story-card-wrap"
              v-for="story in filteredList"
              v-if="stories.length > 0"
            >
              <div
                class="story-card"
                style="background-image:url('http://dev.hackeo.pro/cdn/4b68e45a767407ba32c8a08340a8ad86e654cfca5ae19494a0593/0fd3ad4ebc7631bae3623827f99fa8330cf4f6f7.jpeg')"
              >
                <div class="story-card-overflow">
                  <div class="story-card-overflow-content">
                    <h4>{{ story.title }}</h4>
                    <span>
                      par
                      <b>{{ story.author }}</b>
                    </span>
                    <p>{{ story.description }}</p>

                    <div class="story-card-overflow-bottom">
                      <router-link to="/stories/form">
                        <i class="fas fa-edit"></i>
                        <span>Editer</span>
                      </router-link>
                      <a href="#" @click.prevent="story.isConfirmDuplicate = true">
                        <i class="far fa-copy"></i>
                        <span>Dupliquer</span>
                      </a>
                      <a href="#" @click.prevent="story.isConfirmDelete = true">
                        <i class="far fa-trash-alt"></i>
                        <span>Supprimer</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <b-modal
                :active.sync="story.isConfirmDelete"
                :width="940"
                scroll="keep"
                class="validate-modal"
              >
                <div class="card validate-modal-content">
                  <div class="card-content">
                    <div class="content">
                      <h1>
                        Souhaitez-vous supprimer définitivement le scénario
                        <b>{{ story.title }}</b> ?
                      </h1>
                    </div>
                  </div>
                </div>
                <div class="validate-btns">
                  <a
                    href="#"
                    class="btn-form-primary"
                    @click="story.isConfirmDelete = false"
                  >Annuler</a>
                  <a class="btn-form-secondary delete-link">Supprimer</a>
                </div>
              </b-modal>

              <b-modal
                :active.sync="story.isConfirmDuplicate"
                :width="940"
                scroll="keep"
                class="validate-modal"
              >
                <div class="card validate-modal-content">
                  <div class="card-content">
                    <div class="content">
                      <h1>
                        Souhaitez-vous dupliquer le scénario
                        <b>{{ story.title }}</b> ?
                      </h1>
                    </div>
                  </div>
                </div>
                <div class="validate-btns">
                  <a
                    href="#"
                    class="btn-form-primary"
                    @click="story.isConfirmDuplicate = false"
                  >Annuler</a>
                  <a class="btn-form-secondary">Dupliquer</a>
                </div>
              </b-modal>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import PictureInput from "vue-picture-input";
import StarRating from "vue-star-rating.vue";
import HeaderUser from "@/components/HeaderUser.vue";
import { Component, Vue } from "vue-property-decorator";
import Story from "@/models/Story";
import { Getter } from "vuex-class";

@Component({
  components: {
    HeaderUser,
    PictureInput
  }
})
export default class StoryLibrary extends Vue {
  @Getter("story/findFeaturedStories")
  public stories!: Story[];

  public storySearch: string = "";
  public searchType: string = "Tous";
  public isAddScenarModal: boolean = false;
  public storyImage: string = "";
  public image: any = null;

  public newStory: Array<any> = [
    {
      title: "",
      synopsis: "",
      minAge: "",
      numberOfPerson: "",
      print: false
    }
  ];

  public stories: Array<any> = [
    {
      title: "Mission Polaire",
      author: "Hackeo",
      description:
        "Le gouvernement vient de recevoir un message d'alerte d'un navire espion envoyé en antarctique en mission spéciale. Vous êtes envoyé sur place pour sauver l'équipage et protégé les informations récupérées lors de la mission.",
      backgroundUrl:
        "http://dev.hackeo.pro/cdn/4b68e45a767407ba32c8a08340a8ad86e654cfca5ae19494a0593/0fd3ad4ebc7631bae3623827f99fa8330cf4f6f7.jpeg",
      langage: "Français",
      age: "14",
      optionPrint: "Oui",
      marqueurs: "10",
      time: "1h",
      people: "4 à 8 personnes",
      addedToLibrary: false,
      isCardModalActive: false,
      categoryArray: [
        {
          id: 1,
          slug: "Hackeo"
        }
      ],
      isConfirmDelete: false,
      isConfirmDuplicate: false
    },
    {
      title: "Mission Polaire",
      author: "Jenny",
      description:
        "Le gouvernement vient de recevoir un message d'alerte d'un navire espion envoyé en antarctique en mission spéciale. Vous êtes envoyé sur place pour sauver l'équipage et protégé les informations récupérées lors de la mission.",
      backgroundUrl:
        "http://dev.hackeo.pro/cdn/4b68e45a767407ba32c8a08340a8ad86e654cfca5ae19494a0593/0fd3ad4ebc7631bae3623827f99fa8330cf4f6f7.jpeg",
      langage: "Français",
      age: "14",
      optionPrint: "Oui",
      marqueurs: "10",
      time: "1h",
      people: "4 à 8 personnes",
      addedToLibrary: false,
      isCardModalActive: false,
      categoryArray: [
        {
          id: 2,
          slug: "Personnels"
        }
      ],
      isConfirmDelete: false,
      isConfirmDuplicate: false
    },
    {
      title: "Mission Polaire",
      author: "Hackeo",
      description:
        "Le gouvernement vient de recevoir un message d'alerte d'un navire espion envoyé en antarctique en mission spéciale. Vous êtes envoyé sur place pour sauver l'équipage et protégé les informations récupérées lors de la mission.",
      backgroundUrl:
        "http://dev.hackeo.pro/cdn/4b68e45a767407ba32c8a08340a8ad86e654cfca5ae19494a0593/0fd3ad4ebc7631bae3623827f99fa8330cf4f6f7.jpeg",
      langage: "Français",
      age: "14",
      optionPrint: "Oui",
      marqueurs: "10",
      time: "1h",
      people: "4 à 8 personnes",
      addedToLibrary: false,
      isCardModalActive: false,
      categoryArray: [
        {
          id: 1,
          slug: "Hackeo"
        }
      ],
      isConfirmDelete: false,
      isConfirmDuplicate: false
    }
  ];

  public onFileChange(e: any) {
    const files = e.target.files || e.dataTransfer.files;
    if (!files.length) return;
    this.createImage(files[0]);
  }

  public createImage(file: Blob) {
    const storyImage = new Image();
    const reader = new FileReader();
    const vm = this;

    reader.onload = (e: any) => {
      vm.storyImage = e.target.result;
    };
    reader.readAsDataURL(file);
  }

  public removeImage() {
    this.storyImage = "";
  }

  public get filteredList(): Array<any> {
    let stories = this.stories;

    if (this.storySearch) {
      stories = stories.filter(story => {
        return story.title.indexOf(this.storySearch) !== -1;
      });
    }

    if (this.searchType && this.searchType !== "Tous") {
      stories = stories.filter(story => {
        let category = story.categoryArray.findIndex((index: any) => {
          return index.slug === this.searchType;
        });
        return category !== -1;
      });
    }

    return stories;
  }

  public onChange(image: any): void {
    if (image) {
      this.image = image;
    } else {
      console.log("FileReader API not supported: use the <form>, Luke!");
    }
  }
}
</script>
